[2013-01-16 15:30] jwirfs-brock commented on #449
Great. Let's go with @bpawlak's suggestion.

[2013-01-16 15:39] jwirfs-brock commented on #442
I actually prefer the version that says, "Layout / Side by Side," to the one that is just an icon. I was just thinking we could narrow up the drop-down menu a bit.

[2013-01-16 15:45] jwirfs-brock commented on #442
So, something like this:

![layout_selector2](https://f.cloud.github.com/assets/1020518/71701/ac029d4a-5ff3-11e2-9507-553c5eb3e2ac.jpg)

[2013-01-16 15:50] jwirfs-brock commented on #449
Note that the user story about having a consistent link hierarchy is Issue #514.

[2013-01-16 18:56] ghing commented on #35
TODO: Use Django 1.4's `verbatim` tag if it's available, otherwise backport it.  [This](https://gist.github.com/1350641) seems like a reasonable pattern for backporting template tags.

[2013-01-16 21:23] jwirfs-brock commented on #529
I'm not sure if this is working correctly. I tried to embed a story using the default settings. Here's the embed code:

[code]

But when I published it on the Children's Corridor website, here's what it looked like:

![FL_embed](https://f.cloud.github.com/assets/1020518/72787/d3e27ea0-6022-11e2-9e94-5a7351a46512.png)

Changing the data-height didn't seem to change the size of the embedded widget.

[2013-01-16 22:07] ghing commented on #529
@jwirfs-brock Oops, the data-height attribute needs to be `500px` not `500`.  I'll fix this in production now, but you can manually update your embed code and it should work.

[2013-01-16 22:14] jwirfs-brock commented on #529
@ghing Great! That worked.

On Wed, Jan 16, 2013 at 3:07 PM, Geoffrey Hing notifications@github.comwrote:

[2013-01-16 22:17] ghing commented on #529
Fixed in production as well.

[2013-01-18 17:44] patternleaf opened #573 "Homepage redesign: big white space under left header column."
The content of the slider in the right column can be quite large vertically. This leaves a big blank spot on the left, and because the slider is always sized to accommodate the largest slide, even when that slide isn't visible, it can leave a big blank spot on the right, too.

![Home Floodlight 20130118 ](https://f.cloud.github.com/assets/73439/78870/99ef9f96-6196-11e2-8b04-f2bbd761b3d1.jpeg)

cf

[2013-01-18 17:45] patternleaf opened #574 "Homepage redesign: wire in and style latest stories/projects/organizations into list."
Assigning to @ghing , at least for the wiring in part.

cf issue #433

[2013-01-18 17:54] patternleaf opened #575 "Homepage redesign: need object type printed in the featured_object template"
Per @bpawlak's comment (https://github.com/PitonFoundation/atlas/issues/433#issuecomment-11972445)

@ghing , assigning to you—I assume it would be pretty easy to translate object type into some simple markup in the template.

cf #433

[2013-01-18 17:57] patternleaf commented on #433
@all, the homepage is reviewable at http://deploy.atlas.terrorware.com/ (Friday Jan 18th ~11am).

However, note the above three issues outstanding: #575, #574, #573.

[2013-01-18 18:10] bpawlak commented on #433
I know I sound like a broken record, but can we make the title left-justified?  That center justified look just doesn't work for me.

[2013-01-18 18:11] ghing commented on #573
This is so annoying.  I think that the cycle plugin sizes the container to the height of the largest element.

[2013-01-18 18:16] ghing commented on #433
I agree with @bpawlak about the center-justified titles.  I don't like them either.  I feel like there are other places in the site I'd like to see them go (e.g. the explore view tiles).  I think we should adjust them here, and maybe open a separate issue for changing them elsewhere.

[2013-01-18 18:18] ghing commented on #433
Also, I find the line-height of the "Everyone's got a story to tell ..." title to be a bit much.  Bumping it down to 1.2em or 1em (from 1.4em) looks better to me.

[2013-01-18 18:18] bpawlak commented on #433
I've always said I'd like to see us lose them site-wide, so making that a new issue works for me.

[2013-01-18 18:18] patternleaf commented on #573
Yeah. My thoughts were:
1. limit excerpt length on the homepage programmatically via ellipsis.
2. do something clever like limit the text container's vertical height and then reveal it on hover or something.

1 seems to make more sense short-term by an order of magnitude.

[2013-01-18 21:31] jwirfs-brock commented on #433
I agree on making the "Everyone's got a story to tell..." text a bit
smaller and left justifying the story title.

On Fri, Jan 18, 2013 at 11:18 AM, bpawlak notifications@github.com wrote:

[2013-01-18 21:33] jwirfs-brock opened #576 "Story titles on Explore page tile view should be left justified."
See issue #433.

[2013-01-18 21:34] jwirfs-brock commented on #433
The center-justified title doesn't bug we on the Explore page, but we can
change that, too, based on @bpawlak's suggestion. Are there other places on
the site where titles appear center justified, or is that it?

I've opened an issue for it, #576, and put it in Iteration 11.

On Fri, Jan 18, 2013 at 2:31 PM, Jordan Wirfs-Brock jordanwb@gmail.comwrote:

[2013-01-18 21:37] bpawlak commented on #433
Well, the main page titles are center-justified (i.e., Grow Your Skills, About, Resources [http://floodlightproject.org/en/grow-your-skills/resources/], etc.).

[2013-01-18 22:32] bpawlak commented on #426
I'll post an example of how the "Partners" page should look in the "About" section.  You'll note that "About" in the main nav is highlighted (since we're in that section of the site) and the "Partners" left-nav item is also differentiated (providing feedback as to where the user is within the About section.  (I've also left-justified the page heading as we've been discussing - see #433 and #576)

[2013-01-18 22:32] bpawlak commented on #426
![nav](https://f.cloud.github.com/assets/2250519/79628/ff06e79a-61be-11e2-95c3-d3a2363057c9.png)

[2013-01-18 22:41] bpawlak commented on #426
Similarly, the dropdown menu in the main nav should be changed to match the subsections within "About." In this case, we're making 4 separate pages:
1) the main About page (i.e., what is floodlight)
2) The Vision
3) How it Works
4) Supporting Foundations and Partners

![top_nav](https://f.cloud.github.com/assets/2250519/79652/4646dc36-61c0-11e2-86be-bfbb26950386.png)

Note that I've added some ext

[2013-01-18 22:47] bpawlak commented on #426
The "Grow your skills" dropdown should be changed so that the 4 main sub-sections of the "Grow Your Skills" section are delineated.

![top_nav_gys](https://f.cloud.github.com/assets/2250519/79708/0f7e5942-61c3-11e2-8c56-daccf2d4f873.png)

_Note_ I'd recommend that the "About" example (above) should technically have the same layout as the "Grow Your Skills" example shown in this comment, but we can

[2013-01-18 22:58] bpawlak commented on #426
And the sub-nav within "Grow Your Skills" can also be simplified:

![nav_gys](https://f.cloud.github.com/assets/2250519/79718/6a525544-61c3-11e2-9962-92f39533a0ce.png)

Note that we'll have to re-write some content... the "Workshops" heading shown in the main body content in this image wouldn't go on the "Overview" page... it would be part of the "Storytelling Workshops" section.

[2013-01-19 16:25] #575 closed, assigned to nobody

[2013-01-19 16:28] ghing commented on #574
Closed in 529240c4e0e13f597a3c77425406b8122e674319, assigning to @patternleaf for review.

[2013-01-19 16:28] #574 closed, assigned to nobody

[2013-01-22 14:14] ghing commented on #449
This is done.  @jwirfs-brock, you can review this on the development instance.

[2013-01-22 14:15] #449 closed, assigned to nobody

[2013-01-22 16:00] jwirfs-brock commented on #449
This looks great.

[2013-01-22 18:06] patternleaf commented on #449
yeah, that looks a ton better.

[2013-01-22 18:13] patternleaf commented on #442
@jwirfs-brock i think the only thing that bugs me about this is that in your mock-up, the popup widget isn't obviously aligned to anything. would it be ok for it to be narrower, but right-aligned? the title input would probably then be wider as well.

[2013-01-22 19:10] jwirfs-brock commented on #442
@bpawlak I think that makes sense. A right-aligned widget would look better.

[2013-01-22 19:39] bpawlak commented on #442
:thumbsup:

[2013-01-22 20:01] ghing commented on #517
Some of the details about this issue are in the document [User feedback discussion notes 11/20](https://docs.google.com/document/d/1eBYGQJJ9G0sWBQS2QNPYD1bP6fC3LxTQGIODfSYT-qw/edit)

[2013-01-22 20:18] patternleaf commented on #433
@bpawlak @ghing @jwirfs-brock could i get a quick review of the homepage title spacing/size:

http://deploy.atlas.terrorware.com/

[2013-01-22 20:33] ghing commented on #433
Works for me.

[2013-01-22 20:39] jwirfs-brock commented on #433
The only thing that I noticed is that in the slider, the boxes indicating which item you are on still appear at the bottom, of the box, no matter what the length of the individual item is. With shorter items, you end up with a lot of white space. Not sure if that bugs anyone else.

The titles look good to me.

[2013-01-22 20:40] jwirfs-brock commented on #433
Also, should we have a length limit on the text that appears in the slider? We could just truncate anything that is longer and have a "...read more" link.

[2013-01-22 20:54] bpawlak commented on #433
What about something like this (making the main title much larger and bold)
![floodlight_main](https://f.cloud.github.com/assets/2250519/87892/d31b2b86-64d5-11e2-8aef-e3b624e627c9.jpg)

[2013-01-22 20:56] ghing commented on #433
@jwirfs-brock We could do that, but it's not trivial.  How long should the text be before it's truncated? Also, does the read more link reveal the hidden text in-place, or is it just a link to the detail page for that item?  I'd argue that automatic truncating should only happen for stories and projects and that you should just take care with the news items that you edit manually.

Finally, is the

[2013-01-22 20:58] bpawlak commented on #433
And to @jwirfs-brock, yes I think we should truncate the amount of text used for the slider.  Also, to eliminate the amount of white space that happens at the top (esp. with icons like the microphone), perhaps we could put the Story title and byline/date above the photo?

![box](https://f.cloud.github.com/assets/2250519/87904/5b83bb1e-64d6-11e2-9c41-71b1a12d10bc.jpg)

I would think we could find a

[2013-01-22 20:58] patternleaf commented on #573
even if we reduce the height of the excerpt text, there's still going to be blank space on the left. one crazy thought: could we start the story-building process right there on the homepage? dunno how technically feasible it is, but something like ...

![homepage-1](https://f.cloud.github.com/assets/73439/87906/7430e060-64d6-11e2-96b4-e8e60f85c0cc.png)

[2013-01-22 20:59] jwirfs-brock commented on #433
@ghing Yes, the motivation is to keep the slider at a (somewhat) fixed height. I would suggest a "read more" link just go directly to the item, and I agree that we should manually make sure news items are short.

[2013-01-22 21:00] patternleaf commented on #433
@ghing @jwirfs-brock @bpawlak re: white space. even with the text area a fixed-height, the homepage still appears imbalanced as it is. there's a bug for this specific issue: #573.

also i just commented on that issue with a crazy idea for what to do with that white space.

[2013-01-22 21:00] jwirfs-brock commented on #433
@bpawlak With the larger title, what would it look like if it were all on one line?

[2013-01-22 21:02] jwirfs-brock commented on #573
@patternleaf Your suggestion (1) sounds good to me.

I also like the piece where you can begin to write a story. Although I think it needs a bit more analysis before we add it to the homepage.

[2013-01-22 21:04] patternleaf commented on #573
@jwirfs-brock the thing is, based on my experiments, even if the excerpt is shortened and the right-side column thus made smaller, the left column still has a lot of unused space in there. it's not _as_ bad, but still doesn't look polished.

[2013-01-22 21:05] jwirfs-brock opened #578 "The “story information” section is confusing, deters users from working through the story building process"
The “story information” section is confusing and deters users from working through the story building process:
- It’s not what people expect to start with (it’s meta-data, not story content)
- People end up putting the whole story in the summary (see issue #530, summary needs a word limit)
- It’s not a logical starting point

[2013-01-22 21:06] ghing commented on #573
@patternleaf It's not currently possible to start the story building process like you described, because of how the builder initializes stories.  Right now, the builder needs to know the template to correctly create the initial sections.  If a story were created from the homepage, without selecting a template, the builder would probably get confused.  If not, the user would get confused becuase th

[2013-01-22 21:09] bpawlak commented on #433
![home2](https://f.cloud.github.com/assets/2250519/87940/f8bfece4-64d7-11e2-9975-63944dafd985.jpg)

[2013-01-22 21:11] jwirfs-brock commented on #573
Yes, I'd prefer that the first pieces a user enters in aren't
title/author/summary, but I do like the idea of putting in some piece
immediately. It's interesting enough that we should talk about it more.
Maybe that would be a cool area to feature connected stories (once we start
pushing them more). You could have something like "Add your photo to this
story..." right up front.

On Tue, Jan 22, 201

[2013-01-22 21:11] bpawlak commented on #573
:smiley:

![image](https://f.cloud.github.com/assets/2250519/87951/59a1157e-64d8-11e2-9e40-c7a840ed9649.png)

[2013-01-22 21:12] jwirfs-brock opened #579 "Clean up steps in Story Builder (was: Publish is too far along in the story building process/story builder has too many steps)"
We discussed skipping some of the intermediate steps (add data, tag), and simplifying the story building process so that it looks something like:
1. Build --> 2. Publish --> 3. Enhance/Amplify/Add Metadata (we didn't settle on a name for this, but this is where you add tags, add data, etc.)

[2013-01-22 21:15] patternleaf commented on #573
yeah, the author/title/summary was just for illustration purposes, not anything thought through. mainly wanted a way to say "start your story now" as opposed to "click this link to do this other thing to start your story" ... and to fill up that space with something meaningful. i imagined it wouldn't be trivial to implement it, either. :(

how about: random content from the FAQ? with a link to it.

[2013-01-22 21:39] jwirfs-brock commented on #573
Oh, I like the random content from the FAQ idea. Is this something that could change so that it wouldn't be static? Would be fun if it was a new tip every time -- but would be more complex, of course.

[2013-01-22 21:41] jwirfs-brock opened #580 "Reminder emails for users who have started a story but haven't published, haven't added tags, etc."
TODO:
- [x] Finalized list of reminders
- [x] Decide how often these will be run
- [x] Decide how the background task will be launched
- [x] Copy for e-mails

[2013-01-22 21:43] jwirfs-brock commented on #580
We could prompt users to:
- publish stories they have started but not finished
- add tags and meta-data to existing stories
- share the stories they've published
- turn their story into a connected story

...others?

[2013-01-22 21:45] jwirfs-brock opened #581 "Users can edit/update/add meta-data on "My Stories" page in "My Accounts""
It might be easier to edit some things (tags) in "My Accounts" instead of going back in to the Story Builder. If we do this, the "My Stories" section in "My Accounts" could be more dashboard-like.

[2013-01-22 21:47] jwirfs-brock commented on #579
We also discussed a workflow that looks like:
1. Build ---> 2. Story Information (package/wrap w/ title, byline, featured image) ---> 3. Publish

This also addresses issue #578.

[2013-01-22 21:58] ghing commented on #573
@patternleaf, @jwirfs-brock The random content from the FAQ is non-trivial as well because the FAQ elements aren't individual pieces of content, they're all on one page.  We could use JavaScript or server-side code to parse out items from the FAQ page, but that seems hack-ish to me.  We could also re-implement the FAQ so that each question is one piece of content, but I'm worrying that this is get

[2013-01-22 22:06] jwirfs-brock commented on #573
I think for now we should implement the homepage with the truncated slider
text and leave the white space as is. Then we can discuss what to do with
it and come up with a solution that we can slot into the next iteration.

On Tue, Jan 22, 2013 at 2:59 PM, Geoffrey Hing notifications@github.comwrote:

[2013-01-22 22:06] jwirfs-brock commented on #573
If we just need to fill space, there is copy from the current homepage that
we can use.

On Tue, Jan 22, 2013 at 3:03 PM, Jordan Wirfs-Brock jordanwb@gmail.comwrote:

[2013-01-22 22:19] jwirfs-brock opened #582 "Where will "review" help text go when we remove review step from Story Builder?"
Some suggestions:

* Could go in the help drawer for the publish stage (we aren't utilizing the help drawer outside the build stage as things are now)
* Could be incorporated into the preview somehow?

[2013-01-22 22:34] jwirfs-brock opened #583 "Associate uploaded/linked data with assets instead of in the separate "Add Data" step"
When you are uploading a _map_, _chart_ or _table_ asset, you should be able to upload and/or link to the raw data.

It would also be cool if on the Story Detail page there was some indication that a story contains data elements (like there is if you've uploaded a dataset on the "Add Data" step).

**Update: Outstanding issues:**
- [x] No error message when specifying both a file and url on dataset

[2013-01-22 23:40] patternleaf commented on #442
@bpawlak @jwirfs-brock this can be reviewed on deploy: http://deploy.atlas.terrorware.com/en/build/

[2013-01-22 23:48] jwirfs-brock commented on #442
I like it!

On Tue, Jan 22, 2013 at 4:40 PM, Eric Miller notifications@github.comwrote:

[2013-01-23 00:35] bpawlak commented on #442
Ditto

[2013-01-23 02:53] patternleaf commented on #442
alright. closing this.

[2013-01-23 02:53] #442 closed, assigned to nobody

[2013-01-23 15:47] jwirfs-brock commented on #426
@bpawlak Your recommendations make sense for the "About" section, but we should discuss what to do with "Grow Your Skills."

Originally, the concept was that we'd have a series of subject areas where we offer tutorials and resources. Data Analysis and Visualization isn't necessarily a second-level nav item -- it's just the only tutorial that we have right now. When we do build out this section of

[2013-01-23 15:51] jwirfs-brock commented on #426
Oh, and I agree on the restructuring of the mega-menu navigation. One thought on the "Grow Your Skills" section is we could have "Tips and Tutorials" where "Data Analysis & Visualization" is now, and have the list of existing tutorials under that heading.

[2013-01-23 15:58] bpawlak commented on #426
So we should probably have a conversation that is specifically related to longer-term information architecture issues and plans.

[2013-01-23 16:00] jwirfs-brock commented on #426
Yes, we do!

On Wed, Jan 23, 2013 at 8:58 AM, bpawlak notifications@github.com wrote:

[2013-01-23 16:52] ghing commented on #381
This displays the difference in the styling of the 2 states.

Pre-selected asset type:

![pre_selected_asset](https://f.cloud.github.com/assets/110420/90629/2487e7aa-657d-11e2-9437-8fcf298ecfdc.png)

Any asset type:

![any_asset_type](https://f.cloud.github.com/assets/110420/90633/2f206e9e-657d-11e2-9f7f-cbcb79df8693.png)

[2013-01-23 20:43] patternleaf opened #584 "Make homepage slider auto-cycle."

[2013-01-23 21:06] patternleaf opened #585 "supporting foundation slider on homepage: orange pills aren't following active"

[2013-01-23 21:07] patternleaf opened #586 "Homepage: light border around images in latest X section"
ie,

![Untitled](https://f.cloud.github.com/assets/73439/91471/ec2f5f2c-65a0-11e2-954d-0767b6bbbab3.jpg)

[2013-01-23 22:54] #517 closed, assigned to ghing

[2013-01-23 23:20] jwirfs-brock opened #587 "Map not rendering properly on "Explore" page if you first set a place filter"
Here's what I did:
1. Navigated to http://www.floodlightproject.org/en/explore/
2. Set the place filter to Clayton
3. Clicked "Map" to get the map view
4. Saw the following blurry map:
![mapbug](https://f.cloud.github.com/assets/1020518/91898/2fee3aa0-65b3-11e2-87bd-efe983b3780b.png)

I tried this same process, but with setting a different filter (i.e., set a topic filter, then switched from the t

[2013-01-23 23:21] jwirfs-brock commented on #587
Oh, and if you go into the map view first then set a place filter, it works properly.

[2013-01-23 23:24] jwirfs-brock commented on #587
Also, if you set a place filter and another filter before switching over to the map view, then it renders fine. Weird.

[2013-01-23 23:51] ghing commented on #515
Some of the details about this issue are in the document [User feedback discussion notes 11/20](https://docs.google.com/document/d/1eBYGQJJ9G0sWBQS2QNPYD1bP6fC3LxTQGIODfSYT-qw/edit)

[2013-01-24 00:10] #549 closed, assigned to nobody

[2013-01-24 00:20] ghing commented on #516
The button is actually currently disabled (i.e. the disabled attribute is set on the button element), so clicking it doesn't do anything.  The styling just doesn't indicate this.  I'll update the styling to address this issue.

[2013-01-24 00:35] #516 closed, assigned to ghing

[2013-01-24 01:46] ghing commented on #515
Currently, when selecting the featured image in the Publish/Share view there are a couple of pieces of functionality:
- Viewing the currently selected featured image (if there is one)
- Uploading a new image (or specifying a URL) for the featured image
- Selecting an asset associated with the story for the featured image

All these pieces of functionality are available, but getting to them is a bi

[2013-01-24 02:04] bpawlak commented on #515
Another way to handle it is to show them the featured image with the option to "Change Image."  Clicking that brings up a dialog that asks for an upload, a URL or a means to choose from the story.  Save and cancel buttons.

[2013-01-24 02:59] ghing commented on #515
@bpawlak, that's sort of how it works now, though I think the styling of the "Change Image' button is confusing.  I think that showing the default image will make the "Change Image" option make more sense.  However, I'm still not sure of the best way to toggle between the "Add a new image" and "select image from a story" dialog.

[2013-01-24 03:06] ghing commented on #515
In the accepted suggestions for cleaning up the publish/share view (see https://docs.google.com/document/d/1eBYGQJJ9G0sWBQS2QNPYD1bP6fC3LxTQGIODfSYT-qw/edit#bookmark=id.ia0i47wa2kip) @bpawlak suggests moving the "Publish" button to the bottom of the page.

I think this makes sense, but one issue is that the "Publish" button currently gets replaced with "View" and "Unpublish" buttons once the story

[2013-01-24 03:09] ghing commented on #515
Assigning to @bpawlak to get his feedback on toggling between adding a new image and selecting an image from a list as well as the placement of the "View my story" and "Unpublish my story' buttons.  Please assign it back to me after you've chimed in.

[2013-01-24 03:30] bpawlak commented on #515
I think the View Story and Unpublish buttons should probably remain at the top... @jwirfs-brock ?

[2013-01-24 15:26] patternleaf opened #588 "Homepage: move news item title & byline above news item image"

[2013-01-24 15:50] patternleaf commented on #585
Addressed by 26a45a3.

[2013-01-24 15:59] jwirfs-brock commented on #515
@bpawlak @ghing I think it makes sense for the buttons to stay at the top once the story has been published.

I'm having a little trouble visualizing this, so just to make sure I'm clear: initially the "Publish" button would be at the bottom, below the legal agreement, license, and featured image selection, but then after publishing it would appear at the top?

Would it make sense to keep a publis

[2013-01-24 16:01] patternleaf commented on #573
**Decision, based on discussion**: Make “View Stories”, “View Projects”, “View Organizations” list vertical, add brief descriptive text below each item and add a thumbnail to the left of each item.  Jordan will send Eric and Geoff copy and images.

Copy for vertical list:

View Stories
From glimpses to in-depth explorations, see your community in a new light.

View Projects
A project is a collecti

[2013-01-24 16:02] jwirfs-brock commented on #515
@ghing @bpawlak I think the pills suggestion sounds good. Is there an example you can share?

[2013-01-24 16:06] jwirfs-brock commented on #515
@ghing @bpawlak Right now, the "select an image from your story" option doesn't appear if you don't have one -- is that how the pills would work, where you would only see "upload a new image" (because there wouldn't be a default image and you wouldn't be able to select one from your story)?

[2013-01-24 16:07] jwirfs-brock commented on #515
@ghing Ooops, I missed the link to Bootstrap. You don't need to post another example. Sorry for the confusion.

[2013-01-24 16:21] patternleaf commented on #433
If no one has any objections, I'm going to close this. Doc for discussion (with most decisions included) is here:

https://docs.google.com/document/d/1GlEbrx7-sl4soh0pspTnQxs3Rgtj8oh5lsIgtRIcU-8/edit#

Also, I've made issues in iteration 9 for the remaining items—at least those assigned to me, which I think is all of them.

[2013-01-24 17:09] patternleaf opened #589 "Homepage: truncate featured item text."
Was decided at 75 words, though there may be some contingencies around paragraphs, etc. Assigning to @ghing to start. Geoff, assign back to me if/when appropriate.

[2013-01-24 17:28] ghing commented on #589
I changed the title of this issue because I think we decided that we would be truncating the body for stories and projects but not news items.  Generally, I've been calling things in that slider "Featured Items".

~~The way I want to do this is by backporting Django's [truncatewords_html](https://docs.djangoproject.com/en/1.4/ref/templates/builtins/?from=olddocs#truncatewords-html) tag so we can u

[2013-01-24 17:46] ghing opened #590 "Users shouldn't have to agree to legaliese every time they publish a story"
Currently, every time a user publishes a story, they have to agree to some legalese:

This seems intimidating and a pain to have to do all the time.   Also, since we will soon have default values for license and featured images, the user will be able to just click "Publish" and their story will be live.  The publish step could then be reoriented around refining the story for publication (selecting

[2013-01-24 18:05] patternleaf commented on #573
@PitonFoundation/developers please review the current homepage, including the new list of stories, organizations, and projects in the left column. i actually think it looks pretty good—particularly when the right-column slider is full of text. Truncating the text in news items might leave us with too much space in the _right-hand_ column ... but i'm not sure.

http://deploy.atlas.terrorware.com/

[2013-01-24 18:18] ghing commented on #573
@patternleaf, I like the general concept, but those images seem a little big to me and overpower the Stories, Projects and Organizations links

Could you try to downsize them to either 150px wide or 100px wide to be consistent with what's used elsewhere on the site?

If you want to you could use CSS to crop them to either 150x90 or 100x60. Check out the CSS for the images in the latest stories lis

[2013-01-24 18:21] jwirfs-brock commented on #590
Legally speaking, they don't have to agree to it every time. This is all
already covered in the terms of service they agree to when they sign up for
the site. We decided to have them check it every time to make sure users
stop and pause and actually pay attention to things like sharing images of
minors and using content that others have created. If it isn't having that
effect (i.e., people are jus

[2013-01-24 18:22] #589 closed, assigned to ghing

[2013-01-24 18:23] ghing commented on #573
@patternleaf, I just pushed the truncation code (#589) (essentially a 1-liner) to develop.  You can decide if we want to keep it or not given the changes you made here.  It's easy to change obviously.

[2013-01-24 18:24] jwirfs-brock commented on #590
Also, just a note that our user-base tends to be an interesting combination
of a) hyper-aware about sharing and its implications, and b)
not-technically savvy, thus not used to posting content online frequently,
which means we need to pay attention to and address these issued more
directly than Wordpress or Blogger does. In our interactions with users,
we've had lots of questions about protecting

[2013-01-24 18:25] jwirfs-brock commented on #590
But I do agree that, as it is now, it's too intimidating!

On Thu, Jan 24, 2013 at 11:24 AM, Jordan Wirfs-Brock jordanwb@gmail.comwrote:

[2013-01-24 18:27] jwirfs-brock commented on #573
@patternleaf I agree that the images need to be smaller -- maybe try making
them the size of the images below the fold?

On Thu, Jan 24, 2013 at 11:23 AM, Geoffrey Hing notifications@github.comwrote:

[2013-01-24 18:38] patternleaf commented on #573
@jwirfs-brock @ghing i actually disagree about the size of the images. i think that size is appropriate for the overall information hierarchy of the home page.

the slider on left has one item (at a time) and has the largest image on the page. this list has three items and indicates the three major "objects" you interact with on the site. below the fold, the Latest X lists have three items each, f

[2013-01-24 18:40] jwirfs-brock commented on #573
@patternleaf Those are good points. Could we make them slightly smaller
than they are now, but larger than the thumbnails below the fold?

On Thu, Jan 24, 2013 at 11:38 AM, Eric Miller notifications@github.comwrote:

[2013-01-24 18:49] jwirfs-brock commented on #590
@ghing I recommend that we remove the check boxes and replace them with this updated copy:

https://docs.google.com/document/d/1AX2hXPKbYNlgvenqOUqrIwQ3WbOMwMjeUqhrFIBhh3Y/edit

[2013-01-24 18:57] jwirfs-brock commented on #590
@ghing Because we've taken out the part about Creative Commons in the legal agreement, I suggest that we add this in under "Select a license":

All Floodlight stories will be published with a [Creative Commons](http://creativecommons.org/) license. Find out more about [why we decided to use Creative Commons](http://floodlightproject.org/en/policies/#community-values) and [how to choose a license](

[2013-01-24 22:59] patternleaf commented on #573
@jwirfs-brock OK, I've made them smaller. Want to check it out now?

@ghing So it seems like the hard-coded 75-word truncation at the moment doesn't necessarily address the issue, since the main issue is appropriate sizing of that right column and the truncation doesn't take into account the size of other things in the news item: if the photo is tiny, for example, the truncation leaves _too much_

[2013-01-24 23:52] jwirfs-brock commented on #573
@patternleaf I find the extra space on the right-hand side, when it does
happen, a lot less troublesome than when it was on the left. I actually
like it the way it is now.

Should the ellipses be links to detail pages?

On Thu, Jan 24, 2013 at 3:59 PM, Eric Miller notifications@github.comwrote:

[2013-01-25 02:00] bpawlak commented on #573
I think in addition to saying "View all stories" it should also have a link that says "View Story."  Yes, the story title is there already, but after I read the text (with ellipses or not), I'd likely want to click on a link to let me get to the story or the story detail page.

[2013-01-25 14:01] ghing commented on #573
@patternleaf I think that the big variations in relative column sizing will be helped by real content and avoiding those awful little images.  I'll deploy the finished code to staging with the data currently on production so we can see if there's any issues with "real" data.  I think the list with the photos is a step in the right direction and the page looks much more balanced.

I think @bpawlak'

[2013-01-25 14:20] ghing commented on #540
This looks ok to me, but I'm still seeing this in Chrome.  Is this completely gone for you?

[2013-01-25 14:56] ghing opened #591 "Users can print a flyer/sticker to share a story in a physical place"
Inspired by http://thisisourstop.com/ or the "People Love Us On Yelp" stickers, this feature would allow users to print a sticker-sized flyer (or a sticker if printed on sticker paper) that would have a QR code and short URL that would take the user to the story detail page for a story.  Users could then put these in physical places to allow passersby a way to discover stories related to the place

[2013-01-25 16:05] patternleaf commented on #573
@ghing @bpawlak @jwirfs-brock should those links be not orange and Museo, now that we're trying to pin down the semantics of link color?

[2013-01-25 16:07] patternleaf commented on #540
nope, seeing it on chrome and safari. bummer.

[2013-01-25 17:23] #588 closed, assigned to nobody

[2013-01-25 17:23] #586 closed, assigned to nobody

[2013-01-25 17:23] #585 closed, assigned to nobody

[2013-01-25 17:24] patternleaf commented on #584
We can revisit the timing of the auto-cycle if needed.

[2013-01-25 17:24] #584 closed, assigned to nobody

[2013-01-25 17:29] patternleaf commented on #573
I took off the special styling on those links (and all links that have class "more"). We can revisit link semantics again if we need to, but for now it seems to make sense to move towards normalizing everything.

Also, i'm closing this.

[2013-01-25 17:29] #573 closed, assigned to nobody

[2013-01-25 17:30] patternleaf commented on #433
Closing! Geoff is planning to stage the latest later today.

[2013-01-25 17:30] #433 closed, assigned to nobody

[2013-01-25 22:08] ghing opened #593 "Admins should be able to preview news items on the home page before publishing them"
This seems like a crucial piece of making #567 usable.  I'm going to try to implement this before deploying the homepage redesign.

[2013-01-26 17:45] #593 closed, assigned to ghing

[2013-01-26 19:18] ghing opened #594 "TypeError when running tests under Travis"
[code]

[2013-01-28 14:33] ghing commented on #496
It looks like this is because of the issues described at http://stackoverflow.com/questions/7667724/error-saving-geodjango-pointfield

There's a patch at https://code.djangoproject.com/ticket/16778 and I included it in https://github.com/PitonFoundation/atlas/blob/develop/patches/postgis-adapter-2.patch, but it looks like I may not have applied this patch to the production Django.  This shouldn't

[2013-01-28 14:39] ghing commented on #496
I patched the production Django instance.  Closing.

[2013-01-28 14:39] #496 closed, assigned to ghing

[2013-01-28 14:47] ghing commented on #594
Fixed by f38e88b. Closing.

[2013-01-28 14:47] #594 closed, assigned to ghing

[2013-01-28 15:13] ghing opened #595 "Builder allows upload of non-image files as image assets, but can't show thumbnail"
In the builder, you can upload a PDF for an image, but then viewing it in the builder, viewer and really anywhere you need to get a thumbnail will fail because the underlying file isn't a format that easy_thumbnails can deal with.

We should restrict image uploads in the builder to supported image types.

Only one user has run into this so far, so I don't think it's too important to support PDFs a

[2013-01-28 15:51] ghing commented on #595
Another workaround could be for LocalImageAsset.get_thumbnail_url to catch InvalidImageFormatError and just return the default image in this case.

[2013-01-29 14:57] #35 closed, assigned to ghing

[2013-01-29 17:46] ghing opened #596 "The story's slug should be reset when the story is published"
Presently, the story's slug is set on the initial save.  When it's saved without a title, it will get a value like "-20".  This isn't good for SEO or clarity.  A better option would be to reset this when the user publishes the story (and is likely to have a fairly finalized title).

[2013-01-30 03:42] ghing opened #597 "Buttons shouldn't have cursor:pointer"

[2013-01-30 16:08] jwirfs-brock opened #598 "Homepage slider isn't auto-cycling in Chrome"
It seems to be working fine in Firefox, but in Chrome the slider isn't automatically moving (this was done in issue #584). I'm using Chrome Version 24.0.1312.52 m on Windows 7.

[2013-01-30 16:28] ghing commented on #598
It's working for me in Chrome  24.0.1312.56 on Ubuntu 12.10.

[2013-01-30 16:34] jwirfs-brock commented on #598
I'll see if it works on my Mac. It's most definitely not auto-progressing
on my Windows machine (I had it open for several minutes).

On Wed, Jan 30, 2013 at 9:28 AM, Geoffrey Hing notifications@github.comwrote:

[2013-01-30 16:36] ghing commented on #598
@jwirfs-brock, can you make sure you try a hard refresh?

[2013-01-30 16:36] jwirfs-brock commented on #598
It's working fine on Version 24.0.1312.56 on Mac OS 10.8.2.

On Wed, Jan 30, 2013 at 9:33 AM, Jordan Wirfs-Brock jordanwb@gmail.comwrote:

[2013-01-30 16:40] jwirfs-brock commented on #598
Ok, the hard refresh worked.

[2013-01-30 16:40] #598 closed, assigned to ghing

[2013-01-31 02:54] ghing opened #599 "Images in featured items slider should scale and be cropped"
Images in the featured items slider are just cropped (by CSS, not by actual image manipulation, though we can do that too):

![cropped](https://f.cloud.github.com/assets/110420/113384/d53bb65c-6b50-11e2-837d-1abe66b4d087.png)

Instead of being both cropped and scaled:

![scaled](https://f.cloud.github.com/assets/110420/113385/e27f5c10-6b50-11e2-8594-838bb4e5206e.png)

the `max-width: 100%` style o

[2013-01-31 03:05] #599 closed, assigned to nobody

[2013-01-31 17:52] ghing opened #600 "The builder should create an empty Story model instance when starting a new story"
Scattered throughout the builder code are listeners on the event bus for the ``story:ready`` event so that views that expect a model aren't broken when the builder is initialized without an existing story (i.e. when the user is shown the template menu).

For example in the ``initialize`` method of ``WorkflowNavView``:

[code]

and the ``setStory`` implementation:

[code]

This seems a little silly

[2013-01-31 19:08] jwirfs-brock opened #601 "When adding a "connected" story, see "Image and Text" section heading, but no way to edit/delete"
When you add a connected story, the simplified version of the editor doesn't have the section tile ("Image and Text" for a photovoice story). So you can't delete or edit it. But when you preview a story, you see "Image and Text" appear as the section title.

I'm not sure if this is an issue with the connected story/photovoice template, or if this is an issue with how the simplified version of the

[2013-01-31 19:13] jwirfs-brock commented on #591
I think that having a flyer or sticker template might also be a cool idea. Not every story would work in a print format, but a photo voice or data story (if it was a static data viz) could be really cool, and I think not that difficutl to figure out a standard letter- or post-card-sized format.

On a related note, I've tried printing out stories just using my browser, and it works ok. It isn't per

[2013-01-31 19:15] jwirfs-brock opened #602 "Rethinking the connected stories format"
The connected story builder is a bit limited right now. We haven't really had users play with it, but I fear that it's too clunky to even try. I raised one aspect of this in issue #601, but there are others.

* it may not always make sense to have a photovoice as the connected story
* the title and byline are too much
* should we simplify the publish/share process?

I think we are starting to see

[2013-01-31 19:29] jwirfs-brock opened #603 "Image in connected story showing up when viewed from homepage, but not when viewed from seed story"
I created a connected story (http://www.floodlightproject.org/en/stories/six-word-memoirs/viewer/#connected-stories/193f7bd2104543f19e61c24efa48827e) from the seed story "Six-word Memoirs - Add your story here" (http://www.floodlightproject.org/en/stories/six-word-memoirs/).

When I view the connected story either from the seed story's detail page or from the seed story's story viewer, I get this

[2013-01-31 19:44] ghing commented on #601
This is either a bug with the viewer or the builder depending on how you look at it.  Either the viewer should not show section titles for connected stories, or the builder should remove the section title from the template behind the scenes.  Either way, it's not a very difficult fix.

[2013-01-31 19:50] ghing commented on #590
@jwirfs-brock What should the title of this step in the publish workflow be? Currently it's "Accept the legal agreement", but it seems like something else might be better given the changes.

[2013-01-31 19:54] jwirfs-brock commented on #590
@ghing Because there is no user action required, it wouldn't need to be a "step" per se (it's more of a reminder). I think it's OK to just have that text directly under the header that says, "Publish and Share Your Story." Then select a license would become step 1, select a featured image would be step 2, and publish would be step 3.

[2013-01-31 19:55] patternleaf commented on #381
@jwirfs-brock @ghing How's this?

Pre-selected:
![Screenshot 1:31:13 12:53 PM](https://f.cloud.github.com/assets/73439/115845/fc10d84a-6bdf-11e2-9b15-e01b6d9ce4b7.png)

Any (no change):

![Screenshot 1:31:13 12:54 PM](https://f.cloud.github.com/assets/73439/115848/1193995a-6be0-11e2-8bd8-2cc145d5ea72.png)

[2013-01-31 19:57] jwirfs-brock commented on #381
@patternleaf That looks nice. On the pre-selected asset type, could you click anywhere to add the asset, or would you have to click on the darkened "image," "text," etc., icon?

[2013-01-31 19:59] patternleaf commented on #381
@jwirfs-brock yeah, you gotta click on the actual little icon. :-1: pretty deceiving, particularly with a big button-looking + in the middle of the page.

[2013-01-31 20:00] patternleaf commented on #381
ps, you can check this out on deploy:

http://deploy.atlas.terrorware.com/en/build/

[2013-01-31 20:01] jwirfs-brock commented on #381
@patternleaf Is there a way we could make it so you can click the big "+"
symbol?

On Thu, Jan 31, 2013 at 12:59 PM, Eric Miller notifications@github.comwrote:

[2013-01-31 20:02] jwirfs-brock commented on #381
@patternleaf Although I'm not sure if it would make sense to have the "+" clickable on the pre-determined asset view, because it isn't clickable on the undetermined asset view.

I'm looping @bpawlak in because he might have some suggestions.

[2013-01-31 20:03] ghing commented on #381
Also, I feel like the text needs to go or get some better style treatment.

[2013-01-31 20:05] jwirfs-brock commented on #381
Oh geez, yeah I didn't even notice that the text was still there. Would it
make more sense to have the text closer to the icon, either directly above
or below?

On Thu, Jan 31, 2013 at 1:03 PM, Geoffrey Hing notifications@github.comwrote:

[2013-01-31 20:11] ghing commented on #602
I guess the connected story feature should be driven by the applications that users want.

One path to implementation could be:
1. Implement open projects
2. Making a story a seed story just creates an open project for that story behind the scenes.
3. Connected stories are related to the seed story by being added to the open project.  This could happen independent of a special connected builder, s

[2013-01-31 20:18] jwirfs-brock commented on #602
I like your suggestion about using open projects as a way to improve the
connected stories implementation. I agree that it's difficult (if not
impossible) to keep it both simple and completely flexible/adjustable for
different story types. Maybe a good way to go forward with this is to
identify a few test cases based on the user-interactions we've been having.
One is the six-word memoir concept. A

[2013-01-31 20:42] bpawlak commented on #381
- In my original design, all we would show is the + sign to users...  When you hovered that, it would turn blue and then the rest of the icons would show up.  Then when you hovered one of those icons, it too would turn blue.  Then you'd click.
- can we make it so you can click on the icon _or_ the text that goes along with it?

[2013-01-31 21:05] ghing commented on #602
I think I understand better now - so you're imagining having multiple, simple, single-section templates to choose from.  That makes more sense, but it seems like it still makes the most sense to have one template type for each seed story (but they wouldn't have to all be PhotoVoice).  In that case, the creator of the seed story would choose the template type, not the user creating the connected st

[2013-01-31 21:55] jwirfs-brock opened #604 "After editing a connected story in the Builder via admin, story becomes "unconnected" story"
This is an edge case, but I wanted to make sure it was documented.

If a user create a connected story, then an admin edits it by selecting, "Edit in Builder" in the admin view, the story becomes "unconnected." That is, the story is launched in the full builder, and once it's saved it shows up on the Explore page and no longer shows up on the original seed story.

[2013-02-01 15:14] ghing commented on #601
I was looking through the code and saw that section titles should be hidden for connected stories.  That's when I realized that the problem is that the preview link goes to a view that real users should never actually see.

The specification for connected stories is that they should be shown at the end of their seed story.  So, the preview link in the viewer should point to the story within the vi

[2013-02-01 16:13] patternleaf commented on #381
Is this what we think should happen now? I wasn't aware of the intended click flow there. I always thought that great big plus looked awfully clickable.

Is this not happening for you? It is working for me. What browser are you using?

[2013-02-01 19:06] bpawlak commented on #381
I think we could use it as a hover or a click.  Either way, I designed it so that someone would see it and move their mouse towards it.

And yes, the words are clickable.  My laptop trackpad is starting to get on my nerves...

[2013-02-02 04:13] ghing opened #605 "Proxy view for Creative Commons license API should handle timeout more gracefully"
With some frequency, the view that proxies the creative commons API (to get around cross-domain issues) times out.  The client-side code handles the error gracefully, but we should probably catch the timeout error in the view and return a better response back to the client instead of a generic 500 error.  This is the traceback from the timeout:

[code]

[2013-02-02 04:52] ghing commented on #601
@jwirfs-brock I believe I've addressed this issue as of 9a4ecd0.  I've deployed these changes to staging.  Can you verify that this is fixed for the case that produced the error?

[2013-02-04 18:46] ghing opened #606 "Section asset form doesn't prevent submission when no image or URL is specified"
The logical place to fix this is in `Asset.validate` but this doesn't work because the image field is removed before saving because it's a read-only field.  One way to solve this might be to override the validate method of the form on the client-side.

[2013-02-04 20:14] jwirfs-brock commented on #601
@ghing I'm still seeing the "Image and Text" header in a published connected story. See: http://staging.floodlightproject.org/en/stories/testing-connected-story-fixes/

[2013-02-04 20:24] jwirfs-brock opened #607 "Connected story byline discrepancy"
The connected story, Like bellows; breathe in, breathe out," that Brigid created shows a DIFFERENT byline on seed story page (http://floodlightproject.org/en/stories/six-word-memoirs/viewer/#sections/b82c5e8b2e734235835ba451e7dcfacb) and on the story's view page (http://floodlightproject.org/en/stories/six-word-memoirs/viewer/#connected-stories/70587bd12e7e467ab6262bcb51c9f20d).

On the first page

[2013-02-04 20:27] jwirfs-brock opened #608 "Image not rendering in connected story"
In the connected story, "I create my own head wind," the image is not showing up in the story view (http://floodlightproject.org/en/stories/six-word-memoirs/viewer/#connected-stories/193f7bd2104543f19e61c24efa48827e). When this story was in the "recent stories" list on the homepage, the image appeared.

[2013-02-04 20:28] jwirfs-brock commented on #608
Also, in the story detail page, the image shows up: http://floodlightproject.org/en/stories/not-just-about-running/

[2013-02-04 20:29] jwirfs-brock commented on #608
And shows up when you launch the story viewer from it's detail page. The only time the image doesn't render is when you launch it from http://floodlightproject.org/en/stories/six-word-memoirs/viewer/#sections/connected-stories

[2013-02-04 21:03] ghing commented on #601
@jwirfs-brock I think the problem is that you're viewing the aforementioned story in story viewer by itself rather than in the seed story's viewer.  The "Image and Text" header does not seem to be present when viewing the story through the [seed story's viewer](http://staging.floodlightproject.org/en/stories/planting-peace-in-whittier/viewer/) (or jumping directly to the connected story in the [se

[2013-02-04 21:08] ghing commented on #608
This is a latency issue related to our fix for matching the border and caption width to the images.  I fixed this in 14e1f536fb18f09c8d49f7a415a0ee31a99c5904 as part of the fix for #601.

[2013-02-04 21:08] #608 closed, assigned to ghing

[2013-02-04 21:18] jwirfs-brock commented on #601
@ghing Got it! Looks good when viewing in the preview and from the seed
story viewer.

On Mon, Feb 4, 2013 at 2:03 PM, Geoffrey Hing notifications@github.comwrote:

[2013-02-04 21:37] ghing opened #609 "Connected stories show up in the recent stories list"
Connected stories show up in the "Recent Stories" list on the newly redesigned home page.  This isn't desirable because it the story detail page and story viewer for a connected story don't really make sense.  The way the connected story feature was originally specified, they were only meant to show up through the seed story's viewer.

[2013-02-04 21:37] jwirfs-brock opened #610 "Connected stories list should have thumbnails of featured images"
From a seed story's viewer, the connected stories list (http://floodlightproject.org/en/stories/six-word-memoirs/viewer/#sections/connected-stories) should include thumbnail images for the connected stories (if they have them).

[2013-02-04 21:39] ghing commented on #609
Here's the short-term fix that @jwirfs-brock and I worked out over chat:
1. hide the related stories from the recent stories list
2. update the story's last edited date when a new connected story is added
3. sort the related stories list by last edited date
4. add a "3 connected!" link to the display in the recent stories list that links to the connected stories section of the seed story's detail

[2013-02-04 22:12] #607 closed, assigned to nobody

[2013-02-04 22:13] ghing commented on #607
@jwirfs-brock The fix for this is live on staging.  I've assigned this to you for review.  Please re-open the issue if you find that it persists.

[2013-02-04 22:16] jwirfs-brock commented on #607
Looks good.

[2013-02-04 22:19] jwirfs-brock commented on #601
@ghing Looks like we can close this one.

[2013-02-04 22:19] #601 closed, assigned to nobody

[2013-02-04 22:48] #169 closed, assigned to nobody

[2013-02-04 22:48] #173 closed, assigned to nobody

[2013-02-04 22:48] #174 closed, assigned to nobody

[2013-02-04 22:48] #175 closed, assigned to nobody

[2013-02-04 22:48] #176 closed, assigned to nobody

[2013-02-04 22:48] #177 closed, assigned to nobody

[2013-02-04 22:48] #178 closed, assigned to nobody

[2013-02-04 22:48] #181 closed, assigned to nobody

[2013-02-04 22:48] #182 closed, assigned to nobody

[2013-02-04 22:48] #183 closed, assigned to nobody

[2013-02-05 16:01] ghing commented on #609
@jwirfs-brock, here's what I was thinking of in terms of highlighting connected stories in the latest stories list.

![Screenshot from 2013-02-05 10:00:29](https://f.cloud.github.com/assets/110420/128017/39fb4b7e-6fad-11e2-964f-96070b389151.png)

[2013-02-05 16:38] #609 closed, assigned to ghing

[2013-02-05 16:49] jwirfs-brock opened #611 "Edited a published seed story, and its related connected stories were "disconnected""
I edited the story "Six-Word Memoirs" (http://www.floodlightproject.org/en/stories/six-word-memoirs/), which at the time was a seed story with two associated connected stories (http://www.floodlightproject.org/en/stories/like-bellows-breathe-in-breathe-out-2/ and http://www.floodlightproject.org/en/stories/not-just-about-running/). After I saved the edits, those stories no longer appeared as conne

[2013-02-05 16:53] jwirfs-brock commented on #611
I was editing the seed story in the story builder (accessed through "my account," NOT through the django admin) when this happened.

[2013-02-05 17:12] ghing commented on #611
@jwirfs-brock, I wasn't able to replicate this in my local development instance.  I tried editing the seed story in the builder, editing the seed story in the Django admin, editing the connected story in the builder.  I'll try to set up staging to do some more testing on this with productionish data.

[2013-02-05 19:00] patternleaf commented on #381
@bpawlak @jwirfs-brock @ghing ok, the big plus is now clickable and toggles display of the asset types. please check out the behavior when you get a chance. the target area for the + is quite large—i imagine this is an ok thing.

http://deploy.atlas.terrorware.com/en/build/

[2013-02-05 19:12] bpawlak commented on #381
I don't understand why the target area is so large... I think it should either be restricted to just the size of the graphic itself _or_ the whole container.  I prefer the former.  Right now, left/right of the [+] is target area and a bit above and below is, but it seems a bit arbitrary when trying to find the boundaries

[2013-02-05 19:48] ghing opened #612 "View button in "Publish" step of builder goes to the wrong place for connected stories"

[2013-02-05 20:16] #612 closed, assigned to ghing

[2013-02-05 20:17] jwirfs-brock commented on #381
@bpawlak @patternleaf The fact that you can't see the icons of the asset
you are adding until you clicked on the "+" really threw me off. I don't
think I would know what I was supposed to do if I saw this.

On Tue, Feb 5, 2013 at 12:12 PM, bpawlak notifications@github.com wrote:

[2013-02-05 20:19] jwirfs-brock commented on #381
@bpawlak @patternleaf Also, now you have to click twice to add an asset
(first on the "+", then on the asset type icon). I think this makes things
more difficult for the user.

On Tue, Feb 5, 2013 at 1:17 PM, Jordan Wirfs-Brock jordanwb@gmail.comwrote:

[2013-02-05 20:20] bpawlak commented on #381
Originally I had suggested it was a hover... that way as soon as you were over it, the rest of the icons appeared

[2013-02-05 20:22] jwirfs-brock commented on #381
I still think that you need to see the asset types even in a non-hover
state (or non-click) state.

On Tue, Feb 5, 2013 at 1:20 PM, bpawlak notifications@github.com wrote:

[2013-02-05 20:23] jwirfs-brock commented on #381
What if we use the earlier design that Eric made (a little ways up the
thread), but took and the plus symbol (which looks like something you'd
want to click on), and instead put some brief instructional text there,
like, "Click on an asset to add it."

On Tue, Feb 5, 2013 at 1:21 PM, Jordan Wirfs-Brock jordanwb@gmail.comwrote:

[2013-02-05 20:23] bpawlak commented on #381
valid point.  Helps orient the user about what they can do...

[2013-02-05 22:11] patternleaf commented on #381
it's just a side effect of how it's implemented, and it didn't seem worth spending the time to fix earlier. doing the whole container would actually be easier than restricting to the "+".

yeah—less than ideal, though for some reason it doesn't bother me overly in this case.

this certainly can be done, though it's slightly trickier.

per discussion earlier in the thread, the "+" was interpreted a

[2013-02-05 22:14] jwirfs-brock commented on #381
That suggestion sounds like a it could work. Can you do the mock-up so we
can see it?

On Tue, Feb 5, 2013 at 3:11 PM, Eric Miller notifications@github.comwrote:

[2013-02-05 22:18] bpawlak commented on #381
That's my bad then, I never intended the + to indicate size of the final asset.

I should have been more clear in that regard.  I was simply trying to make it overly obvious to someone that if they wanted to do anything, they needed to head towards the giant + sign.  As they did, they'd get all of these options presented to them as to what to do next (on hover).  When they leave, the options go aw

[2013-02-05 22:19] bpawlak commented on #381
Trying to avoid:

![2013-02-05_151737](https://f.cloud.github.com/assets/2250519/129560/067294d0-6fe2-11e2-940a-81d02eb78970.png)

[2013-02-05 22:24] patternleaf commented on #381
ok, Bill's suggestion for showing icons on hover is now running on deploy, with the full-container-responds-to-hover variant (because it's easier to implement).

[2013-02-05 22:27] jwirfs-brock commented on #381
This is ok, but I think that it's too subtle before the hover. I can barely
even see the grey "+".

Maybe the pre-hover state could be a version of the hover state (with the
appropriate asset icons showing), but just lighter?

On Tue, Feb 5, 2013 at 3:24 PM, Eric Miller notifications@github.comwrote:

[2013-02-05 22:46] patternleaf commented on #381
currently staged is a version where the icons are always present, and the _words_ for each icon show up on hover. also made the "+" darker on hover ...

i dunno. that big "+" just still seems like something i should be interacting with directly.

[2013-02-05 22:56] bpawlak commented on #381
If we're going to always show the icons, then I think they should be the same opacity as the + and on hover make them darker and show the words.  Still seems kind of busy to me

![2013-02-05_155637](https://f.cloud.github.com/assets/2250519/129674/53515ba6-6fe7-11e2-8614-3ce621f07e14.png)

[2013-02-05 23:09] patternleaf commented on #381
done. @jwirfs-brock , what do you think?

[2013-02-05 23:13] jwirfs-brock commented on #381
I still think the starting opacity is much too light. At least on my
screen, I can barely see it. Bump up the non-hover opacity, though, and I
think we'll be good.

On Tue, Feb 5, 2013 at 4:09 PM, Eric Miller notifications@github.comwrote:

[2013-02-05 23:16] bpawlak commented on #381
I'll let Jordan make the call on initial opacity, but otherwise looks good to me

[2013-02-05 23:42] ghing commented on #590
This is live now on dev, @jwirfs-brock, please take a look at this and let me know what you think.

[2013-02-05 23:48] jwirfs-brock commented on #590
This looks good.

The only part that's a little clunky is the select featured image step. Is
there a way to, if the story includes an image asset, have that be set as
the default? I tried it out with a story that had an image asset, and it
still showed "current image" as the generic image (chat bubble icon).

On Tue, Feb 5, 2013 at 4:42 PM, Geoffrey Hing notifications@github.comwrote:

[2013-02-06 01:52] patternleaf commented on #381
i've bumped up non-hover color a bit. also changed the "unavailable" color to match. that's the color for those asset types that aren't allowed in, eg, PhotoVoice stories. (otherwise it looked strange to have three difference colors going on.)

[2013-02-06 02:03] bpawlak commented on #381
Is there any way to not have the text show up on hover for those assets that aren't valid?

[2013-02-06 05:05] ghing commented on #590
@jwirfs-brock Does the legal information look ok?  If so, close this issue and I'll address the default image behavior over at #515. I think it should show the first image asset included in the story rather than the default because that's actually what will happen.  I had forgotten that was the behavior when retrieving the story on the front end.

[2013-02-06 15:28] jwirfs-brock commented on #590
Looks good.

[2013-02-06 15:28] #590 closed, assigned to nobody

[2013-02-06 15:31] jwirfs-brock commented on #381
@patternleaf The darker gray looks good, and I agree that it looks better
with just two colors.

I agree with @bpawlak's suggestion. If having the text not show up for the
non-available assets is fairly easy, I say let's do it. If it'll be
difficult, we're good to go as-is.

On Tue, Feb 5, 2013 at 7:03 PM, bpawlak notifications@github.com wrote:

[2013-02-06 16:01] jwirfs-brock commented on #611
@ghing Using Firefox on Windows 7, I...
- Created a new seed story on staging (http://staging.floodlightproject.org/en/stories/this-is-a-connected-story-test/) and published it
- Created a two new connected stories (http://staging.floodlightproject.org/en/stories/it-connects/ and http://staging.floodlightproject.org/en/stories/testing-connected-stories-again/) and published them
- Verified that th

[2013-02-06 16:23] ghing commented on #611
Ok, I was now able to replicate this and find the problem.  I'm working on a fix right now.

[2013-02-06 17:23] patternleaf commented on #381
Ok, the text only shows up for available types on hover. Closing.

[2013-02-06 17:23] #381 closed, assigned to nobody

[2013-02-06 17:41] ghing commented on #611
Fixed and deployed to production.

[2013-02-06 17:41] #611 closed, assigned to ghing

[2013-02-06 21:34] patternleaf commented on #518
@jwirfs-brock @ghing @bpawlak could you all check this to see if it's doing the right thing? on deploy, eg,

http://deploy.atlas.terrorware.com/stories/charting-a-new-course-in-sheridan/

Couple of thing that might be worth addressing while I'm in there:
- the next/forward buttons move around a little. either because the forward or next button disappears when not applicable, or when a scrollbar ap

[2013-02-06 21:42] jwirfs-brock commented on #518
The position of the previous/next buttons didn't bother me. Pinning them in
place sounds like a good option, though. I'm not sure what you mean by
disabling them -- how would you navigate between sections?

In this particular story, sections with no header are actually just
extensions of the previous section. Essentially, it's a two-part section.
So having "Section X" doesn't really make sense. Bu

[2013-02-06 21:46] bpawlak commented on #518
I like the idea of "2/10" counter _and_ having the TOC collapse if you click anywhere outside of it.  I always assumed that's how it worked (earlier build?) and never actually tested it.

[2013-02-06 22:11] ghing commented on #518
I think we should use the "Section X" workaround for now and see how many stories have this case.  I think people creating stories with sections without titles is a result of the scrolling view of the story and that they'll be less likely to do this when sections are viewed one at a time.  If we find users are still creating sections without titles, we can either force them to be titled in the bui

[2013-02-07 14:14] ghing commented on #530
@jwirfs-brock, We need to decide how we want to handle the limit.  Do we want this to be a hard limit, that prevents the story from being saved (or maybe published) or just a counter with a warning to the user?

If it's a hard limit, does the user hit the limit when the summary is changed, or when the user tries to publish the story?

If it's a hard limit, note that users will start getting an err

[2013-02-07 14:35] ghing commented on #515
The default featured image is now set to the first image asset used in the story.  @jwirfs-brock, can you verify that the publish step now works as expected?

[2013-02-07 15:26] ghing opened #614 "Backward incompatible changes in Tastypie break tests"
It looks like Tastypie's API is getting a big shake-up, and the tests start failing as of https://github.com/toastdriven/django-tastypie/commit/d850758b088761a00f60a474f5b2d683dc1ec3c0

It will probably be worthwhile to migrate the code base to support the new API and to replace our custom authentication backend with `SessionAuthentication`, but this could be kind of a big deal.

[2013-02-07 15:31] jwirfs-brock commented on #530
Hmm, that's a tough one. I am disinclined to do things that would cause
existing users to see new errors, so it makes sense to have it be a soft
limit (work count and warning) for now. I say try it, and see if it
actually works. If users are still entering long summaries, we can
reconsider making it a hard limit.

On Thu, Feb 7, 2013 at 7:14 AM, Geoffrey Hing notifications@github.comwrote:

[2013-02-07 15:33] patternleaf commented on #518
i'll also add: would be nice to be able to navigate via left/right arrow keys.

[2013-02-07 15:38] ghing opened #615 "Backward incompatible changes in Tastypie break tests"
It looks like Tastypie's API is getting a big shake-up, and the tests start failing as of https://github.com/toastdriven/django-tastypie/commit/d850758b088761a00f60a474f5b2d683dc1ec3c0

It will probably be worthwhile to migrate the code base to support the new API and to replace our custom authentication backend with `SessionAuthentication`, but this could be kind of a big deal.

[2013-02-07 15:41] ghing commented on #614
a8054cbf5f80fb7d59e8611e0112885dda3bdad6 is a workaround for this.

[2013-02-07 15:41] ghing commented on #615
Accidental duplicate of #614

[2013-02-07 15:41] #615 closed, assigned to ghing

[2013-02-07 17:40] ghing commented on #530
I did a quick analysis of word and character counts for published stories.  These counts reflect stripping out HTML and break words on whitespace.
- Average character count: 370
- Average word count: 59
- Max character count: 2768
- Max word count: 426

If we take @jwirfs-brock's original post about 44 words/240 characters making a good summary, then:
- about 18% of the stories have summaries long

[2013-02-07 19:29] jwirfs-brock commented on #530
I think for our purposes a character counter will be ok. Let's try 250
characters and see how it goes.

On Thu, Feb 7, 2013 at 10:40 AM, Geoffrey Hing notifications@github.comwrote:

[2013-02-08 19:49] patternleaf commented on #518
also: highlight current section in toc (5223f76)

[2013-02-08 20:01] patternleaf commented on #518
@ghing @jwirfs-brock @bpawlak Hey all - could you review on deploy?

http://deploy.atlas.terrorware.com/

I think i've got everything in there except that some footer controls are still nudged over when a scroll bar appears. This bugs me but not enough to spend time on it right now. :)

[2013-02-08 20:53] patternleaf commented on #530
@jwirfs-brock @ghing To clarify, I'm envisioning some UI on the Story Information page that has a running tally of character count with a warning when it exceeds 250 characters. And for now that's the extent of it, correct? No enforcement of this limit in the model or at display site(s)?

[2013-02-08 20:54] jwirfs-brock commented on #530
Yes, that's right.
On Feb 8, 2013 3:53 PM, "Eric Miller" notifications@github.com wrote:

[2013-02-08 21:00] jwirfs-brock commented on #518
This looks good to me. I really like the styling on the table of contents
-- it's a great improvement.

On Fri, Feb 8, 2013 at 1:01 PM, Eric Miller notifications@github.comwrote:

[2013-02-09 05:37] #596 closed, assigned to ghing

[2013-02-11 14:18] ghing commented on #426
Assigning this 5 points just because there still seems some analysis remaining.  It will probably make sense for @patternleaf and I to make sub-issues out of this once the requirements are finalized.

[2013-02-11 14:38] jwirfs-brock commented on #426
New menu structure is here: https://docs.google.com/spreadsheet/ccc?key=0AripktENBWzTdDZmejBwWmlCYU5xLV9CZUIya2ZBeEE#gid=0

New content outline is here: https://docs.google.com/document/d/1jgwx9NBwuFIbZxSAuwjlhkfqGwss-V9n4eeQhgRrlW4/edit#heading=h.ecb66kh5mipi

@bpawlak If @ghing and @patternleaf need further details (like wireframes) can you provide? Thanks.

[2013-02-11 15:53] patternleaf commented on #530
@ghing @jwirfs-brock First pass on deploy at the moment.

One thing: the editor has an event to fire (into which we can hook to update the character count) on new words, but not on any/every change. So at the moment, the character count can be off if the editor doesn't fire its event. One option would be to update our count on a timer instead of trusting the editor. Once a second would probably be

[2013-02-11 16:00] ghing commented on #530
@patternleaf Can we instead listen on an event on the underlying textarea?  Or, can we use events in the editor to wire up/tear down listeners to the keyUp/keyDown events for triggering the recount?

_Update:_ I tried the current implementation and though I understand using the new word event on the editor from a cleanliness/efficiency standpoint, I feel like my expectation from using other apps i

[2013-02-11 16:05] patternleaf commented on #530
@ghing from what i could tell the textarea is only updated at certain times (eg, on editor blur); not in real-time. i'll see if listening for keyup/down is easy to pull off.

[2013-02-11 16:07] ghing commented on #530
I think I'd prefer the keyup/down solution, if it's not too painful, just because it seems more editor agnostic.  If we switch editors, or get rid of the editor altogether, we'd just have to change the event that wires up/tears down the event listeners for the keyUp/down events.

[2013-02-11 16:16] patternleaf commented on #530
actually polling strikes me as more editor-agnostic in that we have to insert keyup/down listeners at the right spot, and the right spot could change, depending on editor. so far it's looking like we will need to drill into the editor's iframe, etc ... polling is distasteful to me, but will work in any case. once per second is only _mildly_ evil. like forgetting to bring your canvas grocery bag ev

[2013-02-11 16:22] ghing commented on #530
But wouldn't we still have to listen to some editor event to turn the polling on/off?

Check out https://github.com/xing/wysihtml5/wiki/Events for a list of all the editor events.  Seems like either in the case of keyUp/keyDown, there are a number of events that we could listen to to toggle the listeners.

To me it seems like we could just listen to the editor's "focus" event to turn on a keypress

[2013-02-11 16:39] patternleaf commented on #530
well we don't have to but we probably should. but i don't see this as the issue.

i'm arguing against using our own keypress listeners. if we want to use our own keypress handlers, we have to attach them to an element _inside_ the editor's iframe. that strikes me as quite hacky and non-editor-agnostic.

[2013-02-11 16:42] ghing commented on #530
I was thinking that we would just listen to keypress events on the `window` and turn the listeners on and off based on whether the editor has focus.

[2013-02-11 16:44] patternleaf commented on #530
keypress events don't bubble up to the window when the editor has focus.

[2013-02-11 16:49] ghing commented on #530
Looks like making these events bubble up is in the works. See https://github.com/xing/wysihtml5/pull/174.  Maybe we should just poll for now and open an issue to switch to listening to keypress events once WYSIHTML5 hits version 0.5?

[2013-02-11 16:51] ghing commented on #530
Or backport the patch in that pull request.  It's really simple.

[2013-02-11 17:03] patternleaf commented on #530
sounds good.

[2013-02-11 17:36] patternleaf commented on #518
Would anyone else like to check this out? It's not currently available on deploy, but I could make it so.

If not, I'll close the issue.

[2013-02-11 17:46] bpawlak opened #616 "Title text should be cleared when user clicks into it"
Right now, when I click into a title field, the cursor is placed at the end, instead of clearing out the title.  So users potentially end up with titles such as "Element 3Making a Difference in Your Community"

[2013-02-11 17:52] patternleaf commented on #518
@bpawlak: it's staged on deploy now.

[2013-02-11 17:57] ghing commented on #198
This is a brain dump of implementation ideas/questions. @patternleaf, can you take a look at this and then maybe we can discuss via chat:

**Should the banner be loaded with the Homepage view, or asynchronously with JavaScript (or both)?**

Does anyone have any examples of this kind of banner in the wild to see their behavior?

**How should this be included in the homepage template?**

I was think

[2013-02-11 18:15] bpawlak commented on #518
Nice!  I think we need to create an issue for how we'll handle sections without titles, both in the story viewer and table of contents.  Check the table of contents for this story: http://deploy.atlas.terrorware.com/stories/charting-a-new-course-in-sheridan/  "Section 2" "Section 6" etc...

[2013-02-11 21:27] patternleaf commented on #530
This is available for review on deploy. If there are no objections or further comments, I'll close this.

[2013-02-12 16:00] #530 closed, assigned to nobody

[2013-02-12 16:10] patternleaf commented on #518
Closing this. @bpawlak there was some discussion in this issue for how to handle those. I'll leave it to you to create a new issue for new analysis.

[2013-02-12 16:10] #518 closed, assigned to nobody

[2013-02-12 16:35] bpawlak opened #619 "Section titles in TOC when user doesn't specify a custom title"
I think we need to create an issue for how we'll handle sections without titles, both in the story viewer and table of contents. Check the table of contents for this story: http://deploy.atlas.terrorware.com/stories/charting-a-new-course-in-sheridan/ ... see "Section 2" "Section 6" etc...

TODO:

* Generate a list of sections without titles or with default titles
* Reach out to users to find out t

[2013-02-12 22:21] patternleaf commented on #198
@ghing some initial thoughts:

Agreed that a template tag makes more sense than a CMS plugin.

Are these both aimed at addressing the time required to calculate the stories? Or are they addressing different problems? In other words: would an asynch javascript solution be _instead of_ a celery-based solution?

The latter seems to make sense so long as the cache is always guaranteed to have _some_ b

[2013-02-12 22:35] ghing commented on #198
@patternleaf,

I think the Celery-based solution is the way to go, but that adding async JavaScript might be some nice extra polish. In addition to loading the stories and their image paths from the database, there's also the time it will take to load all the images. I was just thinking that an async JavaScript solution could be used so that the banner is only displayed when it's completely render

[2013-02-12 22:42] patternleaf commented on #480
Hm. This is only happening to me inconsistently in FF and Safari. Maybe worse, the little "x" to remove the filter isn't showing up in Safari. Or rather sometimes it's there and other times it's not. Looks like this might deserve a little investigation.

[2013-02-13 00:42] ghing commented on #198
I implemented a first pass at this with no background generation and no caching.  The performance seems pretty ok, actually, maybe because I'm already caching the featured image URL to speed up the explore view.  I'm going to do some more systematic profiling to compare the homepage load times with and without the banner.

[2013-02-13 00:48] ghing commented on #198
@jwirfs-brock I'm assigning this to you because I want to know:
- What strategies would you like to see for selecting the stories in the banner.  In my first pass, I'm just selecting the stories randomly.  What selection strategies are crucial, which ones would be cool, but maybe not immediately.
- What (if any) information would you like to track via Google Analytics with regard to the banner.  D

[2013-02-13 04:13] ghing opened #621 "TypeError when unauthenticated user tries to preview a story"
Traceback:

[code]

[2013-02-13 04:39] ghing commented on #595
Another user ran into this issue while trying to use an Applie iWork Pages document as an image.

[2013-02-13 05:16] ghing opened #622 "Image captions and borders not scaling to image width"
It looks like Iteration 10/Release 0.5 introduced a regression where the image captions and borders no longer get adjusted to the image widths (originally issue #469)

In some cases, the captions and frames appear overly wide.

In other cases, the width gets set to 0 by the JavaScript as in http://floodlightproject.org/stories/-51/:

![Screenshot from 2013-02-13 15:11:41](https://f.cloud.github.co

[2013-02-13 05:37] ghing opened #623 "Use window.onerror to give users a friendlier notification and log uncaught JavaScript exceptions in builder/viewer"
See http://dev.opera.com/articles/view/better-error-handling-with-window-onerror/

[2013-02-13 05:48] ghing opened #624 "Static assets should be versioned and compressed"
Since we're deploying often and our static asset filenames aren't changing, users can be viewing Floodlight pages with a stale, cached version of the JavaScript or CSS and get weird errors, such as #667.

Versioning the assets so users always get the freshest CSS and JavaScript is the most important, because it prevents odd behavior, but it would be nice to get the performance bump for users by co

[2013-02-13 08:54] ghing commented on #623
Did a quick fix for this in 8e7c24f210edf71f1cb364370dc36b887570e907 that shows the user an error message instead of a partially rendered view.  Still need to implement logging.

[2013-02-13 16:03] jwirfs-brock commented on #198
@ghing Here are my thoughts on your questions:
- As far as selecting stories, randomly selecting them is my suggestion. We have other ways of intentionally plugging stories (homepage slider) and highlighting recent stories (recent story list on homepage, chronological ordering on Explore page), so one of the goals of the slider is to bring older stories to the attention of readers. So, **random se

[2013-02-13 16:09] jwirfs-brock opened #625 "When you toggle a story's "featured on homepage" status, it changes the last edited date"
I'm not sure if there's a way to fix this, but right now, when you toggle a story's "featured on homepage" status in the Django admin, it considers that a story edit and updates the last edited date.

The consequence of this is that the story then goes to the top of the recent stories list on the homepage. (An example is (OpenWorld Learning Opens up a World of Opportunity for Students)[http://www.

[2013-02-13 16:20] jwirfs-brock commented on #427
Just making sure that this issue gets back on the radar, since it had been assigned to me.

@patternleaf Let's go with Bill's suggestion, so have the orange highlighted/underlined text in the main menu reflect where the user is.

[2013-02-13 16:25] jwirfs-brock commented on #591
We saw a cool example in one of the Knight MLS presentations about a town in Peru that used "Fix this!" stickers. The city government handed them out to residents, who stuck the stickers on whatever they thought needed to be fixed (bus-stops, etc.).

In addition to off-line **dissemination** strategies, we could also make it easy for authors to add a plugin for gathering offline **feedback**. I'd

[2013-02-13 16:51] patternleaf commented on #514
in #449 i wrote:

and @jwirfs-brock wrote:

@PitonFoundation/developers do we have any new insight/ideas/directions on this?

[2013-02-13 17:06] bpawlak commented on #514
I believe that's the direction we settled on, yes.  We'll have to be careful about making the default buttons grey. Since they're fairly flat in design, the grey color (unless it's a darker grey like #444 ) can get lost on the page.  Plus, if it's too light grey, it looks disabled.

Reserving blue for primary actions, however is a great idea...  In the example below, I've darkened the Share button

[2013-02-13 17:13] patternleaf commented on #480
The only time I can repro this specific thing is when a filter drop-down is open as the story list under it is changing. And then I can only get one to be "stuck" open at a time. @bpawlak are you able to reproduce what's in the screenshot? ie, a bunch of filters open at once? if so, could you provide steps?

[2013-02-13 17:36] bpawlak commented on #480
Ok, I managed to get it to happen again:

![image](https://f.cloud.github.com/assets/2250519/153765/8f8ce8d4-7603-11e2-8c44-f300709e160d.png)

I can't really describe how to reproduce it as I was simply trying different filters (Chrome) and then it happened.

I'm also seeing a bunch of other odd intermittent behaviors:  see below.  I tried to do a search in one of the filter dropdowns and ended up

[2013-02-13 17:56] bpawlak commented on #480
Here's something else I just found:  Two versions of the dropdown appearing at once (one's behind the other)

![image](https://f.cloud.github.com/assets/2250519/153849/9ffeb8d4-7606-11e2-9c1b-4c4ed51cfc4e.png)

[2013-02-13 18:24] patternleaf commented on #480
yeah, the single drop-down stuck is what i've been able to reproduce and i think both screenshots you've posted are showing that issue. but no luck with the multiple drop-downs stuck as depicted in the original screenshot?

[2013-02-13 18:24] #576 closed, assigned to nobody

[2013-02-13 18:28] bpawlak commented on #480
No, I got it to happen again (see the first image in my posting from an hour ago (https://github.com/PitonFoundation/atlas/issues/480#issuecomment-13506529)

[2013-02-13 18:35] patternleaf commented on #480
sorry: when i said "multiple" i meant "all" as in the original screenshot: (https://docs.google.com/file/d/0B82exFJJWyJqeUZXejVwUUlxZjQ/edit)

that's what i haven't been able to repro and what i was asking about.

to be clear, your screenshot from an hour ago showed two dropdowns showing at once. i have reproduced that and my diagnosis is that under certain conditions a single drop-down gets "stuc

[2013-02-13 18:39] bpawlak commented on #480
Ok.  I wonder if the issue of a single dropdown getting stuck open is likely related to the issue of multiple dropdowns getting stuck open?  But you're correct, I haven't been able to get multiple dropdowns to stick in the open state.

[2013-02-13 20:33] ghing opened #626 "CI tests timing out because django-admin.py not found in scripts/apply_django_patches"
From the logs:

[code]

[2013-02-13 20:59] ghing opened #627 "Bottom of long sections gets cut off by bottom bar"
![Screenshot from 2013-02-13 14:54:47](https://f.cloud.github.com/assets/110420/154519/bef38760-761f-11e2-86b6-cca1fa4d2080.png)

The bottom bar in the story viewer has `position: fixed` so it always covers up the bottom of the section.

This was likely introduced with the implementation for #518. This wasn't a problem with the previous scrolling implementation because there was always more conten

[2013-02-13 21:02] ghing commented on #366
Closing this since this workaround and it's motivation is no longer a part of the viewer since we changed the viewing to be one section at a time in #518.

[2013-02-13 21:03] #366 closed, assigned to ghing

[2013-02-13 22:09] ghing commented on #622
This is extremely tedious to replicate consistently. I'm thinking using https://github.com/desandro/imagesloaded for wiring our events is the way to go.

[2013-02-13 23:12] ghing commented on #622
@patternleaf, FYI, these seem like the most popular tools for simulating slow connections:
- [Fiddler](https://fiddler2.com/fiddler2/) - Windows, debugging proxy
- [Charles](http://www.charlesproxy.com/) - Mac, debugging proxy
- [netem](http://stackoverflow.com/a/1094797/386210) - Linux, Kernel module
- [ipfw](http://www.quora.com/What-is-the-best-tool-to-simulate-a-slow-internet-connection-on-a-M

[2013-02-13 23:31] #622 closed, assigned to ghing

[2013-02-14 16:09] ghing commented on #623
@jwirfs-brock:

The error text currently being shown is:

There was an unexpected error. You should try to reload the page while <a href='http://wikipedia.org/wiki/Wikipedia:Bypass_your_cache' title='Bypass your cache' onclick='window.open(this.href);return false;'>bypassing the cache</a>. If that doesn't fix the error, <a href='/contact/' title='Contact' onclick='window.open(this.href);return fal

[2013-02-14 16:13] jwirfs-brock commented on #623
@ghing Is this error message shown in every instance of an error, or just for specific ones that we can identify?

[2013-02-14 16:17] jwirfs-brock opened #628 "User reported error while trying to publish a connected story"
The connected story is ["Today, the digital divide is closing."](http://www.floodlightproject.org/en/stories/six-word-memoirs/viewer/#connected-stories/07f4db029c6946b79d9ba65f589bb3a3) and the seed story is ["Six-Word Memoirs"](http://www.floodlightproject.org/en/stories/six-word-memoirs/).

I'm not sure what caused the error, but here is what the user reported:
"I tried to edit then post my 6 wo

[2013-02-14 16:18] ghing commented on #623
Actually, it's shown for errors that we don't know about or expect that
would likely cause some confusing behavior (like a partially rendered or
blank page).  Errors that we expect might happen are shown in the error bar
of the builder.  This error message shows up as a  pop-up because we can't
be sure that the builder scaffolding has been initialized when the error is
shown.

[2013-02-14 17:57] ghing commented on #623
Added logging tot he server in 8395e1e.  Assigning to @jwirfs-brock to see if she wants to update the error message text, if not, close it.

[2013-02-14 18:48] ghing commented on #628
From this it sounds like the user couldn't get back into the builder.  My guess is that maybe they had a stale version of the builder JavaScript after the last update.  The fact that they were eventually able to publish makes me think this is the case.  With the fix for #623, now in production, we should be able to get more granular, and automatic reports when users run into these unexpected error

[2013-02-14 18:48] #628 closed, assigned to ghing

[2013-02-14 19:04] jwirfs-brock opened #629 "Connected stories appearing in homepage slider should have notification showing number of connected stories"
Connected stories, when appearing in the homepage slider, should include a notification that says, "This story has 4 connected stories."

It would also be nice if this appears in the tile view of the Explore page.

If a story doesn't have any connected stories yet, it's probably best not to show it, rather than saying, "This story has 0 connected stories."

[2013-02-15 00:00] ghing commented on #626
This seems to be fixed.

[2013-02-15 00:00] #626 closed, assigned to ghing

[2013-02-15 00:02] ghing opened #630 "Travis CI tests failing because Jetty can't find the JDK"
From the log:

[code]

[2013-02-15 14:16] ghing commented on #630
Fixed by 91c80a3.

[2013-02-15 14:16] #630 closed, assigned to ghing

[2013-02-15 16:29] patternleaf opened #631 "Explore page filters: map position is off when selecting a filter"
1. load map view
2. select a filter from a drop-down

result: map view jumps up say 50 px, partially obscuring the tile/list/map icons. see issue #480 for screenshot.

[2013-02-15 16:31] patternleaf opened #632 "Explore Page filters: using search box results in search icon rendering in wrong place"
From issue #480: "I'm also seeing a bunch of other odd intermittent behaviors: see below. I tried to do a search in one of the filter dropdowns and ended up seeing this in the upper left"

[see screenshot in #480]

[2013-02-15 16:33] patternleaf opened #633 "Explore page filters: "x" to clear a filter is not visible in webkit"
It shows up on hover, but not otherwise.

[2013-02-15 16:37] patternleaf commented on #480
I've found and fixed the main issue noted here (possible for a drop-down to get stuck open) and made new issues for other bugs discussed:
- #633
- #631
- #632

@bpawlak, I'm going to assume that your map rendering issues are related to or will be addressed by #587.

[2013-02-15 16:42] ghing commented on #198
Note to self: I don't want to go to far down the rabbit hole of Google Analytics and A/B testing, but I wanted to capture a few thoughts from my reading:
- The StackOverflow question [Any thoughts on A/B testing in Django based project?](http://stackoverflow.com/questions/752919/any-thoughts-on-a-b-testing-in-django-based-project) post has some good ideas for A/B testing in Django apps as well as

[2013-02-15 16:54] wendynorris commented on #198
Sounds good to me, Geoff.

With such a small user/reader base currently, I'm not sure we'd get
terribly valid results with A/B testing or GA Experiments yet. The other
consideration is what precisely are we trying to test/track? I think I'll
have some better ideas to draft some test hypotheses once I dive into the
latest survey results that are due today.

How's that?

Wendy

**
_wendy norris http

[2013-02-15 17:04] bpawlak commented on #480
@patternleaf I think #587 is more about the map rendering (which I saw the other day), but if you look at the first picture in that issue, you can see the entire map container is moved up on the page 20 or so pixels so that it cuts off the words (Tile, List, and Map).

It looks like the actual issue is #631, which you just created.

[2013-02-15 17:11] patternleaf commented on #480
right, i was seeing those as two separate issues:

- "the map is messed up" = #587
- "map gets cut off" = #631

[2013-02-15 22:23] ghing opened #634 "Make error window for uncaught JavaScript Errors less obtrusive."
The implementation for #623 added a pop-up window (and logging) of uncaught JavaScript exceptions:

It looks like this:

![Screenshot from 2013-02-15 16:48:14](https://f.cloud.github.com/assets/110420/162590/e7cbb8c6-77c1-11e2-874e-6ee0506e35c2.png)

I had originally anticipated that this would only be shown for severe errors where this popup would be preferable to an inexplicably impartially rend

[2013-02-15 23:14] ghing opened #635 "Only log JavaScript errors once"
Some JavaScript errors fire multiple times, causing a log to be sent to the server each time.

Right now the only consequence of this is flooding my e-mail (which isn't really a big deal as Gmail groups the duplicates together). However, I could imagine a case where this would take up system resources in an undesireable way.

One thought could be to keep track of seen JavaScript errors and only se

[2013-02-15 23:34] ghing commented on #385
I'm getting logs of another error from WYSIHTML5:

ERROR: javascript error: {"url": "http://floodlightproject.org/static/js/libs/wysihtml5/wysihtml5-0.3.0.min.js", "message": "Uncaught TypeError: Cannot read property 'document' of null", "HTTP_USER_AGENT": "Mozilla/5.0 (Windows NT 5.1; chromeframe/24.0.1312.57) AppleWebKit/537.17 (KHTML, like Gecko) Chrome/24.0.1312.57 Safari/537.17", "user": "xxx

[2013-02-16 18:12] ghing opened #636 "Broken asset JSON can show up in the bootstrapped code in story_builder.html"
This is the error report that tipped me off to it:

[code]

Line 681 is where the asset models for the builder are bootstrapped via the Django template `storybase_story/story_builder.html`:

[code]

The serialization is handled by `storybase_story.views.StoryBuilderView.get_assets_json` which delegates to `storybase_asset.api.AssetResource` to do a lot of the work.

[2013-02-16 19:04] ghing commented on #636
Possible cause is weird escaping of quotes within JSON string:

[code]

It seems like the escaping of of the div's class should be `... class=\\\"`

[2013-02-18 02:51] ghing commented on #198
I did some simple testing of page load times using [ConfessJs](https://github.com/jamesgpearce/confess)

I loaded the homepage 25 times for each method of selecting stories for the banner.  These are the results:

| Banner Type | Average Load Time (ms) |
| --- | --- |
| No Banner | 2214 |
| Topic (Arts and Culture) | 2686 |
| Random | 3156 |

Based on this, it doesn't seem like there's a big benef

[2013-02-18 04:06] wendynorris commented on #198
Nice work!
**
_wendy norris http://about.me/wendynorris_
 ceo + founder :: tekhne media, inc
a digital information and media collective
720 281 9378 :: mobile

*\* http://about.me/wendynorris
*
*

On Sun, Feb 17, 2013 at 7:51 PM, Geoffrey Hing notifications@github.comwrote:

[2013-02-18 19:13] #480 closed, assigned to nobody

[2013-02-19 03:24] ghing commented on #515
This has been in production for a week, with no objects from @jwirfs-brock. Closing.

[2013-02-19 03:24] #515 closed, assigned to nobody

[2013-02-19 14:45] ghing commented on #426
@jwirfs-brock, I'm a bit worried about the "Latest Updates" and the "News and Events" landing page because these involve new content (or curation of content) that isn't on the site right now (whereas other items seem like they're mostly cleaning up/reorganizing existing content).  The "Info to Add" seems blank in the "Content Outline" doc for these two pages. To move forward, I feel like I need to

[2013-02-19 15:12] bpawlak commented on #426
I think the goal is to create new content

---

On Feb 19, 2013, at 7:45 AM, Geoffrey Hing notifications@github.com wrote:

[2013-02-19 16:53] jwirfs-brock commented on #426
Sorry, I'm buried in catch-up this morning. Yes, I will be creating new
content for those. I'm just a bit behind on it because I've been out of the
office/traveling. I'm planning on spending some time today to get the
updated content. We can delay these issues pending the content updates.
Sorry to be the blocking factor on this one...

On Tue, Feb 19, 2013 at 8:12 AM, bpawlak notifications@github.

[2013-02-19 16:53] jwirfs-brock commented on #426
@ghing I'll assign back to you once the content updates are ready.

[2013-02-19 18:47] ghing commented on #198
I believe this is fully implemented as of 13851b5. I've staged this. Closing.

[2013-02-19 18:47] #198 closed, assigned to ghing

[2013-02-19 20:13] ghing commented on #426
@jwirfs-brock: Are you going to put the content for the `News & Events` landing page and the `Latest Updates` in the Google Doc or directly into Django CMS.  What I want to get a sense of is what new data models and templates (if any) we'll need to implement these new areas of content. When I have a better sense of the content I can make better recommendations for the implementation, give better t

[2013-02-19 20:23] ghing commented on #426
Based on taking a more close look at this it looks like the sub-tasks will be:
- Create new Page content - Create new Pages and move content around in existing Pages and nest pages in the correct hierarchy in Django CMS (Jordan, with Django CMS usage support from Geoff)
- Redirect (or otherwise handle) existing content - If a certain URL path is going away, we should set up redirects to where that

[2013-02-19 20:29] jwirfs-brock commented on #426
I'll be planning out the new content in the Google Docs.

Ultimately, I'd like to be able to update the new content through the
Django CMS.

I think the only substantially new piece to the data model would
be incorporating the news item that you built for the  homepage widget into
one or both of those pages, so that content would only have to be added
once. Is that what you meant?

We maybe also n

[2013-02-19 20:46] ghing commented on #426
@bpawlak, I wanted to get some clarification about the proposed new content structure:
- Are each of the 2nd level items separate Pages? That's my impression from your earlier comments, and what makes most sense to me, but I wanted to confirm.
- What will live in the top-level page for each section, e.g. "About" or "Grow Your Skills"? A quick summary of the content below it?

[2013-02-19 21:25] ghing opened #637 "Show user's current page in "My Account" subnav"
Based off @bpawlak's comment in #544:

[2013-02-19 22:31] ghing commented on #637
On second thought, if I implement view highlighting in the menu, this will affect how the menu is rendered in the header and in the sidebar. It makes sense to keep this as a single issue, #544.

[2013-02-19 22:31] #637 closed, assigned to ghing

[2013-02-19 22:43] jwirfs-brock commented on #426
@bpawlak In the updated Floodlight Information Architecture, we don't have the information that is on the policies page (http://floodlightproject.org/en/policies/) :
- Policies overview (user-friendly language)
- Community values statement (user-friendly language)
- Master terms of service (long, legalese)
- Creative Commons use guidelines/tips (user-friendly language)

Would it make sense to put

[2013-02-19 23:03] jwirfs-brock commented on #426
@bpawlak @ghing I added new content to the [News & Events](https://docs.google.com/document/d/1jgwx9NBwuFIbZxSAuwjlhkfqGwss-V9n4eeQhgRrlW4/edit#bookmark=id.4ipoulacdujo) and [About](https://docs.google.com/document/d/1jgwx9NBwuFIbZxSAuwjlhkfqGwss-V9n4eeQhgRrlW4/edit#bookmark=id.8v6q4jbgtuu) sections.

When you get a chance, please review and let me know of the organization of it makes sense.

A co

[2013-02-19 23:15] bpawlak commented on #426
@ghing Yes, each 2nd level item is it's own page and the top level content is the same as the 1st element in the drop down.  Jordan will be working on content, of course, but it should include a summary of what's to follow in that section of the site (e.g., the "Grow Your Skills" page should give an introduction to the concept of growing one's storytelling skills as well as provide some insight as

[2013-02-19 23:20] bpawlak commented on #426
@jwirfs-brock  I think the intro text and "Floodlight Community Values" and "Master Floodlight Terms of Use" can stay where they are.  The "Using a Creative Commons License with Floodlight" seems more like help text (since it's so related to the builder) and could go there _or_ perhaps add a modified version of it to the "how it works" page (and remove the detailed instructions for how to set the

[2013-02-19 23:28] jwirfs-brock commented on #426
@bpawlak That makes sense. That's a good suggestion about the Creative
Commons info. Currently, we have the following in the Builder on the
Publish/Share page:

"All Floodlight stories will be published with a Creative
Commonshttp://creativecommons.org/ license.
Find out more about why we decided to use Creative
Commonshttp://floodlightproject.org/policies/#community-values
 and how to choose a
li

[2013-02-19 23:55] patternleaf commented on #514
ok, i darkened the button color and changed the sidebar nav links to our link blue color. everything else seemed to be in synch with the scheme though it's possible i missed something.

[2013-02-19 23:55] #514 closed, assigned to nobody

[2013-02-20 15:03] ghing opened #639 ""Object doesn't support this property or method" JavaScript error in viewer"
Example error log:

[code]

I *think* I've only been seeing this for users with IE 7 and 8.

[2013-02-20 15:16] ghing opened #640 "Lots of JavaScript errors in viewer in IE 7 and 8"
I got a lot of error logs from a user with an IE7 or IE8 browser when viewing  a story in the viewer. We should test the current build of the viewer in IE to get a sense of what they're seeing.

It's also possible that the errors aren't affecting the experience of users.

Examples of error messages:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

Note that for this particular story, I che

[2013-02-20 17:51] #542 closed, assigned to nobody

[2013-02-20 19:36] jwirfs-brock commented on #426
The top-level content for skills is now at: https://docs.google.com/document/d/1jgwx9NBwuFIbZxSAuwjlhkfqGwss-V9n4eeQhgRrlW4/edit#bookmark=id.k4ype1kjirvy

Notes:
- Still need to complete second-level pages in Skills section (right now, only have "Data Analysis and Visualization").
- I limited the list to reflect topics we have content for from the NNE Story-Raising. Until I can adapt all of that i

[2013-02-20 22:01] #544 closed, assigned to ghing

[2013-02-20 22:08] ghing commented on #426
@jwirfs-brock, if we're just talking about sub-pages of a section, they can be added via the Django admin.  I'm trying to make the navigation as automatic as possible, but there should also be the ability to edit the sidebar manually if needed.  So yes, unless I'm overlooking an edge case, new topics can be added by just creating new Pages in the Django admin with the correct parent.

[2013-02-20 22:09] jwirfs-brock commented on #426
@ghing what about updating the list as it appears in the megamenu nav? Can
that also be via the Django admin?

On Wed, Feb 20, 2013 at 3:08 PM, Geoffrey Hing notifications@github.comwrote:

[2013-02-20 22:09] jwirfs-brock opened #641 "Update text in help drawer for all story builder steps"
Right now, we really are only using the help drawer during the "Build" step. With our new (streamlined) story building workflow, we also need to add help text to the "Publish" and "Enhance" steps.

[2013-02-20 22:14] ghing commented on #426
The megamenu is hard-coded in a HTML template, but we can probably wire that up to the Page navigation structure.  I'll take a look at any considerations for this as I get further into the implementation for this issue.

[2013-02-20 22:15] jwirfs-brock commented on #426
@ghing It's not something that would be happening very often, so this is
only something we should do if it's an easy fix.

On Wed, Feb 20, 2013 at 3:14 PM, Geoffrey Hing notifications@github.comwrote:

[2013-02-20 22:22] jwirfs-brock commented on #198
@ghing This can be a separate issue that we open in Iteration 12, but is there a way to make sure stories with the default image (i.e., no featured image) don't go into the banner? It looks find with just one or two, but if more than that get in there it looks a bit funny.

[2013-02-20 22:28] ghing commented on #198
@jwirfs-brock I think it would be better to just go through and set featured images for the stories that don't have an image.  This shouldn't happen moving forward with the updated featured image selection flow that we implemented in the previous iteration. The issues of stories without featured assets is sort of documented as #300.

[2013-02-20 22:30] jwirfs-brock commented on #198
@ghing Great, that works. As people start to use the new featured image
selection we'll get an idea for whether that insures most stories get a
featured image. If we're still ending up without them, we can revisit.
Thanks.

On Wed, Feb 20, 2013 at 3:28 PM, Geoffrey Hing notifications@github.comwrote:

[2013-02-20 23:45] #531 closed, assigned to ghing

[2013-02-21 15:25] #629 closed, assigned to ghing

[2013-02-21 15:54] ghing opened #642 "Update megamenu to reflect new content organization"
This is a subtask of #426

[2013-02-21 15:58] ghing opened #643 "Wire in automatic sidebar menus for nested pages"
This is a sub-task of #426

[2013-02-21 16:00] ghing opened #644 "Active section highlighting in megamenu"
This is a sub-task of #426 and it should be implemented after #642

Docs for navigation in Django CMS: https://django-cms.readthedocs.org/en/latest/getting_started/navigation.html

Docs for custom menus in Django CMS: http://docs.django-cms.org/en/2.3.5/extending_cms/app_integration.html#menus

I'm pretty sure that some wiring of our custom views into the Django CMS menu structure happens in `cmsp

[2013-02-21 16:08] ghing opened #645 "News & Events landing page"
This is a sub-task of #426 and will probably involve:
- Creating a new Django CMS-enabled template
- Creating new template tags or leveraging existing ones
- (Maybe) wrapping template tags in CMS plugins to give admins more control over hiding/moving content

[2013-02-21 16:15] ghing commented on #427
Docs for navigation in Django CMS: https://django-cms.readthedocs.org/en/latest/getting_started/navigation.html

Docs for custom menus in Django CMS: http://docs.django-cms.org/en/2.3.5/extending_cms/app_integration.html#menus

I'm pretty sure that some wiring of our custom views into the Django CMS menu structure happens in `cmsplugin_storybase.menu`

[2013-02-21 16:27] patternleaf commented on #427
@bpawlak @jwirfs-brock guys, just to clarify: does this issue refer to the megamenu or to the breadcrumbs (in the gray bar below the megamenu)?

[2013-02-21 16:30] ghing commented on #644
I can envision a CSS-based solution to this since there are only a few top-level menu items and they're hard coded.

You could use Django CMS' [page_attribute](http://docs.django-cms.org/en/2.3.5/advanced/templatetags.html#page-attribute) tag to grab the slug for the root page and use it as a class for the body tag (I think we have a block in our template for that):

[code]

For views that we crea

[2013-02-21 16:34] ghing opened #646 "Latest Updates landing page"
This is a sub-task of #426.

This may not be needed as there might not be enough content to go here right now. A better strategy might be to enable Categorizing `NewsItem` model instances to allow identify site updates vs. other kinds of news and highlighting htem on the "News & Events" landing page.

[2013-02-21 16:41] bpawlak commented on #427
Both the megamenu and the breadcrumbs should correctly reflect where the user is within the structure of the site.  (2nd level navigation, when within a section of the site, should also reflect where the user is as well)

[2013-02-21 16:56] patternleaf commented on #427
certainly. but does _this_ issue refer to highlighting in breadcrumbs or highlighting in the megamenu? the comments don't make this clear.

we now have an issue for highlighting in the megamenu: #644.

if this issue is for highlighting the megamenu, then we should merge these two issues. if it is for highlighting in the breadcrumbs, then is it the case that on the original example given:

http://d

[2013-02-21 17:05] bpawlak commented on #427
It should look like:

![image](https://f.cloud.github.com/assets/2250519/181219/d1410ab2-7c48-11e2-85ce-089fa4fa3142.png)

[2013-02-21 17:06] patternleaf commented on #427
OK: i presume then that those are _links_ up to the current page, and not just styled orange?

[2013-02-21 17:10] bpawlak commented on #427
yes.  The breadcrumb should be able to be used for navigation back up the site hierarchy

[2013-02-21 19:36] #427 closed, assigned to nobody

[2013-02-22 18:04] patternleaf commented on #644
OK, this is implemented. @ghing, you mentioned that the "id" should be a language-agnostic page attribute, but in my test that seemed not to output anything. So at the moment it's using slug. Also this will need to be updated slightly when #642 is done.

[2013-02-22 21:36] ghing commented on #644
Eric, according to https://groups.google.com/forum/?fromgroups=#!topic/django-cms/PzHwKYHaAIg, the page ID might not be accessible through that template tag `{% page_attribute %}`.  Do either of the strategies in that google group post work?

[2013-02-22 22:25] patternleaf commented on #644
@ghing reverse_id worked. thanks. (see 70cca1b)

[2013-02-24 03:03] ghing opened #648 "Section list cut off in Google Chrome 0.25"
In Chrome 24.0.1312.57, Firefox 18.0.2  and Firefox 19.0 on Windows, the section bar looks like this:

![builder_section_list-chrome_0 24-win](https://f.cloud.github.com/assets/110420/189008/b3b66f54-7e2e-11e2-83ee-499c7f94695f.jpg)

In Chrome 25.0.1364.97 on Windows, the section bar looks like this:

![builder_section_list-chrome_0 25-win](https://f.cloud.github.com/assets/110420/189011/74037c5c-

[2013-02-25 14:40] ghing opened #649 "Builder toolbar icons misaligned in Chrome 0.25"
![Screenshot from 2013-02-25 08:39:38](https://f.cloud.github.com/assets/110420/192131/42f60672-7f59-11e2-99bc-a973e1ada113.png)

[2013-02-25 15:41] ghing commented on #648
Closed by 119bb57

[2013-02-25 15:41] #648 closed, assigned to nobody

[2013-02-25 16:10] ghing opened #650 "Googlebot gets a JavaScript Error"
The [Fetch as Google](http://support.google.com/webmasters/bin/answer.py?hl=en&answer=158587) tool might be a good way to diagnose these problems

Errors are like this:

[code]

I'm tagging this as low, because Google should at least be indexing the story detail page and this error doesn't seem to be affecting real browsers.  Still, it would be nice to supress this error, or show Google the render

[2013-02-25 16:13] ghing opened #651 "D3 JavaScript Error in Internet Explorer < 8"
This isn't a huge issues because we're not really using the Spider Story structure (and therefore D3).

Errors look like this:

[code]

[2013-02-25 16:25] ghing opened #652 ""InvalidFilterError: The 'url' field does not allow filtering." in builder"
Setting this to low for now because I've only seen one instance of this error.

Traceback:

[code]

[2013-02-25 16:37] ghing commented on #534
Just a quick note: I'm seeing this error message for both stories that have been published and stories that have never been published, so I'm thinking that the details in Jordan's original report of this happening after a story was unpublished then republished might be a red-herring.

[2013-02-25 16:49] ghing commented on #535
To replicate:
1. Create a new PhotoVoice story (though this error isn't exclusive to the PhotoVoice template)
2. Enter a title so that the story autosaves
3. Open the story builder for your newly created story in a second browser tab or window
4. In the first tab:
   - Navigate to the "Image and Text" section in the section list
   - Add asset content to the left container
5. In the second tab:

[2013-02-25 17:28] jwirfs-brock opened #653 "Published story gets "Unexpected Error" when attempt to view from Story Detail Page"
This is the story:
http://floodlightproject.org/en/stories/dreams-ruler-community-needs-your-support-and-help/

I was viewing in Chrome.

[2013-02-25 17:28] jwirfs-brock commented on #653
Also this story: http://floodlightproject.org/en/stories/united-way-and-mountain-resource-center-train-moms/

These are the two most recently published stories, I believe.

[2013-02-25 17:33] ghing commented on #653
I've looked into these.  These are both being caused by #534/#535.  I am also working on a work-around so that the users will not see the unexpected error page (though the author may not see the asset they expect in the story). I'll email you the user names of the authors if you want to reach out to the users.  If they want, I can "fix" their stories on the back-end.

I'm going to close this as it

[2013-02-25 17:33] #653 closed, assigned to ghing

[2013-02-25 17:35] jwirfs-brock commented on #653
Gotcha -- I figured you might already be working on it.

I'll reach out to those users and let them know we're working on the
problem. I can just get their emails through the admin.

Thanks,
Jordan

On Mon, Feb 25, 2013 at 10:33 AM, Geoffrey Hing notifications@github.comwrote:

[2013-02-25 18:22] ghing commented on #534
A workaround to suppress the "Unexpected error" message was implemented in 60b3028 and deployed into production.  I'm going to close this issue. Any further discussion and addressing the underlying cause should happen in #535.

[2013-02-25 18:22] #534 closed, assigned to ghing

[2013-02-25 18:26] jwirfs-brock commented on #535
In the fix for #653, it looks like any assets created which two tabs were open are blank. (At least, both of those stories have blank sections.) If users now attempt to edit those stories in the Builder (and do so in just one tab/window/browser), will they be able to repair the missing assets? I'd like to follow up with them about how they can make sure their story looks good.

[2013-02-25 18:30] ghing commented on #535
@jwirfs-brock, The users won't be able to re-select an appropriate asset in the builder until I clean things up on the back-end.

[2013-02-25 18:40] ghing commented on #649
Assigning this to @patternleaf just because he did the original styling/CSS work (or likely wrestling with the CSS from the subcontractor).  @jwirfs-brock I'd nominate this for Iteration 12, just because it's very noticeable and not too difficult of a fix.

[2013-02-25 21:30] ghing commented on #600
In e-mail @jwirfs-brock said:

The implementation for this issue represents a significant refactor of the builder code, but I think its worth it and should happen **before** implementing any changes to the builder workflow.  It should come before, because it will make new builder code cleaner, and let us use a better, more consistent pattern for responding to story initialization moving forward.

[2013-02-25 21:31] jwirfs-brock commented on #649
@ghing Ok, moving to Iteration 12.

[2013-02-25 21:32] jwirfs-brock commented on #600
@ghing Moving to Iteration 12.

[2013-02-25 22:06] ghing commented on #625
This issue needs a bit of testing and analysis, which is why I'm giving it 4 points, even though the implementation won't take a lot of code. Especially curious @jwirfs-brock's report that toggling the `on_homepage` field (which appears as "featured on homepage" in the Django admin) from off to on doesn't change the sorting order of the latest stories, but toggling it from on to off does.  Off the

[2013-02-25 22:08] ghing commented on #625
@jwirfs-brock I'm assigning this to you so you can comment and describe:
1. What you would like the latest stories sorting to be based on (when the story was first edited, when it was first published, something else entirely) and how connected stories should factor into this?
2. Are there any other lists on the site (not just of stories, but also possibly of projects or organizations), where you'd

[2013-02-25 22:12] ghing commented on #595
@jwirfs-brock I think that this issue (and it's fix) should be focused on giving the user feedback about valid image types and preventing the saving of non-image files rather than supporting PDF files.  I don't think we know enough about how users want to use PDFs (or other document files) in their stories to do a good job of implementing this, and that implementation would touch other parts of th

[2013-02-25 22:15] ghing commented on #487
Giving this a somewhat higher point estimate (and the analysis tag) as some testing is still required to figure out the underlying cause.

[2013-02-25 22:29] jwirfs-brock commented on #595
@ghing I agree that we should focus on giving user feedback. My
interpretation of this this issue was that it referred to making it so that
they *couldn't *upload an non-supported image in the first place, rather
than being able to upload it but then not view it.

We should definitely add some of the supporting information that is on the
FAQ page to the image asset upload.

If, in the future, we w

[2013-02-25 22:36] jwirfs-brock commented on #595
To clarify, my suggestions for this issue are...
- add information about supported image asset types, with a link to FAQ page for further information
- return an error if a user tries to upload an unsupported image type

I will also open a separate issue about creating a "document" asset type, which will require analysis to find out if this is something users want/need.

[2013-02-25 22:39] ghing commented on #595
One important consideration: the asset creation for image uploads happens in two requests: the first one creates the Asset instance in the database, the second one uploads the file.

Should we validate this client-side or server-side or both. If we do it client-side we can save having to clean up the asset model instance from the first request if the file uploaded is not a valid format.  If we val

[2013-02-25 23:40] ghing commented on #619
I feel like to do a good job of handling sections without titles, we need to know why users have sections without section titles.  Is it because they see the title-less section as a continuation of the previous section, but the layout didn't give them enough buckets to put their content? Did they just forget to set a title? If it's helpful, I can get a list of all the sections in published stories

[2013-02-25 23:43] ghing commented on #583
This needs some sketches/wireframes for the UI to connect data with the assets.

Does this also mean getting rid of the "Add Data" workflow step?

What should happen to data for stories that already have data added to them that's associated with the story (as opposed to the asset)?  I don't think it would be terrible to just lose the UI to add/remove that data and ask the few users who have this d

[2013-02-25 23:48] jwirfs-brock commented on #619
@ghing A list of section-less titles would be great. I think what we'd
actually want is a) title-less sections, and b) sections with the default
(i.e., not changed from the template). I'm happy to reach out to users and
ask them about it.

Many of them will be from my stories. When I don't use section titles, it's
because a) it's a continuation of the previous section, or b) it's a case
where a se

[2013-02-25 23:49] jwirfs-brock commented on #583
@ghing Yes, this would be go along with removing the "Add Data" workflow
step, which is addressed in #579.

On Mon, Feb 25, 2013 at 4:43 PM, Geoffrey Hing notifications@github.comwrote:

[2013-02-25 23:54] jwirfs-brock commented on #583
@ghing I think there are few enough stories that have data associated with
them that we can deal with this on a case by case basis.

There's a distinction here between data visualizations, which you would
want to embed within your story, and source data, which someone may want to
download or view when they are done reading the story. Ideally, we would
want this to work the way that data assets wer

[2013-02-25 23:55] jwirfs-brock commented on #625
@ghing I suggest that...
1. The latest stories (list on homepage) is ordered by first published date. Seed stories should be ordered by the publish date of the most recently added connected story. (That is, a seed story with no connected stories should be treated like any other story. But, once it has connected stories added to it, when there's a new addition, that updates its priority.)
2.  Right

[2013-02-26 04:04] ghing commented on #625
Projects are currently sorted by the last edited date.  Is there a reason in your proposal for projects being sorted by the last edited date rather than the published date like stories?

Also, I'm wondering if you mean _the ordering of stories should not change when the on homepage status is toggled_ or _the last edited date/timestamp should not change when the on homepage status is toggled_.

[2013-02-26 04:09] ghing commented on #625
A technical note: If the behavior we want is to update the last edited timestamp every time a story is changed, the general consensus seems to be that I shouldn't use `auto_now` and should instead override the `save` method on the model.

[2013-02-26 15:23] ghing commented on #426
@jwirfs-brock

Two things:
1. Let me know when you've implemented most of a section's worth of level-2 pages. I've got the basics working for listing sub-pages along with their teasers and I wanted to start testing it with real content as I work through the styling/layout
2. Based on the content Google Doc, it looks like the sub-page list might occur at different points in the page.  For instance,

[2013-02-26 15:39] jwirfs-brock commented on #641
This is less of a tech update than a content and UI update, but I wanted to include it on the list (1) so that we make sure it gets the attention it needs, and (2) in case it does end up raising any (unforeseen) technical updates.

[2013-02-26 15:40] jwirfs-brock commented on #619
Should we tackle this as two cases?
1) Users leave the default section title
2) Users leave a section title blank.

[2013-02-26 15:47] ghing commented on #619
Yeah, I think these are two different cases, specifically because the check for each is different.

One consideration is that it's expensive to do the check if the users have left the default section title in the viewer.  If we want to catch this and warn users, I'd wire it up in the builder somehow (and treat it as a separate issue).

Checking if the section title is blank in the viewer is cheap

[2013-02-26 15:47] jwirfs-brock commented on #583
To clarify a bit further, I suggest that for data-related assets (chart, table, map) we offer the option of linking to (or uploading) source data. This would replace the "Add Data" step.

What we'd be losing is when, say, someone just wants to link to a data set without really referencing it in their story view a table/chart/map. I don't think that's a huge problem, because it encourages people to

[2013-02-26 15:51] jwirfs-brock opened #654 "Add icons to show what types of assets are in stories"
Right now, stories that have data sets (added via the "Add Data" step) have a link to that data set from the story detail page.

Along those lines, it might be cool to also have an icon saying, "this story contains video," or "this story contains photos" etc.

It might also be cool to be able to filter on the Explore page based on asset type. So, if people want to watch videos, they can filter for

[2013-02-26 15:53] jwirfs-brock opened #655 "Add filter to sort by template used to create a story"
Once we refine the templates, it might be interesting to be able to look for stories that were made using a given template.

We could also display this information on the story detail page, or filter by template on the Explore Paae.

[2013-02-26 15:53] bpawlak commented on #619
Any merit to simply having the default section titles be UI only?  That is, there's no default name for the section - it's just blank.  Yes, the UI has "Enter a title" or something but as soon as they click into the title, we remove the helper text and let them actually type something.  If they don't type anything, we shouldn't have that section's title be "Enter a title"  Not sure if I'm explaini

[2013-02-26 16:00] jwirfs-brock commented on #579
We should probably rename this issue to something like "Clean up steps in Story Builder."

[2013-02-26 16:43] patternleaf opened #656 "Share This Story button doesn't work in story preview"
It probably shouldn't be there in the preview, or maybe, implementation-wise, should only be present for published stories.

[2013-02-26 17:53] ghing opened #657 "Superusers should be able to open any user's story in the builder"
This would be really helpful in debugging issues that pop up with individual stories.  There are probably more implications to this than I can think of off the top of my head, but I figured I'd open this issue to start tracking them.

One part of this is patching `StoryResource.get_object_list` to not limit the queryset to only the user's stories.  This seems like it might work:

[code]

A similar

[2013-02-26 18:50] ghing opened #658 "HTML tags in bootstrapped JSON cause JavaScript parsing error, breaking builder"
When a script tag is in an asset's body, and it is rendered in the bootstrapped data for the story builder by `StoryBuilderVIew`/`story_builder.html`, the browser interprets the closing `</script>` in the asset body as the closing of the containing script tag.

This problem is described in this Stack Overflow question: [Script tag in JavaScript string](http://stackoverflow.com/questions/1659749/sc

[2013-02-26 20:41] jwirfs-brock opened #659 "Unable to edit unpublished story in Builder -- had Google chart embedded in it"
I created a story (that I did not end up publishing) for the purpose of testing out a Google charts embed:

http://floodlightproject.org/en/stories/test-embedding-a-chart-created-from-a-live-survey/

When I attempt to open it in the Story Builder, I get the following error (I see a bunch of white space, then this text when I scroll below the fold):

", "caption": "", "content": "
\n\n
", "created"

[2013-02-26 21:10] ghing commented on #659
@jwirfs-brock Does the embed code for your chart have a `<script>` tag?  If so this is probably another instance of #658, which Jon was running into as well.  If that's what's going on, can you close this issue and add the emebed code to #658 so I can start getting a sense of which kinds of `<script>` embed codes we want to support.

[2013-02-26 21:26] jwirfs-brock commented on #659
Yup, I believe it did. Will do.

On Tue, Feb 26, 2013 at 2:10 PM, Geoffrey Hing notifications@github.comwrote:

[2013-02-26 23:38] #635 closed, assigned to ghing

[2013-02-27 14:05] ghing opened #660 "Support Django 1.5"
[Django 1.5 was released](https://www.djangoproject.com/weblog/2013/feb/26/15/) yesterday.  According to [this blog comment](https://www.django-cms.org/en/blog/2013/01/15/24-beta-released/#comment-773770291), the next release of Django CMS won't yet support Django 1.5, but I should start testing to identify any issues early on.

[2013-02-27 14:06] ghing commented on #660
I'd say this is lower priority than supporting the new version of Tastypie (see #615).

[2013-02-27 15:39] jwirfs-brock commented on #426
@ghing:
1. The About and News & Updates sections are set up with all the second-level pages with the teasers (but the second-level pages don't have their full content yet). Skills still needs a couple more second-level pages.
2. Yes, you interpreted the content outline correctly. But you could also look at it as: Skills and News & Events, we want (a) top-level page description, then (b) secondary

[2013-02-27 16:31] ghing opened #661 ""unexpected error" when resetting password"
To replicate:
1. As an unauthenticated user, navigate to the "Sign In" page (/accounts/login/)
2. Click on the "Forgot password?" link (which directs the user to /accounts/password/reset/)
3. Enter your e-mail address in the "Email" field of the form
4. Click the "Reset my password" button

Expected behavior:

User gets a success message and is sent an email with the password reset link.

What hap

[2013-02-27 17:17] #661 closed, assigned to ghing

[2013-02-27 18:43] patternleaf commented on #642
@ghing @jwirfs-brock @bpawlak would you all mind going to http://deploy.atlas.terrorware.com/ to check in on the megamenu organization? I'm trying to synthesize information in #426 and could use a check-in to see if I'm on the right track. Also I've tweaked a number of style elements to make the implementation a little more sane, but also so that the presentation is more consistent. If you have an

[2013-02-27 18:55] ghing commented on #642
One thing to think about is that on my display, the menu gets weird ("About" gets pushed to a new row) when the window is made narrower (but not unreasonably narrower).  This could be helped by changing the menu items to be shorter (which I think we did originally), e.g. "Skills", "Explore".  The `title` attribute could still be the long version of the titles.

Alternately, we could use media quer

[2013-02-27 19:02] patternleaf commented on #642
@ghing yeah, i actually reduced the margins between the top-level links and addressed a clearing/floating issue that made smaller browser widths even weirder than what you're observing.

our minimum non-responsive width is generally 1000px at this point and it's the My Account menu that is the outlier here. when logged out, the wrapping you see doesn't happen. i'd be interested in maybe changing t

[2013-02-27 19:17] jwirfs-brock commented on #642
@bpawlak Can you share your idea for the megamenus about incorporating the
teasers for each of the second-level pages? You'll be able to describe it
better than I can...

On Wed, Feb 27, 2013 at 12:02 PM, Eric Miller notifications@github.comwrote:

[2013-02-27 22:09] bpawlak commented on #642
I would actually suggest not bothering to put in the 2nd level nav items in the mega menu and instead using the space to explain what's in those sections.  Same holds true for Storytelling Workshops... don't put the two links, just give an intro/teaser into the section.  Then it'll consistent across the whole site.

[2013-02-27 22:19] jwirfs-brock commented on #642
@bpawlak @patternleaf @ghing

I just want to make sure we are referring to the same things when we say
2nd level and top level. I'd like to have the second-level nav items listed
in the meganav, if possible (so, for About, that would be The Vision,
Partners, etc.; for News & Updates it would be Storytelling Workshops,
Story-Raisings, etc.). The rest of the space can hold the description of
the top

[2013-02-27 22:23] patternleaf commented on #642
so is it correct that the following:
- Grow Your Skills
- About

need to be updated to match that format, whereas the rest of the megamenu content is in ok shape?

[2013-02-27 22:25] jwirfs-brock commented on #426
@ghing Here's the punch list of remaining items for the content updates:
https://docs.google.com/document/d/1jgwx9NBwuFIbZxSAuwjlhkfqGwss-V9n4eeQhgRrlW4/edit#bookmark=id.7bqvr0b4n8nx

[2013-02-27 22:28] jwirfs-brock commented on #642
Well, I was actually thinking something more like this for About, Skills
and News & Updates:

[col 1]
Top Level Title
[col 2]
Second Level Titles
[col 3 and 4]
Top Level Description

That way they all fit the same format.

On Wed, Feb 27, 2013 at 3:23 PM, Eric Miller notifications@github.comwrote:

[2013-02-27 22:30] jwirfs-brock commented on #642
So for News & Updates that would look like:

[col 1]
News & Updates
[col 2]
Latest Updates
Story-Raisings
Storytelling Workshops
[col 3 and 4]
Like a good story, Floodlight is a work in progress. Here, you’ll find
information about improvements we’re making to the site, storytelling
events we’re holding in the community, storytelling advice, contests, and
more.

On Wed, Feb 27, 2013 at 3:27 PM, Jo

[2013-02-27 22:44] ghing commented on #642
@jwirfs-brock, I don't understand repeating the top level item all by itself in the first column.  Can you clarify what your intention is with that suggestion?

[2013-02-27 22:47] bpawlak commented on #642
@jwirfs-brock My suggestion was to _not_ show the 2nd level navigation in the meganav only to keep it consistent with the rest of the site sections.

[2013-02-27 22:47] jwirfs-brock commented on #642
It's just a suggestion -- I'm totally open to better ideas! I've just
noticed that when people interact with the meganav, they tend to forget
that they can just click on the top level menu.

On Wed, Feb 27, 2013 at 3:44 PM, Geoffrey Hing notifications@github.comwrote:

[2013-02-27 22:48] jwirfs-brock commented on #642
@bpawlak Can you share an outline of what you had in mind? I'm having
trouble seeing how not showing the sub-categories would help people
understand what's in each item.

On Wed, Feb 27, 2013 at 3:47 PM, bpawlak notifications@github.com wrote:

[2013-02-27 22:54] bpawlak commented on #642
I think showing the sub-categories are a good idea (it's like a standard drop-down nav menu), I was just trying to say that if you want to be consistent across all of the site sections in the meganav, you could just use text to explain.

[2013-02-27 22:55] jwirfs-brock commented on #642
@ bpawlak Got it. Do you have a better suggestion for whether we should
also include the top level title? @ghing has a point that it's a bit
awkward floating by itself.

On Wed, Feb 27, 2013 at 3:54 PM, bpawlak notifications@github.com wrote:

[2013-02-27 23:23] jwirfs-brock commented on #642
@bpawlak and I just chatted about this over the phone and here's an updated recommendation:

[col 1]
**Top level name**
Second level list
[cols 2, 3,4 -- merged]
Top level description

So, for example, News & Updates will be:

[col 1]
**News & Updates**
Latest Updates
Story-Raisings
Storytelling Workshops
[cols 2, 3, 4]
Like a good story, Floodlight is a work in progress. Here, you’ll find informa

[2013-02-27 23:34] bpawlak commented on #642
Yep, that's what we discussed.

[2013-02-28 01:10] #643 closed, assigned to nobody

[2013-02-28 15:49] patternleaf commented on #642
the News & Updates menu has been updated. per discussion on the call this morning, i'm awaiting layout for About and Grow Your Skills from @jwirfs-brock.

by the way, i just switched the non-header links in the megamenu to sans-serif rather than Museo and i think it reads better. other opinions?

[2013-02-28 15:55] ghing commented on #642
@patternleaf Is this on deploy? I'm not understanding what you mean by "non-header links in the megamenu".  I'm also seeing some layout issues in the "News & Updates" megamenu, but I'll wait to post a screenshot before hearing if this has been updated on deploy.

[2013-02-28 15:59] patternleaf commented on #642
@ghing it is on deploy. yeah—please post a screenshot; i'm not seeing anything weird.

by "non-header links" i mean this:

![Screenshot 2:28:13 8:59 AM](https://f.cloud.github.com/assets/73439/205990/d957e01e-81bf-11e2-84cf-a772afbe7500.png)

[2013-02-28 16:04] ghing commented on #642
@patternleaf, even after a hard-refresh/cache clear, I'm neither seeing the font change and getting this weird layout issue:

![Screenshot from 2013-02-28 10:01:48](https://f.cloud.github.com/assets/110420/206000/472966d0-81c0-11e2-942b-9aa7c13da6e0.png)

Maybe an issue with less.js fetching stale CSS?

**Update:** Just tried it in a different browser and I saw the font change and no layout issues

[2013-02-28 20:44] ghing commented on #646
I've wired everything in as of b4ef616. Closing.

[2013-02-28 20:44] #646 closed, assigned to nobody

[2013-02-28 20:59] jwirfs-brock commented on #642
@patternleaf Here are the meganav outlines for About and Skills:

[col 1]
**About**
The Vision
Community Values
Partners
How it Works [once published]
[cols 2, 3, 4]
[Can we just keep these the way they are? I like how it is now.]

[col 1]
**Skills**
Elements of Storytelling [once published]
Reporting and Information Gathering [once published]
Photos and Images
Data Analysis and Visualization
Vide

[2013-02-28 22:53] ghing opened #662 "Section list wraps to second row when there are a large number of sections"
In a story with 23 sections, the section list appears like this:

![Screen Shot 2013-02-27 at 3 35 58 PM](https://f.cloud.github.com/assets/110420/207698/8409ddda-81f9-11e2-84f8-10f5909632a7.png)

When the section list wraps, the section and page titles are obscured.

[2013-02-28 23:13] ghing commented on #662
I was able to replicate this issue with a story with 10 sections (or 12 elements in the list including the "Story Information" and "Call to Action") in the latest versions of both Firefox and Chrome.

[2013-02-28 23:20] ghing commented on #662
Giving the `#section-list` element a height of 108px seems to fix the wrapping.

[2013-02-28 23:40] patternleaf commented on #642
@jwirfs-brock OK, those changes are on deploy.

it should be, but we should probably make a different issue for that.

ps, what would you all think of a different treatment for menus with text in columns 2-4? not necessarily this but something like this:

![Screenshot-2_28_13-4_32-PM](https://f.cloud.github.com/assets/73439/207852/3b50c9bc-8200-11e2-9d47-2b5549c2e7c5.png)

[2013-02-28 23:41] patternleaf commented on #642
@ghing not able to reproduce in Chrome for Mac. i have 25.0.1364.99.

[2013-02-28 23:42] patternleaf commented on #642
@jwirfs-brock note i meant _deploy_ in earlier comment: the changes are on deploy.

[2013-03-01 00:49] bpawlak commented on #642
I like the design idea, Eric.

[2013-03-01 00:50] jwirfs-brock commented on #642
@patternleaf I like that treatment!

Ok, I'll open up a separate issue for wiring it into the page content. We
can add that to iteration 12 or 13.
On Feb 28, 2013 4:42 PM, "Eric Miller" notifications@github.com wrote:

[2013-03-01 14:46] ghing commented on #642
@patternleaf I like your design treatment of the text in columns 2-4.  Send me a pull request when this is ready and I can take a look at what needs to happen to wire it up so the menu items aren't as hard coded.

[2013-03-01 15:06] patternleaf commented on #642
@ghing: Just submitted pull #663, which has commits for both this issue and #644.

[2013-03-01 19:30] ghing commented on #644
STILL TODO:
- Give news and updates page an id, add styles for menu highlighting for this section

[2013-03-01 19:32] ghing commented on #642
STILL TODO:
- Wire in links for news & updates section
- Wire in links programatically

[2013-03-01 22:01] patternleaf commented on #642
@ghing we'll need the ids for the hard-coded links, correct? looks like the pages on dev don't have them yet. let me know if i should handle this or you. also, can we dupe the data over to deploy at some point?

[2013-03-01 22:03] ghing commented on #644
@patternleaf, taking this issue to do the last bit of wiring

[2013-03-01 22:09] ghing commented on #642
@patternleaf, I'm going to open up an issue for the menu wiring and take a stab at that this afternoon and see if I can just pull the subsection links from the dynamic menu structure, avoiding the need to hard-code all the sub-page links.

[2013-03-01 22:16] ghing commented on #644
Gave _News & Updates_ page an id of _news_, moving on to update the CSS to reflect that

[2013-03-01 22:31] #644 closed, assigned to ghing

[2013-03-01 22:43] ghing opened #664 "Generate megamenu items dynamically"
Right now, megamenu items are hard-coded.  This causes a couple of problems:
1. `{% page_url "PAGE_ID" %}` throws an exception if the page with the requested ID doesn't exist, which is a pain in development environments
2. As sub-pages are added or removed, the megamenu has to be manually changed.

We should be able to generate at least some of the menu items dynamically from the menu structure.

[2013-03-01 22:45] ghing commented on #642
@patternleaf, @jwirfs-brock Opened #664 for the wiring up of the menu items dynamically.

[2013-03-01 22:55] #642 closed, assigned to nobody

[2013-03-04 04:02] jwirfs-brock commented on #426
@ghing I think I broke the "Grow Your Skills" page when I was trying to edit it.

In response to your comment on the "Content Outline" doc ("In this document, there are a number of places where the page titles, the titles in the megamenu nav and the title in the sidebar nav differ.  It’s important to balance clarity and consistency for the users with making things look good in sometimes limited sp

[2013-03-04 04:02] jwirfs-brock commented on #426
@ghing Note that the correct content is saved in the admin at http://floodlightproject.org/en/admin/cms/page/2/

[2013-03-04 04:17] jwirfs-brock commented on #426
@ghing Other than the plugins that  need to be moved once the updates to the template are pushed to production, and the bug with "Grow Your Skills", the current updates are ready to go. Let's check in tomorrow AM to arrange a work plan for getting them out by end of day.

[2013-03-04 04:43] jwirfs-brock commented on #625
Note: I just "untoggled" these stories from the homepage slider, and now they are at the top of the "Latest Stories" list on the homepage:
http://floodlightproject.org/en/stories/food-for-thought-volunteering-at-the-colorado-food/
http://floodlightproject.org/en/stories/groundwork-on-planting-peace-in-whittier/

[2013-03-04 14:32] ghing commented on #426
@jwirfs-brock The issue with the "Grow Your Skills" page is that there aren't any plugins in the body placeholders.  The text that you're seeing is just fallback text that gets shown when no placeholder content is defined that just happens to match the "About" page text.

The quick fix is to put some content in a text plugin in the "Twocol-Content" placeholder.

[2013-03-04 15:37] jwirfs-brock commented on #426
Weird. On the admin page I'm seeing text in the placeholders.

On Mon, Mar 4, 2013 at 7:32 AM, Geoffrey Hing notifications@github.comwrote:

[2013-03-04 15:38] jwirfs-brock commented on #426
Ok, now they are gone. So...when I changed the page name somehow the text
disappeared! Looks like I'll have to re-create it. Ugh, annoying!

On Mon, Mar 4, 2013 at 8:36 AM, Jordan Wirfs-Brock jordanwb@gmail.comwrote:

[2013-03-04 15:52] jwirfs-brock commented on #426
@ghing Ok, sorry about the confusion. It's Monday morning and I haven't had my coffee yet.

 I think what is happening is that the "Skills" page should just  have:
- description
- teasers

So no body content. If that's the case, should we put in an empty text plugin in the placeholder?

[2013-03-04 15:56] ghing commented on #426
@jwirfs-brock That's what I figured.  Yes, just throw an empty text plugin there for now.

[2013-03-04 15:58] jwirfs-brock commented on #426
@ghing Ok it's done.

On Mon, Mar 4, 2013 at 8:56 AM, Geoffrey Hing notifications@github.comwrote:

[2013-03-04 20:06] patternleaf commented on #649
ugh. initial investigation indicates something hacky may be required. using jQuery or the webkit inspector, you can flip the float:left property off and then on again and the menu will draw correctly. will continue investigating for other options.

[2013-03-04 20:35] patternleaf commented on #649
Have a not-terribly-hacky fix for this, though it's unclear where the problem lies: is it a bug in Chrome's rendering or is Chrome rendering something properly which other browsers are missing?

[2013-03-04 21:31] #664 closed, assigned to ghing

[2013-03-04 21:54] ghing commented on #645
I never heard back about a suggested layout for a "newspaper-style" version of this page, or how to differentiate featured updates from the "Latest Updates" sub-page.  For now, this will just use the default "Section Landing" template that lists all the sub-pages with their teasers.  We can re-open this issue if there's a strong urge to mess with the layout.

[2013-03-04 21:54] #645 closed, assigned to nobody

[2013-03-04 22:27] jwirfs-brock opened #665 "Sidebar nav on interior pages doesn't reflect page hierarchy"
For example, on About:

![sidebar_nav](https://f.cloud.github.com/assets/1020518/218953/5e0fdb42-851a-11e2-8a1a-c4c33db9e464.png)

Parent (About) and children (The Vision, Community Values, Partners, How it Works) all have the same color and size.

Should we display the hierarchical structure in the side nav?

If we want two, options are:
* Text color
* Text size

Note that if we even add in third

[2013-03-04 22:32] jwirfs-brock opened #666 "Sidebar nav is narrow, causes page titles to run onto multiple lines"
For example, on "Skills":

![sidebar_nav2](https://f.cloud.github.com/assets/1020518/218976/3c553000-851b-11e2-9fe4-79cbb8418c44.png)

"Photos and Images" and "Data Analysis and Visualization" run onto two and three lines respectively.

Options include adjusting the side-nav column width or making titles shorter.

[2013-03-04 23:50] patternleaf commented on #565
hey @jwirfs-brock, do you mean block quotes instead of pull-quotes? also can you point me to a story that has one in it? thanks.

[2013-03-05 00:25] jwirfs-brock commented on #565
@patternleaf There are actually two things this refers to:
a) block quotes (within text, indicated via html) -- as far as I know these
have no styling
b) quote assets

I'll have to double-check, but I believe in
http://floodlightproject.org/stories/charting-a-new-course-in-sheridan/,
there's a block quote on section 9 and a quote asset on section 4.

On Mon, Mar 4, 2013 at 4:50 PM, Eric Miller not

[2013-03-05 00:27] jwirfs-brock commented on #565
@patternleaf Oops, had that backwards...

There's a quote asset on section 9 (and 11).

I don't think this story has any block quotes. Let me look for an example...

On Mon, Mar 4, 2013 at 5:25 PM, Jordan Wirfs-Brock jordanwb@gmail.comwrote:

[2013-03-05 07:39] bpawlak commented on #665
Since we're repeating the top level nav item (to address people not clicking on the main menu after invoking the meganav, I think it actually makes more sense the way it's shown above.  The alternative:

About
    - - The Vision
    - - Community Values
    - - Partners
    - - How it Works

Would look odd, especially in the left-nav

[2013-03-05 14:12] ghing commented on #426
I've deployed the updated section landing templates and updated menus into production.  I'm going to close this issue. There are still some content updates that need to happen which are tracked in the [Content Outline](https://docs.google.com/document/d/1jgwx9NBwuFIbZxSAuwjlhkfqGwss-V9n4eeQhgRrlW4/edit) document.

If there is any remaining polish, that arises, please open it as a separate issue.

[2013-03-05 14:12] #426 closed, assigned to nobody

[2013-03-05 18:54] ghing commented on #535
I think that I can do this with a [unique_together](https://docs.djangoproject.com/en/dev/ref/models/options/#unique-together) constraint on the model with `section`, `container` and `weight` fields defining the constraint.  This would prevent having the same asset assigned to a section multiple times, but right now I can't imagine a use case where we'd want to support that, so I think it's ok.

I

[2013-03-05 20:22] ghing commented on #535
This code finds sections with assets that violate the constraint:

[code]

There aren't a terrible number of them.  The majority are old stories, created through the Django admin, but a few are old

I think this can be fixed with a data migration or manually cleaning things up.  There doesn't seem to be a legitimate case where the uniqueness constraint described above holds true.

[2013-03-05 21:40] ghing commented on #535
It looks like [unique_together might not prevent duplicates outside of the admin](http://stackoverflow.com/questions/8844283/django-unique-together-not-preventing-duplicates).

Testing this ...

**Update:** `unique_together` seems to get honored when calling `Model.save()` by raising `IntegrityError` when the constraint is violated.  This is the way that I'm checking this constraint.

[2013-03-05 23:38] ghing commented on #595
After talking to @patternleaf about this, it seems like the validation should happen server-side and that we shouldn't create an Asset model if the file type doesn't validate.  Because of this, we need to be able to send the file and the metadata in one request.  We can either make a separate endpoint, or make the existing endpoint support multipart form data.

It looks like https://github.com/toa

[2013-03-05 23:41] ghing commented on #625
I think the way to go is to add a `sort_weight` field that defaults to an integer representation of the published date and gets bumped each time a connected story is added.  Having the sort value be an integer field instead of a date allows for future flexibility if we want to have the sort order be a combination of variables.

[2013-03-06 15:51] jwirfs-brock opened #667 "Homepage banner rendering oddly before hard refresh"
I noticed this in both Firefox and Chrome (on Windows): The first time I visited the homepage after the Iteration 11 updates were deployed the banner did not appear correctly (was resizing but not cropping images).

After a hard refresh it rendered fine, but I just wanted to document this in case any one else runs into it.

Here's a screen shot:
![banner_weirdness](https://f.cloud.github.com/asset

[2013-03-06 16:10] ghing commented on #667
This is a result of #624.  I'm going to add #624 to Iteration 12 because I think with all the JavaScript changes in the builder/viewer, we'll want to make sure that users get them when they load the builder.

[2013-03-06 16:10] #667 closed, assigned to ghing

[2013-03-06 16:30] ghing commented on #624
Assigning to @patternleaf for review, assign it back to me when you've weighed in on which strategy seems the most reasonable.

[2013-03-06 19:42] ghing opened #668 "style-old.css still in repo"
`static/css/style-old.css` is still in the repo, but, based on a naive grep, it isn't being used anywhere.  If we're really not using it, remove it via `git rm`. It will still be in the git history if we need to refer back to it.

[2013-03-06 20:49] patternleaf commented on #565
ok, @jwirfs-brock i've applied the gray/italic box style to those quote assets. could you review? also, is there a place where the pull-quote style is ever used? we have a definition for it in the stylesheets, but it probably isn't wired up to anything.

[2013-03-06 21:03] patternleaf commented on #616
it appears that this is a result of the templates providing default values for certain fields. for example, the default value of the title field in an Image and Text section is "Image and Text". i think this is coming out of the template definition itself. this _should_ be put into the placeholder attribute of the input for that field, but not the value attribute.

i'm not 100% sure how to disting

[2013-03-06 21:57] ghing commented on #616
@patternleaf, you're right that the title gets copied over to the story when it's initialized from the template. But, before we get into dealing with that ...

Personally, I don't think this is really an issue.  What happens when the user clicks into the text input is that the cursor goes wherever the user clicks.  The behavior reported in the issue is because the input is often much longer than t

[2013-03-06 22:10] jwirfs-brock commented on #565
@patternleaf One example of the block quote style (which I just made bold,
because it didn't have its own styling) is in "Six-Word Memoirs" (
http://floodlightproject.org/en/stories/six-word-memoirs/) on section 3.

On Wed, Mar 6, 2013 at 1:49 PM, Eric Miller notifications@github.comwrote:

[2013-03-06 22:10] jwirfs-brock commented on #565
@patternleaf Note that the bold styling is something I added in (not a
default for styling the blockquote tag).

On Wed, Mar 6, 2013 at 3:09 PM, Jordan Wirfs-Brock jordanwb@gmail.comwrote:

[2013-03-06 22:51] ghing opened #669 "SectionAssetResource has different semantics because of using ToOneField for asset"
I think I was just trying to move fast when I implemented this.  By default, a ``ToOneField`` looks up the connected object/resource based on it's URL.  Generally, we've done away with using the URLs as IDs, so to make things consistent, we should resolve the Asset based on an asset id, not its endpoint URL.

[2013-03-06 23:01] ghing commented on #616
In a chat with @patternleaf, he did a good job of phrasing the fundamental issue as section titles having default values while most of the other inputs have no default values (but do have placeholders).

[2013-03-07 14:18] ghing opened #670 "Templates should suggest next steps, not predefine sections"
As @patternleaf and I were discussing #616, and trying to figure out how to handle suggested titles for sections, it made me think about how our concept of templates is broken.

Right now templates are:

* Metadata describing the types of stories the template is directed to
* A pre-defined set of sections with default titles, layouts and default or suggested asset types
* Help text describing what

[2013-03-07 14:33] bpawlak commented on #670
This is definitely in line with where I've been going in terms of thinking about this.  Great synthesizing!

[2013-03-07 15:56] ghing commented on #535
This is mostly working other than further testing of the required data migration with production data and a little bit of polish.

This screencast shows the current behavior of the fix: http://www.screenr.com/lbu7

@jwirfs-brock, I'm assigning this to you to get some feedback on 2 items.  Please reply and assign back to me.
1. Microcopy for the error message (see the screencast above to see how it

[2013-03-07 16:21] ghing opened #671 "Two POSTs when adding a second asset to a section"
## To replicate
1. Open a new story using the `Sandbox` template.
2. Edit the title to save the story.
3. In the first section, change the layout to the side-by-side one.
4. Create a text asset in the left hand container and save it
5. Create a text asset in the right hand container and save it
## Expected result

The right hand asset should save with no problems.
## What happens

An error message

[2013-03-07 18:55] #623 closed, assigned to nobody

[2013-03-07 19:04] jwirfs-brock commented on #535
@ghing One quick clarification question on how this works -- so it actually refreshes the assets after the user gets the error message? That is, will they see the asset they already added in the first window in the window?
1. I think the error message is pretty good. Small suggestion:

And then, depending on how the refresh works, instructions for what to do if they don't see the asset appear. (Sh

[2013-03-07 23:05] ghing commented on #658
Updated the title of the issue to more accurately reflect the problem.

[2013-03-07 23:22] ghing commented on #658
This HTML, as reported by a user, in an asset also causes the issue.  Note that it doesn't contain any `<script>` tags. I'm trying to figure out what about this markup is causing the problems.

[code]

Trying to diagnose what about the HTML breaks things.  This also breaks things:

[code]

but this doesn't:

[code]

but weirdly, this doesn't break either:

[code]

I'm not going to spend any more t

[2013-03-07 23:32] ghing commented on #487
Assigning this to you, @patternleaf, this would be a good one for you to take.

[2013-03-07 23:39] ghing commented on #565
@patternleaf, to add the pull quote cladd to the `<blockquote>` element for _quoatation_ type assets, edit `storybase_story.models.HtmlAsset.render_html` in `storybase_asset/models.py`

[2013-03-07 23:40] patternleaf commented on #565
note after discussion with @jwirfs-brock: use the "pull-quote" style in the everything comp for quote assets, and the bordered-gray style for instances of blockquote in story text content.

[2013-03-08 00:11] ghing opened #672 "Paste bin for scripts"
One of our big problems is supporting arbitrary embed codes.  One way to deal with it would be to set up a separate pastebin-like service that would let users input a script embed code and then get another IFRAME embed code that they coulld use in floodlight.  Since the iframe would be a different domain, a malicious script inside the iframe couldn't do any damage.

[2013-03-08 00:13] ghing commented on #636
This is a duplicate of #658. Closing.

[2013-03-08 00:13] #636 closed, assigned to ghing

[2013-03-08 02:41] ghing commented on #535
@jwirfs-brock, to answer your questions:

The fix does refresh the assets after the user gets the error message, so they see the asset they originally added (in the first window or tab) and should be able to keep working on that section in their current window.

Sure.

Sure.

[2013-03-08 14:07] ghing opened #673 "Character counter/limit indicator is active for text assets"
For now, this should only be active for the summary.  I could see it being useful in text assets, but with a different limit.  It would be nice to be able to just set an option in the code to easily toggle this behavior (maybe that's how it works now, I haven't looked).

Since the limit is just a warning, this doesn't prevent users from entering their text, but it might be confusing.

![Screenshot

[2013-03-08 15:07] ghing commented on #658
There's a lengthy discussion of dealing with this very situation in Rails at https://github.com/rails/rails/pull/3354.  If I'm parsing the discussion carefully, it looks like the JSON spec parses `/` and `\/` the same way to avoid this very problem.  We just need to escape our "solidus" character in our HTML.  I think this is as simple as

[code]

but I [asked on Stack Overflow](http://stackoverfl

[2013-03-08 16:01] ghing opened #674 "For text assets, store renderable text, not HTML"
Storing and rendering user-generated HTML isn't the safest thing to do.  While we need to find a way to support arbitrary HTML for embedding things, for text assets, we're mostly just concerned about formatting, so markup using a format like markdown and an editor like [markItUp](http://markitup.jaysalvat.com/) might be better and avoid the pain of sanitizing HTML in text assets.

[2013-03-08 21:42] patternleaf commented on #624
seems legit! :+1:

(... to clarify, i think the waiting for compression strategy until the builder is retrofitted seems good, and also the asset versioning pattern looks reasonable, as you say.)

[2013-03-11 16:53] ghing commented on #624
I started playing around with django-compressor because I wanted to double-check my assumption that using it really would be too much time.  Though the versioning-only

So far, I found that:
- [sekizai support doesn't support offline compression](https://groups.google.com/d/msg/django-cms/j8IM1ZmT9f0/wT5MXQAC518J)
- The current stable version of django-compressor (1.2) doesn't ship with the [sekiz

[2013-03-11 18:33] jwirfs-brock opened #675 "Using seeing an error message after clicking on email authentication link during sign up process"
Here's what happened:

* A user signed up via email.
* Then clicked on the emailed authentication link.
* Then was taken to an error message saying there was a problem with the authentication.
* Was nonetheless authenticated (i.e., when left site and came back, he was logged in).

So essentially, the authentication link is working, but sending the user to an error message anyway.

[2013-03-11 19:01] patternleaf commented on #565
ok, here's the pull-quote style applied (w/left alignment) to a quote asset:

http://deploy.atlas.terrorware.com/en/stories/charting-a-new-course-in-sheridan/viewer/#sections/d163f2d2a8ce4472b11b5e30c8504ec8

and here's the blockquote style applied to a blockquote:

http://deploy.atlas.terrorware.com/en/stories/six-word-memoirs/viewer/#sections/3b618d96223b4702aa3f5fd4a08d381f

@jwirfs-brock is th

[2013-03-11 19:17] patternleaf commented on #565
actually i'm going to post screenshots so i can work on other things on the server. blockquote:

![Screenshot 3:11:13 1:14 PM](https://f.cloud.github.com/assets/73439/245410/f1c89b70-8a7f-11e2-91cb-da96f743352f.png)

quote asset (pull-quote style):

![Screenshot 3:11:13 1:16 PM](https://f.cloud.github.com/assets/73439/245414/27b7f0fa-8a80-11e2-9256-26b8eaf32b8d.png)

[2013-03-11 19:18] jwirfs-brock commented on #565
This looks good, Eric.

On Mon, Mar 11, 2013 at 1:17 PM, Eric Miller notifications@github.comwrote:

[2013-03-11 19:20] ghing commented on #675
I wasn't able to replicate this doing some quick testing.

## Steps

I did this on staging, but it has the same software stack and a fairly recent version of the production data.  I can't think of any reason the outcomes should differ from staging to production.
1. Deleted the account for my test e-mail address.  This also deleted the associated registration profile model instance.
2. Made sure I

[2013-03-11 19:23] jwirfs-brock commented on #675
I couldn't replicate it either. But I have had reports of this before from
other users. I think we just don't know what exactly is causing it (there
could be something that they are doing that we aren't aware of/are missing).

[2013-03-11 19:31] ghing commented on #675
I did notice that if I visited the activation link a second time (after a successful activation), I saw the error message.

So, this could be a case of multitasking users clicking on the link (and successfully activating their account), then forgetting that they did this and clicking on it again and getting the error message.  Because they've already activated their account, they're able to use th

[2013-03-11 19:34] jwirfs-brock commented on #675
Hmm, yes it could be that he clicked on the link more than once.

On Mon, Mar 11, 2013 at 1:31 PM, Geoffrey Hing notifications@github.comwrote:

[2013-03-11 19:34] ghing commented on #675
If the scenario described in my previous comment is what's causing this for most of the users, the fix would be to show a specific error message for the case where the user has already activated the account instead of the default behavior of the registration framework, which is to use a single error template for all errors.

[2013-03-11 21:42] ghing commented on #624
I wired up django-compressor and it seemed to "just work" and it didn't complicate the templates very much at all.  This is the route I want to take.

[2013-03-11 22:13] ghing commented on #624
This thread has some information about (not) using django-compressor with requirejs for future reference.

[2013-03-11 22:43] patternleaf commented on #616
so i'm having some trouble getting this to do quite the right thing, even in the scenario wherein we don't try to recover  the story template's placeholder title/suggested title on load. summary of behavior:
- when creating a new story from a template, the first section title gets its template-defined placeholder
- when creating a new section, that section gets a generic 'Section Title' placeholde

[2013-03-11 22:44] patternleaf commented on #616
ps, the above is in commit 64cd08b.

[2013-03-12 19:17] ghing commented on #616
@patternleaf, my thinking in terms of putting UI strings in the template as opposed to the view was to have them be in the template as much as possible.  My thought was that for quick textual changes, being able to change everything in one place, and in a place where the context is more clear, would be the way to go.  I figured that more people understand editing HTML, even with some template mark

[2013-03-12 19:43] patternleaf commented on #616
@ghing that makes sense. the uncertainty i expressed above was more about putting _logic_ into the template. for example, [in this line](https://github.com/PitonFoundation/atlas/commit/64cd08b#L0R104) of commit 64cd08b, the section list widget gets an "Untitled Section" label if the section title is empty.

[code]

so in the issue i mentioned above

one solution would be to change

[code]

to

[co

[2013-03-12 20:02] ghing commented on #616
I also question putting logic in the template as well. I also don't like hard-coding strings in under-the-hood code either.

I think that this might be a case where the best way to go would be to write a [handlebars helper](http://handlebarsjs.com/#helpers) that works like the [default template filter in Django](https://docs.djangoproject.com/en/dev/ref/templates/builtins/#default). So, its syntax

[2013-03-12 21:18] patternleaf commented on #616
ok, i think we're good to go with this one.

[2013-03-12 21:42] jwirfs-brock commented on #487
Note that if you've done steps (3) - (5) above, but then refresh the page
before (6), you get the expected result.

On Tue, Mar 12, 2013 at 3:39 PM, Jordan Wirfs-Brock <
notifications@github.com> wrote:

[2013-03-13 12:27] #649 closed, assigned to nobody

[2013-03-13 12:28] #627 closed, assigned to nobody

[2013-03-13 12:28] #624 closed, assigned to ghing

[2013-03-13 12:29] #565 closed, assigned to nobody

[2013-03-14 00:00] patternleaf commented on #487
to update: the fix in 11869f3 works for Firefox but not for Chrome. pinning down exactly what's going on in both browsers is proving to be pretty tricky. it seems that behavior of the history API wrt iframes isn't really consistent across browsers. i have an alternative fix which seems to work for Chrome but not Firefox, but it's unclear as yet what the "right" fix for this will be.

[2013-03-14 16:29] jwirfs-brock opened #681 "Soundcloud embed via link is not working in Story Builder"
This one's a bit odd, because I know Soundcloud was working in the past. I did a test of a Soundcloud embed (here's the story: http://floodlightproject.org/build/5d99f64481c0471b9f176d9a357d7e6a/) by...
1. Choosing an audio asset
2. Pasting the link providing by Soundcloud when you click on the "Share" option for a clip (https://soundcloud.com/floodlightproject/test-3)
3. Saved the asset, and it d

[2013-03-14 16:30] jwirfs-brock commented on #681
Note that Soundcloud also provides embed code for a widget. Here's an example:

`<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F82774070"></iframe>`

But our audio asset doesn't have a field to enter embed code, only one for entering a link.

[2013-03-14 20:23] ghing commented on #658
Moving this to Iteration 12 because it seems pretty high priority.

[2013-03-14 20:25] ghing commented on #681
Moving to Iteration 12 because of high priority status.

[2013-03-14 20:28] ghing commented on #681
Just tested the SoundCloud oEmbed endpoint and it seems to be returning things ok, e.g. http://soundcloud.com/oembed?url=https://soundcloud.com/floodlightproject/test-3&format=json returns:

[code]

I need to see if this isn't getting through to our app or if it's more an issue of the IFRAMEd player not displaying properly in the viewer.

[2013-03-14 21:38] ghing commented on #681
@jwirfs-brock, the issue with this is the "https" in the URL vs. the "http".  I'll fix this to make the URL matching operation more flexible (I just copied them from the library's examples), but the quick workaround is to just use "http://" when you enter the URL instead of "https://"

[code]

[2013-03-14 21:43] jwirfs-brock commented on #681
Interesting. Brigid had this issue when embedding from Vimeo too, right?

It's odd in that I wasn't logged in to Soundcloud when I grabbed the link
-- the default one that they provide has https. I am wondering if maybe we
should make a note/provide some help text around this?

On Thu, Mar 14, 2013 at 3:38 PM, Geoffrey Hing notifications@github.comwrote:

[2013-03-14 21:44] ghing commented on #681
@jwirfs-brock, no need to provide help for this.  I'm going to make it "just work" in a second.

[2013-03-14 21:58] ghing opened #682 "Stories with a 'deleted' status show the status as "(None)" in the Django admin"

[2013-03-14 22:03] #681 closed, assigned to ghing

[2013-03-14 22:44] patternleaf commented on #487
ok, after many attempts and investigations, i'm starting to suspect that the only reasonable way to address this is to not change any aspect of the browsing context's url/location/history when the viewer is in a modal context. we will lose the ability to use the browser's back/fwd buttons to navigate in the story, but this doesn't strike me as particularly evil, since we have our own fairly obviou

[2013-03-15 15:07] ghing commented on #487
@patternleaf

I think it's fine to not update the browser's location/history when the viewer is shown in an iframe.  I think we should try to preserve it when opened in its own window/tab because I think it's nice for every section to have a URL, but when it's modal, we don't see the URL anyway, so there's no need to alter history/location.

I think the way to do this would be to add a querystring

[2013-03-15 16:58] ghing commented on #658
[simplejson.JSONEncoderforHTML](http://simplejson.readthedocs.org/en/latest/#simplejson.JSONEncoderForHTML) does this escaping. By default, Tastypie uses `core.serializers.json.DjangoJSONEncoder` to serialize JSON data.  It doesn't do any escaping.  The version of simplejson that ships with Django doesn't provide JSONEncoderForHTML.

This is the escaping code that JSONEncoderForHTML uses:

[code]

[2013-03-15 18:38] patternleaf commented on #487
So not relying on the Backbone router when the viewer is in an iframe seems to be doing the trick. What's not yet clear to me is what's up with connected stories and how those will relate to this. @ghing @jwirfs-brock do either of you know of a story with connected stories offhand, so I can make sure that's still working?

[2013-03-15 18:42] jwirfs-brock commented on #487
Sure, this one has connected stories:
http://www.floodlightproject.org/stories/six-word-memoirs/

On Fri, Mar 15, 2013 at 12:38 PM, Eric Miller notifications@github.comwrote:

[2013-03-15 22:15] ghing commented on #658
Ok, the HTML fragment that's breaking things as described in https://github.com/PitonFoundation/atlas/issues/658#issuecomment-14593189 is not due to "</" being contained in the JSON.  It has to do with some weird unicode characters.  I'll open a new issue for it.

[2013-03-15 22:19] ghing opened #683 "Line separator unicode characters in asset JSON breaks builder"
To replicate
-----------------

1. Navigate to the builder
2. Create a new "Photovoice story"
3. In the right hand container, create a text asset and click the "HTML" icon to enter HTML.
4. Enter this HTML in the text area:

[code]

5. Click the "Save" button
6. Reload the builder page using the browser's reload button or keyboard shortcut

Expected result
-----------------------

The story is loa

[2013-03-15 22:33] ghing commented on #658
Closed as of 9e292270270a00345080db5d5469f0e0089c6e2b

[2013-03-15 22:33] #658 closed, assigned to ghing

[2013-03-18 14:08] ghing opened #684 "Stories with long titles make title bar cut off content in viewer"
## To replicate
1. Open http://floodlightproject.org/en/stories/the-denver-foundation-prepares-for-the-seventh-cla/viewer/
## Expected result

Summary (and other body) content is visible.
## Observed result

Summary (and other body) content is cut off.

![Screenshot from 2013-03-18 09:06:58](https://f.cloud.github.com/assets/110420/270827/54107c26-8fd5-11e2-9118-62df10579003.png)

[2013-03-18 20:40] #616 closed, assigned to nobody

[2013-03-19 16:27] #535 closed, assigned to nobody

[2013-03-19 16:28] #671 closed, assigned to ghing

[2013-03-19 16:28] #487 closed, assigned to nobody

[2013-03-20 22:22] ghing commented on #595
There's not a great way to provide user feedback in IE <= 9 when the image type validation fails.  This is partly because [it's not easy to get the headers from the iframed request](http://cmlenz.github.com/jquery-iframe-transport/#section-13), but mostly because of [IE throwing an exception that I can't figure out](https://github.com/cmlenz/jquery-iframe-transport/issues/7).

I'm not going to ban

[2013-03-22 20:38] jwirfs-brock opened #687 "In Story Builder, if section titles are long, contents bar obscures title and layout selection fields"
See screen shot:
![SB_bug_32213](https://f.cloud.github.com/assets/1020518/292733/205a11c2-9330-11e2-9bb1-a1ca83480263.JPG)

This is happening int he story http://floodlightproject.org/en/build/924489b3f14a452ab1e6ae259a1ced32/. Note that the user fixed this by shortening the titles (had to delete existing sections and add new ones).

This story is now displaying sections on two rows in the table

[2013-03-22 20:42] jwirfs-brock opened #688 "Back scroll arrow in table of contents bar in builder not working properly"
In the story http://floodlightproject.org/en/build/924489b3f14a452ab1e6ae259a1ced32/, the back arrow is not working. That is, once you've scrolled to the last section, you can't scroll back to the beginning.

[2013-03-22 22:10] ghing commented on #687
This is actually a manifestation of #556.  The bar shows up in two rows because of the number of sections, not because the length of titles.  Closing and continuing to troubleshoot this as part of #556.

[2013-03-22 22:10] #687 closed, assigned to ghing

[2013-03-22 22:15] ghing commented on #688
This is also a manifestation of #556. The back scroll button stops working when there are a large number of sections (>10) because the slides are pushed down to two rows.  I'm closing this and will work on it as part of #556.

[2013-03-22 22:15] #688 closed, assigned to ghing

[2013-03-25 13:26] #556 closed, assigned to ghing

[2013-03-25 14:57] ghing opened #689 "Google Motion Charts get cut off when embedded in story"
When embedding a [Google Motion Chart](https://developers.google.com/chart/interactive/docs/gallery/motionchart) using the embed code generated from a Google Spreadsheet, the chart is often cut off.

This is because these charts are fixed-size.  By adjusting the height and weight parameters, and using "Preview" you can probably get the chart sized in a way that looks ok in your selected layout.

T

[2013-03-25 14:58] ghing commented on #689
Since this is a user-end fix, I'm closing.  I mostly created this issue to capture my finding in a place that wasn't an e-mail thread.

[2013-03-25 14:58] #689 closed, assigned to ghing

[2013-03-25 15:37] ghing opened #690 "TypeError when previewing some stories"
I saw this in the error logs for a previewing the URL of a story (`/stories/STORY_ID/preview/`).
## To replicate
1. As a logged in user, create a new story and save it.
2. Preview the story using the "Preview' menu item in the upper-right-hand corner of the builder.  This should open the story in the viewer in a new tab.
3. Copy the the preview URL and keep it on the clipboard or paste it somewher

[2013-03-25 16:16] #690 closed, assigned to ghing

[2013-03-25 17:04] ghing opened #691 "Wire up Sentry Support"

[2013-03-25 19:10] ghing commented on #691
Set this up. Super easy.

[2013-03-25 19:10] #691 closed, assigned to ghing

[2013-03-26 15:06] #566 closed, assigned to ghing

[2013-03-26 20:39] ghing commented on #92
This was an automatically imported user story and isn't really relevant any more, though there are definitely Spanish-language things that could be cleaned up.  Closing this issue.  We can open other issues for more specific cases.

[2013-03-26 20:39] #92 closed, assigned to nobody

[2013-03-26 20:40] ghing commented on #98
This has been implemented in one way or another through other stories/issues.  Closing.

[2013-03-26 20:40] #98 closed, assigned to nobody

[2013-03-26 20:44] ghing commented on #99
Implemented. Closing.

[2013-03-26 20:44] #99 closed, assigned to nobody

[2013-03-26 20:46] ghing commented on #100
Is this the admin or a user?

[2013-03-26 20:47] ghing commented on #123
Not sure what I meant when I opened this.  Closing.

[2013-03-26 20:47] #123 closed, assigned to ghing

[2013-03-26 20:51] ghing commented on #131
I'm not sure if this is a desired functionality anymore and is likely to be made irrelevant if we re-work the builder.  Closing.

[2013-03-26 20:51] #131 closed, assigned to ghing

[2013-03-26 20:53] ghing commented on #139
This was fixed a long time ago.

[2013-03-26 20:53] #139 closed, assigned to ghing

[2013-03-26 20:53] ghing commented on #140
This is no longer relevant since we re-worked the share widget and the story URL for sharing is now shown.

[2013-03-26 20:53] #140 closed, assigned to nobody

[2013-03-26 20:58] ghing commented on #141
I haven't seen this issue in production in months.  It might have been fixed indirectly when we upgraded Haystack, or with the caching strategy? Closing for now.

[2013-03-26 20:58] #141 closed, assigned to nobody

[2013-03-26 21:02] ghing commented on #206
@patternleaf, is this still an issue?  Can you post a screenshot if it is, otherwise close it.

[2013-03-26 21:07] ghing commented on #222
Note that a border has been added around the Summary field, making it more consistent with the title and byline fields, as well as a "Click to edit summary" placeholder.

There still aren't any save buttons, though I'm not positive that they're needed.

[2013-03-26 21:10] ghing commented on #261
This particular tab key issues appears to have been fixed as the builder design has been refined.  This doesn't necessarily mean there aren't any other tab ordering issues, but I'm going to close this and open new issues for other particular instances.

[2013-03-26 21:10] #261 closed, assigned to nobody

[2013-03-26 21:14] ghing commented on #267
@jwirfs-brock is this something that we're still considering?  Would it be better to implement a feature where organization names automatically get linked when displayed in the viewer instead of adding complexity in the UI?

[2013-03-26 21:19] ghing commented on #280
I wasn't able to replicate this. Pasting in the URL above caused the map to be displayed in the builder..  @jwirfs-brock, can you try this again and see if it still doesn't work for you? If you're not able to replicate, please close this issue.

[2013-03-26 21:23] ghing commented on #282
After implementing CSS cropping techniques and a lot of this stuff being redesigned, I think we can close this.

[2013-03-26 21:23] #282 closed, assigned to ghing

[2013-03-26 21:30] ghing commented on #318
This came up again a few months back when we redesigned the homepage. This is a result of the default behavior of the cycle plugin.  The dots are positioned so they're below the longest element.

After redesigning the homepage and removing all but one of the sliders on the homepage, and making the slider auto-cycle, I'm not sure if this is a big issue anymore.

[2013-03-26 21:32] ghing commented on #351
@patternleaf, I wasn't able to replicate this in the current codebase. I think it's been fixed.  Can you confirm that you're no longer seeing this and close this issue if it appears to be fixed?

[2013-03-26 21:34] ghing commented on #329
This was finalized/finished a long time ago.  Closing.

[2013-03-26 21:34] #329 closed, assigned to ghing

[2013-03-26 21:34] ghing commented on #334
Not sure what this is referring to.  Closing.

[2013-03-26 21:34] #334 closed, assigned to ghing

[2013-03-26 21:36] ghing commented on #349
I wasn't able to replicate this.  I think it's been fixed.  Closing.

[2013-03-26 21:36] #349 closed, assigned to nobody

[2013-03-26 21:40] ghing commented on #367
Here's a screenshot of the behavior (Chrome 31.0.1650.63, Ubuntu):

![screenshot from 2014-01-15 08 21 50](https://f.cloud.github.com/assets/110420/1920788/6c95c49a-7df0-11e3-948c-5eef70a12c9e.png)

[2013-03-26 21:45] ghing commented on #412
I still wasn't able to replicate this.  We can reopen if other users report this.

[2013-03-26 21:45] #412 closed, assigned to ghing

[2013-03-26 21:49] ghing commented on #453
Closing, I think that with the content reorg, all twocol pages now have a sidebar.

[2013-03-26 21:49] #453 closed, assigned to nobody

[2013-03-26 21:54] ghing commented on #481
The "TODO" prompt text has been removed. @jwirfs-brock, what should we use as a placeholder? Or is it fine to omit it since this has been "in the wild" without placeholder text for quite some time?

[2013-03-26 21:56] ghing commented on #482
This appears to have been fixed at some point. Closing.

[2013-03-26 21:56] #482 closed, assigned to ghing

[2013-03-26 21:57] ghing commented on #485
@patternleaf, it seems like we've taken care of this. Can you confirm?

[2013-03-26 22:03] ghing commented on #509
I'm assuming this has been taken care of since we deployed the homepage redesign.  Closing.

[2013-03-26 22:03] #509 closed, assigned to nobody

[2013-03-26 22:04] ghing commented on #525
This functionality was implemented and is in production.  Closing.

[2013-03-26 22:04] #525 closed, assigned to ghing

[2013-03-26 22:18] ghing commented on #536
I've run into this too.  This seems to be only for logged in "administrator" users who see the Django CMS toolbar.  For normal users, I don't think they see the "undefined" popup.

[2013-03-26 22:19] ghing commented on #571
This has been fixed.

[2013-03-26 22:19] #571 closed, assigned to ghing

[2013-03-27 02:00] wendynorris opened #692 "Asset drawer scrolls out of view for 3-up layout"
## Summary
- Dragging and dropping an asset from the asset drawer into a container doesn't always work
- Dragging and dropping assets from the drawer to a container can be difficult if you have large photos.
## Original report

A new Floodlight user passed along some feedback on difficulty she had with the asset drawer:

[2013-03-27 19:37] ghing commented on #633
@patternleaf, I'm seeing the "X" in Chrome 0.25 on Ubuntu even when not hovering.  Are you still seeing this?

![Screenshot from 2013-03-27 14:36:03](https://f.cloud.github.com/assets/110420/310179/9984dae4-9715-11e2-8201-73fc6c709de7.png)

[2013-03-27 19:39] ghing commented on #572
This doesn't seem to be an issue any more.  Closing.

[2013-03-27 19:39] #572 closed, assigned to ghing

[2013-03-28 21:41] tekhneco opened #693 "Issues with Storify embed in viewer"
I've noticed that the Storify slideshow I posted about the Redline story-raising [http://floodlightproject.org/en/stories/story/] keeps breaking. It'll work for a few days and then appears to deprecate resulting in only the first slide visible. I've reposted the slideshow script a couple of times and am still having the problem.

So, I re-posted the story with the traditional Storify stream to see

[2013-03-29 17:27] #625 closed, assigned to nobody

[2013-03-29 21:58] ghing opened #694 "Language code being shown on explore view rather than language name"
![Screenshot from 2013-03-29 16:52:24](https://f.cloud.github.com/assets/110420/319326/fa606eea-98ba-11e2-909b-293a35caac8c.png)

[2013-03-31 04:59] ghing commented on #694
The problem seems to be that in `storybase.utils.get_language_name`, the value of `settings.LANGUAGES` is sometimes evaluated as:

[code]

instead of:

[code]

This seems to be only an issue in my local development environment and on the development server and not the production server.

Also, it seems to work okay in local development the first time after the server is started, but on subsequent

[2013-03-31 05:21] ghing opened #695 "Publish/share button is positioned below Build button in connected builder"
![Screenshot from 2013-03-31 00:13:32](https://f.cloud.github.com/assets/110420/321372/60481f3e-99c2-11e2-85c2-f80d2e91108d.png)

This appears to only happen in Chrome

[2013-03-31 06:05] #695 closed, assigned to ghing

[2013-03-31 22:53] #610 closed, assigned to nobody

[2013-04-01 20:03] patternleaf commented on #206
The main thing I was seeing was something that is still happening, but seems not to persist the way it was—I wasn't able to get a screenshot of it. A related artifact is this, which is pretty minor:

![Screenshot 4:1:13 1:59 PM](https://f.cloud.github.com/assets/73439/325330/17b28afc-9b07-11e2-9487-5b61b9ed69a3.png)

I think it's still an issue, but quite low in priority.

[2013-04-01 20:04] patternleaf commented on #485
Confirmed. Closing.

[2013-04-01 20:04] #485 closed, assigned to nobody

[2013-04-02 02:58] ghing opened #696 "Asset views do not appear after switching workflow steps"
## To replicate
1. Create a new story in the story builder
2. Enter a title in the title field and click outside of the form input to make the story save
3. Click on a section in the section list and confirm that the asset views show up.
4. Click on another workflow step
5. Click on the "Build" workflow step
## Expected result

Asset views show up
## Observed result

No asset views are shown

[2013-04-02 03:51] #595 closed, assigned to ghing

[2013-04-02 03:51] #606 closed, assigned to ghing

[2013-04-02 03:51] #696 closed, assigned to ghing

[2013-04-02 13:31] ghing opened #697 "Closing tour using the upper-right hand corner "X" icon should turn it off forever"
Just as the "Close" button in the last step of the tour sets a cookie that suppresses the tour forever, the close icon in the upper-right-hand corner of the popup should also hide the tour forever.  I find it annoying and suspect that it's annoying to other users who don't want to see the tour but don't know that they can hide it by completing it.

[2013-04-02 13:36] ghing opened #698 "Break story metadata management into separate view"
So much code in the viewer deals with managing workflow state.  That seems wasteful, as it's not clear if users are frequently switching between the build step in the builder and the other workflow steps.

The publish step could also be broken out into a separate view, making the builder Backbone app just about building.

This is related to #581.

[2013-04-02 13:48] ghing opened #699 "Side-by-side layout only allows image and text content types"
Originally reported by a user via @tekhneco in #692

[2013-04-02 13:51] ghing commented on #699
@tekhneco, I wasn't able to replicate this with the Sandbox template.  I suspect that the user was actually using the PhotoVoice template which does restrict to image and text.  If you can get the URL when the user opens the story in the story builder (ideally) or the story title (a bit more difficult to lookup but still ok), I can take a look and get a better sense of what's going on with this.

[2013-04-02 13:52] ghing commented on #692
I broke the first item regarding the available content types into a separate issue (#699 Side-by-side layout only allows image and text content types).

[2013-04-02 13:56] ghing commented on #692
@tekhneco, I broke out what I see as the core issues that the user raised in the issue summary above.  Regarding the second point (issues dragging and dropping when there are large photos), I'm not sure if the user means large photos in the asset drawer or large photos in the section containers.  If I could get the story's builder URL (best) or title (ok, still lets me lookup the story), I can tak

[2013-04-02 14:02] ghing commented on #693
Updated issue title for clarity.

[2013-04-02 14:12] ghing commented on #693
@tekhneco, can you copy and paste the embed codes for both the slideshow and traditional stream into this issue so I can do some testing?

The traditional Storify stream embed (which is what I assume is currently embedded in the story) works ok for me in Chrome.

I was able to replicate the issue that you reported in Firefox.  I suspect this is because the Storify embed script sets the height of t

[2013-04-02 15:29] wendynorris commented on #692
Here's the Story Builder URL:

http://www.floodlightproject.org/en/build/7a22cadacb2f48bbbaa0d571f80f8d5b/

Here's the public story in the viewer:

http://floodlightproject.org/stories/new-freedom-park-community-garden-service-project/

One issue here that might relate: I have found that authors do not appear to be compressing their images or video before uploading resulting in huge files (both ph

[2013-04-02 15:32] wendynorris commented on #693
Here's the regular embed script (without SEO):

`<script src="//storify.com/FloodlightStory/near-northeast-denver-story-raising.js"></script><noscript>[<a href="//storify.com/FloodlightStory/near-northeast-denver-story-raising" target="_blank">View the story "Near Northeast Denver Story-Raising" on Storify</a>]</noscript>`

Here's the slideshow embed script (without SEO):

`<script src="//storify.

[2013-04-02 15:38] wendynorris commented on #699
Here's the Story Builder URL:

http://www.floodlightproject.org/en/build/7a22cadacb2f48bbbaa0d571f80f8d5b/

Here's the public story in the viewer:

http://floodlightproject.org/stories/new-freedom-park-community-garden-service-project/

[2013-04-02 21:39] #697 closed, assigned to ghing

[2013-04-02 22:01] ghing opened #700 "Yahoo Geocoder broken"
Traceback:

[code]

The Yahoo geopy geocoder uses the URL http://where.yahooapis.com/geocode (see https://github.com/geopy/geopy/blob/master/geopy/geocoders/yahoo.py#L21) which returns a 404 when visited.

[2013-04-02 22:15] ghing commented on #700
Apparently the [Yahoo Placefinder API has been shut down](http://tech.groups.yahoo.com/group/ysearchboss/message/5163).  Its replacement is the [Yahoo! BOSS Geo Services](http://developer.yahoo.com/boss/geo/) which is no longer free.  Looks like we'll need to switch geocoders.

[2013-04-03 16:08] patternleaf commented on #633
@ghing yeah, still seeing it on Safari and Chrome on OS X.

[2013-04-03 16:16] ghing commented on #633
@patternleaf, can you post a screenshot so I can see how it looks different than Chrome on Ubuntu?

[2013-04-03 16:25] patternleaf commented on #633
![Fullscreen 4:3:13 10:24 AM-2](https://f.cloud.github.com/assets/73439/334716/028641da-9c7b-11e2-9cf1-181b72a28719.png)

[2013-04-03 16:27] ghing commented on #633
@patternleaf, wow. Weird.

[2013-04-03 16:53] patternleaf commented on #684
So right now the body container has a hard-coded padding-top while the header is position:fixed. I'm not sure off-hand if there's a pure CSS way to make this work. @ghing do you have a suggestion on that front? If not it should be easy to add in some JS to dynamically set the padding on the body.

[2013-04-03 16:58] patternleaf commented on #684
Another option might be to reconfigure the layout and use overflow:auto on the body container, rather than position:fixed for header and footer elements. This would also take care of the footer position bump that happens when moving between longer sections and shorter sections. @ghing any thoughts?

[2013-04-03 17:11] ghing commented on #684
@patternleaf, I might be missing something, but my first thought is that we can just get rid of the `position:fixed` CSS property on the header element and any hard-coded padding on the body.  I think that's an artifact from when we had the linear, vertically scrolling story viewer where the active section heading would be shown in the header.  All that's long gone, so it seems silly to have the f

[2013-04-03 17:32] patternleaf commented on #673
Right now the counter JS is triggered by the presence of an element with class character-counter. Which, it turns out, is always present in the editor-toolbar-template handlebars template, used in the RichTextEditorMixin. @ghing At what level do you think it would be most appropriate/convenient to toggle the counter?

[2013-04-03 17:38] patternleaf commented on #559
note to self: probably can just change https://github.com/PitonFoundation/atlas/blob/develop/static/js/explorer/views.js#L997 to use prepend instead of append. (currently dev environment is unavailable to test.)

[2013-04-03 17:41] patternleaf commented on #526
I don't think this is an issue anymore. @ghing can you confirm?

[2013-04-03 17:42] ghing commented on #673
@patternleaf, Off the top of my head, I think the quick fix would be to have a character limit option passed into views that implement the RichTextEditorMixin.  Then, somewhere in that view code, add the character-counter element if the character limit option is present.

[2013-04-03 17:44] ghing commented on #526
@patternleaf, I think this is still an issue, and not just on the homepage.

[2013-04-03 17:51] patternleaf commented on #503
I recall checking this fix, but just to be sure I tried again. Unfortunately I no longer have an XP/IE8 environment. However, in Win7, using IE9 _in IE8 mode_ ... this seems to be fixed. I'm feeling like closing this is ok, but if others disagree, feel free to re-open.

[2013-04-03 17:51] #503 closed, assigned to nobody

[2013-04-03 17:54] patternleaf commented on #526
@ghing I'm not able to reproduce ... am I missing something?

[2013-04-03 17:58] ghing commented on #700
Added a mock geocoder to make tests less brittle under CI.  Updated STORYBASE_GEOCODER setting in dev, production and staging instances to use the Bing geocoder. Seems to work fine.

[2013-04-03 17:58] #700 closed, assigned to ghing

[2013-04-03 17:58] patternleaf opened #702 "Long usernames bump megamenu down."
When a user with a long username is logged in, the name in the top-right header "Hi, someonewithalongusername" wraps, bumping down everything else in the header, including the megamenu.

May be related to #540.

![Fullscreen 4:3:13 11:57 AM](https://f.cloud.github.com/assets/73439/335285/0cbf4306-9c88-11e2-8dc1-a1fd746d2392.png)

[2013-04-03 18:01] ghing commented on #526
I'm not able to reproduce this any more either.  I thought I saw it recently, but apparently not.  Closing.

[2013-04-03 18:01] #526 closed, assigned to nobody

[2013-04-03 18:11] patternleaf commented on #351
Confirmed. Closing.

[2013-04-03 18:11] #351 closed, assigned to nobody

[2013-04-04 21:50] ghing commented on #548
@jwirfs-brock There's a version of this with a green flashing last-saved message on save instead of the alert bar on dev. Let me know what you think.

[2013-04-05 16:27] jwirfs-brock commented on #548
I like this solution. Looks good.

On Thu, Apr 4, 2013 at 5:50 PM, Geoffrey Hing notifications@github.comwrote:

[2013-04-08 12:38] ghing opened #703 "News item links in homepage slider don't work"
To replicate:
1. Visit the homepage
2. Click on a news item's title in the slider

Expected behavior:

The detail page for a news item is loaded

Observed behavior:

The home page is reloaded

Looking at the source, the href attribute is empty, i.e `<a href="" ...>`.

[2013-04-08 15:01] ghing commented on #703
It looks like originally, News Items didn't have URLs and it was explicitly hidden from the output.  With the site content reorganization, they now have URLs, so we can render them in the homepage slider.

[2013-04-08 15:36] #668 closed, assigned to nobody

[2013-04-08 15:51] ghing commented on #703
This is fixed by 9410bf9fa99e28ece746aa4d1173d6b33facdf8b and the fix has been deployed to production.

cc @jwirfs-brock

[2013-04-08 15:51] #703 closed, assigned to ghing

[2013-04-08 16:39] ghing commented on #548
@jwirfs-brock I've updated dev with an approach that I prefer, toggling the color and text of the button itself rather than flashing the last saved message.  Please take a look on dev and let me know what you think.

Also, I'd like to update the last saved timestamp (that is revealed by hovering over the save button) so that it's more human readable (e.g. "Last saved 3 minutes ago" instead of "Las

[2013-04-08 18:26] jwirfs-brock commented on #548
@ghing My only comment is that the "Saved" state looks like a button, which
makes me think that it's clickable when it isn't, but I don't think that's
really a problem. It's fine as is.

I like the idea of turning it to "Last saved 3 minutes ago..." instead of
the time stamp.

On Mon, Apr 8, 2013 at 12:39 PM, Geoffrey Hing notifications@github.comwrote:

[2013-04-09 14:02] ghing commented on #548
@jwirfs-brock It's supposed to look like a button, really it is a button, but I need to get the toggling of enabled/disabled states right.  My idea is that the auto save triggers the button state/style which also tells the user "This is where you click to manually save the story" or "actions related to saving happen here".

I'm happy to explore showing a message separate from the button, but I lik

[2013-04-09 14:11] jwirfs-brock commented on #548
@ghing I agree that it should look like a button. To restate my earlier
comment in a better way, when it says "Saved" (green) it looks like the
clickable state of the button and when it says "Save" (grey) it likes like
it's the unclickable state. I think that's probably just because of the
color scheme. I don't really have a better solution in mind, because the
"green means your story has been sav

[2013-04-09 15:10] patternleaf commented on #548
@ghing @jwirfs-brock how about a little check icon within the save button rather than green color? http://fortawesome.github.io/Font-Awesome/#icon/icon-ok

[2013-04-09 16:32] ghing commented on #548
@patternleaf, @jwirfs-brock I like the suggestion of the check icon.  I'm going to try that after lunch.

[2013-04-09 16:56] patternleaf opened #704 "A Builder Redesign Sketch 1"
A sketch of possible builder re-implementation to provoke thought/conversation. Main features:
- No separate viewer/builder (at least from user's point of view). When logged in, viewer has an "Edit" switch which reveals Edit mode chrome and features.
- Two main editing modes: **Pages** and **Meta** (names TBD of course)
  - Pages is a WYSIWYG view of story with in-place editing.
  - Meta is the "b

[2013-04-09 17:25] jwirfs-brock commented on #704
I'm going to start posting some more inspiration/idea links here...

This latest design idea reminds me of mind-mapping software. But what makes it different is that the end goal is to present it to someone else -- rather than to organize your own thoughts. I haven't been that impressed with mind-mapping software in the past (I've used Freemind before), but just saw iThought, which seems kinda coo

[2013-04-09 19:01] ghing commented on #548
@jwirfs-brock, @patternleaf The version of this with the more human-readable timestamps and icons to indicate saving state is now on dev.  Please give it a final look over and assign this issue back to me once we're good.

[2013-04-09 19:10] bpawlak commented on #548
Looks good but the only comment I have is the positioning of the "last saved" message... is there any room to move it to the right of the button so that we avoid having it overlap the "Start Over" link (which stays visible until you hover over it)

![image](https://f.cloud.github.com/assets/2250519/358695/129f7d70-a149-11e2-9742-1d2bee2c1eb5.png)

[2013-04-09 20:06] ghing commented on #548
@bpawlak, I moved the last saved tooltip to appear to the right of the button instead of above it.  This is live on dev now.

[2013-04-09 20:35] bpawlak commented on #548
Thanks, Geoff.  Still seeing some weird positioning behavior:

![image](https://f.cloud.github.com/assets/2250519/359093/f80a9b0a-a154-11e2-878d-c3f4d1d2347d.png)

[2013-04-09 20:37] jwirfs-brock commented on #548
I'm also seeing the overlap behavior (in Chrome).

On Tue, Apr 9, 2013 at 4:35 PM, bpawlak notifications@github.com wrote:

[2013-04-09 21:29] ghing commented on #548
@bpawlak, @jwirfs-brock I made the button a consistent width so it's width doesn't change as the button icon/text changes, avoiding the [overlap described by Bill](https://github.com/PitonFoundation/atlas/issues/548#issuecomment-16138391).  I think this is the best we can do right now.  The newer version of the [jQuery Tooltipster plugin](http://calebjacob.com/tooltipster/) has a much wider API, w

[2013-04-10 15:53] jwirfs-brock commented on #704
I put together an outline of how the narrative/semantic structures would interact with this builder re-design. It's in Google Docs: https://docs.google.com/document/d/156aus3sowa0hKFCAr766ToXyxwMOUxWm7Pz93a_fMUY/edit#

In this doc, I have...
A. Some sample narrative structures (and diagrams of them)
B. The commons building blocks of a narrative arc
C. Prompts/questions that could help a user flesh

[2013-04-10 16:01] ghing commented on #704
@patternleaf, in your proposed meta narrative editor, do the "Who", "What", "Actions" and "Effects" blocks correspond to "Pages", or are they something else?

[2013-04-10 16:18] jwirfs-brock commented on #704
Ok, here's my very rough, probably incomprehensible, sketch. More detailed picture coming shortly...
![builder_rough_sketch](https://f.cloud.github.com/assets/1020518/363127/47b4a5ba-a1fa-11e2-91c8-961bcbf050b5.jpg)

[2013-04-10 16:19] patternleaf commented on #704
@ghing No, "Pages" are like our current Sections. A page corresponds to what a viewer will see as a single page of the story. This is assuming a linear, page/section-driven structure, as opposed to some other structure.

The Who/What/etc represent elements of semantic/narrative structure: goals, devices, questions, or what-not. Just what these are needs to be fleshed out.

But the general idea is

[2013-04-10 16:30] ghing commented on #704
@patternleaf, so the narrative structure functions somewhat like a checklist, where a storyteller defines their narrative objectives/components and then can easily see if the story they're building is matching up with their "plan"?

[2013-04-10 16:35] ghing opened #706 "Spatial search form should match site-wide form styles"

[2013-04-10 16:38] patternleaf commented on #704
@jwirfs-brock that's cool and quite comprehensible. I wonder if there's a role for non-linear relationships, or if a linear arc structure of one sort or another is always sufficient?

Hm. Just ran across this paper: [Narrative Visualization: Telling Stories with Data](http://vis.stanford.edu/files/2010-Narrative-InfoVis.pdf). Haven't read it but it looks like it may lay out some ways to think abou

[2013-04-10 16:46] jwirfs-brock commented on #704
@patternleaf That paper was pretty much the inspiration for this entire
project. It's definitely worth a full read (and for those of us who've read
it before, a re-read for sure). I think once thing we've realized through
the first version of the builder is that the "Narrative Visualization"
paper looks at presentation structure, and pre-supposed that whoever is
presenting the stories has a good u