[2013-04-10 16:58] jwirfs-brock commented on #704
Ok, here's roughly what I pictured it might look like with the narrative structure incorporated into the drag-and-drop/open-canvas design.
This shows the basic narrative structure in the center of the canvas. All of the elements are "greyed out" because the user hasn't filled them in with content yet, so they are just place-holders. The library of building block elements is at the left. (I picture

[2013-04-10 17:00] patternleaf commented on #704
@jwirfs-brock  Oh. Well then. :)

This all makes me think, by the way, of an architecture studio I took. I designed a kind of force-directed graph to try to map all the stuff we were working with: [ginormous pdf](http://costa.patternleaf.com/boards/network.pdf).

![Screenshot 4:10:13 10:34 AM](https://f.cloud.github.com/assets/73439/363198/9b19c4fe-a1fc-11e2-82c0-a5d8dec9010a.png)

The structure w

[2013-04-10 17:01] jwirfs-brock commented on #704
@patternleaf Yes, I do see this supporting both linear and non-linear structures. You could have a branching narrative structure, for example, that is best viewed on an image map. Or, you could flatten the narrative structure and view it linearly.

For the purposes of testing this concept, I'm thinking you could add as many building blocks as you want, but they would have to serve SOME purpose. Th

[2013-04-10 17:02] jwirfs-brock commented on #704
@patternleaf Whoa, that's really cool!

[2013-04-10 21:54] #706 closed, assigned to ghing

[2013-04-10 22:17] ghing commented on #704
Here's some sketches I did today, really they're an iteration on @patternleaf's sketches.  Mostly it's variations of the chrome for different elements.

I think the real interesting work is in the story conceptualization interface, but I still need to give that some thought.

![builder_redesign_sketch-geoff-1](https://f.cloud.github.com/assets/110420/364892/4a0d70f8-a22c-11e2-8d4a-a7dd210d8d72.jpg

[2013-04-11 01:05] bpawlak commented on #704
Jordan, your image that discusses the responsive grid is kind of the direction I was thinking about going with my ideas for a builder.  Basically, we give people a canvas (screen, page, whatever we call it) and on that page the user can place any number of assets (images, audio, video, map, title, etc.) they want, but each asset scales appropriately and automatically, based on the sizing of everyt

[2013-04-11 01:51] bpawlak commented on #704
Another thought I had was that instead of just letting users add "slides" to the left and right of any given canvas, they could also add slides above and below.  If a user wanted to tell a straight linear story, they could by just simply starting with a slide and add another one next to it (or below it) and then - as you add more slides, keep going in the same direction.

However, if a user was bu

[2013-04-11 01:59] bpawlak commented on #704
Then the final main thought I had was along the lines of separating out the builder tool from the "story constructor" tool.  (similar to how we've been talking about moving all of the tagging and copyright and featured image functionality out of the builder and into Floodlight proper)

So if a user just wanted to jump into the builder b/c they had something in mind and are a seasoned storyteller,

[2013-04-11 02:25] ghing commented on #501
I'm seeing some version of this in IE9 as well.  I think it's related to the positioning of the "show more" link.

Here's how it looks in Chrome:

![show_more-chrome](https://f.cloud.github.com/assets/110420/365571/0f94b0bc-a24f-11e2-8dc1-01c0df6feeb7.png)

And here it is in IE9:

![show_more-ie](https://f.cloud.github.com/assets/110420/365572/19f06d58-a24f-11e2-9f4d-42ee6a7b10aa.png)

[2013-04-11 02:35] ghing commented on #501
@patternleaf, I'm not seeing "Tile button does not have a background" in IE9.  Did you report this in IE8 because you saw it there but not in IE9, or just because IE8 is the version of IE you happened to have available?

[2013-04-11 02:48] ghing commented on #692
I took a closer look at this.  I believe the problem is that the asset drawer scrolls out of view for tall layouts (like 3-up).

![asset_drawer_scrolling_out_of_view](https://f.cloud.github.com/assets/110420/365611/0b8d82e8-a252-11e2-8f3f-c18e834c2e31.png)

In this screenshot, I've scrolled down to the second of the 3 elements in the 3-up layout.  Note that the asset drawer has almost scrolled out

[2013-04-11 02:54] wendynorris commented on #692
Thanks Geoff!

[2013-04-11 02:57] ghing commented on #699
I confirmed that this story was using the PhotoVoice template, which does limit the left container to an image and the right to text. This is working as designed, though I understand why it's frustrating to the user.  I'm going to close this issue.  But, @tekhneco, let me know if the user wants a specific layout for this story.  I can twiddle things on the backend to let them do whatever they want

[2013-04-11 02:57] #699 closed, assigned to nobody

[2013-04-11 12:48] jwirfs-brock commented on #704
Has anyone ever used or played around with Scrivener (http://www.literatureandlatte.com/scrivener.php)? It's desktop software designed to help writers organize and outline long, complex projects, track their research, and then actually (you guessed it) write. Although we are aiming for quick hit stories instead of novels, longform non-fiction articles, or research papers, I thought some of their d

[2013-04-11 13:21] jwirfs-brock commented on #704
@bpawlak Your suggestion for,

is really interesting.

Going back to the workflow interviews, I observed that...
- Some people conflate the outlining and the composition/writing process. That is, they do them at the same time.
- Some people always start with an outline before they write (or create).
- Some people almost never outline. It's only something they turn to when they get stuck.

There ar

[2013-04-11 14:05] jwirfs-brock commented on #704
As we are having this discussion, two main questions/hypotheses keep bubbling up in my brain:

QUESTION 1: Can people read stories in non-linear formats?
HYPOTHESIS 1: People will enjoy reading stories in non-linear formats, and it will keep them more engaged than reading a story in a traditional web-format because it is a more ACTIVE mode of reading.

QUESTION 2: Where and how does the process of

[2013-04-11 14:07] ghing commented on #692
The drawer layout is pretty broken. I think my original intent was to rely on CSS to scale the main content when the drawer was opened, and this works pretty well, but the more I use the drawer, and based on this issue, I think the drawer needs to be positioned fixed so it doesn't scroll with the rest of the content.  I'm going to work on fixing this today and tomorrow.

[2013-04-11 14:14] ghing opened #707 "Factor template handling into base view"
There's a lot of repeated code dealing with compiling and looking up templates. It would clean things up a lot to factor this into a base view such as https://gist.github.com/ghing/5363702

[2013-04-11 14:37] bpawlak commented on #704
Another question is if/how an _outline_ is the best tool to create a non-linear story or if some sort of other mechanism (e.g., mind-mapping) should be used.

[2013-04-11 14:47] #548 closed, assigned to nobody

[2013-04-11 15:42] ghing opened #708 "Maps look bad, are too large in asset drawer"
Maps are rendered as their actual size in the asset drawer so they both look weird and make it difficult to see other assets.

![Screenshot from 2013-04-11 10:38:41](https://f.cloud.github.com/assets/110420/368362/5946039a-a2be-11e2-98b1-8dff816a51bf.png)

[2013-04-11 18:22] ghing commented on #692
This is fixed and deployed into production.  Maps in the drawer are still ugly (see #708), but the fix in 29930b2 should at least make the scrolling and dragging behavior work correctly.

[2013-04-11 18:22] #692 closed, assigned to nobody

[2013-04-11 18:34] ghing commented on #559
@patternleaf, can this be closed now?

[2013-04-11 18:36] ghing commented on #280
Tested this again and it seems to be working fine.  I'm going to close this.

[2013-04-11 18:36] #280 closed, assigned to nobody

[2013-04-11 18:45] patternleaf commented on #559
Yes.

[2013-04-11 18:45] #559 closed, assigned to nobody

[2013-04-11 19:18] ghing commented on #708
There are a couple of options to address this:
1. Show an icon instead of the rendered map. This is easy to do, the downside is that if there are multiple maps, the user can't easily know which one is which without adding it to a container
2. Show an icon instead of the rendered map.  Show the rendered map in a popup when the user hovers (or maybe clicks a preview link, it might take a little twea

[2013-04-11 20:48] jwirfs-brock commented on #704
I just got off the phone with Daniel Weinshenker of the Center for Digital Storytelling (http://www.storycenter.org/). He also has noticed that it's extremely difficult to teach people how to construct narratives. He had an interesting suggestion for our story builder based on the site http://oneword.com/. The idea is to start with a reflective prompt. That is, users would have to spend a minute,

[2013-04-12 13:57] ghing opened #709 "Table of contents toggle does not work"

[2013-04-12 13:57] #707 closed, assigned to ghing

[2013-04-12 14:13] bpawlak commented on #708
I think even #3 would require a popup/hover/click that would let the user see a larger version of the map.  The details of the map would likely be too small to differentiate at thumbnail size.

[2013-04-12 14:17] ghing commented on #708
@bpawlak, good point.  2 seems the best then?

[2013-04-12 14:18] bpawlak commented on #708
I'd love to see 3 implemented, as I think it's more inline with showing thumbnails of images, but I understand that it has its challenges.

[2013-04-12 14:23] ghing commented on #708
@bpawlak Well, since the popup is needed anyway, I can do 2 and then start experimenting with 3.  If you know of any good, easy ways to generate images of arbitrary rendered HTML, let me know.  I've not had to do this before and my best guess is to use a library wrapping an HTML rendering engine (or headless browser).

[2013-04-12 14:28] bpawlak commented on #708
Found some online tools (http://www.prodraw.net/online-tool/google-maps-image-generator.php) and http://www.phpriot.com/articles/static-google-maps

[2013-04-12 14:53] ghing commented on #709
This is a regression introduced in f1581653a5f9c08d14681f514b66126eb4505894 because the base class' `events` property is getting clobbered by the definition in the subclass.

[2013-04-12 14:53] #709 closed, assigned to ghing

[2013-04-12 15:01] ghing commented on #708
@bpawlak Thanks for looking that up.  I'll look into the approach described in the [Generating Static Google Maps](http://www.phpriot.com/articles/static-google-maps) article. I wasn't aware of the static image API. Unfortunately, I don't think the approach will work for us since we're given arbitrary Google Maps urls or embed codes from the user.  Furthermore, we don't require Google Maps, so use

[2013-04-12 15:05] jwirfs-brock commented on #708
I like the #2 option. I agree with Bill that when a Google map is shown as a thumbnail, it's hard to distinguish between them anyway. It also seems like it flows pretty easily out of #1. That is, you could implement 1 first in the short term, then add in 2 if it ends up taking more time.

I'm not sure how common it would be for someone to tend up having multiple maps in the asset drawer. Seems lik

[2013-04-12 15:09] ghing opened #710 "Wrap JavaScript modules in a function, use local variables for exports"
Wrapping our JavaScript modules in a function is probably good to avoid clobbering global variables.  We can then use local variables to refer to "exported" items instead of repeating things like "storybase.builder.views" everywhere.

[2013-04-12 15:15] ghing commented on #710
We can probably get rid of the Namespace.js dependency as part of this.

[2013-04-12 15:20] jwirfs-brock commented on #708
Another option would be to add a title field to map assets. That way, you could distinguish multiple maps with the same icon via the title. What I don't like about this is that then you have to decide whether to display the title. Often, if I'm creating a map that is an image, I'll include the title in there. But...I guess if it's a map that is uploaded as an image file, creating a thumbnail would

[2013-04-12 15:23] jwirfs-brock commented on #100
This was originally intended to be for the Organization or Project owner. We never implemented controls for them. In recent weeks, though, I've received some comments from users who would like to actively control some features about their Organization or Project page after it has been created.

[2013-04-12 15:24] bpawlak commented on #708
It seems like we'd be asking people to artificially create a title for a map, just for the purposes of distinguishing them in the asset container.  Do we ever change the order that assets are listed in the container?  I ask because if I'm building a story, _I_ know which assets I've put in there, so maybe there won't be as much confusion as we're anticipating.  Esp. true if, like you say, multiple

[2013-04-12 15:26] jwirfs-brock commented on #164
@ghing has this been implemented? I know after logging in, existing users are directed to "My Account" page.

[2013-04-12 15:30] jwirfs-brock commented on #708
Well, it's good (and standard) practice for every map to have a title. Just
like it's good practice for every chart/graph to have a descriptive title.
The question is, we don't know if whatever map they are embedding already
has a title associated with it. But yes...I don't thinking enforcing a
title is necessary a good solution for this. Just throwing it out in case
it inspires something better..

[2013-04-12 15:38] jwirfs-brock commented on #222
I'm going to close this one and open  a separate but related issue: The way you edit and then save text is different on the Summary and on text assets, which is confusing for users (you have to click "Save" with text assets and with captions, but not with the Summary -- which trains people to not look for the "Save" button, and then they end up losing their text assets because they don't save them

[2013-04-12 15:38] #222 closed, assigned to ghing

[2013-04-12 15:40] bpawlak commented on #708
Sorry, I wasn't clear in my explanation... I was thinking about the fact that the map (just like any other "imported" assets) may actually have a title associated with it, but we might not be able to access that title for the purposes of the asset drawer, so we'd be asking them to create a new title just for that purpose.

[2013-04-12 15:41] jwirfs-brock opened #711 "Inconsistencies in way you save summary text versus text in other places (text assets, caption text)"
The way you edit and then save text is different on the Summary and on text assets, which is confusing for users. You have to click "Save" with text assets and with captions, but not with the Summary. This trains people to not look for the "Save" button, and then they end up losing their text assets because they don't save them. Or at least...this has probably happened to me a dozen times and I'm

[2013-04-12 15:42] jwirfs-brock commented on #179
Should we close this, as it's covered by the spell checker in the browser?

[2013-04-12 15:46] jwirfs-brock commented on #243
I think this was covered when we updated the way untitled sections are displayed in the table of contents. Closing.

[2013-04-12 15:46] #243 closed, assigned to nobody

[2013-04-12 15:50] jwirfs-brock commented on #318
I think the way we've structured the homepage after the redesign, this is no longer a concern. Closing.

[2013-04-12 15:50] #318 closed, assigned to nobody

[2013-04-12 15:53] jwirfs-brock commented on #497
We dealt with this by not showing un-named titles in the main body of the viewer, and by using "Section 1," "Section 2," etc. for un-named titles in the table of contents. Closing.

[2013-04-12 15:53] #497 closed, assigned to nobody

[2013-04-12 15:56] jwirfs-brock commented on #529
Re-visiting this, it looks like we still need...
- Help copy on how to change the data-height attribute
- To have the entire share box resize along with the embed-code box

[2013-04-12 16:01] jwirfs-brock opened #712 "Projects and Organizations should display number of stories on landing pages"
On /project/PROJECTNAME and /organization/ORGANIZATION name, we currently have the three most recent stories and a button to view all stories (via setting the appropriate filter on the explore page). While the number of stories in that project/organization is visible once you click on "View All Stories For This Project/Organization," it should also be visible on the project or organization landing

[2013-04-12 20:30] jwirfs-brock opened #713 "Problem adding link in Call to Action"
I'm not sure what is going on here, as this problem doesn't seem to be replicable 100% of the time. But when I try to add links in the Call to Action (and go through the entire process of clicking the add link icon, then entering ok, then saving), the link shows up within the Builder, but not in the Preview or in the published story.

It's happening right now with: http://floodlightproject.org/en/

[2013-04-13 20:36] #710 closed, assigned to ghing

[2013-04-15 14:21] ghing commented on #179
I'm going to close this. Doing a good job of implementing spellchecking, particularly if we want to support multilingual spellchecking, is pretty complicated and I don't think it's the best use of our time.  Personally, I can't think of any web app where I use a built-in spellchecker.  I just use the browser.  For instance, I don't think that Google Docs even has a spell-check feature.  Also, usin

[2013-04-15 14:21] #179 closed, assigned to nobody

[2013-04-15 14:30] ghing commented on #711
This doesn't pose problems in terms of the way assets are created and stored. My bigger concern is that the "Save" button makes sense for assets where a file upload is involved, and I think it might be a little bit weird to have some asset forms with a save button and some without.

Based on that, I guess the best option would be to have a save button for the summary and call to action fields.

[2013-04-15 14:36] ghing commented on #164
@jwirfs-brock It looks like this has been implemented.  The user is taken to the "My Account" page after following the confirmation link in the e-mail. Closing.

[2013-04-15 14:36] #164 closed, assigned to nobody

[2013-04-15 14:37] jwirfs-brock commented on #704
I put together a chart of some of the common story presentation types (as distinct from narrative structure) to help guide our thinking about the best way to show/display stories on Floodlight:
![story_presentation_types](https://f.cloud.github.com/assets/1020518/381083/fab6c0bc-a5d8-11e2-9d58-de4e115a1a29.jpg)
I used a linear/non-linear and discrete/continuous scale, but we could visualize it a d

[2013-04-15 14:38] ghing commented on #100
@jwirfs-brock You should open issues to capture those other requests in terms of Organization and Project controls.

[2013-04-16 14:14] patternleaf opened #714 "Explore menu/Browse section should have direct links to map and list views"
The map view is pretty cool. Might increase engagement to indicate it's there to play with. Might even be nice to have a little thumbnail of it there in the menu. (Would also probably want thumbs for the Organization and Projects sections, in that case.)

[2013-04-16 15:18] patternleaf opened #715 "Table of Contents menu not working in modal viewer"
To replicate:
1. Navigate to http://www.floodlightproject.org/en/stories/day-of-service-at-walnut-hill-in-the-childrens-cor/
2. View story.
3. Click on table of contents item in lower right-hand corner.
4. In the table of contents, click on a section.

Expected result: Selected section is displayed

Observed result: nothing happens.

Note that this works correctly when the viewer is displayed in a

[2013-04-16 15:45] ghing commented on #715
Updated issue title, description to reflect some troubleshooting that we did.

[2013-04-16 16:03] ghing commented on #715
This is a regression as a result of 81b20c207814703c2eb336a054412a5759612479.

Since the router is no longer used when in the modal window (to fix #487), the view is not updated as a result of visiting the URL of the ToC item links.  The code base was updated to accommodate this change for the next/previous buttons, but not for the ToC items.

[2013-04-16 16:18] ghing commented on #715
Assigning to @patternleaf  to fix.

[2013-04-16 16:29] patternleaf commented on #673
@ghing would you mind sanity-checking 92d268a?

[2013-04-16 16:44] ghing opened #717 "Stories with large images require scrolling to view captions"
This is captured from an e-mail thread about the viewer.

@bpawlak said:

Update: pending issues
- [x] Test with Fusion tables embed, YouTube, Vimeo, SoundCloud, small image/long caption
- [x] Strip dataset info from popup caption

[2013-04-16 16:44] ghing commented on #717
via @jwirfs-brock:

[2013-04-16 16:45] ghing commented on #717
I'm assuming you're referring to image heights.  Image widths should be scaled with CSS to fit the various layouts.

It's always possible to dynamically resize image heights to fit the viewport height with JavaScript, but I think doing this would probably make for some undesired results in some cases.

I'd be interested in looking at examples of stories where the image sizes/scrolling seems proble

[2013-04-16 16:45] ghing commented on #717
Examples via @jwirfs-brock:
- [ELK Day of Service Project](http://floodlightproject.org/en/stories/elk-day-of-service-project/)
- [Nurturing Possibilities](http://floodlightproject.org/en/stories/nurturing-possibilities/)
- [Be a Friend, Make a Friend](http://floodlightproject.org/stories/be-a-friend-to-those-who-are-bullied-and-make-a-fr/)

[2013-04-16 16:45] ghing commented on #717
Via @bpawlak:

[2013-04-16 16:50] ghing commented on #717
This is what the image looks like in the example raised by @bpawlak:

![Screenshot from 2013-04-16 11:46:42](https://f.cloud.github.com/assets/110420/386978/46313766-a6b5-11e2-8a2c-e1a2e9e6bc70.png)

I did a quick image-edited mockup of what this might look like with the image scaled so it fits in the window:

![Screenshot from 2013-04-16 11:29:57](https://f.cloud.github.com/assets/110420/386980/5

[2013-04-16 16:53] ghing commented on #717
One easy fix might be to add a `title` attribute to the image and set it to the caption.  That way, when the user mouses over the big image, they will see the caption text:

![Screenshot from 2013-04-16 11:51:59](https://f.cloud.github.com/assets/110420/387005/29b6e51c-a6b6-11e2-9358-b16e1837b6bd.png)

[2013-04-16 23:55] wendynorris opened #721 "Section list scroll arrows don't work"
Is there a limit to the number of sections one can add in the Sandbox template?

Here's a link to the story:
http://floodlightproject.org/en/stories/six-word-memoirs-from-tedxyouthmilehigh/

I categorized the student's six-word memoirs into 10 themes to make the presentation a little more readable. Each theme is its own section. I used the 3-up layout within the Sandbox template.

However, the nav

[2013-04-17 00:07] ghing commented on #721
There isn't a limit. I'll look into why the scroll arrows aren't working.

[2013-04-17 17:17] jwirfs-brock opened #722 "Editing Summary v. editing Byline -- placeholder text behaves differently"
When you edit the Summary, the placeholder text stays there (you have to highlight it and then delete it), whereas when you edit the Byline, the placeholder text disappears as soon as you start typing.

Should we resolve this inconsistency? My preferred behavior would be to see the placeholder text in the Summary also disappear when you start typing.

[2013-04-17 17:26] jwirfs-brock opened #723 "Got “Error removing section” message after I tried to delete section (on dev.floodlightproject.org)"
Story: http://dev.floodlightproject.org/build/7910b56fa75b41a9a6e9fc6aeb6baf44/

Description of what I did before/after seeing the error message:
1. Created story using sandbox template, entered in story information (title, summary, byline)
2. Edited “untitled section” to create a side-by-side layout section (while doing this, I added an asset, toggled the layouts, then dragged the asset back from

[2013-04-17 17:47] jwirfs-brock opened #724 "Section displaying as blank after text asset failed to save on dev.floodlightproject.org"
Story I was working on: http://dev.floodlightproject.org/en/build/a0eeef66a2d84b0fadac652908e8cf70/

This happened while I was trying to replicate #723

Here are the steps I took:
1. Created a new story from the sandbox template, filled in story information  (title, summary, byline)
2. Edited “untitled section” to create a side-by-side layout section (while doing this, I added an asset, toggled th

[2013-04-17 19:32] ghing commented on #721
@tekhneco I wasn't able to replicate this, either with the story in question or starting from scratch and creating a story with 10 sections from scratch.  When the section scrolling arrow stopped working, did you try reloading the browser tab?  Do you have any other details you recall from when you saw this issue?

[2013-04-17 19:40] wendynorris commented on #721
When I clicked the scrolling arrow there was no response. Tried it several times. No response.

I refreshed the browser. No response.

I exited the story. Re-entered. No response.

I exited the story. Logged out. Logged back in. Reentered the story. No response.

The only way I could view the sections was to change the weights in the admin panel.

Are you trying to replicate this big in Firefox? T

[2013-04-17 20:04] ghing commented on #721
@tekhneco I tried replicating this using both Firefox 20.0 and Chrome 26.0.1410.63

Can you try opening it now and see if the issue persists?

[2013-04-17 20:16] wendynorris commented on #721
The scrolling arrow advances to section number 7 (Perseverance). But no further.

The arrow color-change activates on hover but doesn't respond to the click.

[2013-04-19 22:51] ghing commented on #723
I was able to reproduce this on dev, but not on my local machine.  The DELETE request to `/api/0.1/stories/STORY_ID/sections/SECTION_ID/`, where that's the appropriate STORY_ID and SECTION_ID for the "You don't have to be Hemingway" section failed with a 404 error.

Strangely, a get request to that same endpoint returned the section information.

I need to figure out what's causing this.

[2013-04-20 21:38] ghing commented on #723
The `DoesNotExist` exception is thrown by the call to `obj.delete` in [storybase.api.resources](https://github.com/PitonFoundation/atlas/blob/97169fdd770b0fd3f34fe96389dccf788878bfa8/apps/storybase/api/resources.py#L297), which triggers the `storybase_story.search_indexes.StoryIndex.asset_relation_update_object` signal handler.

Here's the traceback:

[code]

I think this is a race condition becau

[2013-04-20 22:53] ghing commented on #723
@jwirfs-brock Turns out you found a weird edge-case unrelated to the refactor.  It occurs when deleting a section containing a text asset.  You can work around it by removing the assets before deleting the section.  I need to do some thinking about the best way to fix this.

[2013-04-20 23:30] ghing commented on #723
Fixed this in 9639bba. Closing.

[2013-04-20 23:30] #723 closed, assigned to ghing

[2013-04-22 13:08] ghing commented on #724
Edited the original issue report slightly to make it easier to walk through the steps to try to replicate this issue..

[2013-04-22 14:23] ghing commented on #724
@jwirfs-brock I wasn't able to replicate this.  For copying and pasting the text, I just used the text from the initial report in this ticket (because it contained HTML).  Do you remember the exact text that you used that triggered this issue?

I'm thinking this might be a cascade of issues related to your browser crashing.

[2013-04-22 19:35] jwirfs-brock commented on #704
Check out GlobalGiving's storytelling project, which Matt recently shared: http://www.globalgiving.org/stories/

If you click to actually view on a story, you'll see that they are highly templated -- which is nice because this is a project with 50,000+ stories, and it has built in tags for sorting and analyzing the stories. It's a cool way of turning qualitative data into quantitative data.

Here'

[2013-04-22 19:40] bpawlak commented on #704
It's definitely interesting, but much more emphasis seems to be placed on the tags associated with the story rather than the story itself.  I looked at 3-4 different stories, trying to find a "view story" button or something only to realize that the single paragraph at the top _is_ the story...

[2013-04-22 19:43] jwirfs-brock commented on #704
Yes, that's true. The stories are short and concise (just a paragraph of
text). The additional "data" is what is filled out on the rest of the
worksheet.

On Mon, Apr 22, 2013 at 3:40 PM, bpawlak notifications@github.com wrote:

[2013-04-23 05:45] ghing opened #725 "Error when adding a new section between two sections that have been swapped"
This only happens when you first create a new story.

To replicate:
1. Create a new story with the sandbox template
2. Rename untitled section to "1"
3. Create a new section and name it "2"
4. Drag section "1" so it is to the right of section "2"
5. Click the "+" icon between the two sections

Expected result:

A new section appears between section "1" and section "2"

Observed result:

The new se

[2013-04-23 14:13] jwirfs-brock commented on #725
I tried reproducing this again today, and instead of having an error in the table of contents, it froze my browser (Firefox). This happened twice.

Here's a video of the second time I did it, in case it adds any additional information (I captured the web console as well):
http://youtu.be/iRtao_ddm-k

[2013-04-23 15:04] ghing commented on #725
@jwirfs-brock I fixed the issue you originally found.  I'm going to take a look at your latest YouTube video to get a sense of whether this is the same issue or something different.

Can you try this again on dev and see if it is fixed for you?  I turned off the compression of JavaScript assets so I can get better error reports, so you'll need to do a hard-refresh in your browser to make sure you

[2013-04-23 15:06] ghing commented on #724
I'm going to close this since I can't replicate it exactly and at least some of the behavior seems to be symptomatic of #725

[2013-04-23 15:10] #724 closed, assigned to ghing

[2013-04-23 15:15] jwirfs-brock commented on #725
I did a hard refresh and am still seeing this error in Firefox on a Mac. That is, even without adding assets or changing layouts, I am doing the steps you outlined in the initial description of this bug and am seeing the new section displayed on a second row in the table of contents.

[2013-04-23 15:16] jwirfs-brock commented on #725
Here is a screenshot:
![Screen Shot 2013-04-23 at 11 15 48 AM](https://f.cloud.github.com/assets/1020518/415028/b6da41e2-ac28-11e2-9ecd-9744ad4849fe.png)

[2013-04-23 15:17] jwirfs-brock commented on #725
@ghing Would it help if I pasted the information logged in my web console? Also, I can try it in another browser.

[2013-04-23 15:19] jwirfs-brock commented on #725
@ghing It looks OK in Chrome.

[2013-04-23 15:20] ghing commented on #725
@jwirfs-brock Let me try it in Firefox.  Also, it would be helpful to copy and paste the JavaScript console output in the issue.  It's hard to see it in the screen captures.

[2013-04-23 15:36] ghing commented on #725
@jwirfs-brock It's working ok for me in Firefox.  What method are you using to force a refresh.  I've heard that "CMD + SHIFT + R" works well on Macs, but I can't test this myself.

[2013-04-23 15:57] jwirfs-brock commented on #725
@ghing I'm not sure if this is what you need, but here is what my console
logged:

[code]

[2013-04-23 15:59] jwirfs-brock commented on #725
@ghing Yup, I used Command + Shift + R.

I can also try restarting my browser...

On Tue, Apr 23, 2013 at 11:36 AM, Geoffrey Hing notifications@github.comwrote:

[2013-04-23 16:08] ghing commented on #725
@jwirfs-brock Can you toggle the CSS option in the developer toolbar logger.  Most of those errors/warnings have to do with CSS and don't have anything to do with this particular issue. I didn't see anything that was relevant to this particular issue or consistent with my testing.

Maybe try clearing the browser cache?

[2013-04-23 16:16] jwirfs-brock commented on #725
@ghing

Ok, I redid it with just the JS messages turned on (CSS and logging toggled

## off). I reproduced the error, and here is what my console logged:

[12:12:11.390] GET
http://www.floodlightproject.org/api/0.1/stories/5dbab7aef47c4fb594a9c2f55ef8f267/[HTTP/1.1
200 OK 82ms]
[12:12:11.392] GET
http://www.floodlightproject.org/static/img/builder/section-scroll-arrows.png?cb8099d79491[HTTP/1.1
20

[2013-04-23 16:18] ghing commented on #725
@jwirfs-brock It looks like you're trying this on the production instance (which doesn't have the fix deployed yet).  Can you try on dev?

[2013-04-23 16:31] jwirfs-brock commented on #725
@ghing D'oh! Yup, looks to be working fine in dev. That's whawt I get for
having too many tabs open at the same time.

On Tue, Apr 23, 2013 at 12:18 PM, Geoffrey Hing notifications@github.comwrote:

[2013-04-23 16:34] ghing commented on #725
Closing.

[2013-04-23 16:34] #725 closed, assigned to nobody

[2013-04-23 18:26] ghing opened #726 ""IOError: cannot write mode P as JPEG" when creating an asset via /api/0.1/assets/"
[code]

I don't think this affects many images.  SmileyChris/easy-thumbnails#95 gives a pretty good description of what's going on here.  I'm going to try to get the image in question to troubleshoot further.

[2013-04-23 19:32] jwirfs-brock opened #727 "Rethinking connected stories as connected assets (more modular chunks of content)"
As we tackle the story builder redesign, it seems we are moving in a direction of making a story builder that is aimed at an intermediate-level storyteller (or at least not a complete beginner) embedded in some kind of social change organization. This addresses the first goal in our [goal statements](https://docs.google.com/document/d/1KjsTdYwgfGg_SPFtDz7SyLi9u42wdk_V7TwhIf-W1NU/edit). But to addr

[2013-04-24 01:03] ghing opened #728 "Two stories created if user clicks "Save" button on initial save before auto-save kicks in"
To replicate:
1. Create a new story
2. Click in the title text area and type something
3. Without tabbing out of the title field, or clicking anywhere else, click the "Save" button

Expected result:

The story is saved once, creating a single story.

Observed result:

The story is saved twice, creating two stories.

[2013-04-24 14:33] ghing commented on #721
@tekhneco, I'm picking this back up. Could you take another look at this and paste the output of your Firebug console window in this issue so I can get more of an idea of where the bug might be?

[2013-04-24 15:07] #728 closed, assigned to ghing

[2013-04-25 15:21] jwirfs-brock opened #729 "Creating clean urls for filters on Explore page"
Right now, you can link to the Explore page with filters set by using urls like http://floodlightproject.org/explore/?topics=36.

It would be nice if we had clean urls for frequently used filter settings, like http://floodlightproject.org/explore/how-to.

[2013-04-25 15:27] jwirfs-brock commented on #729
Another example is for project and organization pages, which currently look like http://floodlightproject.org/en/explore/?projects=c6f5b8a5d5db4ec59c55d64057ab50d8

And could look like: http://floodlightproject.org/en/explore/exploringthecreativeprocess

[2013-04-25 19:03] ghing commented on #726
Just as a sanity check, I created a PNG version of the `test_image.jpg` file included in the repo and it uploaded without error.  It seems that this issue is indeed tied to something specific about this image.

[2013-04-25 19:14] ghing commented on #726
I also tried re-saving the image using GIMP and found that, just opening the file and saving it using the program's export feature, produced an image with the same issue.

I then opened the image and changed its color mode from indexed to RGB and saved a copy of the file.  The RGB version uploaded fine.

We should figure out what is going on with indexed PNGs, but the workaround is to just convert

[2013-04-26 12:12] ghing opened #730 "Places tags disappearing"
Originally reported by @jwirfs-brock in  http://youtu.be/YXCJzgnYgmI
1. Create a new story with the sandbox template
2. Enter "Test Story" in the title field and tab or click out of the text input to auto-save
3. Click on "Tag"
4. Click in the "Places" input and select some places
5. Click the "Save" button
6. Click the "Exit" link
7. Click "My Account" and then "My Stories"
8. Click the "Build" b

[2013-04-30 00:21] wendynorris opened #731 ""Unable to connect" message in browser after clicking the "Start Over" button"
This could be a problem on my side because I have the world's worst Internet service but logging it just in case.

Published Photo Voice story on dev site. Clicked "start over" button to return to builder template page. Received error message:

Clicked "retry" button. Returned to template page as expected.

[2013-04-30 00:29] wendynorris opened #732 "Add data section needs progress indicator when uploading files"
From sandbox test story on dev.floodlight:
http://dev.floodlightproject.org/stories/375044e162aa40968ff239a6d52b2aec

There is no indicator marking upload progress when adding data. I mistakenly uploaded 5 copies of the same data set because I couldn't tell the site was processing the first request.

Then, I couldn't delete the unwanted copies. Delete button did not respond.

Forced to delete all

[2013-04-30 00:30] wendynorris opened #733 "Hard to find data associated with story"
From sandbox test story on dev.floodlight:
http://dev.floodlightproject.org/stories/375044e162aa40968ff239a6d52b2aec

Uploaded data set does not appear in published story.

Still todo:
- [x] Decide on placement of "Get the Data" button on story detail page

[2013-04-30 00:35] tekhneco opened #734 "Chart asset using Socrata embed is rendered in a confusing way in the asset drawer"
To replicate
-----------------

1. Open a story in the builder
2. In a container that doesn't have an asset assigned, create a new chart asset by clicking the "Chart" icon.
3. In the textarea labeled "Paste the embed code for the chart", paste:

[code]

4. Click the "Save Changes" button. The embedded item should appear in the container.
5. Click the remove icon
6. Open the asset drawer by clickin

[2013-04-30 00:42] wendynorris opened #735 "Chart thumbnail does not display in Build page"
From sandbox test story on dev.floodlight:
http://dev.floodlightproject.org/stories/375044e162aa40968ff239a6d52b2aec

After adding a chart to the side-by-side layout in the build section, there is no thumbnail to represent the addition of the chart. The chart title, source and caption do appear on the build page.

The chart appears as expected in the published story.

Firebug console errors:

[2013-04-30 00:49] wendynorris opened #736 "Asset drawer does not appear in new section on dev.floodlight"
From sandbox test story on dev.floodlight:
http://dev.floodlightproject.org/stories/375044e162aa40968ff239a6d52b2aec

I added a new section to the story "More Tables" following the "Fruit and Tree Nuts Yearbook Data Tables."

The asset drawer did not appear on the new section.

Added an image (chart_1-24.png) in the new section. Deleted the image. The asset drawer with the uploaded image did not a

[2013-04-30 15:32] wendynorris commented on #731
Geoff, I'm going to try to replicate this problem with another wireless network so hold off for the moment.

[2013-04-30 16:57] ghing opened #737 "Soundcloud embeds are shown too small in viewer"
This was originally found in tests that @jwirfs-brock documented with a [screen capture](http://www.youtube.com/watch?v=I1-iwLeDW1Q&feature=youtu.be). Issue appears at around 8:10.

![screenshot from 2013-04-30 11 52 08](https://f.cloud.github.com/assets/110420/445197/5ea2c358-b1b6-11e2-80df-37967de0913e.png)

Suspected cause
-------------------------

There's JavaScript that auto-sizes the contai

[2013-04-30 17:11] ghing commented on #737
I tried to replicate this and found that I couldn't.  This is what I tried:
1. Create a new story using a sandbox template
2. Edit the title of the story to get it to auto-save
3. Select "Untitled section" from the table of contents
4. Change the layout to side-by-side
5. In the left container, click the "Audio" icon to add an audio asset
6. In the "Enter audio url" field, paste a Soundcloud URL (

[2013-04-30 18:33] ghing opened #738 "Error when editing an uploaded image asset in place"
To replicate
-----------------

1. Open a story in the builder.
2. In a container with no asset selected, click the "Image" icon.
3  Select a file to upload.  And click the "Save Changes" button. After uploading, the image should be shown.
3. Click the "Edit" icon for the image asset you just aded
4. Select a different image from your hard drive and click "Save Changes"

Expected result
----------

[2013-04-30 18:48] ghing commented on #738
Note that users are still able to change images by removing them and adding a new one.

[2013-04-30 18:54] ghing commented on #732
TODO:
- Check if there's actually no upload progress, or if its masked because the upload happens so fast.
- Further test delete button behavior.  It worked for me, but in one case it seemed like I had to click it twice.

[2013-04-30 19:04] ghing commented on #733
I'm seeing the uploaded data set at http://dev.floodlightproject.org/stories/375044e162aa40968ff239a6d52b2aec/.  You have to scroll down to the story metadata section to see it:

![screenshot from 2013-04-30 14 01 06](https://f.cloud.github.com/assets/110420/445931/6a22a60a-b1c8-11e2-8489-ef229b92aad2.png)

I'm thinking that this presentation could definitely be a little better. @tekhneco, can you

[2013-04-30 19:16] ghing commented on #734
@tekhneco Is the "widget" you mentioned in your issue report the chat (seemingly made via Google) in the right hand side of the "Fruit and Tree Nuts Yearbook Data tables" section?

[2013-04-30 19:20] ghing commented on #734
Note: The "Powered by Socrata" link shown in the asset drawer is an `HtmlAsset` with type `chart` with a `body` attribute that looks like this:

[code]

I'm thinking that we just need to do a better job of displaying widget assets in the asset drawer.  For widgets with emebed codes, there's not a clean, consistent way to show the widget, so maybe we should just show a generic icon.

[2013-04-30 19:24] wendynorris commented on #734
The widget is produced by Data.gov and displays on the left side of the Fruit and Nut Trees Yearbook Data page.

![widget_image](https://f.cloud.github.com/assets/2329239/446019/528f6fc0-b1cb-11e2-957d-73f115ffe374.jpg)

[2013-04-30 19:26] wendynorris commented on #734
The Google spreadsheet-produced chart (on the right) not displaying as a thumbnail on the builder page is another issue reported in Issue #735.

[2013-04-30 20:54] ghing commented on #734
Updated issue report and changed title from "Asset missing after changing layout on dev.floodlight" to better reflect the nature and underlying cause of the issue.

[2013-04-30 21:12] ghing commented on #734
The content for the asset drawer representation of an `HtmlAsset` (the underlying model for chart or table-type assets that use an embed code) is just the `body` property.  We need to decide on a consistent representation of IFRAMEd content in the asset drawer.

#708 is a different version of this issue, but with maps instead of charts.  In either case, the content is represented by an IFRAME.

[2013-04-30 21:16] wendynorris commented on #731
Could not replicate when logged into other wireless network. Closing this issue.

[2013-04-30 21:16] #731 closed, assigned to ghing

[2013-04-30 21:21] ghing commented on #187
@tekhneco reported another instance of this as #735.  In this case the embed code that wouldn't render is:

[code]

[2013-04-30 21:27] ghing commented on #735
I think this is a duplicate of #187.  I added the embed code over in that issue.  I'm going to close this one.

[2013-04-30 23:03] ghing commented on #736
@tekhneco, I wasn't able to replicate this.  Did the "Assets" tab for the drawer disappear completely? Or are you saying that an icon/thumbnail for the added (and subsequently removed) asset didn't show up in the drawer?

[2013-04-30 23:15] #735 closed, assigned to ghing

[2013-05-01 02:01] wendynorris commented on #736
The asset drawer completely disappeared. Even after adding an asset, it did not appear on the right margin of the screen.

[2013-05-01 12:35] ghing commented on #738
I want to hold off on this until changes for #614 are merged so I don't have to port changes between branches using differing Tastypie APIs.

[2013-05-01 15:31] wendynorris commented on #733
Agreed that the presentation of the data source needs to be more prominent and more relevant to where it is located. I would never expect to see the link in the story masthead.

[2013-05-01 15:33] ghing commented on #733
@tekhneco, feel free to add any suggestions about better placement. I'll update the issue title to reflect the issue being bad placement rather than not listed.

[2013-05-01 22:22] jwirfs-brock opened #739 "Comment feature needs to be easier -- maybe enable commenting without login (or via Facebook plugin)?"
This was a suggestion that came up with a meeting at the Denver Foundation. They think it would be easier for people to comment on stories if they could comment using Facebook (something like the Facebook social plugin: http://developers.facebook.com/docs/plugins/).

[2013-05-03 16:32] ghing commented on #605
The method I used in f640f84 doesn't seem to catch the timeout exception

[2013-05-03 16:57] ghing commented on #739
Brain dump of questions:
- Is the goal more comments, or to encourage other interactions that could be implemented via comments?
- Do people not comment because it requires a Floodlight account, or because of the placement of the comment form, or because the stories aren't compelling enough to elicit a comment?

I'd prefer Disqus over the Facebook commenting system. It's still easy, but offers a n

[2013-05-06 12:13] jwirfs-brock opened #740 "Summary text often appears with strange line breaks on story detail page"
Here's an example of a story where the summary text has strange formatting with un-wanted line breaks (from the story http://floodlightproject.org/en/stories/seeking-unity-through-the-grant-beacon-peer-mentor/):
![screen shot 2013-05-06 at 8 09 51 am](https://f.cloud.github.com/assets/1020518/465841/f9fe8380-b645-11e2-9a70-8fb6f3b3e642.png)

I've also had several users ask me about this, and I've

[2013-05-06 12:56] ghing commented on #740
The filter that renders the HTML automatically converts newlines to breaks.  This can be turned off.  I want to check and see what's reflected in the WYSIWYG editor before we decide to turn it off.

[2013-05-06 13:26] jwirfs-brock opened #741 "Rethinking the embed widget"
## Requirements
- All widgets should have a link to the Floodlight Homepage
- There should be a version of the widget widget that shows a specified featured story
- There should be a version of the widget that shows a list of stories selected by a Topic, Keyword, Project, Organization or Place (originally specified in #777, #779)
- There should be a version of the widget that shows a specified fea

[2013-05-06 15:13] ghing opened #742 "Use SessionAuthentication for API"
It might be a good idea to use Tastypie's new [SessionAuthentication](http://django-tastypie.readthedocs.org/en/latest/authentication.html#sessionauthentication) authentication class. It explicitly provides CSRF protection, though I'm having a hard time thinking about what the CSRF attack vector would be for Floodlight.

We'd have to [initialize a CSRF token for the AJAX requests](https://docs.dja

[2013-05-06 17:14] ghing commented on #614
This is implemented as of 52d66e5f614a23bb6eb5d9b4f0bff8385573811f

I'd say it requires some additional integration testing, but overall I think it's good

[2013-05-06 21:03] ghing commented on #740
It looks like the WYSIWYG editor also inserts line breaks in the HTML. I think we can safely remove the code in the template that converts newlines to `<br>` tags.

[2013-05-06 21:11] #740 closed, assigned to ghing

[2013-05-06 21:52] ghing commented on #741
@jwirfs-brock I like your sketches and feel like they're generally in the right direction, but as we/re thinking about embedded widgets, and this issue is being driven by the partners, _we really need to think about this in the context of where the widgets will go on the partners' pages_.

Can you talk to Piton/TDF and get some examples of page contexts where they'd like to see widgets?

I'll do s

[2013-05-06 21:57] jwirfs-brock commented on #741
@ghing Thanks for the comments. Definitely agree on talking to Piton and TDF. I sent them a survey this morning that looks like this: https://docs.google.com/forms/d/1-OBHaj6FifhUAQuyHlPJMWveDAGi3JGm7mXG2MfADmA/edit#

(I already have a response from Matt, still waiting on Rebecca.)

As for popping up a model window, I agree that it's problematic. I like the idea of having the story viewer show up

[2013-05-06 21:59] jwirfs-brock commented on #741
@ghing Oops, we have Rebecca's response too. Yay!

You can view them here: https://docs.google.com/spreadsheet/ccc?key=0As2exFJJWyJqdHVZaXdMSzl3VlpNQlYwMWROeHdkNXc&usp=sharing

I forgot to add a "Who are you" question. Piton is the first response, TDF is the second.

[2013-05-06 23:36] ghing commented on #738
http://stackoverflow.com/a/12576374/386210 has a good breakdown of what's happening here.  I think the solution is to implement `MultipartFileUploadModelResource.put_detail` so that it doesn't try to grab `request.body` if the format is multipart.

[2013-05-07 20:07] ghing commented on #741
I did some experimenting with a version of the embed widget that opened the story in a modal viewer. I was able to:
- Add jQuery and SimpleModal to the parent page dynamically
- Create an iframe with the story viewer and add it to the parent page

I wasn't able to wire up click handlers to the widget iframe (what we have now) because of cross-domain issues. We could get around this by writing the

[2013-05-08 13:07] ghing commented on #741
Another question, with the new widget, do any links go to story detail pages or do they all just open the viewer? I'm not sure if we want to totally abandon directing users to story detail pages, mainly because they provide links for users to explore floodlight and see other stories. We could add navigation in the viewer that would close the viewer popup and direct the user to other Floodlight pag

[2013-05-08 13:13] #730 closed, assigned to nobody

[2013-05-08 13:19] ghing opened #743 "Label for comments area is "Citizen Comments""
On the story detail page, the label for the comments area is "Citizen Comments". This is almost certainly a holdover from the old name. We should probably change this, right, @jwirfs-brock?  Should it just be "Comments" or something a bit more clever?

[2013-05-08 13:28] ghing opened #744 "Embed widget link behavior seems inconsistent, doesn't set user expectations"
In the current embed widget, there are 3 links.  This is their behavior:
- Featured image -> story detail page
- Title -> Opens story viewer in new tab (or window depending on user's browser preferences)
- "View this story on Floodlight" -> story detail page

While I think it makes sense to have both links that open the viewer and ones that link to the detail page, I don't know if the current beha

[2013-05-08 15:11] ghing commented on #741
http://www.wbez.org/news/education/zero-trust-after-cps-admits-it-overstated-savings-closing-schools-107044 and most stories on http://wbez.org are an example of why I'm reluctant to open up the modal popup viewer.

Granted, we'll be launching the modal on a click-event, which makes it a little more expected, but I'm a little concerned about making behavior that feels like annoying ads.

[2013-05-08 15:13] jwirfs-brock commented on #743
@ghing This is a really good observation. I agree that it shouldn't say "Citizen Comments." For now, let's just have it call it, "Comments" (when we revisit the strategy for increasing comment participation, maybe we can revisit this and give it a more creative name).

Also, currently there's a label under the heading and below the comment box that says, "Comment"...seems redundant, right? Can we

[2013-05-08 15:16] jwirfs-brock commented on #741
@ghing Point noted about WBEZ. You are right that model typically reads as "ad" -- and that's not the message that we want to send.

In response to the question, "do any links go to story detail pages or do they all just open the viewer," I think we'll need to look at the feedback we get from Matt, Rebecca and other users on how they would like to use the embed widget. If they just want to use it

[2013-05-08 15:18] ghing commented on #741
@jwirfs-brock Agreed about waiting to synthesize feedback from partners about link targets. My feeling is that if links open the viewer, we should at least have one link in the widget that links back to the Floodlight homepage and also a link in the viewer that allows the user to get back to Floodlight if they want.

[2013-05-08 15:20] jwirfs-brock commented on #744
@ghing Do you have suggestions for how we could name the links?

"Read this story" seems like an obvious one for opening it up in the viewer. What we would call the link to the story detail page? "Find out more..."? I am not sure if, as a reader, I would undertand the distinction.

It seems we should also have a link to the Floodlight homepage, or the Floodlight explore page, so that readers can v

[2013-05-08 15:40] jwirfs-brock opened #746 "Strange behavior when dragging an image from the asset drawer"
Roughly following the test script with some modifications, I did these steps:
- Given the user inputs "http://www.strivenetwork.org/sites/default/files/images/map_4_15_UWW_nostars.png" in the "Enter image URL" field
              Given the user clicks the "Save Changes" button
- Then the image "http://www.strivenetwork.org/sites/default/files/images/map_4_15_UWW_nostars.png" is visible
- Given the

[2013-05-08 16:52] patternleaf opened #747 "Margins not quite right in builder/Tag page"
![screenshot 5 8 13 10 50 am](https://f.cloud.github.com/assets/73439/478632/904675c2-b7ff-11e2-9a2c-2abf5b8387e6.png)

[2013-05-09 13:25] ghing opened #748 "Social login buttons misformatted in IE due to oversized icons"
![screenshot from 2013-05-09 08 23 36](https://f.cloud.github.com/assets/110420/482893/f6766508-b8ab-11e2-9dab-bc97025071be.png)

Update: Social login buttons also look weird in IE9.

I think in both cases is has to do with the sizing of the Twitter/Facebook icons

[2013-05-09 14:00] ghing opened #749 "Support AssetResource.post_detail"
In order to support replacing an image (see #738) in IE9 we have to post the data using a form in a hidden IFRAME. Unfortuantely, [forms can only submit requests using the POST or GET methods](http://stackoverflow.com/questions/8054165/using-put-method-in-html-form).  So, we need to implement `AssetResource.post_detail`.  By the default, it raises an error:

[code]

[2013-05-09 14:22] jwirfs-brock commented on #741
@ghing Based on the early feedback from Matt and Rebecca, the one thing that is clear and consistent is that they would like readers to be able to view the full story content on their websites without having to go back to Floodlight.

To accomplish this, viewing the story in the bounds of the embed widget is a possibility, and would work as long as the embed widget is large enough. For example, we

[2013-05-09 16:01] #749 closed, assigned to ghing

[2013-05-09 16:20] ghing commented on #748
The icons look fine in IE8

[2013-05-09 20:56] #743 closed, assigned to nobody

[2013-05-09 21:04] ghing commented on #741
@jwirfs-brock, so one big takeaway from this is that, at least for the Denver Foundation, the space for the widget wouldn't easily accomodate the story viewer.

I think I get what you're going for in terms of the slide effect of the viewer from the widget.  I can experiment with that when I have time.  I'll have to do more thinking about this, but I'm pretty sure that in order to do this, we'd hav

[2013-05-09 21:39] #726 closed, assigned to ghing

[2013-05-09 21:44] #715 closed, assigned to nobody

[2013-05-09 21:46] #702 closed, assigned to nobody

[2013-05-09 21:50] ghing commented on #673
@patternleaf What's the status of this?

[2013-05-09 21:57] ghing commented on #732
There isn't an upload progress handler implemented, so the lack of an upload progress handler is a result of it not being implemented, not a bug where it's not being displayed.

I did some further testing in both Firefox and Chrome and couldn't replicate the issue with the delete button

[2013-05-09 22:10] ghing commented on #721
Updated title from "Limit on number of sections allowed in Story Builder?"

[2013-05-09 22:12] ghing commented on #600
I'm going to move this out of the current iteration.  Though this would be a nice code cleanup, it doesn't affect user experience nearly as much as some of the other open issues, and won't matter when we reimplement the builder.

[2013-05-10 13:22] #684 closed, assigned to nobody

[2013-05-10 13:29] patternleaf commented on #673
@ghing I think I'd like to implement your suggestion:

which shouldn't be difficult. Then it should be ready for pull request.

[2013-05-10 13:30] ghing commented on #673
@patternleaf, sounds good

[2013-05-10 13:39] patternleaf commented on #748
Weird. While they are far from beautiful, they aren't rendering quite so badly in my IE9:

![screenshot 5 10 13 7 36 am](https://f.cloud.github.com/assets/73439/488162/10946874-b977-11e2-8af7-a2f9a025f535.png)

[2013-05-10 13:42] ghing commented on #748
Let me try to get the CSS properties from my browser for you.

[2013-05-10 13:44] #300 closed, assigned to ghing

[2013-05-10 13:59] ghing commented on #614
I feel good about this and will try to deploy over the weekend.

[2013-05-10 14:03] jwirfs-brock opened #750 "Organization owners can monitor and change the settings of their organization(s) in their account settings"
This was user story 131 in our original list.
More detail is here: https://docs.google.com/document/d/1S9AnEoHeeh65ZOvJV-FYrWxKZo1BeP8eH5DcoNcvaFQ/edit

Settings organization owners should be able to change are:
* add or change a logo/photo
* change the description
* change the contact information

[2013-05-10 14:04] jwirfs-brock opened #751 "Project owners can monitor and change the settings of their project(s) in their account settings"

[2013-05-10 14:04] jwirfs-brock commented on #751
This was user story 279 in our original list.
More detail is here: https://docs.google.com/document/d/1S9AnEoHeeh65ZOvJV-FYrWxKZo1BeP8eH5DcoNcvaFQ/edit

Settings organization owners should be able to change are:

add or change a logo/photo
change the description
change the contact information

[2013-05-10 14:06] jwirfs-brock opened #752 "Organization owners can add users to their organization via an email search for existing users"
This was user story 126.

See more analysis here: https://docs.google.com/document/d/1S9AnEoHeeh65ZOvJV-FYrWxKZo1BeP8eH5DcoNcvaFQ/edit

[2013-05-10 14:06] jwirfs-brock opened #753 "Organization can send Floodlight invites to email addresses that aren’t existing Floodlight users"
This was user story 277.

See more analysis here: https://docs.google.com/document/d/1S9AnEoHeeh65ZOvJV-FYrWxKZo1BeP8eH5DcoNcvaFQ/edit

[2013-05-10 14:11] jwirfs-brock opened #754 "Organization owner can add or change an organization's image after the organization has been created"
For more analysis see: https://docs.google.com/document/d/1S9AnEoHeeh65ZOvJV-FYrWxKZo1BeP8eH5DcoNcvaFQ/edit

[2013-05-10 14:11] jwirfs-brock opened #755 "Project owner can add or change a project's image after the project has been created"
See more analysis: https://docs.google.com/document/d/1S9AnEoHeeh65ZOvJV-FYrWxKZo1BeP8eH5DcoNcvaFQ/edit

[2013-05-10 14:12] jwirfs-brock opened #756 "Project owners can determine whether they want their projects to be “open” or “closed”"

[2013-05-10 14:18] #218 closed, assigned to ghing

[2013-05-10 14:21] #481 closed, assigned to nobody

[2013-05-10 14:26] jwirfs-brock commented on #656
@ghing It seems to be the "Share" button should not appear int he preview. Has this been fixed (I'm not sure why it was closed and then reopened)?

[2013-05-10 14:28] ghing commented on #656
@jwirfs-brock I put the wrong issue number in the commit message, which automatically closed this issue.  I believe this issue is still present.

[2013-05-10 14:31] jwirfs-brock opened #757 "Users should be able to rotate and resize images (uploaded from computer) in builder"
I know we tackled this one a while back and ran into some technical issues, but I've observed users (many times):
- trying to upload an image from their computer that was taken with a digital camera -- the image will be huge and possibly in the wrong orientation
- they don't know how to resize and rotate it on their desktop before uploading it (or find this to be tedious and frustrating)

Also, th

[2013-05-10 14:55] jwirfs-brock opened #759 "In Chrome, URL for Organization overlaps with members list"
Example: http://floodlightproject.org/en/organizations/denver-public-schools-office-of-community-engageme/

On my computer, at least, it looks fine in Firefox but crazy in Chrome.

Here's a screenshot:
![screen shot 2013-05-10 at 10 52 41 am](https://f.cloud.github.com/assets/1020518/488555/80a0bcb2-b981-11e2-884e-707115d3a1f6.png)

It also looks weird in Safari. I haven't tried it with IE.

[2013-05-10 15:35] ghing commented on #561
I implemented this in 69d89aadb115d60ce374f6c292bf588819f36cbf and forgot I had opened this issue.  Closing.

[2013-05-10 15:35] #561 closed, assigned to nobody

[2013-05-10 16:20] jwirfs-brock opened #760 "Remove "Add Data" step from Story Builder workflow"
Once #583 has been implemented, the "Add Data" step will be unnecessary. The "Add Data" step should be removed from the workflow.

[2013-05-10 16:39] ghing commented on #583
Updated issue title from "Move elements from "Add Data" step to data asset" to "Associate uploaded/linked data with assets instead of in the separate "Add Data" step"

[2013-05-10 17:13] ghing commented on #583
These are design artifacts and answers I feel like I need in order to move forward with development.

[ ] sketches of UI for adding data associated with asset in builder
[ ] sketches of UI for removing data associated with asset in builder
[ ] sketches of UI for updating properties of data associated with an asset (e.g. Title, Source, or URL) in builder
[ ] sketches and microcopy for highlighting

[2013-05-10 17:22] ghing commented on #708
Moving out of Iteration 13. We'll get to this later

[2013-05-10 17:37] ghing opened #761 "View for customizing/previewing height of embed widget"
Clicking on a "customize" link in the share popup should open a new tab that let's the user customize and preview the height of the embedding widget and provides additional help text about the widget.  Additional properties beside height could also be set.

Inspiration:

* https://developers.facebook.com/docs/reference/plugins/activity/
* https://twitter.com/settings/widgets/new

Questions:

* Doe

[2013-05-10 17:40] ghing commented on #529
I opened #761 to more clearly reflect the need to make it clearer for users how to change the height of the widget, addressing @jwirfs-brock concern.  Also note that the concern of "have the entire share box resize along with the embed-code box" is reflected in #545. I'm going to close this issue as we've addressed the fundamental ability of being able to adjust the height of the embed widget, eve

[2013-05-10 17:40] #529 closed, assigned to ghing

[2013-05-10 17:42] ghing commented on #711
Tagged as "high" priority, but moving out of Iteration 13.  Will try to get to this if we have a break or get blocked in Iteration 14.

[2013-05-10 18:11] ghing commented on #748
So this appears to only be an issue when viewing the site from my local development environment from within a virtual machine.  If I access the dev or production site from the VM, it looks fine.  Closing.

[2013-05-10 18:11] #748 closed, assigned to ghing

[2013-05-10 20:40] bpawlak commented on #741
My thoughts, kind of in summation of what I've heard above:

1)  I like the idea of putting some parameters around the embedded story.  Users could pick a single story, click "embed this story" and then get a wizard that leads them through the rest of the options (see below).  Pick 1 main embedded story, option to include 3 "sidekick stories" that are selected based on tags, location, organization

[2013-05-10 20:40] bpawlak commented on #741
I can build out the panels to the wizard as we discuss functionality, etc.

[2013-05-10 20:55] jwirfs-brock commented on #741
@bpawlak
1) I like the idea of centering widget creation around a story. But we do definitely have interest from Piton and TDF around embedding streams. I'll have to hear a little more about what you mean by "sidekick" stories to see if this will meet their needs.

2) Totally agree with you on this one. If it's embedded on their site, they don't need to have the logo inside the widget. Also agree

[2013-05-10 21:18] bpawlak commented on #741
1) Yes, I was thinking the "organizational embed" would be similar in that it would be a wizard with steps to configure, but it wouldn't necessarily have to start with a story.  It'd mostly just start with Step 2 (although it wouldn't be called "sidekick stories" - that concept is just a way for a user to specify which other stories they would like to embed along with the main story they're embedd

[2013-05-10 21:59] ghing commented on #721
I tried again to replicate this in two ways:

First I opened a copy of the story on staging, which has the same codebase as production.  I was able to scroll through all the sections without any problems.

I then tried creating a similar story, with the same number of sections and section titles from scratch.  I copied and pasted the text into some of the containers.  I was able to navigate throug

[2013-05-10 21:59] #721 closed, assigned to nobody

[2013-05-10 21:59] jwirfs-brock commented on #583
@ghing Here are some preliminary responses to your questions above. @bpawlak Could you review and make suggestions? (You'll probably be able to improve on these...)

[ ] sketches of UI for adding data associated with asset in builder

Note: I did these mock-ups assuming that a user would add source data to an asset as they are creating it. I still need to talk to the Piton folks to get their feedb

[2013-05-10 22:01] jwirfs-brock commented on #583
@ghing and @bpawlak Here's my first stab at...

[ ] sketches and microcopy for highlighting data in story viewer

...it's not very fancy. Just straightforward.

This sketch shows a chart asset with source data sets. I was thinking that if there are multiple data sets for an asset, we could list them with a semi-colon in between.

![adding_data5](https://f.cloud.github.com/assets/1020518/490481/07b

[2013-05-10 22:11] ghing commented on #736
I was unable to replicate this using Firefox 20.0.  I tried recreating the story mentioned in the initial report of this issue and couldn't get the asset button to disappear.  Please reopen if it reoccurs.

[2013-05-10 22:11] #736 closed, assigned to ghing

[2013-05-13 13:44] ghing commented on #583
@jwirfs-brock, for the most part this makes sense. The mockup of the add data set form adds inline help text as opposed to displaying it in the help drawer. I'd suggest moving it to the help drawer for a) consistency and b) to reduce clutter. With all the help text, it might require quite a bit of scrolling when using the 2-up layout on narrower displays.

[2013-05-13 13:51] ghing commented on #583
@jwirfs-brock I also think that the presentation of data could benefit from using icons instead of text. I'm thinking an icon both to say "hey this is data" and another to replace the "get the data" text ("get the data" could still be used as the title attribute of the link).

We use this "download" icon for providing access to the data sets on the story detail page:

![screenshot from 2013-05-13

[2013-05-13 13:51] jwirfs-brock commented on #583
@ghing I agree about the clutter and keeping things clean. My concern is that people aren't seeing/using the help drawer, so they may just miss it and end up being confused by the source data feature.

This is probably something that we can fix on our end by making the help text more relevant and useful. See issue #641.

Is there any way for us to see, via Google Analytics or some other way, wheth

[2013-05-13 13:57] jwirfs-brock commented on #583
@ghing I do like the download icon. But it's always kind of bugged me because in some cases, it's a link to an external site and not a download. I'm wondering if people will not click on it because they don't want to start a file download.

Perhaps we could, if it's feasible, use the download icon for downloadable data sets and the external link (http://fortawesome.github.io/Font-Awesome/icon/exte

[2013-05-13 14:06] jwirfs-brock commented on #583
@ghing Another question about the help drawer. Do we have the ability to change the help drawer text when someone is adding a particular asset type? Right now, it seems that when you add an asset, you still just see the generic help drawer text for creating a new section.

It's been a while, so my brain is a little fuzzy. I thought we created specific help text that is tailored to asset types. May

[2013-05-13 14:07] ghing commented on #741
### Re: wizard

@bpawlak, is there any reason to not just have all the wizard steps compressed into a single view? In particular, I think it's helpful to be able to see the widget change as you change options (particularly color/size ones).  Also, most other widget generation steps I've encountered do it this way, which isn't necessarily a reason to follow their lead, but I'd be interested in know

[2013-05-13 14:15] jwirfs-brock opened #762 "Strange formatting of help drawer on blank section"
I created a new Photovoice story and didn't edit anything. I clicked on the middle "Untitled Section" and opened the help drawer.

Here's a screenshot of what I saw:
![screen shot 2013-05-13 at 10 10 57 am](https://f.cloud.github.com/assets/1020518/495995/19b89012-bbd7-11e2-9733-cef2004bd84b.png)

(1) I couldn't scroll to see the full help drawer text.
(2) The help drawer appears to start well bel

[2013-05-13 14:25] jwirfs-brock commented on #762
Hmmm, note that in this screen shot, from a sandbox story, the help drawer opens as expected:
![screen shot 2013-05-13 at 10 24 38 am](https://f.cloud.github.com/assets/1020518/496067/f114ebcc-bbd8-11e2-9263-e52eac74b81c.png)

Both were done in Chrome.

[2013-05-13 14:26] ghing commented on #746
Updated title to reflect that this issue also affects uploaded assets as well as URL-based assets.

[2013-05-13 14:33] ghing commented on #746
Update: Also, when dragging an asset, the contents of the asset drawer is blanked out.

[2013-05-13 14:34] bpawlak commented on #741
I think we can have a real-time view of the widget and how it will present itself.  That was essentially my thinking for Step 3... allowing users to dynamically change options on the fly and see how things would look.  I guess we _really_ don't need step 4 - it was just intended to give a "clean" view of the widget without any of the controls used to modify parameters/settings/etc.

We _could_ try

[2013-05-13 15:01] bpawlak commented on #583
I always thought of adding a data source to a chart or table to be very similar to a caption for an image.  It's not required, of course, but part of the process of adding data/charts/etc. would be to enable users to set a download link for data sets above/below where a user fills out the attribute information in the current UI (screenshot below).

![2013-05-13_085336](https://f.cloud.github.com/a

[2013-05-13 15:02] bpawlak commented on #583
A question: do the data links actually download the data or simply take the reader to the source page/site where the data is stored?

[2013-05-13 15:18] ghing opened #763 "PhotoVoice template does not restrict the assets to "image" and "text""
To replicate:
1. Navigate to the story builder
2. Select "PhotoVoice" from the template menu
3. Click on the "Untitled Section" section in the section list
4. Hover over the "Audio" icon in the "left" container

Expected behavior:

The "Audio" icon should not be highlighted or clickable.  Only the "image" icon should be highlighted or clickable.

Observed behavior:

All asset types are clickable.

[2013-05-13 15:38] jwirfs-brock commented on #583
@bpawlak

They do both. Users can either enter a link to an external data set, or upload a .csv or Excel file. That's why I suggested either a generic link phrase ("Get the data") or the different icons that reflect whether it's a download or a link.

[2013-05-13 15:39] ghing commented on #583
@bpawlak A little clarification on how data sets are implemented which might clarify a few things.  Data sets can be:

a. A file uploaded by the user and stored in Floodlight
b. A URL to an external file
c. A URL to some kind of web-hosted resource (e.g. a Google Spreadsheet or Fusion table, or an old school web page with an HTML table in it )

So, to answer your question "do the data links actual

[2013-05-13 15:41] jwirfs-brock commented on #583
@bpawlak

This is one of the questions we still have to answer. I sent this to Matt, Jennifer and Kait at Piton, who will be main data-story authors, to see if they have a preference. I'm still waiting on their feedback.

Personally, I view it more as meta-data about the asset, so to me it made more sense having it as part of asset creation. But I can see how it's logical either way, and I'm prett

[2013-05-13 15:41] jwirfs-brock commented on #583
@ghing I also asked Matt/Jennifer/Kait how frequently they think they'd be linking to multiple data sets. I'll post that feedback here when I get it.

[2013-05-13 15:48] #763 closed, assigned to ghing

[2013-05-13 15:50] ghing commented on #583
The other question I'd ask them, is what's the point of storing information about data sets. Is it just "show your work", or is it to one day use Floodlight as a way of helping people discover and see the impact of civic data sets?  Or something else entirely?  If it's data set discovery, I think it's important to continue to store information about datasets linked to assets, but not stored as par

[2013-05-13 15:50] bpawlak commented on #583
@jwirfs-brock If it's an excel/csv file, then yes, I'd suggest including a file type icon that's (for better or worse) is going to be recognizable to most of the users.  I'd also include the file size info in case it's a really large file.  If it's a link to another site, then we should use an icon that indicates a link to an external resource.  Something like:  http://thenounproject.com/noun/exte

[2013-05-13 15:54] jwirfs-brock commented on #583
@bpawlak Kind of like what I said a few comments up? :)

Just teasing. I agree!

[2013-05-13 16:01] bpawlak commented on #583
@jwirfs-brock yeah, my brain's not working at 100% just yet today.  And gitHub doesn't allow you to respond to a particular message (does it?) so everything is in chronological order according to when you click the "Comment" button.

[2013-05-13 16:03] jwirfs-brock commented on #583
@ghing

Cool, I will pass that along. That's an important distinction.

[2013-05-13 16:04] jwirfs-brock commented on #583
@bpawlak Yes! I totally wish GitHub had threaded commenting so that we could reply to specific comments. Someone tell the powers that be...

[2013-05-13 16:20] ghing commented on #583
Note to self: There's the [mimetypes python package](http://docs.python.org/2/library/mimetypes.html) that we can use to select the appropriate icon for the download link for a file/URL.

[2013-05-13 17:04] #673 closed, assigned to nobody

[2013-05-13 17:05] #614 closed, assigned to ghing

[2013-05-13 17:09] ghing commented on #732
Moving this to Iteration 14. We should consider having better looking progress indicators for both asset uploads and for dataset uploads.  I'm giving this the low label because it might not be relevant to how we do data set uploads in implementing #583.

[2013-05-14 21:50] ghing opened #764 "Clicking asset remove icon after switching workflow steps doesn't force re-rendering the asset"
To replicate:
1. Create a new story using the Sandbox template
2. Enter "Test Story" for the title, forcing the story to auto-save
3. Click on "Untitled Section" in the section list
4. Click on the "image" icon in the "center" container
5. Enter "https://raw.github.com/PitonFoundation/atlas/develop/apps/storybase_asset/test_files/test_image.jpg" in the "Enter image URL" field
6. Click the "Save Ch

[2013-05-14 22:21] jwirfs-brock commented on #583
Just got some feedback from the Piton crew:

Question: When does a user associate data with an asset? When they're creating the asset, or do they create the asset first and then associate data?

**When you are creating it.**

Question: What happens when a data set is disassociated with an asset? Does it get deleted? Stored in some secret bucket? Stored in a bucket available in the UI somewhere?

*

[2013-05-14 22:37] ghing commented on #583
@jwirfs-brock Ok. So it sounds like we can't compress the data set information into the asset fields as suggested by @bpawlak [above](#issuecomment-17817351).

Note to self: Think about having one form for uploading the initial datasets when you create the asset and then showing the chrome to remove/edit/add additional datasets after the created asset is displayed.  It seems like a fail to have to

[2013-05-15 16:36] ghing commented on #583
Note to self (mostly). These are the cases, as far as I can tell, for dealing with datasets (as connected to assets) in the _builder_.  Items with a '?' before them are ones I'm unclear about:
- Create chart/map/table asset with no dataset
- Create chart/map/table asset with one dataset
- Create chart/map/table with >1 dataset
- ? Display chart/map/table asset datasets during creation
- ? Remove c

[2013-05-15 18:47] ghing commented on #583
My big concerns with @jwirfs-brock proposal is the nesting of dialogs or the dual-purpose of dialogs (adding source data and adding the asset), the density of elements, the overhead of managing complex UI state in order to make this work. I'm going to lay out what I think the problem is, and also what feels cleaner to navigate/implement.  These mockups are less proposals than a description because

[2013-05-15 19:27] jwirfs-brock commented on #583
@ghing Thanks for these mock-ups. They are really clear. Initially, it made sense to me to have the "add data source" feature in the asset creation step, but moving it to the edit step seems much more logical now.

@bpawlak Do you think you could make some mock-ups that have the same styling as our current Story Builder design that implement Geoff's solution? Then, we can show the mock-ups of the

[2013-05-15 19:36] ghing commented on #583
@bpawlak, @jwirfs-brock also, a totally different solution could be possible or preferable. What I proposed was mostly a way to visually clarify the things I found problematic about [Jordan's original mockups](https://github.com/PitonFoundation/atlas/issues/583#issuecomment-17746835) and to describe one solution that would support [all the different cases](https://github.com/PitonFoundation/atlas/

[2013-05-15 20:58] bpawlak commented on #583
I kind of feel like putting the "Sources" up with the icons for edit and remove is confusing, esp. considering that for images, after you upload an image, you get a prompt to "click to edit caption" below the image.

Is it not possible to put the data source initiate button/action _below_ the chart/map/etc. like we do for captions?  It's "outside" of the add asset flow (i.e., we've "added" the ass

[2013-05-15 20:59] bpawlak commented on #583
Sorry... clicked "close and comment" thinking "close" was close the commenting container...

[2013-05-15 21:04] jwirfs-brock commented on #583
@bpawlak That's a good point that it's confusing to edit some asset metadata (captions) below the asset, and other metadata (source data sets) at the top.

@ghing and I had a conversation this morning about changing the caption editing process (because it's a bit awkward as it is now -- it's easy to miss that the caption is there if your image pushes the box below the current view on your screen),

[2013-05-15 21:06] jwirfs-brock opened #765 "Updating "edit caption" behavior"
Currently, it's easy to miss the "Edit caption" bar when it appears below an asset. If an asset is large, the "Edit caption" is only visible by scrolling. This is problematic, because the "save/cancel" button, which appears _below_ the "Edit caption" box, often does not appear on the screen.

Also, this is inconsistent with the proposed behavior in #583.

[2013-05-15 21:10] jwirfs-brock commented on #765
Here's a screenshot. This gets really annoying, because when I don't see the Save/Cancel buttons, I often forget to hit Save, and then my caption text disappears when I click away.

![editcaption](https://f.cloud.github.com/assets/1020518/509427/b6287962-bda3-11e2-81c6-3171965d5640.png)

[2013-05-15 21:10] jwirfs-brock commented on #583
Just opened up the issue on caption behavior: #765

[2013-05-15 21:51] ghing commented on #583
@bpawlak The caption is edited below the asset because that's where it shows up in the viewer and we used to use in-place editing throughout the interface.  Now that we don't use in-place editing, I think editing the caption feels odd, and I can understand why it feels like it's somehow different information from the other asset fields. I feel like it should just be moved into the asset creation/e

[2013-05-16 01:03] ghing commented on #765
To me, the coherent way to fix this is to move the caption field into the asset creation/asset editing form.  I think it still makes sense to display it below the asset, as it would be in the viewer, but to eliminate the in-place editing.

[2013-05-16 01:24] ghing commented on #759
Taking this one.

[2013-05-16 02:23] #759 closed, assigned to ghing

[2013-05-16 16:40] jwirfs-brock commented on #746
@ghing This seems to be working fine.

One thing I did notice, though, is that when I...
- Had the asset drawer open
- Removed an asset

The asset did not immediately appear in the asset drawer. When I closed the asset drawer and reopened it, the asset appeared in the drawer as expected.

However, I wasn't able to reproduce this, so I am not sure exactly what conditions caused it (I should have be

[2013-05-16 16:53] jwirfs-brock commented on #746
I was able to replicate the behavior and create a narrated screen capture of it:
http://www.youtube.com/watch?v=AU6BOzMnhXI&feature=youtube_gdata_player

The steps I did were:
- Create a new story (and give it a title, byline, and summary)
- Add an image (from URL) to Untitled Section
- Change the Untitled Section from One-Up to Side-by-Side layout
- Open asset drawer
- Drag image asset from the a

[2013-05-16 17:32] ghing commented on #746
@jwirfs-brock Good catch.  I did all my testing in a situation with multiple assets, so never ran into this behavior.

I fixed the "Asset did not appear until I closed and then re-opened the drawer".  I wasn't able to replicate the "Saw no message" behavior.  My only thought is that we squash duplicate alert messages, so, in the scenario described above, if you remove the asset from the container

[2013-05-23 13:00] jwirfs-brock commented on #746
Oops, I tested this yesterday and commented it on it. I must have forgot to hit comment or something...

This looks good now. I am still seeing (or not seeing, rather) the missing message in a few cases, but I a having trouble consistently replicating it. @ghing I think you are probably right about if having something to do with an earlier message not completely fading out yet -- it's actually the

[2013-05-23 13:00] #746 closed, assigned to ghing

[2013-05-23 13:09] jwirfs-brock commented on #733
Some ideas for this:
- We could have a "this story has data" icon that appears next to the story title (when it is displayed on the explore page, on the homepage, etc.). I'm not sure whether it makes sense to have this icon by a link to the "Data Sets" list (just as an anchor on the story detail page)...that could be a bad idea.
- On the story detail page, we could make the "Data Sets" list more p

[2013-05-23 13:27] jwirfs-brock commented on #583
Here's my synthesis of the conversations above about how we present data sets in the viewer:
![data_asset3](https://f.cloud.github.com/assets/1020518/554562/2bcf84f4-c3ac-11e2-9a8f-087f66c91e04.png)

*The first source is downloadable (using the font awesome download icon: http://fortawesome.github.io/Font-Awesome/icon/download-alt/)
*The second source is an external link (using the font awesome ex

[2013-05-23 13:51] ghing commented on #583
@jwirfs-brock Cool. This makes sense, though we might have to re-think the details given the length of the dataset titles.  Below is a roughly generated list of dataset titles and attribution in the system.  We could truncate titles after a certain length with elipses, or lay them out in a table style so that the titles/attribution wrap in a way that is fixed-width. Alternately, we could use a mar

[2013-05-23 13:57] jwirfs-brock commented on #583
@ghing That's a good point...some of the data set titles can get quite long, especially with attribution. I like the first two options (truncation, table). Would you mind doing a mock-up of what the table might look like?

[2013-05-23 14:17] bpawlak commented on #583
I agree with  either wrapping the text or truncating with an ellipsis (and a tooltip on hover that gives the whole title).

[2013-05-23 14:17] bpawlak commented on #583
Damn I hate that "Close & Comment" button...

[2013-05-23 15:40] jwirfs-brock opened #766 "Story Viewer not displaying text, photos of published stories in IE8"
Here is the description I got from a user:

[2013-05-23 19:06] ghing commented on #766
Looks like a typo in the viewer code caused this problem.  At first glance, this diff fixes it.

[code]

I need to look at when this was introduced in 44fcd39b6d82055c7788c0e8d37ff485a6b1a3f8

[2013-05-23 21:40] ghing commented on #766
Ok.  It's not a typo, but [arrays in IE < IE9 don't have an indexOf method](http://stackoverflow.com/a/3629211/386210) :disappointed:, no :rage4:

The `models` attribute of a collection gives raw access to the array representation of a collection.  But, Backbone collections also have an `indexOf` method [implemented using Underscore](http://underscorejs.org/#indexOf), which [has a polyfill](http:/

[2013-05-23 22:11] #766 closed, assigned to ghing

[2013-05-24 15:47] patternleaf commented on #766
Ugh. I knew that. Sorry for the snafu!

[2013-05-30 15:05] #764 closed, assigned to ghing

[2013-05-30 16:49] jwirfs-brock commented on #641
Note to self:

To do -- go through each template and identify help items that are missing or need to be updated.

[2013-05-30 17:02] jwirfs-brock commented on #762
I'm also seeing this on the Story Information section in the Data Story layout:
http://floodlightproject.org/en/build/2196782de28b42808e0471485a0f8720/

(Using Firefox 21.0 on a Mac.)

[2013-05-30 17:13] jwirfs-brock commented on #641
Help text update punch list:

All Templates:
- Story Information (ALL TEMPLATES) -- Maybe include a sentence at the beginning of where this will show up and how this information pulls the reader in/is how the reader decides whether or not to read the story. Include info about character limit (try to keep to 250 characters).
- Make sure they have asset-specific help associated with them when approp

[2013-05-30 17:26] jwirfs-brock commented on #580
Just adding some brainstorming about the email reminders...

**Reminder: Publish stories they have started but not finished**
- When to send: Should have some time limit (i.e., it's been in draft mode for 48 hours)
- Content: Should include some helpful tips/links ("Are you stuck...?")
- Questions: Do we send multiple follow-up emails, or just one?

**Reminder: Add tags and meta-data to existing s

[2013-05-30 17:27] jwirfs-brock commented on #578
@bpawlak This is another important upcoming fix that needs some UI work. Thoughts? We can brainstorm here on GitHub first, then discuss in-person on Tuesday, perhaps?

[2013-05-30 17:38] jwirfs-brock commented on #562
Suggested solution: Post an alert for any title longer than 100 characters (one that doesn't force a limit, similar to what we have for the Summary).

Note that for the titles of the 144 stories currently published:
- average length is 43 characters
- only 3 are longer than 100 characters
- max length is 134 characters
- min length is 8 characters

[2013-05-30 18:16] jwirfs-brock commented on #583
Some things I noticed while testing on dev:

**Placement of download icon**
- On story detail page, it is to the right of the data set title, whereas in the story viewer, it is to the left. It should be consistent (let's go with icon to the right)

**Data set title acting as a link**
- On the story detail page, the data set title is not clickable, but in the story viewer it is (lets you download d

[2013-05-30 18:18] jwirfs-brock commented on #583
When I removed a data set...
- The list in the data sources interface indicated that there were no data sets, as expected.
- But the list BELOW the asset still indicated that there was a data set.

Story: http://dev.floodlightproject.org/en/build/f08ab17d31af429bad4290c4526eda99/

[2013-05-30 18:34] jwirfs-brock commented on #583
@ghing Here's a video of some of the strange behavior I observed (still processing on YouTube, but should be viewable in a few minutes...):
http://youtu.be/NP7UIwyfmIc

[2013-05-30 18:36] bpawlak commented on #583
Other things I noticed.
- Data Set Name is a required field but isn't indicated as such (until after I tried to hit "Save")
- The data set is being inserted _above_ the "click to edit caption" prompt.  (BTW, can we make that prompt a blue underline so that it looks clickable?)
- When I'm editing datasources, the icon and the name swap positions... (the name is all the way to the left instead of be

[2013-05-30 18:59] bpawlak commented on #583
Some other thoughts:
- I know we're using the "do this OR do that" for things like uploading an image (e.g., enter URL or upload image) but when you get to 3 options like on adding a chart, it's confusing.  And the message "You must specify only one of the following values body, url" (if you try to enter a chart URL and Embed code) isn't very clear to users.  What about something similar to using

[2013-05-30 19:02] bpawlak commented on #583
Also, our strategy for placing the "Data Sources" button next to "Edit" and "Remove" may be confusing.  If I successfully add a Data Source and then go back to the normal builder view, it's not entirely clear that the "Edit" button is only for the (chart) asset and not for editing the data source.  Perhaps we can change the text to be "Edit Chart" and "Edit Data Source" to accompany the icon?

[2013-05-30 19:06] ghing opened #767 "Asset and data set creation forms should only show one input options at a time"
Originally reported by @bpawlak in [a comment](https://github.com/PitonFoundation/atlas/issues/583#issuecomment-18700725) to #583

![Asset content selection mockup](https://f.cloud.github.com/assets/2250519/586991/15f524cc-c95b-11e2-8100-4385d4cdc9c5.png)

[2013-05-30 19:10] ghing commented on #583
@bpawlak, I agree about [the confusion of showing all 3 of the mutually exclusive fields for asset types that allow different kinds of input](https://github.com/PitonFoundation/atlas/issues/583#issuecomment-18700725).

I've opened this as a separate issue, #767, since it's implemented separately from all the data set stuff.

@jwirfs-brock, let me know if you want me to address this along with the

[2013-05-30 19:10] jwirfs-brock commented on #583
Or maybe a generic "Edit Asset" (if it's too tricky to have the text update
based on the asset type)?

[2013-05-30 19:24] jwirfs-brock commented on #583
@ghing I think it makes the most sense to deploy the current iteration as it is once it'd done, then deal with #767 in the next iteration.

[2013-05-30 19:34] bpawlak commented on #578
I thought at one point we had talked through a re-imagined flow for story creation and steps where title and name were on the first step "called Title" while the summary field was going to be presented when the user clicked "Publish/Share?"  e.g., it's only at that point that the author needs to summarize the story for inclusion on Floodlight

[2013-05-30 19:36] jwirfs-brock commented on #578
Yup that's right. The details just need to be solidified.

[2013-05-30 20:14] ghing commented on #583
@bpawlak [wrote](https://github.com/PitonFoundation/atlas/issues/583#issuecomment-18699238)

This is ambiguous labeling. "Data Source" means the name of the entity that created the data.  So, this would be something like "U.S. Census Bureau" or "City of Denver Department of Health". The labels of the fields could all stand to be improved, I think.

[2013-05-30 20:27] bpawlak commented on #583
I actually liked having the dataset name be the link as well as the icon... far more salient and a bigger "hit" area for the mouse.

[2013-05-30 21:16] bpawlak commented on #580
I think that's the biggest issue... not being too "naggy."  We definitely have to come up with some rules about when we email a user about unpublished stories - and how often.

Maybe after a story has been left unpublished for a month, we send an email reminder saying "you've got # total number of unpublished stories" (and yes, add some helper text on if they're stuck, etc.).  But then we use that

[2013-05-30 21:46] ghing commented on #583
@bpawlak Ok, they're back to being links now.

[2013-05-31 15:51] patternleaf commented on #187
Google's chart script was getting confused by being loaded in an unorthodox way. We've addressed this via a more general approach of sandboxing in an iframe any html asset that has a script tag.

One issue with this approach is appropriately sizing the iframe to match its contents. ae17f78 has a solution for this while integrating the solution for #469 which has a similar pattern of autosizing nee

[2013-05-31 17:58] jwirfs-brock opened #768 "Images not displaying in Firefox for a published story"
I just published a new story and the images are...
- showing up properly in Chrome
- showing up in the PREVIEW in Firefox
- Not showing up in the published version in Firefox

Here's the story link: http://floodlightproject.org/en/stories/stretch-your-storytelling-muscles/

Screenshot from Chrome:
![screen shot 2013-05-31 at 1 56 07 pm](https://f.cloud.github.com/assets/1020518/592440/7c04cd9c-ca1

[2013-05-31 18:07] ghing commented on #768
I think this is a transient issue as I can see the images when I load that story in Firefox. This is most certainly related to our border/caption resizing code.  I think the code isn't waiting for the image to load, and so it sets the width of the frame to 0.  Depending on how fast the images load, it will either work correctly or not.  @patternleaf is re-working this code as part of the #187 impl

[2013-05-31 18:10] jwirfs-brock commented on #768
@ghing Cool. Yeah I suspected that images may be showing up properly in other versions of Firefox.

[2013-05-31 18:12] ghing commented on #768
@jwirfs-brock It's actually not related to the version of Firefox. It has to do with the load times of the different assets.

[2013-05-31 18:21] ghing commented on #187
@patternleaf, I'm going to take a look at ae17f78. Can you document the testing that you did, even if its really quick and dirty/informal, just so we can replicate it in the future and so I think of any cases that you missed.

[2013-06-04 19:15] ghing opened #769 "Style file inputs to match other inputs"
File inputs look different than other form inputs (at least in Firefox). They're smaller, and lack the rounded corners.  The button lacks the button styles used throughout the site/app.

Warning: [styling file inputs isn't easy and requires some hacking](http://stackoverflow.com/questions/4532733/styling-input-type-file)

![screenshot from 2013-06-04 14 05 23](https://f.cloud.github.com/assets/110

[2013-06-04 22:21] bpawlak commented on #741
Here's a summary of what Jordan and I discussed today and taking into account Geoff's suggestion in [https://github.com/PitonFoundation/atlas/issues/741#issuecomment-17813632].

![embed_dialog](https://f.cloud.github.com/assets/2250519/608660/26dc32ea-cd65-11e2-93dd-c9561b076f53.png)

[2013-06-05 13:26] ghing commented on #741
@bpawlak and @jwirfs-brock, the mockups of the wizard look good to me.  A few questions/comments:
- How will the user launch the wizard from the share popup? Will the wizard open in a separate tab or in a modal popup?
- It seems like before we implement the wizard, we should implement the new widget styles themselves. Has there been any clarification on the design of the widgets themselves? I get

[2013-06-05 15:35] patternleaf commented on #187
@ghing, Testing diagrammed below. This is good—found a case I missed and noticed that browser resizing isn't working as desired.
- case: story with section with chart
  - viewer
    - load story on first page, navigate to page with chart
    - nagivate to page with chart, then to another page, then back to page with chart
      - verify that chart does not reload
    - load story directly on page

[2013-06-05 15:52] bpawlak commented on #741
Oops.  I forgot to follow up the wireframe post with some more details... sorry about that.

To answer the 1st & 3rd questions:

1) The "Embed this story on another site" line in the share popup should be changed to a button.  Clicking on the button would close the share popup and show the widget creation tool as a modal.  One thought I had is that perhaps the "Embed" should be it's own button so

[2013-06-05 16:37] ghing commented on #741
@bpawlak,

I think a single tag is better too. I think the purpose of the widget gets murky otherwise.

Any examples of this out in the wild would be appreciated.

I'd prefer to continue to embed the widget in an iframe (to sandbox widget styles and to leverage server-side templates to make rendering or updating the widget easy), but, as far as I can tell, that makes it tricky to break the viewer

[2013-06-05 17:10] bpawlak commented on #741
Once we build it, I can show it to you.  :)

I think Jordan has found out that opening in a new window (as it works now) isn't as desirable to our potential users, although I personally think it's a good first step.

[2013-06-05 17:29] ghing commented on #741
By "as it works now", do you mean in a new tab (or whatever the user's preference is), or a popup like in the [Twitter example](https://dev.twitter.com/docs/embedded-timelines) I mentioned before? I had a Twitter-like popup working a as a demo for a while on dev before I switched gears to work on #583.

[2013-06-05 17:34] bpawlak commented on #741
I only saw it in the new tab, didn't see the popup.  Need to get Jordan's clarification on what the requirement is.

[2013-06-05 17:59] ghing commented on #741
To me, the ideal implementation would be to open in a popup (like Twitter) by default.  Then we could include an additional script that would set up click handlers to open the viewer in a modal if desired (thus keeping the default widget script lightweight).

Alternately, what about switching to fullscreen mode, a la the [HTML5 version](http://www.youtube.com/html5) of the [embedded youtube player

[2013-06-06 13:28] jwirfs-brock commented on #741
@ghing I'm not quite sure what you mean when you refer to the Twitter example -- when I look at that page, I just see the embedded timeline, not a pop-up window. And then when you click on the "Tweets" link, it opens up the Twitter profile page in a new tab.

@ghing and @bpawlak In general, I'm having a little trouble following the options and understanding what's possible and what isn't.

So, jus

[2013-06-06 14:02] jwirfs-brock commented on #733
Another option for making the data sets more prominent is that, instead of listing them below the topics/tags list, we could put them under the summary (possibly right below the "view story" button?).

As I said earlier, even just a more enticing header that is bolded might do the trick (wherever it's placed):

**Get the Data**
My data set

[2013-06-06 14:07] jwirfs-brock commented on #741
@ghing @bpawlak
Here's an example that shows why it is probably ok to have the embed widget open in a new window or tab. The NY Times often has multimedia extras that go along with their stories (like in this one: http://www.nytimes.com/2013/06/02/magazine/how-chicagos-housing-crisis-ignited-a-new-form-of-activism.html?ref=magazine). When you click on the extra - whether it's a slide show, like in

[2013-06-06 14:23] ghing commented on #741
@jwirfs-brock, in the embedded timeline widgets, click on any of the usernames in the timeline. For me, it opens the user's timeline in a popup.

Not too difficult since there's an API that provides fullscreen functionality in modern browsers. The tricky part is supporting Internet Explorer. In this case, we could do what YouTube does and just make the video 100% of the browser window (as opposed

[2013-06-06 14:32] jwirfs-brock commented on #741
@ghing I agree, I do think we need some clarification from TDF and Piton in terms of WHY they said they would prefer to have people be able to read stories from their websites.

The exact way I worded the question to them before was:
"How should readers be able to view the Floodlight story/stories on your website?"

Everyone chose: "...read the full story on my website without having to leave" ove

[2013-06-06 14:32] ghing commented on #741
@jwirfs-brock Re: the NYT example, when I click on an item like one of the slide shows in the story you pointed me to, it actually replaces the page in my current browser tab, which is the normal link behavior. Personally, I like this, and a lot of people argue that you should just make links work the way they're intended and leave it up to the user to decide whether to open it in a new window or

[2013-06-06 14:44] ghing commented on #733
I'm worried about pushing the story metadata even lower "below the fold".

Two more ideas:
- "Get the Data" as a [drop-down button](http://twitter.github.io/bootstrap/components.html#buttonDropdowns) that lives next to the "View Story" button

![screenshot from 2013-06-06 09 36 04](https://f.cloud.github.com/assets/110420/618555/63ca6ce6-ceb7-11e2-967f-caa97bee7202.png)
- "Get the Data" as a banne

[2013-06-06 15:20] bpawlak commented on #741
I agree with you, Geoff, and I think Jordan does, too.  "Standard" link behavior just replaces whatever page I'm on with whatever the target page is.  If a user wants to open a link in a new window, they can do so (unless it's asp.net or some javascript trying to prevent it (grr!)).  I think Piton & TDF are worried that if people leave their sites to go read a story, they won't ever come back to t

[2013-06-06 15:32] wendynorris commented on #733
I really like the concept of a "Get the Data" button placed next to "View Story."

[2013-06-06 15:39] ghing commented on #187
I just thought of another test case: in the builder, remove the asset from the container and re-add it using drag + drop from the asset drawer.

[2013-06-06 16:10] bpawlak commented on #583
Just took a look at dev.  According to the checkboxes in the first comment (on 06.06.13 10:10am MST), all looks good.  Do have an opinion about the icon on the left or right.  I kind of like it on the left as it also doubles as a "bullet point" for multiple data sets.  Should be top aligned, too.

See below - long data set names can cause the icon-on-the-right solution to look weird.

![image](htt

[2013-06-06 16:17] ghing commented on #583
That was my original thinking too. @jwirfs-brock, do you have a strong preference for download/external link icon to the left or right of the item in the list? I'll make sure to top-align it either way.

[2013-06-06 16:31] jwirfs-brock commented on #583
@ghing @bpawlak That's a good observation about the left-alignment creating a bullet point. Let's go with that.

[2013-06-06 16:35] jwirfs-brock commented on #583
@bpawlak Did you have any suggestions about how/where we display the data attribution (checkpoint 3 on the list)?

Some suggestions @ghing had were:
- Italics next to or under data set title
- Tool tip

Other ideas?

[2013-06-06 16:45] bpawlak commented on #583
Sorry, I forgot to comment on that. Yes, I would think medium-grey text (smaller, and _maybe_ italics - although that can be harder to read) below the Data Set title works.

[2013-06-06 18:49] jwirfs-brock opened #770 "Deleted chart asset (made from embedded iframe) - appeared full-size in asset drawer, undragable"
While testing the "add data sources" feature (#583), I created and then removed a chart asset by pasting embed code that featured a d3 visualization (via an iframe).

When I opened the asset drawer, the chart asset:
- Appeared full size
- Was not draggable (I couldn't drag/drop it back into the builder)

I did this on dev. Here's the link to the story in the builder: http://dev.floodlightproject.o

[2013-06-06 18:51] jwirfs-brock commented on #770
Here's the embed code I used to make the chart asset:
`<iframe src="http://wirfs-brock.com/jordan/dataviz/six-word-memoirs/index.html" height="700" width="910" seamless></iframe>`

[2013-06-06 18:54] patternleaf commented on #187
@ghing roger that.

[2013-06-06 18:55] ghing commented on #770
This should probably just show up as an icon, right? Until we implement a good way to make thumbnail snapshots of   HTML.

[2013-06-06 18:58] jwirfs-brock commented on #583
@ghing @bpawlak One thing I noticed while testing this out is that, when you are adding a new dataset, you can enter in both a URL and upload a file into the edit window. But then, once you click save, just the URL will show up.

I'm not sure if there is a way to make this clearer to the user. People might think they can do both and be confused. Or, maybe it won't be an issue.

[2013-06-06 19:00] jwirfs-brock commented on #770
Yes. I think the chart icon that we to add a new asset would work.

[2013-06-06 19:01] jwirfs-brock commented on #583
I also found this ambiguous. I made some microcopy notes, and one of them includes just changing this to "Source."

[2013-06-06 19:05] ghing commented on #583
@jwirfs-brock, this is #767

Note that it won't actually allow you to create a data set with both items.  It will return with an error message.

For now, think about what microcopy we can add/edit to make this as clear as possible.  We can disambiguate this for real once we implement #767

[2013-06-06 19:06] jwirfs-brock commented on #583
Microcopy edits:
- There are no datasets --> There are no datasets.
- Data Set Name --> Dataset Name
- Data Source --> Source
- The organization or entity that created the data set. --> _The organization or entity that created the dataset_
- Enter the URL of a data set hosted on a web site or in the cloud. Alternately, you can upload a file below. --> _Enter the URL of a dataset hosted on a web si

[2013-06-06 19:06] ghing commented on #767
Updated title to reflect that this is also an issue with data sets.

[2013-06-06 19:08] patternleaf commented on #187
Yeah: asset in asset drawer is subject to the same error as original. But if #770 is solved by use of an icon, that may provide a solution to this issue too, correct?

[2013-06-06 19:08] bpawlak commented on #583
@jwirfs-brock, check out: https://github.com/PitonFoundation/atlas/issues/767... it's related

[2013-06-06 19:12] jwirfs-brock commented on #583
Ah, ok. Note that I did not see an error message. It just saved the dataset and kept the URL, not the file I had selected.

[2013-06-06 19:14] ghing commented on #187
Yes. I was thinking more of making sure it displayed correctly in the container after it was added. But I guess you have to wait for the #770 fix to test that?

[2013-06-06 21:04] jwirfs-brock commented on #704
Ok, I did some doodling to try to capture a conversation Bill and I had on Tuesday about the story builder redesign. Essentially:
- There would be two major steps to building a story: (A) Planning, and (B) Composing
- (B) is essentially our current story builder
- (A) is a narrative structure/outlining process that then gets mapped into the builder for (B) (somehow...not quite sure how that would

[2013-06-07 15:49] ghing opened #771 "Thumbnails for HTML assets"
We don't have a way to display thumbnail URLs for non-image assets.  Right now, in the asset sidebar, we fall back to icons, but this makes it hard to distinguish assets if a user has multiple unused assets of the same type.  However, this is a non-trivial problem since we have to figure out a way to render HTML to an image on the backend.

http://jeanphix.me/Ghost.py/ or https://github.com/niwibe

[2013-06-07 15:53] ghing commented on #771
Assigning to @jwirfs-brock for triage.

[2013-06-07 15:56] ghing commented on #770
I'm going to fix this by using icons. I opened #771 as an idea for a more long-term fix.

[2013-06-07 17:21] patternleaf commented on #187
@ghing I can probably hack something to test without waiting for #770.

[2013-06-10 17:55] patternleaf commented on #187
Update on this:
1. Dragging from the asset drawer seems to work correctly in that the asset is re-created faithfully in the container.
2. I'll give up on having the figure container collapse to the size of its asset for this issue. (To clarify, in http://floodlightproject.org/stories/officer-hollis-peace-memorial/viewer/#sections/e7bab059de7443978364915bd65282e5 for example, you'll notice that the

[2013-06-10 22:21] bpawlak commented on #704
A couple of other things we discussed and thoughts I had:
- Need some sort of "how do I choose" table or decision tree for picking the "correct' narrative structure (there may be more than one for any given author's situation).  I think this should be more than just an example story, it should be more like "if your story is about..." and "if your story has a main character..." etc.  I think if we

[2013-06-11 13:26] jwirfs-brock commented on #704
Thanks for the comments, @bpawlak. I have some thoughts...

I definitely agree. I just made the story structures into visual layouts because that worked better for my brain. Before I did that, though, I wrote them out as lists of questions.

Here are the five story formats I've been working with (let me know if you think of more) as lists of questions:
https://docs.google.com/document/d/1jPapFWmOZ

[2013-06-11 20:36] patternleaf commented on #187
I've tested the iframe-wrapping scheme with the following kinds of script-based embeds:
- documentcloud
- storify.com
- worldbank.org

Also I tried a couple of assets that had either a google map or an alternate form of google chart. Both of those included full HTML markup. These forms broke because our scheme wraps the asset body with `<html><head></head><body>`... without checking whether the as

[2013-06-12 14:03] ghing commented on #704
A counter proposal.

tl;dr Story planning seems important, but it should facilitate users reasoning about their stories rather than forcing them into a particular process.

@jwirfs-brock's [sketches](https://github.com/PitonFoundation/atlas/issues/704#issuecomment-19074037) are helpful in thinking about the future of the builder.

I'm on board with a two step, plan/compose process. I'm also fully

[2013-06-12 14:16] jwirfs-brock commented on #704
@ghing I think the tagging idea is really interesting, but I am having trouble seeing how you would actually use it to construct a story. How would you go from the tagged list you shared above to a story? Would it just be a reminder if you didn't include a particular element? I'd really like to play with this because I've found it extremely helpful to use and play with the story structures.

One t

[2013-06-12 14:35] ghing commented on #704
@jwirfs-brock, I think the "tags" that the user comes up with would be available in a manner similar to the one suggested by @patternleaf:

![](https://f.cloud.github.com/assets/73439/358038/2ee566d4-a135-11e2-886b-66b698100be4.png)

The big difference would be that instead of general terms ("Who", "What", "Effects", "Actions"), the tags would be actual elements perhaps with a counter or a percent

[2013-06-12 14:45] jwirfs-brock commented on #704
I totally agree -- this is the fuzziest part. In fact, going back to the interviews I did, this was also the part that the interviewees found the hardest to describe. This is the process that is different for everyone, and it's the "special sauce" of where you go from a plan to a real draft.

Often, people make the plan, then throw it away and never look at it again. Or, they consult it constantly

[2013-06-12 20:50] jwirfs-brock commented on #741
Main takeaways:
1) **Our next iteration of the widget doesn’t need to include a wizard.** First, we should focus on building the widget so we can demonstrate the different options. We can offer support to some power users (TDF, Piton, DPS Americorps, Denver Public Health) to help them customize the features.
2) **Clicking on a story link within the widget should open up a pop-up window that displa

[2013-06-13 16:24] patternleaf commented on #704
I think the tagging feature could be a non-invasive and optional part of this. If we wanted something a little flashier than just tag use count, we could provide an analysis tool that, based on the user's tagging, visually represents how the planning structure is mapped onto the presentation. A _very_ rough sketch, for example:

![screenshot 6 13 13 10 18 am](https://f.cloud.github.com/assets/7343

[2013-06-13 16:42] jwirfs-brock commented on #704
I think regardless of how we map the planning process onto the builder, it starts with the user answering some simple questions:
- Who is the central character?
- What does the central character want?
- What is/are the major theme/s of this story?
- etc.

And that pre-planning process of answering questions is what I think we should be experimenting with.

But maybe I am not understanding this cor

[2013-06-13 20:33] bpawlak commented on #704
I don't think I completely understand the tagging concept as it applies to spanning the story planning and building workflow steps, either.

From a speed-to-market perspective, doesn't this make the most sense?  Offer a planning tool that is primarily intended to just get people to _think through_ the storytelling process and structure in the first place.  They can reference it while using the bui

[2013-06-14 13:39] jwirfs-brock commented on #583
For the test scenario:

Everything worked as expected, except the dataset "FOIA No Heats 2011 to Present" **opened in a new window instead of  a new tab.**

[2013-06-14 13:41] jwirfs-brock commented on #583
Related to the comment above about the external dataset opening up in a new window instead of a new tab, I also observed this when clicking on the link from the story detail page.

[2013-06-14 15:14] bpawlak commented on #583
Is that a browser setting?  Because when I click on a data source, it opens a new tab and immediately gives me the OS's "save location" dialog.

Question:  Does the link have to open in a new tab if all we're doing is downloading data (an Excel spreadsheet in my test instance)?  Or, does it work this way in the event the data is actually a URL (instead of a file)?

[2013-06-14 15:23] jwirfs-brock commented on #583
@bpawlak @ghing I observed this when I was viewing an external dataset via a URL. I am not sure if it's a browser setting -- I was testing in Firefox, and other things open in new tabs by default (like when I preview a story). I just tried it in Chrome, though, and external datasets are opening in a new tab as expected.

[2013-06-14 15:29] ghing commented on #583
@bpawlak,

That's exactly why it does this. We only know for sure that files uploaded to Floodlight are downloadable. We make an educated guess when the user provides a URL based on filename extensions in the URL.

For me, the new tab closes as soon as I download the file. It only remains open and empty if you cancel the download.  So, opening the downloadable file in a new tab seemed like an ok b

[2013-06-14 15:34] bpawlak opened #772 "Story Viewer top header scrolls off page"
When a story has a tall page (lot of content, scroll bars are needed), as the user scrolls down the page, the top header (with the story title, new window and close viewer icons, etc.) scrolls out of view.  Although this was done intentionally to deal with long story titles, I think we should re-address the issue as it seems broken.

Can we simply add "position:absolute" to header id="header"?

[2013-06-14 15:52] ghing commented on #772
This behavior was introduced to address #684, which is why a simple `position:absolute` or `position:fixed` doesn't work well.

We should probably fix this because as @patternleaf pointed out, when viewed in the popup, the close and open in new window icons become invisible too.

My suggestion would be to toggle the position of the header to be fixed or absolute only when the user starts scrolling

[2013-06-14 17:10] ghing opened #773 "Can't scroll to later sections"
Reported by a user:

I wasn't able to replicate this for the story in question using Google Chrome Version 27.0.1453.110

[2013-06-14 17:31] ghing opened #774 "Better mobile support in template through responsive design"
This issue was originally reported because things didn't work well on the iPhone, even scaling the full-width page.  This is now the "main" issue for further responsive template/CSS development and mobile support.

An outline of our mobile/responsive implementation strategy is in the "Responsiveness Notes" doc at https://docs.google.com/document/d/1o2LBK2Y9xoUWLXMoDlT0g00uCtrBoM0OP7G74Fhejvs/edit

[2013-06-14 17:50] jwirfs-brock commented on #774
One idea is that, if someone is viewing a story on a phone, they could bypass the story detail page and go directly to the story viewer. Thoughts?

Note that we've also had some issues reported when users open Floodlight on iPads. See issue #268.

[2013-06-14 17:51] jwirfs-brock commented on #774
@tekhneco I don't have an iPhone, so I can't test it either. Can you let us know if story detail pages and stories in the viewer are also showing up weird? Thanks.

[2013-06-14 17:52] jwirfs-brock commented on #773
@ghing I will respond to the user and ask her what version of Chrome she was using.

[2013-06-14 17:55] wendynorris commented on #774
Here's a screenshot of the front page, if that helps. Same scaling issue as Project Page.

iOS v 6.1.3

![img_1135](https://f.cloud.github.com/assets/2329239/655702/0b18e776-d51a-11e2-8c58-ae494d7767cc.png)

[2013-06-14 17:58] ghing commented on #774
Detecting "if someone is viewing a story on a phone" is a can of worms and the preferred technique is responsive design using media queries (i.e. detecting the size of the viewport rather than the type of browser/device). Also having the same URL path go to two locations (even if we do the right thing and redirect) isn't a great behavior.

Also, such a workaround doesn't addresses the fundamental

[2013-06-14 17:59] ghing commented on #774
@tekhneco does rotating the phone to be landscape orientation fix things at all?

[2013-06-14 17:59] wendynorris commented on #774
Yep, same problem on Explore and Story detail page.

The "view story" button does not appear at all on mobile Safari.

![img_1137](https://f.cloud.github.com/assets/2329239/655787/17421516-d51c-11e2-8114-c3db5778daa6.png)

[2013-06-14 18:00] wendynorris commented on #774
@ghing Rotation does not resolve the scaling problem.

[2013-06-14 18:05] wendynorris commented on #774
@ghing Viewing pages is important. Building stories on a phone is not. That should be distinguished from building stories on a tablet. That's a bit more of a conundrum.

I did a demo Tuesday with someone using an iPad and the asset embed functions did not work and the builder navigation tool bar appeared in the center of the screen blocking the text entry box. I can re-test that scenario on my iPa

[2013-06-14 18:09] jwirfs-brock commented on #774
I would say the highest priority is making sure people can view all content (both pages and content in the story viewer) on a mobile device.

Creating stories on a mobile device is secondary, and something that we would need to approach as it's own set of features.

[2013-06-14 18:10] jwirfs-brock commented on #774
@ghing

Right, I just said phones because phones are usually small screens. Totally agree on detecting the size of the screen being the way to go.

[2013-06-14 18:20] ghing commented on #583
@jwirfs-brock, @bpawlak I confirmed that on Firefox, the links open in a new window rather than a new tab.  I'll look at the docs and see if there's a way to force a certain behavior with `window.open` and Firefox.

[2013-06-14 18:27] ghing commented on #774
I just tried this quick fix and @tekhneco confirmed that it at least makes things readable, though not great:

[code]

@patternleaf, do you recall why the `#main` div has `overlfow-x` set to hidden, or is that a remnant of the stuff you were given by the themers?

Do you see any problem with getting rid of `overflow-x: hidden;`? Or, should I use a media query to only get rid of it for narrow displ

[2013-06-14 19:16] patternleaf commented on #774
@ghing i'm pretty sure that's a leftover from the themers. i'd say whack it.

[2013-06-14 21:49] ghing commented on #583
@jwirfs-brock @bpawlak it turns out there's some subtlety to how Firefox handles `window.open`. See 579ae71 for the gory details, but dataset links should open in a new tab in Firefox (unless the user has configured other behavior explicitly in the browser settings).

[2013-06-17 13:18] jwirfs-brock commented on #773
Update: Still waiting to hear back from the user about the version of Chrome. I'll send a reminder email if I don't hear by tomorrow.

[2013-06-17 13:25] jwirfs-brock commented on #756
In the recent conversation with Matt Barry/Bill/Geoff, this feature came up as a very important one. Giving users the ability to create open projects will make it a lot easier to curate streams of stories by multiple authors.

[2013-06-17 13:52] jwirfs-brock commented on #771
@ghing Just confirming that when you said "non-image assets" that just referring to embed code and not things like Soundcloud and YouTube, right?

[2013-06-17 14:08] jwirfs-brock commented on #771
Right now I'm actually not seeing an icon. When I deleted a chart asset (created with an iframe) in Firefox, I am just seeing an empty asset drawer:

http://floodlightproject.org/en/build/b816eddadd854cfaa163ce95151dc2c9/

[2013-06-17 14:08] jwirfs-brock commented on #771
To help think this through, I'm going to restate this problem to: Users can't distinguish between assets of same type in the asset drawer because they have the same icon and don't have any other identifying features.

Some ideas of how we might address this (all these ideas are bad, but I'm kind of at a loss here...):
- Require a title for an html asset (I don't like this very much, but it would s

[2013-06-17 14:43] ghing commented on #771
A few replies to @jwirfs-brock ...

Right. I'm talking about things with HTML embed codes. In most cases, providers that offer oEmbed provide a thumbnail version of the asset, so this is less of a problem. Also, URL-based embeds have the URL as an identifier which helps somewhat.

There was a bug where some asset types weren't getting icons. This is fixed in the `develop` branch and will get deplo

[2013-06-17 15:16] jwirfs-brock opened #775 "Clicking on a link within the embed widget opens story (within the story viewer) in a pop-window"

[2013-06-17 15:16] jwirfs-brock opened #776 "Users, with tech support from Floodlight team, can select stories to appear in the widget's story list based on tags (location, topic, keyword, project, organization)"

[2013-06-17 15:17] jwirfs-brock opened #777 "Embed widget can be created for a list of stories"

[2013-06-17 15:18] jwirfs-brock opened #778 "Embed widget can be created for a featured story + a list of stories"

[2013-06-17 15:20] jwirfs-brock opened #779 "Users should have the ability to embed a project or an organization (will appear as a list of stories by that project or organization)"
Initially, we can create this **without** a widget-maker with help from the Floodlight team. Eventually, we, once we've implemented a widget-maker, we'll want to have a button on project/organization pages that says, "Embed this project," etc.

[2013-06-17 15:21] jwirfs-brock opened #780 "Embed widget should have a link to Floodlight homepage"
We still need full embed widget wireframes and design from @bpawlak for the tree layouts:
- featured story
- list of stories
- features story + list of story

...but I am creating this as it's own issue to make sure that we don't forget it!

[2013-06-17 15:23] jwirfs-brock commented on #778
@bpawlak I'm assigning this to you to do the wireframes.

[2013-06-17 15:23] jwirfs-brock commented on #777
@bpawlak I'm assigning this to you to do the wireframes.

[2013-06-17 15:25] jwirfs-brock opened #781 "Users can visit a URL to launch the builder with Topics, Projects and Organizations pre-selected"
This can be done either via a button on the project/organization page ("Add a story to this project," etc.), or by giving project owners a link they can share with other authors.

This will be implemented along with #756 to establish "open projects."

[2013-06-17 15:27] jwirfs-brock commented on #744
Our new widget design should fix this problem. Putting this in the embed widget milestone for reference purposes...

[2013-06-17 15:30] jwirfs-brock opened #782 ""Self-serve" embed widget creation tool"
We will do this after we've implemented the redesigned widget as described in Iteration 16.

[2013-06-17 16:07] ghing opened #783 "Builder form elements get cut off in Internet Explorer"
I observed this in IE8, IE9, IE10

![screenshot from 2013-06-17 11 04 35](https://f.cloud.github.com/assets/110420/663233/f3e55c6a-d767-11e2-94e4-8b05ba81bc4a.png)

This doesn't affect functionality since the inputs are cut off on the right hand side, and it doesn't look *terrible*, but it looks a bit odd if you see it a couple of times.

[2013-06-17 16:08] ghing commented on #783
Assigning to @jwirfs-brock for triage

[2013-06-17 16:29] ghing opened #784 "Add "My Stories" link to builder"
The lack of navigation back to my story list has been bugging me when testing the builder. I imagine this would live in the same space as "Preview", "Start Over", and "Exit"

[2013-06-17 16:58] ghing commented on #774
@tekhneco asked via email:

I'm not sure what is meant by "browser view rather than slideshow".  Do you mean opening the viewer in a new browser tab/window rather than the popup? Or something else?

Note to self: This seems like the best method of detecting a viewport with JavaScript: http://responsejs.com/labs/dimensions/

Such a technique might be neccesary to assign additional body CSS classes

[2013-06-17 17:34] patternleaf opened #785 "Viewer: clicking on nav button chevron results in JS error, no navigation."
I've occasionally seen nav button clicks fail with a JS error. This has seemed to be sporadic. Just figured out it fails when the click is on the inner chevron element.

In views.js, the code is expecting `event.target` to be the anchor link containing the chevron element. When the chevron is clicked, the event bubbles to the anchor and its handler is triggered, but the event _target_ is still the

[2013-06-17 18:15] ghing commented on #785
Using `event.currentTarget` in the handler will fix this, right?

[2013-06-17 18:18] patternleaf commented on #785
Yes.

[2013-06-17 18:43] wendynorris commented on #774
Sorry for the lack of precision. If I open the story as a browser window in Safari I can view and navigate the story. That's not possible in the default modal window that appears after clicking the "view story" button. All of the page features work: table of contents, share button and pagination in both profile and landscape presentations. Though it's still a little tricky to pinch and swipe since

[2013-06-17 19:07] ghing commented on #704
I'm fully on board with this suggestion from @jwirfs-brock and @bpawlak:

I have a few questions about this:
- How would the user access the story planning tool?
- How would the user reference the story while in the builder?
- Would there be a one-to-one relationship between story plans and stories?
- What do we want this activity to feel like? Should it feel like filling out a survey or something

[2013-06-17 19:21] ghing commented on #704
In an attempt to make my idea for story planning as a tagging excercise clearer, I've made this paper mock-up.

I like planning as tagging because:
- There's a clear integration with content in the story builder process
- It's abstract enough to work with elements from a variety of [narrative structures](https://docs.google.com/document/d/1jPapFWmOZ3aRoh8AVvKccnDVXpn27JI5w8lPKdZi25g/edit).
- It en

[2013-06-17 20:09] wendynorris commented on #774
Here's a better screenshot of the browser button in the modal viewer.

![img_1140](https://f.cloud.github.com/assets/2329239/664633/d062d264-d789-11e2-803a-fef23c4681ef.png)

[2013-06-17 20:14] ghing opened #786 "Code breaks with django-registration 1.0"
Example traceback:

[code]

[2013-06-17 23:12] patternleaf opened #788 "Viewer: showActiveSection can be invoked before the ViewerApp view is rendered."
There is no user-visible issue here; just a note for future reference.

An issue with the solution to #187 was that the iframes wrapping google charts were not getting sized correctly in one case: If you load a story in the viewer via a URL pointing directly to the section with that chart.

It turns out this was on account of showActiveSection being invoked before the view had rendered. The soluti

[2013-06-17 23:22] patternleaf commented on #187
Status update. With current code on dev2, this is just about ready to be closed. The update will fix google chart embeds showing up in the builder. Google chart embeds are the only embedded script-based widgets currently known to exist in the wild. Nonetheless we have done some testing on other embed types. Some of those will break in new and exciting ways, but it turns out that they were pretty b

[2013-06-18 12:34] jwirfs-brock commented on #704
@ghing Thanks, that clarified the process a lot. I am deconstructing/reconstructing a story from the Denver Foundation for a webinar on Friday. I will try to recreate the story with the tagging process as well.

If you want to try it yourself, here's the original story: https://docs.google.com/a/piton.org/document/d/1oR7pgtJ8yq2oJ9UcR-YgeQtvuT_iq8oAGFkHxu_LU_k/edit

I'll share what I have one I've

[2013-06-18 12:42] #785 closed, assigned to nobody

[2013-06-18 12:44] #583 closed, assigned to ghing

[2013-06-18 12:44] #732 closed, assigned to ghing

[2013-06-18 12:44] #733 closed, assigned to ghing

[2013-06-18 12:44] #760 closed, assigned to nobody

[2013-06-18 12:44] #770 closed, assigned to ghing

[2013-06-18 15:07] ghing commented on #762
@jwirfs-brock I wasn't able to replicate this, either in a recent version of Chrome or Firefox. Do you always see this behavior, or is it intermittent. Figuring out how to consistently reproduce this behavior would be a big help.

[2013-06-18 15:09] ghing commented on #722
@jwirfs-brock +1 for making the summary text a placeholder. I think the original idea was that the template text would be a starting point for the user editing their own summary, which is why it's real text.  However, that's not how its used now, so I think it makes sense to just make it a placeholder.

[2013-06-18 15:48] ghing commented on #767
@bpawlak I prefer tabs or pills to the radio buttons. Do you have a strong preference between:
- radio buttons
- tabs
- pills

[2013-06-18 15:58] ghing commented on #562
Where should the alert show up? Next to/below/above the input, or in the "alert bar" (which is where the colored error/success/information messages currently show up)?  Should there be an ongoing character count? What is the microcopy for the message?

Assigning to @jwirfs-brock for anwers.

I think this will be a 3-pointer just because we might have to refactor the character counting code used fo

[2013-06-18 16:06] ghing commented on #507
Implementing a client-side search form is too heavyweight for such a singular use case.

I see two ways to approach this:
1. Detect Ctrl+F (and other search keystrokes) and open all the collapsed items
2. Break each FAQ entry into it's own content item (which would still be aggregated the way it is now) and index each entry in site search.  Then users could use the site search to search for FAQ it

[2013-06-18 17:05] bpawlak commented on #767
If we use tabs/pills, then they're laid out horizontally?  We don't use pills anywhere else do we?

[2013-06-18 17:27] ghing commented on #767
@bpawlak, the tabs/pills would be laid out horizontally, maybe like this:

![2013-06-18-122604](https://f.cloud.github.com/assets/110420/670101/3af6b548-d83c-11e2-957e-a659c58ec99e.jpg)

We use pills for the featured image:

![screenshot from 2013-06-18 12 18 23](https://f.cloud.github.com/assets/110420/670106/468ef1fe-d83c-11e2-9ac7-432bdcb296ba.png)

[2013-06-18 17:30] bpawlak commented on #767
Nice "screenshot!"  :)

I forgot about the tabs in the featured image.  If Jordan's ok with it, then we should do that - keep consistency in the app

[2013-06-18 18:04] jwirfs-brock commented on #562
Answers to @ghing's questions:

I suggest having the alert message show up **next to the title** (i.e. just to the right of it). @bpawlak might have a more creative suggestion (maybe highlighting the title in red or something?), but I am fine with a simple message to the right of the title that says, "Your title is long and will be hard for users to read. Consider a shorter title." or something li

[2013-06-18 18:47] ghing commented on #562
@jwirfs-brock, note that the current title field takes up the whole width of the container:

![screenshot from 2013-06-18 13 40 14](https://f.cloud.github.com/assets/110420/670619/993f4d72-d846-11e2-9ab7-f10f7d5bed70.png)

I'm worried that such a long message as "Your title is long and will be hard for users to read. Consider a shorter title." might not easily fit in the height of the field.  It s

[2013-06-18 18:52] jwirfs-brock commented on #562
Oh, sorry about that. On my screen it looked like there was some space next to the title:
![screen shot 2013-06-18 at 2 49 36 pm](https://f.cloud.github.com/assets/1020518/670675/eb5246c2-d847-11e2-8b6a-a629ee89a56c.png)

@bpawlak would probably be better at doing wireframes. Could you give us some options? Thanks.

I'm ok with it going below or above the title, too -- I don't have a strong prefer

[2013-06-18 18:55] jwirfs-brock commented on #762
@ghing I am seeing this intermittently. Just now, I tried created a couple of new stories. I saw this bug in the Data Story, but did not see it in the new PhotoVoice or Sandbox stories I created.

Any tips on how to get more detail about the bug if it's happening intermittently? I already put my browser and OS info on the GitHub issue... would it help to get the stuff logged in the console, perhap

[2013-06-18 18:55] jwirfs-brock commented on #579
Agree that we should revisit this discussion. We covered most of our bases when we talked about it before. Essentially, we had decided to move the tagging step AFTER publish, and instead have BUILD --> PUBLISH --> ENHANCE (formerly tagging), right? The "ADD DATA" step is gone now. We still need to discuss whether we want to keep "REVIEW" or remove it. I recommend removing it, since we have a previ

[2013-06-18 19:34] bpawlak commented on #562
I don't think it should be in the alert bar, either.  One thing we could do is change the "Edit your title" prompt to include something about "## characters or less is suggested" or "shorter is better" ... then we wouldn't have to worry about "alerting" users when it goes over 100 characters.  Also, add something to the help text for the "Story Information" section.

[2013-06-18 21:05] ghing commented on #562
I like @bpawlak's "shorter is better" microcopy.  One option would be to make that change, take a snapshot of the average title lengths and see if they change for stories authored after the additional direction.

Another (not mutually exclusive option) would be an alert like the one for the summary that appears above the field on the right hand side. It could even say "Shorter is better" and have

[2013-06-18 21:13] ghing commented on #762
I don't think this issue will fire an error, but having the console enabled (and switching to it after the condition appears) would be good to double check.

What might be more helpful, would be to copy and paste the HTML from Firebug or the Firefox/Chrome development tools' HTML inspector.  That way we can see if the offending space is caused by an elements style being set by JavaScript, or a par

[2013-06-18 21:21] ghing commented on #774
I feel like we need to decide the following:
- [ ] Activities we want to support on phones vs. tablets (activities = view pages, view story explorer, view story in viewer, build story, etc.)
- [ ] Decide which platforms we want to support for phones and tablets and if we want to fully support behaviors on platforms or just provide some minimal functionality for more marginal platforms.

@bpawlak h

[2013-06-18 21:36] jwirfs-brock commented on #762
Ok, here is the HTML inspector:

  <!DOCTYPE html>

[code]

And here's the CSS inspector for the "help" element:

element {
}
- {
  margin: 0px;
  padding: 0px;
  outline: 0px none;
  }
  body, button, input, select, textarea {
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: rgb(68, 68, 68);
  }
  html {
  font-size: 100%;
  }

[2013-06-18 21:37] jwirfs-brock commented on #762
@ghing it looks like some of the HTML was truncated. Let me know if you want to do a screen share to get a better view.

[2013-06-18 21:46] jwirfs-brock commented on #774
In the past month, here's the break down of site visits by operating system:
1.  Windows 667
2.  Macintosh   348
3.  iOS 134
4.  Linux     40
5.  Android 31
6.  BlackBerry  1

And here's site visits for the past six months:
1.  Windows 4,515
2.  Macintosh   2,271
3.  iOS 680
4.  Linux     354
5.  Android 213
6.  (not set)   13
7.  BlackBerry  5
8.  Windows Phone   5
9.  Chrome OS   3
10. Nokia   1

[2013-06-18 22:12] patternleaf commented on #704
@ghing LOVE the tagging illustration. thanks for that. :)

[2013-06-20 14:27] jwirfs-brock commented on #773
Information from user:

Was using Firefox Version 27.0.1453.116 m.

Update: It looks like the user is actually using Chrome  27.0.1453.116 on Windows.

[2013-06-20 14:29] jwirfs-brock commented on #765
Discussion on this issue from the email thread:

@bpawlak said: I agree to remove the in-place editing.  I still think the caption should be part of the add image flow.  Pick an image/URL and then add a caption for the image right there (like we do for adding Data Source for a chart, etc.).  Is that what you mean?

@ghing said: Yeah, I mean moving the caption field into the add/edit form with the

[2013-06-20 14:31] jwirfs-brock commented on #765
If I'm the only one who is concerned the users may miss the caption if it's within the edit asset window, then let's go that route. We will still display the caption below the asset, but users will have to click "edit ASSET" in order to add/change the caption.

[2013-06-20 14:58] bpawlak commented on #765
One thing that's always bugged me is that the caption field doesn't _look_ like an input field (like with the title field on the first section).  I think simply making it look like an input field that I can type into would help.

[2013-06-20 17:42] jwirfs-brock commented on #773
Here's a screen capture the user got of the console:
![floodlight issue](https://f.cloud.github.com/assets/1020518/682843/c0dd2cec-d9d0-11e2-8d60-acd6e13415be.png)

[2013-06-20 18:05] jwirfs-brock opened #790 "Multiple users wanting to edit a single story: Is there a better solution than a shared account?"
I just talked to a user who would like to share an in-progress Floodlight story with other people before she publishes it. But she created her Floodlight account by linking it to Facebook, and doesn't want to share her Facebook login (understandably). **This is something other users have asked for in the past, and I always recommended that they create a shared Floodlight account.** However, she al

[2013-06-21 13:22] jwirfs-brock opened #791 "Caption edit field appears BELOW datasets, but saed caption appears ABOVE"
I was testing out #583 when I noticed this. It's a little tricky to explain, so I'll try to use amply screen shots and a step-by-step process of what I did.

1. I was adding datasets to existing data assets in an already published story (http://floodlightproject.org/en/build/2ae3a70e6adf45b6ad2fec7c14e05a6e/)
2. I added datasets to a chart asset that had a caption. At this point, the caption appea

[2013-06-21 13:35] jwirfs-brock opened #792 "Dataset list cut off on story detail page"
I added several datasets to the story: http://floodlightproject.org/en/stories/anyone-can-be-a-hans-rosling/

(Three data assets * 2 datasets each = 6 datasets total.)

From the story detail page, when I click on the "Get the Data" button, only the top three datasets appear. It looks like it's getting cut off at the horizontal rule. There's no way to scroll down to see the other datasets.

![scree

[2013-06-21 13:40] jwirfs-brock opened #793 "Links to external data sources are showing up with download icons"
Check out this story: http://floodlightproject.org/en/stories/anyone-can-be-a-hans-rosling/

All of the data sources (on sections 4, 5 and 6) are to external websites. I entered them all into the "Data URL" field (did not do a file upload for any of them). However, some of them are appearing with the download icon (but not all).

I'm not quite sure what the pattern is, but it seems like the ones t

[2013-06-21 13:40] ghing commented on #792
I think we could just make the popup fixed position and set z-index so it's always above the other content, or get rid of the overflow on the container div. Should be easy.

[2013-06-21 13:46] ghing commented on #793
It's because the URLs have a "filename.extension" as the last part. Let's make a list of filename extensions we want to consider links as opposed to downloads.  So far, I'd say:
- .html
- .php

Or we can say uploaded files get download icons and URLs get external icons (even if they point to files).

[2013-06-21 13:50] jwirfs-brock commented on #793
Right, I was wondering about whether we should go that route. For example, one of the URLs I added was for a PDF that was externally hosted. Should that one get a download icon or an external link icon? Depending on your browser settings, it could open the PDF in your browser, or it could automatically start the download. What do you think is best? It's definitely **simpler** if we just set it so

[2013-06-21 13:56] jwirfs-brock opened #794 "After uploading a chart asset, cannot edit the attribution, get "{"error": "You must specify an image, body, or url"} " message"
Here are the steps of what I did:

1. Created a new story
2. Added a chart asset via file upload
3. Gave that asset an attribution field (because charts, maps, tables have an attribution field in the edit view)
4. Hit "Save"
5. Clicked on "Edit Chart"
6. Changed the attribution field and then clicked "Save Changes"
7. Got the following error message: {"error": "You must specify an image, body, or

[2013-06-21 18:19] patternleaf opened #795 "Set up fixture-based html asset test"
Assigning to myself. This is based on Geoff's asset dump in fixture format. Can be generally useful but it may make sense to wait until pull #789 is in develop so that HtmlAsset.has_script is available and then make a new branch off of develop to implement this.

[2013-06-21 18:50] patternleaf commented on #545
Should be fixed in abb20e5. Tested in Chrome, Safari, Firefox, and IE8.

[2013-06-24 18:32] patternleaf commented on #772
Turns out it's not quite so simple, unfortunately, since setting the header to `position: fixed` removes it from document flow, and the story body pops up to compensate, resulting in a jumpy transition (and sometimes a nice fun infinite back-and-forth thing). The solution in 942f5a1 is to compensate via `padding-top` on the body. I put it all in JS rather than have some of the solution live in CSS

[2013-06-24 19:37] ghing commented on #772
This is quick feedback having not looked at the commit. I generally prefer
(though I'm definitely not consistent about this) to toggle a class in js
and keep anything that doesn't need to be calculated dynamically in CSS.
I'm open to counter arguments. I can speak better to this when I look at
the code.

[2013-06-25 13:41] patternleaf commented on #772
Yeah, understood. In this case we do need to fetch and store the browser-calculated height of the header element so that it can be converted into padding on the body when the header leaves document flow. I think the only thing that could be in CSS for this approach is `position:fixed` on the header, which could be toggled based, as you suggested, via a class on the body. The view in 942f5a1 has a

[2013-06-25 13:52] jwirfs-brock commented on #765
Just some thoughts from how Blogger approaches this to get a different perspective in there:

When you add an image, by default it doesn't have a caption. Clicking on the image gives you some sizing options, including an "Add Caption" option:

![screen shot 2013-06-25 at 9 45 48 am](https://f.cloud.github.com/assets/1020518/702856/2e68a748-dd9e-11e2-91a9-2f899020a6dd.png)

Once you've clicked "Add

[2013-06-25 13:55] jwirfs-brock commented on #765
@patternleaf For now, let's try moving the caption field completely into the main edit view for each asset. If we notice that people aren't seeing the caption feature, we can revisit.

We should have some placeholder text below the image so that people know captions are available. How about:

[2013-06-25 14:41] ghing commented on #765
I think moving it into the main edit view is a good way to go.  The caption field should be a lot clearer once #767 is implemented as there will be fewer fields visible at any given time.  The caption was originally in the edit view, so I noticed there is even some commented out code to act as a guidepost for moving it back.

[2013-06-25 14:48] ghing commented on #791
This should get addressed by #765, right?

[2013-06-25 14:53] jwirfs-brock commented on #791
@ghing We will still need to check and make sure that the **placeholder text** appears in the right place after we fix #765.

Unless you think that when moving the caption edit feature inside, we should also do away with the placeholder text. If we do, the only way users will know that there is a caption they can edit will be if they click "Edit Image" -- which might be ok. Thoughts?

[2013-06-25 14:54] ghing commented on #790
Right now, there isn't an option of a shared account, but we have most of the hooks to make something more flexible happen. This could work in a number of ways:
- anyone in an organization (and/or project) able to edit any story assigned to that org/project
- toggle flag that makes a particular story editable by anyone in a project/organization
- an individual list of editors for a particular stor

[2013-06-25 14:56] ghing commented on #791
I think we should get rid of the placeholder text.  Note that users will also see the caption field when they first add the asset content. Since the edit form will be the same, there's at least a hint of where the caption lies.

[2013-06-25 17:27] ghing commented on #773
@jwirfs-brock The errors in the console don't appear to have anything to do with the issue at hand.  Can you double-check that the user has followed this process.
1. Load builder
2. Open console
3. Replicate issue
4. Take screenshot or copy and paste console output

[2013-06-25 18:37] ghing commented on #772
This looks pretty sane. What cases have you tested this solution on?  Have you tried it with /stories/the-denver-foundation-prepares-for-the-seventh-cla/viewer/, the story that spawned #684?

[2013-06-25 18:38] jwirfs-brock commented on #773
I sent those instructions to the user. Will post an update when I hear back.

[2013-06-25 21:03] jwirfs-brock commented on #641
@ghing When I was editing the help text for the chart/map/graph container in the Data Story template, I noticed that there's a bit of help text tacked onto the end that says, "There isn't help for this type of asset yet, or you haven't selected an asset type." Any idea where that's coming from?

Here's a screen shot:
![data_asset_help](https://f.cloud.github.com/assets/1020518/705658/a0364f60-ddda

[2013-06-26 12:46] jwirfs-brock commented on #641
CHECKLIST

All Templates:
- [x] Story Information (ALL TEMPLATES) -- Maybe include a sentence at the beginning of where this will show up and how this information pulls the reader in/is how the reader decides whether or not to read the story. Include info about character limit (try to keep to 250 characters).
- [ ] Make sure they have asset-specific help associated with them when appropriate.

Pho

[2013-06-26 13:50] jwirfs-brock commented on #641
Note to self: Look at what the default "New Section" is on each template.

[2013-06-26 14:13] jwirfs-brock commented on #641
Default new sections are...

Data Story:
- One-up with text-only (can't change asset type)
- If you switch to other layouts (i.e. side-by-side) you can then choose any asset type, but there's no way to change the asset type for a new one-up (for example, if you wanted to add a second featured data visualization)
- Needs to be fixed.

PhotoVoice:
- Side-by-side with image on right, text on left
- T

[2013-06-26 15:43] jwirfs-brock opened #798 "Template sections displayed as "Untitled" in table of contents until edited"
The current behavior is:
- A section that the user has not added a title for appears as "Untitled" in the table of contents, even though that section may have a name in the template.
- By going to that section, a user can see the title in the title field.
- After editing the title section, it appears in the table of contents.

Here's a screenshot:
![screen shot 2013-06-26 at 10 27 02 am](https://f

[2013-06-26 16:33] jwirfs-brock commented on #641
@ghing Some of the help items have extra text  added on to the end that I can't edit through the admin (at least not at http://floodlightproject.org/en/admin/storybase_help/help/). Everything **before** that I can edit via the admin.

It looks like it's happening for asset-specific help text. Image, text (and maybe some other types) have predefined help text. Containers that can be any asset are g

[2013-06-26 16:39] jwirfs-brock commented on #507
@ghing Number 2 sounds like a better option to me. Some questions:
- Would users be searching **just** the FAQ, or the entire site?
- Would users enter their search terms into the same search bar that is ubiquitous at the top of the site, or would we have a different "Search the FAQ" field on the [Help page](http://floodlightproject.org/en/help/)?

[2013-06-26 16:40] patternleaf commented on #772
Tested against sections without scrolling, sections with scrolling, initial load to a mid-story section, and yes: tested against #684; that still works.

Are there any cases where we might find ourselves initially rendered in the middle of a section page—already scrolled? Seems unlikely, but that's one case where this code might not work so well.

[2013-06-26 16:45] patternleaf commented on #772
Oh: and tested in FF, Chrome, Safari, and IE8.

[2013-06-26 16:51] ghing commented on #507
@jwirfs-brock

The same search back-end would be used to search for stories, FAQ entries, and (if we want) Pages and other content.  You could narrow the search to only certain content types.  So the answer is both.

Either is possible. You should think about which you'd prefer.

[2013-06-26 17:02] jwirfs-brock commented on #507
@ghing
Right now our search feature just returns stories as search results, right? This issue could be a good stepping stone to expanding that search feature to also search non-story site content. But to do that, we'll need to have a way of showing what type of content is being returned (story, FAQ entry, page, etc.) That's something I think we can tackle at a later time. Until we do, I think it m

[2013-06-26 17:07] ghing commented on #641
@jwirfs-brock, these are in the [client side templates](https://github.com/PitonFoundation/atlas/blob/develop/apps/storybase_story/templates/storybase_story/story_builder_handlebars.html), and the default message is in the source code for the builder views.  I'm going to take a look at the code and try to summarize the behavior and then you can let me know if the behavior needs to change, or just

[2013-06-26 17:51] jwirfs-brock commented on #773
@ghing
Here's what the user sent back from the console (after I sent you her instructions):

2Heya! This page is using wysihtml5 for rich text editing. Check out https://github.com/xing/wysihtml5 wysihtml5-0.3.0.min.js:259
The "fb-root" div has not been created, auto-creating connect.facebook.net/en_GB/all.js#xfbml=1&appId=346759272005624:55
Uncaught TypeError: Cannot call method 'appendChild' of

[2013-06-26 18:14] patternleaf opened #800 "Images don't show up in builder sections (regression caused by 187)."
This is a regression apparently caused by #187. In an environment running code with branch:
1. Start a new builder story.
2. In a section, add an image asset. Save story.
3. Reload builder.
4. Navigate to section with saved image.

Expected:
Image is shown.

Actual:
Image is not shown.

Image has deferred-src class on it, suggesting the deferred src system used in #187 to delay iframe load is bein

[2013-06-26 18:20] jwirfs-brock commented on #773
@ghing
Another update:

I just talked to the user and she reported that she's still not able to scroll past section 6 in Chrome. She has been working on the story in IE (not sure which version), and isn't experiencing any problems there.

[2013-06-26 18:36] ghing commented on #773
Ok. I'll try to replicate further in Chrome. I don't remember if I tried Chrome as the issue was reported earlier as a being in Firefox. Also, the console log doesn't indicate anything that would be related to the scrolling issue.

[2013-06-26 18:43] ghing commented on #641
First part of how the asset help works:

When the user clicks the question mark icon next to a container, it opens the help drawer and adds help text to the drawer. The help text-is pre-defined for many (but not all) types (and can be added for others) in the client-side templates. If there isn't a template for a particular asset type, or one hasn't been selected yet, a default message of "There i

[2013-06-27 15:11] jwirfs-brock opened #803 "Chart image not showing up in story builder or preview"
Here's the story builder link: http://floodlightproject.org/en/build/4a1205f0d0c947d09fe4c6ba265829ec/

The chart asset on the first section uses an image I got from the U.S. Census Bureau site, added via a URL: http://www.census.gov/dataviz/visualizations/040/res/graphics/040_metro_comp_chg_101-01.png

It isn't rendering in either the builder or the preview.

Here's a screen shot of what I saw af

[2013-06-27 15:16] ghing commented on #803
The issue appears to occur when an image file is specified as a URL for a chart type asset.  That is, specifying an image URL for an image type asset works properly.

Workaround is to just download the image and upload it as a file, rather than copying and pasting the image URL.

[2013-06-27 15:17] jwirfs-brock commented on #803
As @ghing suggested, I downloaded the image and them uploaded it as a chart asset in the builder.

It rendered fine in the builder:
![screen shot 2013-06-27 at 11 15 45 am](https://f.cloud.github.com/assets/1020518/716746/8c0d02f0-df3c-11e2-9764-7df34bf624b5.png)

But in the preview, it did not show up correctly:
![screen shot 2013-06-27 at 11 15 58 am](https://f.cloud.github.com/assets/1020518/71

[2013-06-27 15:25] ghing commented on #803
@jwirfs-brock Ok.  That's a separate, known issue that (hopefully) is resolved as part of the #187 fix.  The code for resizing the border and the caption is getting run before the image as downloaded and the JavaScript can properly detect the width. What you're seeing is intermittent.  From some connections, or some loads, it should work properly.  I'll make sure that @patternleaf is aware of this

[2013-06-27 15:28] ghing commented on #187
@patternleaf Can you make sure you include the case for [this issue](https://github.com/PitonFoundation/atlas/issues/803#issuecomment-20127237) reported by @jwirfs-brock as part #803 in your testing?  Basically, does the caption/border resizing work for slow-loading images, or is it run before the image has a detectable size, resulting in the image not being shown?

[2013-06-27 15:34] ghing opened #804 ""Method "handleImgResize" does not exist" error in builder"
To replicate:
1. Open or create a story in the builder
2. Add an image type asset by uploading a file to any container in a section
3. Preview the story

Expected behavior:

Image is shown

Observed behavior:
- Image is not shown
- "Method "handleImgResize" does not exist" error shows up in the error console.

The problem looks to be that the `handleImgResize` method [is wired up as a DOM event ha

[2013-06-27 15:47] ghing commented on #803
The fix for this issue is to use [mimetypes.guess_type](http://docs.python.org/2/library/mimetypes.html#mimetypes.guess_type) to determine if a url points to an image rather than just assuming this is the case for image URLs. [This wikipedia article](http://en.wikipedia.org/wiki/Comparison_of_web_browsers#Image_format_support) seems like a good list of browser-supported image formats.

[2013-06-27 15:55] patternleaf commented on #804
How ... wha ... ? I am bizarred-out by this, for several reasons.

[2013-06-27 16:04] ghing commented on #804
This might be a result of an inelegant auto git merge?  We can just get rid of the event definition for `handleImgResize`, because of [these changes](https://github.com/PitonFoundation/atlas/commit/290817c6a9eb12f0c02865885e538da955e8727b#static/js/viewer/views.js), right?

[2013-06-27 16:12] ghing commented on #507
It might make sense to make the site-wide search also return the FAQ entries. It's not terribly difficult to identify the type of search result returned (FAQ vs. story).  We can leave off indexing pages for now, but this will get us a lot of the way there.

No. We could add in some hooks for this into Google Analytics if you think it's important for the future.

[2013-06-27 16:14] patternleaf commented on #804
Yeah. In fact it looks like that line [was deleted](https://github.com/PitonFoundation/atlas/commit/290817c6a9eb12f0c02865885e538da955e8727b#L7L47). So I feel slightly less insane now. The other thing is that this wasn't occurring yesterday on what I _thought_ was the same codebase. But I must've pulled an update with this change after working in the viewer.

Makes me wonder what else might've bee

[2013-06-27 16:20] jwirfs-brock commented on #507
Because we don't have a lot of feedback on this, it's hard to know whether users are using (or trying to use) the sitewide search box to a) find stories, or b) search for other site content, like FAQ. I'm not sure if I was trying to find (a) I'd want (b) handed back to me, or vice versa. Thoughts? I could just be over thinking this

One way to handle this would be to add some more advanced search

[2013-06-27 16:23] ghing commented on #580
@jwirfs-brock, to answer your "is this doable" question, the only tricky one is "Reminder: Publish stories they have started but not finished" because sending a message once and only once is more complicated because you have to track stories-to-notifcations.

[2013-06-27 16:27] jwirfs-brock commented on #580
@ghing Thanks, that's good to know. That is actually the most important reminder, I think. We have a lot of stories that people have worked on that are sitting in draft mode limbo. Any suggestions for an easy way to do this? Is the suggestion @bpawlak proposed, about doing a monthly "# of unpublished stories" reminder any easier?

[2013-06-27 16:31] ghing commented on #507
@jwirfs-brock, Look at analytics for http://floodlightproject.org/en/search/ and http://floodlightproject.org/search/

[2013-06-27 16:36] jwirfs-brock commented on #507
@ghing Just based on the Google Analytics from the past month...
- Search was used 37 times (many of those were probably me, Wendy and Rebecca, but not all)
- Most of the search terms seem story related (i.e., people are using search to quickly find a specific story -- i.e., "dog food," "design thinking," "welton street"
- There was a search for "organization" that could have been a user trying to

[2013-06-27 16:37] ghing commented on #580
@jwirfs-brock, it's the same crux.  The hard part is the combination of sending a notification later (in a month) and only once.  I can figure out a good way to do this.

[2013-06-27 16:37] jwirfs-brock commented on #507
@ghing Based on what we're seeing in the analytics, my suggestion is to return all results (site content AND stories), and clearly show whether a result is a story or site content so users can easily distinguish. In the future we might want to add a filter to the results, but I don't think we would need to do that in this iteration.

[2013-06-27 16:39] ghing commented on #804
@patternleaf, can you take care of the sanity checking/code review on this one?

For sanity checking, I always start with (manually) walking through this test: https://github.com/PitonFoundation/atlas/blob/develop/apps/storybase_story/features/story_builder_full_process.feature

[2013-06-27 16:40] ghing commented on #507
@jwirfs-brock That sounds good to me and is the simplest implementation as well.

[2013-06-27 17:12] ghing commented on #641
Second part of how the asset help works:

Again, to clarify, this is the text that is shown when a user clicks on the "?" icon.

If a particular section has help text for the section, the help text for the asset is appended to the bottom of it.

The reason for this, is, if I recall, because we wanted to make the last shown help remain in the help drawer, even after its closed.  We couldn't think o

[2013-06-27 17:27] jwirfs-brock commented on #641
@ghing I think it is actually showing container help and asset help. I'm not seeing the asset help along with the section help (which is good - that's the expected behavior). I think that's fine, and reflects the expected behavior.

My question was about where I can edit the text for the asset-specific help. I can't seem to find it in the admin.

Also, as far as I can tell, there is no way to swit

[2013-06-27 17:34] wendynorris commented on #580
Sorry Gmail has been futzed all morning and I couldn't see your note, Jordan.

Actually from a workflow perspective, I'd recommend sending the draft reminder alert 5 days after the story was last edited (that may be different than the creation date). A month later the story is probably stale and there's good reason it's been abandoned.

I really like the idea of adding a few helpful prompts about

[2013-06-27 17:37] ghing commented on #641
@jwirfs-brock, you're right. I meant container help and asset help, not section help and asset help.

The asset-specific help is in a [template file](https://github.com/PitonFoundation/atlas/blob/develop/apps/storybase_story/templates/storybase_story/story_builder_handlebars.html).  You can either fork it using git, edit and send a pull request, or just send me the edits.  Let me know which you'd

[2013-06-27 17:42] patternleaf opened #805 "Section list becomes mangled, unusable."
I was running through [the storybuilder full process test](https://github.com/PitonFoundation/atlas/blob/develop/apps/storybase_story/features/story_builder_full_process.feature) and ran into a problem. This was in Firefox 22.0.

Right after [these steps](https://github.com/PitonFoundation/atlas/blob/develop/apps/storybase_story/features/story_builder_full_process.feature#L34):

- Given the user c

[2013-06-27 18:14] ghing commented on #773
I tried replicating this again using Chrome Version 27.0.1453.116 m on Windows 7 (I had previously tested in Chrome on Ubuntu Linux) and couldn't get it to replicate. I'd say the next step would be to do a screen sharing session to really narrow down what behavior the user is experiencing and try to replicate this.

[2013-06-28 16:36] patternleaf commented on #805
I tried again from the top and could not reproduce. I won't close the issue in case it pops up again. For reference, this is off of the develop branch, commit af3c06d.

[2013-06-28 18:01] patternleaf commented on #804
It looks like that line is the only unintentional casualty. However, based on #803, it looks like I also need to re-introduce the imagesLoaded plugin so that figure elements are resized at the right time. I think this was on account of some confusion on my part between implementing responsive images and the necessity of that plugin. Man, #187 was a cluster****.

I'll fold that into this issue, unl

[2013-06-28 18:03] patternleaf commented on #804
No—scratch that. I'll make a new issue.

[2013-06-28 18:11] patternleaf commented on #187
Ugh. Yeah. It looks like I need to re-introduce the imagesLoaded plugin. I think this was on account of some confusion on my part between implementing responsive images and the necessity of that plugin.

[2013-06-28 18:21] patternleaf commented on #772
Seems like we're good to go with this? Will send a pull request if there are no objections.

[2013-06-28 19:28] ghing commented on #772
Yup.
On Jun 28, 2013 11:21 AM, "Eric Miller" notifications@github.com wrote:

[2013-06-29 13:46] #800 closed, assigned to nobody

[2013-06-29 13:49] patternleaf opened #807 "Image caption/container resizing can happen before images load."
Another regression caused by #187. Solution is to re-introduce imagesLoaded plugin more or less as done originally in 3d50446.

[2013-06-29 18:40] ghing commented on #722
@jwirfs-brock, the summary of a new story is copied over from the template story.  That's why it's real text instead of a placeholder. Do we want to use the summary text from the template story for the placeholder instead of the default placeholder "Click to edit the summary".  If it's the latter, you can just remove the summary from the template stories (in the Django admin) and the default place

[2013-07-01 12:56] jwirfs-brock commented on #580
@bpawlak @tekhneco Those are good suggestions about the function of the reminder. I think the most important thing is to nudge people to finish unpublished stories that have sat dormant.

So, for now, let's do:
- **Email remding users to finish an unpublished story**, sent out five days after the last time the story was edited. I think it's best to only send out one reminder email per story. (That

[2013-07-01 14:52] wendynorris commented on #580
Sounds like a good way forward.

We should make a note to revisit the reminder/nudge process:

1) after implementing it to get some user feedback on its effectiveness

2) to monitor Google Analytics for changes in baseline visits/views/shares
and

3) to bake any refinements directly into the Story Builder 2.0 user story
creation/publication process.

**
_wendy norris http://about.me/wendynorris_
c

[2013-07-01 17:05] ghing commented on #722
Assigning to @jwirfs-brock for an answer to [this question](https://github.com/PitonFoundation/atlas/issues/722#issuecomment-20234851)

[2013-07-01 17:44] jwirfs-brock commented on #722
@ghing I like it better if we can have a different summary for each template. Right now, it looks like the Sandbox and Data Story templates have specific summary text -- the others are using the default. I'll update the summary text for PhotoVoice and Explainer.

Related to that, if it's trivial to do, is there a way to add a filter to the story list in the admin view so that you can just view sto

[2013-07-01 18:09] ghing commented on #722
@jwirfs-brock Ok. I'll implement this so we can have per-template summary placeholders. Implementing it this way will also help get us toward eliminating the default "Untitled Section" titles in the section list.

It's easy to add that filter in the admin.  Can you open a separate issue for it though so it's easy for me to track?

[2013-07-01 18:12] jwirfs-brock opened #808 "Add "Is Template" filter to story list in admin view"
The list at http://floodlightproject.org/en/admin/storybase_story/story/ in the admin should have a "By story is template" filter. This filter is already implemented on the section list at http://floodlightproject.org/en/admin/storybase_story/section/.

[2013-07-01 20:23] jwirfs-brock commented on #580
Final list of email reminders:
1. Unpublished story reminder
   To be sent: 5 days after last edit for unpublished stories; only gets sent once per story
   Draft copy: https://docs.google.com/document/d/1keJOi0JdSfT8LfA674hVl64Uz15llF48N8O-h3noeuQ/edit
2. Published story email
   To be send: Immediately after a new story is published
   Draft copy: https://docs.google.com/document/d/1IXWyyQjQyK29

[2013-07-01 20:56] jwirfs-brock commented on #641
@ghing I think switching back to the section help every time the container is closed then reopened makes the most sense.

[2013-07-01 21:12] ghing commented on #580
It's doable, but the big consideration is the amount of testing this might
take to make sure this looks good across different platforms, devices and
web-based email providers/browsers.

In any case, I think we'll want to have a text version as a fallback or for
people who prefer text.

There's no technical roadblock to including this. Off the top of my head,
I'm a little concerned about how differ

[2013-07-01 21:25] jwirfs-brock commented on #580
@ghing
I'll get to work on the text-only backup -- that definitely makes sense. Any suggestions on the simplest way to come up with a preview format that looks good on different platforms?

Yup, I am also going back and forth about whether to include the embed code. I was also thinking we could just mention that the embed code is available and then link to the story detail page.

Good catch on the

[2013-07-01 21:45] ghing commented on #580
I'll have to look up best practices for HTML e-mail. This is an area where I don't have a lot of experience. One piece of advice I've heard over the years (which isn't really a good fit for this case), is "use lightly modified templates from an existing mass-email provider".  However, looking at the HTML of e-mails that you think work well is probably a good start. If you could start collecting so

[2013-07-03 21:27] patternleaf commented on #807
c98d77d is a refactor of the asset sizing code. It fixes this issue and also gives us:
- figure containers collapse to small images
- images resize responsively (when that resizing will not involve upsampling)
- unifies some sizing logic that was formerly in both static/js/views.js and /static/js/viewer/views.js.

Tested in Chrome, FF, Safari, and IE8. Cross-tested against #187 and #803.

[2013-07-05 18:39] #804 closed, assigned to nobody

[2013-07-05 18:40] #545 closed, assigned to nobody

[2013-07-05 18:40] #772 closed, assigned to nobody

[2013-07-05 18:56] #187 closed, assigned to nobody

[2013-07-05 19:05] ghing commented on #798
Moving this into Iteration 15A since a large part of the fix for this was implemented in the fix for #722 and it makes sense to bust this out at the same time.

[2013-07-05 20:21] ghing opened #810 "API Key Authentication for API"
The story builder (and to a lesser extent, viewer and explorer) are implemented using a REST API.  Right now, you have to be logged into the Floodlight website to be authenticated to the API.  However, the framework used to implement the API allows for multiple authentication methods, including API keys.  Generating API keys for some users would allow external apps to access the API and create/upd

[2013-07-05 23:38] #798 closed, assigned to ghing

[2013-07-05 23:46] ghing commented on #562
@jwirfs-brock, any final decision about how you'd like to approach this?

[2013-07-06 20:49] ghing commented on #580
Note that it's easy to [send HTML email in Django](https://docs.djangoproject.com/en/1.4/topics/email/#sending-alternative-content-types). The hard part is getting the template right.

@jwirfs-brock, a few questions:
- How do we want opt-out to work for these messages?
- Do we want to spend the time to implement HTML e-mails in this issue, or just do plain text and see if people use this feature a

[2013-07-06 20:51] ghing commented on #580
[How to Code HTML Emails](http://kb.mailchimp.com/article/how-to-code-html-emails) from the MailChimp Knowledge Base is a helpful resource for designing HTML templates for email

[2013-07-08 17:58] jwirfs-brock commented on #562
I like Bill's suggestion about putting information in the title field. My only worry is that, once someone starts editing, that information will be gone. @bpawlak, any further suggestions?

How about "Edit your title here. Shorter is better - keep your title to 100 characters." in the title field. Could we then show the alert _above_ the title field, like this?

![title_alerts](https://f.cloud.git

[2013-07-08 18:05] jwirfs-brock commented on #580
@ghing
- How do we want opt-out to work for these messages?

We have a feature in the user-settings that lets users opt in or out of communications. We should hook that up to this.

Here are the options in the "communications preferences" section of the user account right now (http://floodlightproject.org/en/accounts/notifications/):

**Floodlight updates**
Email me with...
- Updates about new Flo

[2013-07-08 18:13] ghing commented on #580
@jwirfs-brock:

Please open a separate issue for this and put the copy updates there.

We could put the story summary text in a text-only e-mail.  We could link to the featured image, but it wouldn't show up inline (unless some clients do some guessing and handle this automagically)

[2013-07-08 18:26] jwirfs-brock opened #811 "Need to update list of notifications and copy"
On the [user accounts page](http://floodlightproject.org/en/accounts/notifications/), we need to update the list of notifications that users can opt in or out of. We also need to update the copy accordingly. This relates to the issue #580.

Current notifications:
**Floodlight updates**
Email me with...
- Updates about new Floodlight features, events and storytelling tips
- Administrative account u

[2013-07-08 21:22] bpawlak commented on #562
Why not use that space to do something like Twitter does (http://cssglobe.com/lab/charcount/01.html)  ... real-time character counts have been in use for 10+ years, we might as well as take advantage of it.

I still don't think we should make the field red and show an "error" message.  that tells the user that something is broken on this page that must be fixed in order to continue.  If the user c

[2013-07-08 21:44] jwirfs-brock commented on #562
@bpawlak I like your suggestion -- way better than mine.

[2013-07-10 07:20] ghing commented on #562
@jwirfs-brock @bpawlak, I agree about using the real-time character counts.  This is what we do with the summary (I've included the screen shot of this below as a reminder to how it works).

So to synthesize how we want this implemented:
- [ ] Update the title placeholder to read "Edit your title here. Shorter is better - keep your title to 100 characters"
- [ ] Show a character counter that updat

[2013-07-10 07:48] ghing commented on #767
@patternleaf, so the implementation for this is just about showing/hiding certain form fields on the front-end.  The elements don't have to be removed from the DOM (unless that's easier) and the back-end already properly ignores empty fields/values.

It might be helpful to look at the documentation and the source code for [Backbone Forms](https://github.com/powmedia/backbone-forms) which is what's

[2013-07-10 09:07] #533 closed, assigned to nobody

[2013-07-10 09:07] #722 closed, assigned to nobody

[2013-07-10 09:07] #765 closed, assigned to nobody

[2013-07-10 14:54] jwirfs-brock commented on #562
@geoffhing Your synthesis sounds right.

I like how we are handling it with the summary, where we have a real-time character count (just showing the absolute number of characters, not xx/100) that is in grey, and then a message that appears once it has gone over 100. I think we should try your second bullet.

So, to summarize:
- Grey character count (e.g. "83 characters") until limit is met
- Once

[2013-07-10 14:55] jwirfs-brock commented on #562
For some reason the screen shot isn't showing up for me, so here is what it looks like in the summary:
![screen shot 2013-07-10 at 10 54 22 am](https://f.cloud.github.com/assets/1020518/775390/aee23690-e970-11e2-863e-a3463a644fbf.png)

[2013-07-10 15:13] bpawlak commented on #562
I like the "shorter is better" messaging rather than "character count limit met b/c, as we've discussed, it's not really a character count limit.  It's more of a suggestion...

[2013-07-10 15:18] jwirfs-brock commented on #562
@bpawlak Agreed.

[2013-07-10 15:27] jwirfs-brock commented on #641
@ghing Here is the updated asset-specific help. What works best for you, given the time zone difference, in terms of updating this? I can download the file and edit it myself, then merge it back into GitHub, but I might need you to walk me through it again.

Image
If you upload an image file from your computer, it must be in JPEG, GIF or PNG format.
Or, you can add a file hosted anywhere on the we

[2013-07-10 15:55] jwirfs-brock commented on #580
@ghing The email copy is now finalized (see links above). The unpublished story email is text-only. The published story email should be HTML, but I included a text-only version as a backup.

What do you need from me in order to create the HTML template? Would a sketch be sufficient?

[2013-07-10 22:10] patternleaf commented on #767
@ghing How about fieldsets? Looks like we're already using one at the top level of the form, but apparently it's ok to nest them.

On the other hand we're currently wrapping each field in an `li` which isn't terrible I suppose.

[2013-07-11 12:25] ghing commented on #767
@patternleaf, I was leaning toward fieldsets too, just wasn't sure the best way to make use of them.

[2013-07-11 12:30] ghing commented on #641
@jwirfs-brock I think it will be fastest for me to just update it based on the list that you sent.

[2013-07-11 12:35] ghing commented on #580
For the HTML e-mail template a sketch would be good. I might have some follow-up questions for you about it and there might be some limitations in terms of layout and styling for things to be as compatible as possible with different mail clients.

[2013-07-11 13:34] bpawlak commented on #767
Do we need to keep an eye out for non-blank forms that aren't currently displayed in the UI?  That is, a user can start by uploading a file and then specifying a URL

[2013-07-11 13:38] bpawlak commented on #580
Campaign Monitor offers a lot of great tips, including:
- Make it scan-friendly - Limit body copy to easily-readable paragraphs, preferably under 60 characters in width.
- Avoid using mailto links in HTML email
- Align to the left
- Adding bulletproof background images and buttons to your email newsletters
- Using web fonts in email

http://www.campaignmonitor.com/blog/tips-resources

[2013-07-11 13:38] ghing commented on #767
@bpawlak, no.  Once a user either uploads or specifies a URL or pastes an embed code, the asset storage mechanism is locked in and they'll only ever see the fields for that type of content.  So, we're really only concerned about disambiguating the fields when the asset is initially created.

[2013-07-11 13:42] bpawlak commented on #767
So whichever "panel" is viewable when they submit the form is the one that gets submitted?

[2013-07-11 14:03] patternleaf commented on #767
@ghing is it difficult to change that behavior on the back-end? off-hand i'm finding it confusing to, say, upload an image, then click Edit, then see a new blank upload form without other options.

@ghing @bpawlak @jwirfs-brock There is an implementation of this—for asset creation only—currently on http://dev2.floodlightproject.org

[2013-07-11 14:04] ghing commented on #767
@bpawlak, I misunderstood what you were saying.  Currently, and with the new design, they'll get an error message if they fill out multiple content fields (e.g. URL and Upload).  So, we just need to make sure that the error message is in a visible and clear place.  Alternately, we could disable the tab toggling once a value is set for a particular content field.

[2013-07-11 14:13] ghing commented on #767
@patternleaf, it would be pretty hard to change this on the back end.  I think it's most weird with the image upload because that's the one where you just see a blank upload form.  For the other asset types, it's not as weird.  I think we could make the the image editing more clear if we added a descriptive help string.

The whole intention with the design is that an asset is a specific piece of c

[2013-07-11 14:31] bpawlak commented on #767
I would suggest we find a way to only submit what's viewable to the user... It's a common problem with tab-based form inputs and users generally only expect that the final selected tab is the one that's submitted.

[2013-07-11 14:37] ghing commented on #767
@patternleaf I took a look at what's currently up on dev2.  This works as I'd imagined, but:
- The stacked pills look weird (I think this is only on narrow, side-by-side layouts)
- The long "Or, select an image from your own computer to be included in your story." label sucks.  I'm thinking that there should be an overarching title like "[ASSET_TYPE] Content", then sub labels for each of the pills

[2013-07-11 14:41] ghing commented on #767
@bpawlak, re [your comment](https://github.com/PitonFoundation/atlas/issues/767#issuecomment-20815450)

That makes sense.

@patternleaf, hit me up if you need ideas about how to do this.  Off the top of my head, you could have a `submit` event handler that cleans the fields in the other tabs, or you could have a hidden form field that passes the visible "tab" and handle the cleaning in the Form's

[2013-07-15 16:52] patternleaf commented on #767
@ghing @bpawlak @jwirfs-brock @tekhneco Wanted to solicit feedback on a couple of things.
1. I added a title to the asset edit/creation form.
2. Organized the tabbed interface inside a fieldset container with legend, with a border and background, etc.

Screenshot:

![screenshot 7 15 13 10 47 am](https://f.cloud.github.com/assets/73439/799132/7f44bd98-ed6e-11e2-9181-aa07f103e737.jpeg)

Some rationa

[2013-07-15 16:53] patternleaf commented on #767
Maybe the title should be "Add [Asset Type]" rather than "Create" ...

[2013-07-15 17:04] bpawlak commented on #767
The pills "floating in space" is always an issue with rendering tabs as pills and one reason why I don't really like them, especially for infrequent usage.  Although I like the idea of putting them into a container, the grey background somehow feels like this container is required or selected or something.  Do we use fieldsets anywhere else in the application?

Agree on "Add Asset" instead of "Cre

[2013-07-15 17:30] jwirfs-brock commented on #767
This works the same way that the select featured image does on the Publish/Share step, right? I like it -- at least, I like it as it appears there. It feels very intuitive to me.

I also agree that "Add Chart"/"Add Image", etc. works better than "Create..."

Is the screen on the right what it would look like after you've already selected an input mechanism and then saved it? Is the way that it wor

[2013-07-15 17:49] patternleaf commented on #767
@bpawlak

We use the fieldset and legend tags elsewhere (http://floodlightproject.org/en/accounts/notifications/, for example), but I don't believe it's being rendered in this way elsewhere.

Yeah ... I'm not thrilled with this either. Here's a shot without the gray:

![screenshot 7 15 13 11 42 am](https://f.cloud.github.com/assets/73439/799498/11f447ce-ed76-11e2-89f0-83f8a851ffde.jpeg)

Without a

[2013-07-15 17:58] jwirfs-brock commented on #767
@patternleaf In your screenshots above, I prefer the first one (grey border, no fill). It serves to highlight that that is the most important thing you need to fill out (and, in fact, the only required thing). The tab version looks odd to me, like the tabs are controlling everything in the window, not just the source input.

[2013-07-15 17:59] bpawlak commented on #767
The orange color of the tab makes it look like a primary button.  I was trying other ways of showing that the pill is actually a control... maybe a small "connector" graphic (again, in a different color than primary-button-orange

![pills](https://f.cloud.github.com/assets/2250519/799605/5b116a3e-ed78-11e2-86f0-5322f88af983.png)

[2013-07-15 18:03] patternleaf commented on #767
@bpawlak I like the connector graphic. It certainly shows up in plenty of other places in the builder.

[2013-07-15 18:08] patternleaf commented on #767
@jwirfs-brock I personally think the bordered boxes-within-boxes starts to feel noisy. We might be able to treat it somehow to reduce the noise—lightening some borders, say. But I'm kind of a fan of @bpawlak's idea with the arrowed-pill. What did you think of that?

[2013-07-15 18:11] jwirfs-brock commented on #767
@bpawlak @patternleaf I don't like the arrowed-pill as much, but it definitely works, so if you two prefer it, let's go that route.

Should we also change this on the featured image selector on the publish/share step?

[2013-07-15 20:28] jwirfs-brock opened #812 "Summary appears "sparse" in viewer when width extends across entire screen"
This was an issue that Matt raised when we were chatting today, and it's something that I had noticed in the past as well.

Now that we are encouraging shorter summaries (which look really good on the story detail page and the explore page), they look funny when the text runs across the full width of the screen in the viewer.

Here's an example of a short summary, which looks strange here but look

[2013-07-16 09:12] ghing commented on #767
@patternleaf re this:

While it's by no means necessary, check out the "[100% custom forms](https://github.com/powmedia/backbone-forms#100-custom-forms)" example from the Backbone Forms docs.  This shows how you use a template for the form at large (and not just templatize the individual fields, or "editors" as Backbone Forms calls them).

[2013-07-16 16:20] patternleaf commented on #767
@ghing I did see that; unless I'm missing something I don't think it helps. It would seem awkward to try to fit this particular usage—where some fields want to be grouped and others don't, yet they must still all be dynamically determined by model schema—into the BB.Forms template system. Or rather, we'd still need some DOM-juggling JS run after the form has rendered, so there doesn't seem to be a

[2013-07-16 19:59] patternleaf opened #813 "Should "Remove Asset" be renamed to "Stash Asset"?"
Or "Store" or similar? "Remove" has connotations of deletion.

[2013-07-16 22:20] ghing commented on #507
@jwirfs-brock, I was going to put this off until I finished the email notifications feature, but wanted to touch base with you since you'll be out next week.

When designing an implementation for this feature, I wanted to get the desired functionality but not add too much additional complexity to the system given the specific nature of this feature.  We discussed some of the elements of the implem

[2013-07-16 23:14] jwirfs-brock commented on #507
@ghing This sounds good to be. It's great that you'll be able to write a script to import the existing help items -- that was a question that I had, but you answered it with your outline of the implementation.

[2013-07-19 17:51] ghing opened #814 "XMLSyntaxError raised by HtmlAsset.get_thumbnail_url"
Got this in an error altert.  It seems tied to a particular asset's content:

Traceback (most recent call last):

[code]

[2013-07-19 20:03] #814 closed, assigned to nobody

[2013-07-22 17:26] ghing commented on #813
+1 for "stash asset"

[2013-07-22 17:35] ghing commented on #580
@jwirfs-brock I've been testing the HTML email template using [Litmus](https://litmus.com/) and it's generally looks pretty good as we created such a simple template. One minor issue is that, in Android's mail client, the right-hand-side of the content gets cut off:

![screenshot from 2013-07-22 12 24 41](https://f.cloud.github.com/assets/110420/836620/cb30e944-f2f4-11e2-9236-ac46a88555f0.png)

I

[2013-07-22 17:41] jwirfs-brock commented on #580
Yeah, let's fix it in the name of good practices. I'd recommend putting the
story title above the image and the "view story" link below. Did you have a
different approach?

[2013-07-22 17:51] ghing commented on #580
@jwirfs-brock

My thought was the same as yours:

[code]

But what about the byline and summary?

[2013-07-22 17:56] jwirfs-brock commented on #580
We could do:
Title
Byline
Image
Summary
Links

Then it would roughly mirror our embed widget, right? Alternatively, we
could do:

Image
Title
Byline
Summary
Links

Maybe play with it and see what looks best in an email?
 On Jul 22, 2013 10:53 AM, "Geoffrey Hing" notifications@github.com wrote:

[2013-07-22 17:58] jwirfs-brock commented on #580
Also, consider that a some email clients (like Gmail) strip out the images
until you enable then. Given that, what looks best?
On Jul 22, 2013 10:56 AM, "Jordan Wirfs-Brock" jordanwb@gmail.com wrote:

[2013-07-22 18:01] bpawlak commented on #580
I think the title (which is also a link) should be first. We want the email to be immediately actionable and not require people to have to think too much.

[2013-07-22 18:04] jwirfs-brock commented on #580
Good point, Bill.
On Jul 22, 2013 11:02 AM, "bpawlak" notifications@github.com wrote:

[2013-07-26 21:06] ghing commented on #741
Here are wireframes of the new widget designs from @bpawlak:

![embed_options](https://f.cloud.github.com/assets/110420/865351/44388cda-f637-11e2-9349-bfab4dedfb96.png)

I feel like we shouldn't implement the carousel view initially due to the additional styling and JavaScript required to implement this.

Also note that there isn't a wireframe for the list-only version, but it should be possible t

[2013-07-29 17:38] ghing commented on #777
Merging this requirement into issue #741

[2013-07-29 17:38] #777 closed, assigned to nobody

[2013-07-29 17:39] ghing commented on #780
Merging this requirement into #741

[2013-07-29 17:39] #780 closed, assigned to nobody

[2013-07-29 17:40] ghing commented on #779
Merging this requirement into #741

[2013-07-29 17:40] #779 closed, assigned to nobody

[2013-07-29 17:42] ghing commented on #776
Merging this requirement into #741

[2013-07-29 17:42] #776 closed, assigned to nobody

[2013-07-29 17:46] ghing commented on #775
Merging this requirement into #741

[2013-07-29 17:46] #775 closed, assigned to nobody

[2013-07-29 17:46] ghing commented on #778
Merging this requirement into #741

[2013-07-29 17:46] #778 closed, assigned to nobody

[2013-07-29 18:45] patternleaf commented on #767
OK, if anyone (@ghing, @bpawlak, @tekhneco, @jwirfs-brock) is available to do a little extra testing on this (on dev2), that would be great.

In addition to the new form element:

![screenshot 7 29 13 12 33 pm](https://f.cloud.github.com/assets/73439/873688/5b6f472a-f87d-11e2-8396-f20bc34fa201.jpeg)

... there were some oddities/inconsistencies in validation UI. So testing around submitting forms

[2013-07-29 19:22] ghing commented on #767
Regarding your notes above:

Browser validation is probably also supported in recent versions of Firefox as well.

@patternleaf and I decided to disable browser validation for these forms because:
- Many forms don't use it
- We can't use it to validate all fields everywhere (even within the asset/dataset creation forms) because some of our validation is based on the values of multiple
- If we don'

[2013-07-29 19:28] wendynorris commented on #767
Do you still need form validation testing help? Or did disabling the
browser fix the issue?

**
_wendy norris http://about.me/wendynorris_
ceo + founder :: tekhne media, inc
a digital information and media collective
720 281 9378 :: mobile

*\* http://about.me/wendynorris
*
*

On Mon, Jul 29, 2013 at 1:22 PM, Geoffrey Hing notifications@github.comwrote:

[2013-07-29 20:07] patternleaf commented on #767
@tekhneco Testing would still be helpful.

[2013-07-29 21:41] ghing commented on #803
The issue with the image URL-based chart asset not showing up was fixed in c7fbeb6d6498e85e8b45beaf4c74ae90c40dbbb6

[2013-07-29 21:41] #803 closed, assigned to ghing

[2013-07-29 21:44] ghing commented on #807
The fix for this (c98d77d) was merged and deployed a while ago. Closing.

[2013-07-29 21:44] #807 closed, assigned to nobody

[2013-07-30 17:33] patternleaf opened #815 "Builder color scheme doesn't match site color semantics"
At some point we decided to go with orange for the highlight/action color in the site chrome (megamenu, header), and blue in site content. The builder is much more orange. I could see how the builder might be more "action-oriented" and this might actually be appropriate. But I also think the orange can be overwhelming in large quantities, so we might consider going blue with buttons, etc in the bu

[2013-07-31 23:40] wendynorris opened #816 "Create RSS feeds"
Create two RSS feeds for:

1) all published stories

2) all "how-to" tutorials AKA [topics=36](http://floodlightproject.org/en/explore/?topics=36)

The feed should contain the following elements:
- title
- author
- featured image
- summary

[2013-07-31 23:46] wendynorris commented on #816
@ghing

In the MailChimp RSS-driven campaign, I can customize the script to pull/place specific post categories into the email template.

However, I'm unsure about how "topics" work in Django. Are they simply another term for "category" or do they function differently? If it's the former, I may not need the topics=36 feed.

[2013-08-01 15:02] ghing commented on #816
@tekhneco It looks like `category` is an [element of an RSS feed](http://www.w3schools.com/rss/rss_tag_category_item.asp) from the RSS spec rather than corresponding to an entity named "category" in any particular RSS-generating system.

I can make our feed include Topics, Projects, Organizations and Places as `category` elements in the unified feed so that you can filter specific topics on the Ma

[2013-08-01 15:10] wendynorris commented on #816
Great! Thanks for adding those elements. Will make the automation process
for creating the newsletter much better.

**
_wendy norris http://about.me/wendynorris_
ceo + founder :: tekhne media, inc
a digital information and media collective
720 281 9378 :: mobile

*\* http://about.me/wendynorris
*
*

On Thu, Aug 1, 2013 at 9:02 AM, Geoffrey Hing notifications@github.comwrote:

[2013-08-01 15:38] ghing opened #817 "Real time search index updating not working with current stable version of Haystack"
The codebase doesn't support the new way of handing real-time search index updates, [signal processors](https://django-haystack.readthedocs.org/en/latest/signal_processors.html).

I discovered this when the help items (#507) weren't getting automatically indexed.

[2013-08-01 18:28] #817 closed, assigned to ghing

[2013-08-05 15:01] ghing commented on #767
@patternleaf, here are some non-bug observations I've made when testing this feature
- [ ] When editing an image, perhaps the field label should be "Replace image" (this may have already been changed)
- [ ] Error message when no fields are present is "You must specify at least one option: url, image." Is this too ambiguous?
- [ ] "Paste embed code for the chart" wraps in the side-by-side layout
-

[2013-08-05 15:36] patternleaf commented on #767
Thanks @ghing.
1. Yes: this should already be changed.
2. Agreed—this was previous behavior and I didn't get around to changing it. Can fix though.
3. Simple solution: use `white-space:nowrap` so that the end clips instead of wrapping. Do you have another thought? On my screen this only happens in side-by-side layout when the asset or help drawer is also open (or the browser window is narrow, of c

[2013-08-05 15:45] patternleaf commented on #767
Found this, too:
1. Load a story with a section with an image asset.
2. Remove the image asset.
3. Select new "Chart" asset type for that slot.
4. Click "Cancel" to not add the chart.
5. Drag and drop the original image asset back into place.
6. Click "Edit Image".

Expected: image editing form shows up.
Actual: "Edit Image" title appears, but with _chart asset Add form fields displayed_.

I imagi

[2013-08-05 15:59] ghing commented on #767
@patternleaf

Regarding thumbnail, layouts and browser sizes, I'm testing on my notebook that has a 1280x800 resolution.

I took a quick look at the Google Analytics for screen resolutions (note that I couldn't figure out how to do this specifically for the builder URL), but this is the breakdown for the top recent resolutions site-wide:

| Screen Resolution | Visits |
| --- | --- |
| 1366x768 | 1

[2013-08-05 19:46] ghing commented on #660
Django CMS now supports Django 1.5. Also, the latest stable release of Tastypie, 0.10 requires Django 1.5

[2013-08-05 19:59] ghing commented on #660
This is a list of changes for upgrading support of Django 1.5 and Django CMS 2.4.*: http://docs.django-cms.org/en/2.4.0/upgrade/2.4.html

It looks like some of the internationalization issues will affect us

[2013-08-05 21:49] ghing commented on #660
Also see the [release notes for Django 1.5](https://docs.djangoproject.com/en/dev/releases/1.5/)

[2013-08-05 22:40] ghing opened #819 "Tests for updated widget"

[2013-08-05 22:41] ghing opened #820 "Define "syntax" for widget configuration"
For reference, the existing embed widget definition is

[code]

This technique is used in order to offer a fallback (via a simple link to the story) in case JavaScript is disabled or the script breaks somehow.  I think this is useful, so I could imagine implementing a project list widget with a syntax like this:

[code]

A story + list widget could be defined like this:

[code]

However, this pose