[2012-10-19 16:31] ghing commented on #217
Ok.  Give me copy for the placeholder and the review page and I'll make this happen.

[2012-10-19 16:33] #309 closed, assigned to nobody

[2012-10-19 16:34] patternleaf commented on #315
@tekhneco how's it look now? it's fairly subtle, but there is a :visited anchor color.

[2012-10-19 16:36] patternleaf commented on #316
@tekhneco any better? http://staging.floodlightproject.org/accounts/login/

[2012-10-19 16:37] wendynorris commented on #315
Might be a little too subtle for my eyes. I'm not seeing any change.

[2012-10-19 16:42] patternleaf commented on #323
committed. closing.

[2012-10-19 16:42] #323 closed, assigned to nobody

[2012-10-19 16:43] #324 closed, assigned to nobody

[2012-10-19 16:43] #325 closed, assigned to nobody

[2012-10-19 16:44] wendynorris commented on #316
Cleared browser cache but it doesn't look any different than the screenshot you supplied above, with exception of new Facebook sign-in link. What am I doing wrong?

[2012-10-19 16:46] patternleaf commented on #330
this is mostly done. the hover behavior (where a gap opens up between sections) causes a problem with the way the "current" arrow is implemented.

[2012-10-19 17:01] patternleaf commented on #316
i think i see what happened. sorry about that—the screenshot above was my local env. after left-aligning the headers. that change got committed, but not the lessening of space between label and input, despite the commit message for b525009 above.

[2012-10-19 17:01] jwirfs-brock commented on #217
Here's the copy for the review page. I'm going to pass it around to a few
folks and possibly revise, but in the meantime you can take a look:

https://docs.google.com/document/d/1vvcuPqLYzBqqNNCZ0Jx_BNm25BUeRmHNe-63vXgzs-A/edit

On Fri, Oct 19, 2012 at 10:31 AM, Geoffrey Hing notifications@github.comwrote:

[2012-10-19 17:09] jwirfs-brock commented on #217
Ok, I'm not so good at placeholder text, but let's try this:

"Examples: Jon Denzler; Laura Frank, I-News; Your Name and/or Organization"

[2012-10-19 17:30] jwirfs-brock opened #369 "In Story Viewer, Summary and Call to Action need to have styling that is distinct from other sections"
In the Story Viewer, the Summary and Call to Action should look special and be distinct from the regular story content.

Some suggestions:
- The Summary and Call to Action could have a grey background (similar to the tile view on the Explore page)
- We could  use a horizontal line below the Summary and above the Call to Action (like the one on the Story Detail page)

@bpawlak @ghing do you have ot

[2012-10-19 17:55] jwirfs-brock opened #370 "Need to format top bar on Story Viewer"
See the original design comps: https://docs.google.com/file/d/0B1CQ7Qy70V50SVY5MWZDa3E4Z00/edit

@bpawlak @ghing Do we want to go with this, or modify it?

[2012-10-19 18:00] jwirfs-brock opened #371 "Navigation in Story Viewer: scroll or side arrows?"
In the design comps, the "previous/next" links are large arrows at the side of the Viewer: https://docs.google.com/file/d/0B1CQ7Qy70V50SVY5MWZDa3E4Z00/edit

Is it confusing to have them at the side if we also have the a scroll bar (which isn't in the comps)? Do we want them somewhere else (like in the top bar or the footer)?

[2012-10-19 18:12] jwirfs-brock opened #372 "Styling of section titles in Story Viewer"
The easiest thing would just be to use what we are using on generic pages, and have section titles be `<h2>`. But, to throw another option out, I really like the orange that we put into the Help section. Maybe the section titles could be orange instead of grey.

We could also play around with the horizontal lines (like on the main titles of our interior pages) -- that might look weird with the lef

[2012-10-19 18:17] bpawlak commented on #372
I wouldn't go with centered text in the story viewer.  Too hard to read.  The orange text against a white background might not be so bad since it'd be larger font sizes (and bold?)

[2012-10-19 18:24] jwirfs-brock commented on #372
Yes the orange would only be for large fonts in the section headers.
On Oct 19, 2012 12:17 PM, "bpawlak" notifications@github.com wrote:

[2012-10-19 18:26] bpawlak commented on #372
If the main header of the viewer is also orange, might the titles get lost a bit?

[2012-10-19 18:32] jwirfs-brock commented on #372
Do you mean for story titles? In the design comps (which we can change, of course), the story title is white on a black background, in a separate bar at the top. The section title also shows up on the bar, but smaller and in orange. See [issue #370](https://github.com/PitonFoundation/atlas/issues/370).

[2012-10-19 19:14] jwirfs-brock commented on #370
Here is a design update from @bpawlak : https://docs.google.com/file/d/0B82exFJJWyJqOWNQbTZJdlRlZGc/edit

We hid the current section from the top bar for now. I think we all still really like that functionality that detects your current section, and it will probably come in handy when we introduce more non-linear stories, but for now hiding it cleans things up a bit.

[2012-10-22 19:59] bpawlak opened #373 "On login, I should be taken to the "My Stories" list - not change password"
Currently, logging in takes a user to the part of My Account where one can change email address or password.  It should take users to the "My Stories" page.

[2012-10-22 20:01] #357 closed, assigned to ghing

[2012-10-22 20:01] bpawlak opened #374 "User can delete unpublished stories"
My current list of stories looks like:

Untitled Story 273b8841adb54ba19c998094f0f39afc
Untitled Story 34f1de723fb342b594dcc458610c25fc
Untitled Story e630903f0e1c4f29a9689ee92766eb3b
Untitled Story 053f4a85424f414b8307d79e25e52807
fdasf
My Test Story
Untitled Story 9a2e9da98a714b44b9c8a78432731041
Untitled Story ceac7cedfb5048e5a8de12d735409aef
Untitled Story 6d5bf1a575d046fb96570495c46cb610
Unti

[2012-10-22 20:10] bpawlak opened #375 "Filters not displaying properly"
Win7, Firefox 16.0.1

https://docs.google.com/drawings/d/13thl1Ekli3LinKzxl63bPLMwPsoWVtMbyB0azDKkLyg/edit

Also, just noticed that the "My Account" tab is showing up far right, instead of being right-aligned with right-side of search input box

[2012-10-23 12:57] ghing commented on #375
This is a duplicate of #358

[2012-10-23 12:57] #375 closed, assigned to nobody

[2012-10-23 12:59] ghing commented on #373
This a duplicate of #269.  Closing.

[2012-10-23 12:59] #373 closed, assigned to nobody

[2012-10-23 13:28] #189 closed, assigned to nobody

[2012-10-23 14:08] #269 closed, assigned to ghing

[2012-10-23 14:08] #319 closed, assigned to ghing

[2012-10-23 15:34] ghing commented on #374
@bpawlak Not right now, but this would be relatively easy to wire up.  To me the logical place for this to happen seems like the story list. Is that where you think it should live?

[2012-10-23 15:35] ghing opened #376 "Style next/previous workflow step buttons"
Mockups of these buttons as designed by @bpawlak is in the Story Builder design decisions 10/15/12 design document (https://docs.google.com/document/d/1J_5XGbVTBBkmL3bRZ7P_vAUdVefHahiaK6vsdPwp_BY/edit) but I may instead go with chevrons from the FontAwesome icon font.

[2012-10-23 15:50] bpawlak commented on #374
Yep.

Could either be a single [delete] link after each unpublished story or a set of checkboxes with an action button that would allow multiple deletions

[x]  Storytobedeleted
[x]  Storytobedeleted
[  ]  Don'tdelete
[x]  Storytobedeleted

---

(Delete Selected)  <- button

If we go this route, however, let's talk about what other bulk actions a user might want to take against a selection of stor

[2012-10-23 16:47] ghing commented on #246
@bpawlak, @jwirfs-brock The last saved message doesn't really fit very well in the layout once we add the next/previous buttons.  It also seems incongruous in the workflow bar.  Moving it to the footer is one solution, but I don't really like it because it's just one more thing for users to look at in a different place.

To me it seems like the job done by the last saved message is that it reassur

[2012-10-23 17:36] #376 closed, assigned to ghing

[2012-10-23 17:37] bpawlak commented on #246
I think the tool-tip idea works.  We could also just simply change the color of the "last saved" message for a brief time and then have it return to white.  When the user clicks the save button, they get a small spinner and when the save is done, the "last saved' message briefly changes color and then returns to normal.

[2012-10-23 17:39] ghing commented on #246
@bpawlak I think the big issue for me is trying to get rid of the last saved timestamp.  What if on save, the button temporarily gets replaced with a last saved message before fading into a button?

[2012-10-23 17:42] bpawlak commented on #246
I'd like to have some way to persistently show when a document was last saved, if possible... I see that feedback as a good reminder to users that they need to save.  Of course, with our auto-save functionality, it may not be _as_ necessary.

[2012-10-23 19:36] #328 closed, assigned to ghing

[2012-10-23 20:04] ghing opened #377 "Default paragraph, header, list styles in the builder"
This is really apparent when viewing the intro paragraph on the "Review" workflow step.

I'm thinking just borrowing the ones from [.content-block](https://github.com/PitonFoundation/atlas/blob/builder_redesign/static/less/content-page.less#L15)

@patternleaf, what do you think is the best way to generalize these styles?  Let me know in a comment and assign back to me and I'll take care of this.

[2012-10-23 20:07] #217 closed, assigned to ghing

[2012-10-23 22:19] jwirfs-brock commented on #246
Can we have both the last saved message that fades into a "save" button,
and a tool tip that shows you the last saved time stamp when you hover over
the save button?

That solution allows us both to conserve space and to give users feedback
whenever the auto-save is happening.

On Tue, Oct 23, 2012 at 11:42 AM, bpawlak notifications@github.com wrote:

[2012-10-24 14:23] ghing commented on #246
Demo of this is on dev.

[2012-10-24 14:43] jwirfs-brock opened #378 "Position of message bar needs to be moved in Story Builder"
The message bar (which displays, "This story has been saved" after an auto save and a message about the asset library after a section or asset has been deleted) needs a new position now that we've implemented the new Story Builder design.

@ghing suggested shortening the message (so it no longer covers the width of the entire screen) and putting it between the Floodlight logo and the Preview/Start

[2012-10-24 15:14] bpawlak commented on #378
I'm not sure why we really need to move the confirmation bar.  I'd suggest we make it fade out more quickly, but I don't see a real need to move it or change it, size-wise.  What are the drivers for moving/resizing it?

[2012-10-24 15:31] jwirfs-brock commented on #378
Right now, because we have more elements taking up vertical space at the
top, it's showing up on top of the menus, which is a bit strange.

On Wed, Oct 24, 2012 at 9:14 AM, bpawlak notifications@github.com wrote:

[2012-10-24 15:36] bpawlak commented on #378
Think of it like the old confirmation dialogs in HTML... it's simply there to provide some quick feedback (only we don't have to force people to cancel it).

If we _were_ to move it, I'd move it below the section navigation container so that it's closer to where the user is focusing their eyes (i.e., the content containers).

Another option would be to implement something growl-like: functionn.blo

[2012-10-24 21:27] ghing opened #380 "Drawer width issues"
To recreate:
# Load builder.
# Open drawer (by clicking on the help tab
# Switch to another workflow step

Expected behavior: Drawer takes up part of the width of the page

Actual behavior: Drawer takes up the whole width of the page

[2012-10-24 21:31] #380 closed, assigned to ghing

[2012-10-24 23:07] ghing commented on #362
Set these forwarders up in the Webfaction panel.  I sent out test messages and they didn't bounce.  @jwirfs-brock, you should re-open this ticket if you don't get the emails.

[2012-10-24 23:07] #362 closed, assigned to nobody

[2012-10-24 23:10] #333 closed, assigned to ghing

[2012-10-25 00:34] #317 closed, assigned to ghing

[2012-10-25 00:51] #378 closed, assigned to ghing

[2012-10-25 02:14] ghing opened #381 "Style asset type selection view"
Bill's original concept:

![Bill's original treatment](http://i.imgur.com/p7Tjr.jpg)

Geoff T's treatment:

![Geoff T's treatment](http://i.imgur.com/jmoDx.jpg)

The consensus was that we were lukewarm about this because:
- it didn't reflect all our asset types
- the icons were a little confusing
- the containers didn't show the space that would be occupied by the assets
- the select asset type ic

[2012-10-25 02:19] ghing opened #382 "Template type watermark"
![Template type watermark screenshot](http://i.imgur.com/8jCr2.jpg)

[2012-10-25 14:00] ghing opened #383 "Style template selection view"
Geoff T's treatment:

![Geoff T's treatment image](http://i.imgur.com/reJCd.jpg)

[2012-10-25 14:23] #354 closed, assigned to ghing

[2012-10-25 14:40] ghing commented on #377
I think the header and introductory paragraph to this comp gives us some good guidance of what these styles might look like:

![Example of builder header and paragraph styles](http://i.imgur.com/reJCd.jpg)

[2012-10-25 15:14] ghing opened #384 "Gloabal button styles"
See button styles at the bottom of this comp:

![Everything](http://i.imgur.com/0QOk3.jpg)

[2012-10-25 15:24] ghing commented on #336
Implemented in 7f62df37f2477848667f2958371771f2ffa06bb8

[2012-10-25 15:24] #336 closed, assigned to ghing

[2012-10-25 15:28] patternleaf opened #385 "stream of js errors from wysiwyg editor"
To reproduce:

1. navigate to builder, pick PhotoVoice
2. open js console
3. click in story body wysiwyg editor to give it focus
4. click on Image and Text section in section bar

result:

stream of js errors: a.nativeSelection is null. doesn't appear to have any negative effect on functionality.

this doesn't happen if you take focus away from the wysiwyg editor before changing story sections. li

[2012-10-25 15:37] ghing opened #386 "Graphic layout selector stops working when switching between workflow views"

[2012-10-25 15:50] #386 closed, assigned to ghing

[2012-10-25 17:21] jwirfs-brock opened #387 "Caption for chart asset not saving in Story Builder"
I've been playing with the chart asset in the Story Builder using the story http://staging.floodlightproject.org/stories/born-into-poverty-1400-in-the-childrens-corridor-e/

After inserting a chart, when I edited the caption and clicked "Save," the caption field appeared blank and the caption wasn't saved.

[2012-10-25 19:52] jwirfs-brock commented on #304
@bpawlak You have better design sensibilities than I do, but how about something like this: http://staging.floodlightproject.org/en/story-builder/

(and soon, the big-ass button)

[2012-10-25 20:22] #387 closed, assigned to ghing

[2012-10-25 21:47] #337 closed, assigned to ghing

[2012-10-25 21:48] bpawlak commented on #304
I like it!

[2012-10-25 22:10] ghing commented on #187
@jwirfs-brock  I'm still thinking about the best way to handle this.  I just wanted to note that [infogram](http://infogr.am/) embeds using an `IFRAME` and it works quite nicely in the builder.

[2012-10-25 22:11] ghing commented on #187
Note to self: maybe I can create an iframe and attach the script tag to it?

[2012-10-26 03:43] ghing commented on #246
@patternleaf added nicer styles for the button. I think this is done now.  Closing.

[2012-10-26 03:43] #246 closed, assigned to ghing

[2012-10-26 04:11] #368 closed, assigned to ghing

[2012-10-26 04:42] ghing commented on #365
Closed by 5f9ea4edeed370944d91afb06d79a8cb7b0347bf

[2012-10-26 04:42] #365 closed, assigned to ghing

[2012-10-26 13:14] ghing commented on #371
@jwirfs-brock, the position in the design comps doesn't make any sense.

I think they should be in the footer (to match the current position and the position in @bpawlak's original UI designs.

I'm thinking of just replacing the current next/previous text with the chevrons and tooltips that say something like "Next Section" and "Previous Section"

[2012-10-26 13:22] ghing commented on #225
Right now, if a user selects the video asset, they're only presented with the video URL, so they would have to put the embed code in some other asset type to get the behavior Bill is describing.  Give me copy that will show up in the help drawer explaining that users just have to copy and paste the URL and the video will automatically be embedded and I'll wire it in.

[2012-10-26 13:25] ghing commented on #198
@jwirfs-brock, @patternleaf I think the biggest issue that this is still blocked on is deciding how stories will be selected for this region.  Should this be curated, or random?  Personally, I feel like it might be better to hold off on this until a wider number of stories is available.

[2012-10-26 13:28] jwirfs-brock commented on #371
I think they'll be fine at the bottom as long as they are styled in a way
that makes them visible. Right now, the blue link on a black background is
virtually invisible.

I like using the chevrons with a tool tip. Let's try it.
On Oct 26, 2012 7:14 AM, "Geoffrey Hing" notifications@github.com wrote:

[2012-10-26 13:38] ghing opened #388 "Link to launch story builder should look like a button"

[2012-10-26 13:40] bpawlak commented on #371
The blue is just the default link color, I don't think there's been any styling applied yet... But chevrons with white text (prev/next) would be more explicit for users.

By the way, getting an error trying to explore: /srv/www/atlas_dev/venv/src/django-haystack/haystack/query.py in _cache_is_full, line 118

[2012-10-26 13:43] ghing commented on #371
@bpawlak is right about the blue just being the default color and there being no styling there.

Are you saying something like:

`< previous | next >`

Also, I fixed the issue with Solr on the dev instance.

[2012-10-26 13:45] bpawlak commented on #371
Yes.

[2012-10-26 13:48] jwirfs-brock commented on #371
Yes I knew that was just the default. I was just pointing out that it isn't
the location that made the unstyled version invisible - it's the color.
On Oct 26, 2012 7:45 AM, "bpawlak" notifications@github.com wrote:

[2012-10-26 13:52] jwirfs-brock commented on #198
How many stories go into the banner? Right now we have more than 50 on
staging, and will be adding a bunch in the next week.

I suggest the banner either shows the x more recently added stories or a
random selection. I prefer random, because they are shown most recent first
on the explore page.
On Oct 26, 2012 7:28 AM, "Geoffrey Hing" notifications@github.com wrote:

[2012-10-26 15:01] jwirfs-brock opened #389 "Connected stories should not appear on the Explore page"
In the analysis we did on connected stories (https://docs.google.com/document/d/1Sz60luMX7_9SkMkTOYw9GuTb-aCdPrPh5wkNY-h1MVg/edit), we decided that they would only be visible via the root story, and not on their own (i.e., not on the Explore page).

I created a test connected story (http://staging.floodlightproject.org/stories/test-connected-story/ from the root story http://staging.floodlightproj

[2012-10-26 15:29] jwirfs-brock commented on #225
Here is some instructional copy:

**Embed a video from YouTube or Vimeo.** Find the video on YouTube or Vimeo, copy the URL from your browser, and paste it below.

Make sure you use the link and **not** the embed code, which looks something like this:
`<iframe src="http://player.vimeo.com/video/43671182" width="500" height="281" frameborder="0"></iframe>`

[2012-10-26 16:40] #389 closed, assigned to ghing

[2012-10-26 18:09] #225 closed, assigned to nobody

[2012-10-26 18:16] jwirfs-brock commented on #372
Let's go with orange `<h2>` size headers for the section titles, left justified.

The story title itself will be white on black, and an `<h1>`.

[2012-10-26 18:24] jwirfs-brock opened #390 "Need to remove default text from interior pages"
Sample text for "The Vision," "Our Partners," and "How it Works" is showing up in the two column area and footer in all pages. We need to turn this off.

[2012-10-26 18:25] bpawlak opened #391 "Need nore explicit link for "Browse Stories" in top navigation"
Under the mega-nav for Explore Floodlight, it's not immediately clear that the top heading "Browse Stories" is a link.

Would suggest making the main headings orange to look like links:

https://docs.google.com/drawings/d/1hbU7IfyH8LLjgafrxZ4toqWy_codggt2VBRPS4Y2u0k/edit

[2012-10-26 18:30] jwirfs-brock commented on #341
It's not necessarily blocking launch to have the layout selection not be graphic, but we do need to have it. On dev, it looks like it isn't there. Did we figure out the placement based on the email thread? I'm pasting that discussion here (minus the images):

@bpawlak said:
Current view – the layout chooser takes up as much space (with padding) as the Workflow steps…
Option 1: simply place it up i

[2012-10-26 18:32] jwirfs-brock commented on #335
I'm flagging this as critical, but it looks like it's been implemented on dev. Can we close?

[2012-10-26 18:34] jwirfs-brock opened #392 "Need to update tour content to match new layout of Story Builder"
@ghing I'll update the copy and then send back to you.

[2012-10-26 18:42] bpawlak commented on #341
For launch I think it could simply have text that describes the layouts (side-by-side, 1-up, 3-up, etc.).  Switching between them is pretty quick.  The graphics are nice, but I wouldn't say it's anywhere near blocking

[2012-10-26 18:47] jwirfs-brock commented on #341
I guess I goofed -- the graphics are implemented on dev, right? But the
issue is they are appearing below the section nav bar, and taking up space.
@bpawlak, is the placement of the layout selector a blocking issue for you?

On Fri, Oct 26, 2012 at 12:42 PM, bpawlak notifications@github.com wrote:

[2012-10-26 18:48] bpawlak commented on #341
nope. Just a bit of wasted vertical space and looks like it could be refined.  But not a blocker (it works!)

[2012-10-26 18:50] #304 closed, assigned to nobody

[2012-10-26 18:54] jwirfs-brock opened #393 "IE users should get a message telling them to upgrade to the most recent version"
I'm flagging this as critical, but the other IE issues aren't.

@bpawlak Can you recommend some language for the message, and I'll tweak?

[2012-10-26 18:59] bpawlak commented on #393
I've always started with something like this (http://code.google.com/p/ie6-upgrade-warning/) as a basis.  Of course, we'd want to update the script if we decide to use it (Firefox 3+ is now actually Firefox 16.0.1).  Otherwise, the message is polite and concise and provides the links to directly download what's being suggested.

[2012-10-26 20:43] jwirfs-brock opened #394 "Project detail page needs to be wired up to actual data"
The layout on the project detail page looks good (see: http://dev.atlas.terrorware.com/en/projects/the-childrens-corridor/), but it needs to pull the actual data from the project.

For now, because we don't have a way of setting a featured story for a project, let's remove that and just have "recent stories."

[2012-10-26 20:46] jwirfs-brock opened #395 "Organization detail page needs to be implemented"
Right now, the organization detail page is blank (see: http://dev.atlas.terrorware.com/en/organizations/the-piton-foundation/).

The organization detail page should be similar to the project detail page (see [issue #394](https://github.com/PitonFoundation/atlas/issues/394)) . @bpawlak also has wire frame: http://clients.inovdesigns.com/floodlight/explore_organizations_piton.php

[2012-10-26 20:50] jwirfs-brock opened #396 "Project detail page needs to link to project filter on Explore page"
The link at the bottom of the project detail page, "View all stories..." should link to the Explore page with the project filter set to that project. This is described in the Iteration 6 acceptance tests, T0203 (https://docs.google.com/document/d/1jne00MgfxXg2ym01Et6CD0ZNoLo0iTG4EYdyWaj_erc/edit).

[2012-10-26 20:53] jwirfs-brock opened #397 "Organization detail page should link to organization Explore page"
This is analogous to [issue #396](https://github.com/PitonFoundation/atlas/issues/396) and is also described in the Iteration 6 Acceptance Tests, T0202 (https://docs.google.com/document/d/1jne00MgfxXg2ym01Et6CD0ZNoLo0iTG4EYdyWaj_erc/edit).

[2012-10-26 21:00] jwirfs-brock opened #398 "Contributing Organizations page needs to have a list of all existing organizations"
See http://dev.atlas.terrorware.com/en/organizations/

This page should, in its MVP stage, have a list of all organizations. Each should link to that organization's detail page.

[2012-10-26 21:01] jwirfs-brock opened #399 "Projects page should have a list of all existing projects"
See: http://dev.atlas.terrorware.com/en/projects/

This should have a list of all existing projects. Each should link to the project detail page.

[2012-10-26 21:12] jwirfs-brock opened #400 "Clicking on "Contribute to this story" from a connected story should launch a PhotoVoice story"
The behavior for what should happen when a user contributes to a connected story is outlined in the Iteration 6 acceptance tests, in T0164 and T0168 (https://docs.google.com/document/d/1jne00MgfxXg2ym01Et6CD0ZNoLo0iTG4EYdyWaj_erc/edit).

I am not sure if we'll be able to have a stripped down version of the Story Builder, but we should at least have:
- the photovoice template pre-selected
- the pro

[2012-10-26 21:13] jwirfs-brock commented on #400
Right now, I'm not marking this as critical. @ghing if this is relatively easy to do, then it becomes a high priority. If it will take a large chunk of time, then we can leave it as post-launch (maybe something to make sure we have by our marketing push in late November).

[2012-10-26 21:16] jwirfs-brock opened #401 "Should be able to set a featured image for a project from the Django admin"
This can happen entirely in the Django admin interface for now.

[2012-10-26 21:16] jwirfs-brock opened #402 "Should be able to set a featured image for an organization from the Django admin"

[2012-10-26 21:23] ghing commented on #400
@jwirfs-brock This should be working. I'll take a look and see why it's not.  Some functionality might have gotten clobbered when the theme was applied.

[2012-10-26 21:26] jwirfs-brock commented on #400
I'm seeing the template chooser when I create a connected story.

On Fri, Oct 26, 2012 at 3:23 PM, Geoffrey Hing notifications@github.comwrote:

[2012-10-26 21:27] ghing commented on #399
@jwirfs-brock, Is there any guidance for what this should look like design wise?  I can't remember seeing it in the comps, but I might have overlooked it.

[2012-10-26 21:30] jwirfs-brock commented on #399
The acceptance tests are the clearest way we described it. I don't believe
we had any comps for this. @bpawlak could you help with this?

On Fri, Oct 26, 2012 at 3:27 PM, Geoffrey Hing notifications@github.comwrote:

[2012-10-26 21:40] jwirfs-brock commented on #400
I'm not sure if this is possible, but here's a (really ugly) sketch of the elements we'd want to get rid of in the stripped-down version of the Story Builder for connected stories:

https://docs.google.com/file/d/0B82exFJJWyJqTHRESV9wT0F5YWM/edit

The prompt could maybe go in the orange bar at the top. Or, if we get rid of section nav bar, it could go there. Again, I am not sure if these elements

[2012-10-26 21:46] ghing commented on #400
@jwirfs-brock By default, the app looks for a template with a slug of `connected` to use for the connected story builder template.  I changed the value of `settings.STORYBASE_CONNECTED_STORY_TEMPLATE` to be `photovoice` and it works now.

See http://dev.atlas.terrorware.com/en/stories/beyond-sprawl-the-southwest-zombie-problem-2/build-connected/

[2012-10-26 21:56] #400 closed, assigned to ghing

[2012-10-27 00:37] bpawlak commented on #399
I had created a basic page in the prototype (clients.inovdesigns.com/floodlight)

[2012-10-27 02:08] #371 closed, assigned to ghing

[2012-10-27 04:41] patternleaf commented on #381
note that in b86d5ea i may be misunderstanding the intent of the design. the big blue plus in the middle looks extremely clickable, but i am interpreting it as a placeholder, rather than something that you interact with. so i implemented it in gray. easy to fix if needed.

[2012-10-27 23:21] #370 closed, assigned to ghing

[2012-10-27 23:42] #372 closed, assigned to ghing

[2012-10-28 04:48] #388 closed, assigned to ghing

[2012-10-28 15:50] ghing commented on #381
I think of the "+" as a placeholder too.  After looking at your work, I like the gray.

[2012-10-28 20:23] ghing commented on #381
I think of it as a placeholder too.

I pulled this stuff and like the gray.
On Oct 26, 2012 11:41 PM, "Eric Miller" notifications@github.com wrote:

[2012-10-29 14:01] patternleaf commented on #390
This markup+copy _is_ wanted on the About page, correct? Or is it not wanted anywhere? If the former we'll need to re-create the markup/copy on the About page by hand when it's removed as default content.

[2012-10-29 14:11] jwirfs-brock commented on #390
Correct. I've already added it by hand on the About page on staging.
On Oct 29, 2012 8:01 AM, "Eric Miller" notifications@github.com wrote:

[2012-10-29 14:57] ghing opened #404 "Wire in social icons"
Jordan, is there a Twitter account and Facebook page for Floodlight yet?  If so, let me know the URLs.  If not, I'll hide the icons for now.

[2012-10-29 15:06] jwirfs-brock commented on #404
We have a Twitter account. Don't think we have a Facebook page yet. @tekhneco can you send Geoff the Twitter info?

[2012-10-29 15:20] wendynorris commented on #404
@FloodlightStory

password: piton5280$

No Facebook account.

[2012-10-29 15:25] jwirfs-brock commented on #392
I've put all of the changes we need to make to the tour into this Google doc: https://docs.google.com/document/d/1PzVXnGMcYSPUPojfbVMDGCMn9yCy4cCVuHW1NeaSEzY/edit

Some tour items needs to be moved, some need new copy, and some need both. I've noted that in the document.

@ghing If it's easier for you, I can make a pull request and then modify the copy in the template on my side. Let me know how y

[2012-10-29 15:42] #404 closed, assigned to nobody

[2012-10-29 15:46] ghing commented on #392
@jwirfs-brock, merge in this pull request (https://github.com/jwirfs-brock/atlas/pull/2) to bring your fork up-to-date.  Then, update the copy.  Finally, make a pull request to me so I can review/merge in the copy updates and I'll take care of the moving.

[2012-10-29 15:52] jwirfs-brock commented on #391
I agree -- I like this change.

I'm not flagging it as critical, because it's not blocking launch, but it should be fairly easy to change, right?

[2012-10-29 16:04] patternleaf commented on #391
yes, easy to change.

[2012-10-29 16:17] jwirfs-brock commented on #392
@ghing  I merged the pull request, but I'm having some trouble because it looks like some of the tour content is being pulled from somewhere else. I want to make sure I'm editing the right files. I am editing: https://github.com/jwirfs-brock/atlas/blob/develop/static/js/builder/views.js

For example:

[code]

Where do I edit `this.template['section-manipulation-guider']()`? Is it somewhere in this

[2012-10-29 16:30] ghing commented on #392
Those are in story_builder_handlebars.html (
https://github.com/jwirfs-brock/atlas/blob/develop/apps/storybase_story/templates/storybase_story/story_builder_handlebars.html#L513)
the id of the template tag matches the key in the code (e.g.
'section-manipulation-guider').

On Mon, Oct 29, 2012 at 11:17 AM, Jordan Wirfs-Brock <
notifications@github.com> wrote:

##

Geoffrey Hing
geoffhing@gmail.com

[2012-10-29 16:40] wendynorris opened #406 "Persistent login credentials"
Can we add a "remember me" checkbox on the login to store passwords and avoid the need for users to remember their credentials?

[2012-10-29 16:43] patternleaf commented on #308
ok, this is now updated on dev. part of the issue is that Times New Roman renders visually smaller at 12px than Georgia, which had been the default serif font. when i switched it over to Times New Roman at some point, the font size wasn't updated.

right now on dev we're using Times New Roman 14px. looks pretty legible to my eyes.

also some general cleanup has happened, so the default body sans-s

[2012-10-29 16:48] jwirfs-brock commented on #406
Right now, it automatically remembers you as long as your are using the same browser. (Even if you close your browser and re-open it, I think.)

@tekhneco Are you suggesting we have a way for it to remember you across different browsers? @ghing is that possible?

[2012-10-29 16:52] wendynorris commented on #308
Looks great. Will close issue.

[2012-10-29 16:52] #308 closed, assigned to nobody

[2012-10-29 16:57] wendynorris commented on #406
When I just logged in -- using the same browser I normally use -- it didn't remember me and I had to dig out the password from the email I sent myself. I added the Floodlight account to the persistent password add-on in Firefox but not everybody does that.

[2012-10-29 17:01] jwirfs-brock commented on #392
@ghing Ok, I updated the copy and created a pull request:

https://github.com/PitonFoundation/atlas/pull/407

Some of the tour elements still need to have their position updated (I wasn't sure how to do that).

[2012-10-29 17:02] patternleaf commented on #316
@tekhneco here's the current look, on dev:

![image](https://www.evernote.com/shard/s9/sh/ef30c00a-d59f-49bf-b77d-291a0db691d5/848511658243469e73c20f38e19f0d89/res/b0d338d8-8d35-419e-9438-8d213e9a24c4/skitch.png)

better?

[2012-10-29 17:03] jwirfs-brock commented on #392
@ghing Or should I make a pull request for ghing/atlas instead of PitonFoundation/atlas?

[2012-10-29 17:04] wendynorris commented on #316
perfect!

[2012-10-29 17:04] #316 closed, assigned to nobody

[2012-10-29 17:04] patternleaf commented on #326
this is done. let's log new issues as they come up.

[2012-10-29 17:04] #326 closed, assigned to nobody

[2012-10-29 17:05] patternleaf commented on #330
going to make a new issue for the hover behavior and close this. that issue probably won't block launch.

[2012-10-29 17:05] #330 closed, assigned to nobody

[2012-10-29 17:06] patternleaf opened #408 "builder section nav hover issue"
hovering to create an add section spacer causes current selection arrow to be rendered in the wrong place.

[2012-10-29 17:07] patternleaf commented on #321
@ghing this is closeable at this point, ya?

[2012-10-29 17:09] patternleaf commented on #341
closing this as it's no longer blocking launch. let's open any new issues as they arise.

[2012-10-29 17:09] #341 closed, assigned to nobody

[2012-10-29 17:10] patternleaf commented on #343
calling this done. let's open new issues as needed.

[2012-10-29 17:10] #343 closed, assigned to nobody

[2012-10-29 17:15] patternleaf commented on #345
addressed, updated, etc, viewable on dev.

http://dev.atlas.terrorware.com/explore/

note that the # of available pixels is odd, so there's a pixel more on one side than the other. :( let's open another issue for that if necessary.

@tekhneco can you check it out and close? thanks.

[2012-10-29 17:18] patternleaf commented on #358
this fix was hanging out on a branch for a while. now staged on dev. @jwirfs-brock can you confirm it's fixed and close?

http://dev.atlas.terrorware.com/en/explore/

thanks.

[2012-10-29 17:19] jwirfs-brock commented on #358
Looks good.

[2012-10-29 17:19] #358 closed, assigned to nobody

[2012-10-29 17:21] patternleaf commented on #377
pretty much done. some tweaking may still be in order (eg, dt elements on the template selection page could use some margin) but let's make separate issues for those.

[2012-10-29 17:21] #377 closed, assigned to nobody

[2012-10-29 17:23] patternleaf commented on #384
available as .button-style(hot) and .button-style(cool) less mixins. applied to &lt;button> elements by default.

[2012-10-29 17:23] #384 closed, assigned to nobody

[2012-10-29 17:45] ghing commented on #406
@tekhneco Is this on staging or dev?  On both, I was able to log-in, close my browser, and remain logged-in.

When was the last time you had logged in previously?

You may have either hit the default session timeout (I think it's 2 weeks).   This is pretty standard.  I haven't ever noticed a site that keeps sessions active for longer than a month (this is for security reasons).

[2012-10-29 17:46] wendynorris commented on #406
This is on the staging site. I don't recall precisely when I was last logged-in but it was definitely within the last two weeks.

[2012-10-29 17:47] ghing commented on #384
@patternleaf FYI, I also added .button-hot, .button-cool and .button-gray CSS classes (that are implemented using the mixins) to be able to style elements directly from HTML markup

[2012-10-29 17:48] ghing commented on #321
Works for me. Closing.

[2012-10-29 17:48] #321 closed, assigned to nobody

[2012-10-29 17:48] wendynorris commented on #345
Looks good.

[2012-10-29 17:48] #345 closed, assigned to nobody

[2012-10-29 17:50] ghing commented on #392
@jwirfs-brock PitonFoundation/atlas is correct.  I'll look at this later today.

[2012-10-29 18:01] ghing commented on #406
I wasn't able to replicate this.

I closed my browser and opened it and my login session persisted.  I also switched from the wifi hotspot to a tethered phone to ensure a different IP and the session still persisted.  I tried this with both Firefox and Chrome and my login session persisted.

Please let me know if you continue to experience this.

[2012-10-29 18:05] ghing commented on #198
Just a  quick note, I think that it might be kind of computationally expensive to render this straight from the database with each page load.  I want to do some profiling of this before we roll it out to ensure snappy loading of the home page which I think is really important.  I won't be able to do this before Thursday, but can make this a priority for soon after.

[2012-10-29 18:07] wendynorris commented on #406
Sorry, I think we're talking past each other. I understand the need to timeout sessions for security reasons. That's smart.

What I'm looking for is the fairly standard function of signing in with a user name and then the password auto-completes. There's no "remember me" checkbox when logging in.

[2012-10-29 18:07] ghing commented on #335
I'm closing this.  There might still be some weirdness for some of the interactions, but lets open new  issues for the specific interaction bugs if any are found.

[2012-10-29 18:07] #335 closed, assigned to ghing

[2012-10-29 18:14] ghing commented on #406
@tekhneco I think I understand you.  What I'm saying is that the default behavior is to "remember me" for two weeks.  I haven't been able to replicate the issue where it doesn't remember you.

Storing passwords is always handled by the browser, not by an individual site, and that's working for me on staging.  Is it possible you chose the "never for this site" (or your browser's equivalent) when it

[2012-10-29 18:19] wendynorris commented on #406
I guess anything is possible but I generally don't select never for the password recall. If I don't affirm, I exit out.

Why don't we close this issue with a note to monitor user behavior post-launch. If we find users have figured out how to store their passwords, great. If we see a spike in "forgot password" calls, then we revisit. Sound good?

[2012-10-29 18:21] jwirfs-brock commented on #406
@tekhneco That sounds good to me.

[2012-10-29 18:35] #406 closed, assigned to nobody

[2012-10-29 18:36] jwirfs-brock commented on #198
That sounds good -- I'd rather have the banner working quickly and efficiently.

[2012-10-29 18:44] jwirfs-brock opened #409 "Content for "Featured on Floodlight" area on homepage"
I have three sample items for the homepage, which you can view at: https://docs.google.com/document/d/1MaxZjyKWLppeMbRbWg9nQK48_O5KEbW6iDk_qBNEqsw/edit

A couple of notes:
1. These don't have corresponding images yet -- I'm still working on getting those. @patternleaf Do you know what the dimensions need to be for the images?
1. Having multiple images for a single slider item isn't necessary. In f

[2012-10-29 20:55] jwirfs-brock opened #410 "With the Help drawer, don't have a way to go back to section-specific help"
Once you've clicked on the "?" icon next to an asset to bring up the asset-container-specific help, to get back to the section-specific help, you have to look at a different section and then come back or click on the current section in the section-nav bar.

This is ok for now and pretty low-priority, but in the future we may want to include a note about this somewhere (or a reset button within the

[2012-10-29 23:09] patternleaf commented on #338
added icons, updated style for the asset wrapper (box with blue border in above graphic). border goes blue while editing—not sure if that was the intention or not.

[2012-10-29 23:09] #338 closed, assigned to nobody

[2012-10-29 23:12] patternleaf commented on #339
hm. is this the blue border around the asset selection/edit boxes?

[2012-10-29 23:30] patternleaf commented on #409
@jwirfs-brock: 335x200 is what's in the current slideshow.

[2012-10-30 00:31] #394 closed, assigned to ghing

[2012-10-30 00:31] #395 closed, assigned to ghing

[2012-10-30 00:31] #396 closed, assigned to ghing

[2012-10-30 00:31] #397 closed, assigned to ghing

[2012-10-30 00:39] ghing commented on #391
Looks like link color was changed in 03dcf41, closing.

[2012-10-30 00:39] #391 closed, assigned to nobody

[2012-10-30 01:11] #398 closed, assigned to ghing

[2012-10-30 01:11] #399 closed, assigned to ghing

[2012-10-30 01:34] #392 closed, assigned to nobody

[2012-10-30 02:51] #260 closed, assigned to ghing

[2012-10-30 04:34] ghing commented on #306
Closed by df2732bae8c27d8322ac37cbe19ee71fe936f6f2

[2012-10-30 04:34] #306 closed, assigned to ghing

[2012-10-30 14:25] ghing commented on #339
Yes, that's what I meant.  It looks like you got it in f05e1f7f76acea0cef2644f7bb9fc07ede52e6bc

[2012-10-30 14:31] ghing commented on #410
This is a known issue that @bpawlak went back and forth about how to best address.  If I recall we came up with a few suggestions:
- @bpawlak suggested having the help reset to the section help when the user clicks anywhere in the section
- I suggested showing all the available help for a section with an [accordion widget](http://jqueryui.com/accordion/)

Or we could do something else, like showin

[2012-10-30 14:47] ghing commented on #402
Closed in 2380e5d2c9ef48c83f48fbb0a4d7cf3c1246d1e6

The admin is a little clunky, but I wanted something simple and that worked with native Django widgets.  We can iterate on this later if needed.

[2012-10-30 14:47] #402 closed, assigned to ghing

[2012-10-30 14:47] ghing commented on #401
Closed in 2380e5d2c9ef48c83f48fbb0a4d7cf3c1246d1e6

The admin is a little clunky, but I wanted something simple and that worked with native Django widgets.  We can iterate on this later if needed.

[2012-10-30 14:47] #401 closed, assigned to ghing

[2012-10-30 14:57] bpawlak opened #411 "Uploading images doesn't seem to work"
In this story
http://dev.atlas.terrorware.com/en/build/544430debfdf4fa0a3dac6b6d96f4a7e/

I tried to upload an image (https://docs.google.com/file/d/0B7ipktENBWzTOXJfRFcxenpJeFE/edit) to the Introduction section and after it was done, I got the saved message but the image didn't show.

Now, when I go back to the story, I see:

https://docs.google.com/drawings/d/1wFRSKOhnFEBHkY5mLK7gpYc1O9turFExZPR

[2012-10-30 15:11] bpawlak opened #412 "Caption not saving for uploaded image asset"
I know this was an issue before and was closed, but I'm seeing the same behavior.  It may be related to  to #441, but I'm also not able to save my caption in story:  http://dev.atlas.terrorware.com/en/build/544430debfdf4fa0a3dac6b6d96f4a7e/

[2012-10-30 15:16] bpawlak opened #413 "Changing layout incorrectly removes assets"
I had an image asset in the left-side of a side-by-side layout and I changed the layout to above/below.  When I did so, my image asset was removed to the Asset container, even though there are still 2 content containers in the section.

[2012-10-30 15:24] ghing opened #414 "Help drawer button rotation styles broken in IE"
[Imgur](http://i.imgur.com/L3txr)

[2012-10-30 15:27] ghing opened #415 "Builder tour popup falls off screen in IE"
![Imgur](http://i.imgur.com/ago3p.png)

[2012-10-30 15:30] ghing opened #416 "Internet Explorer doesn't support input placeholders"
Internet Explorer 9 and lower don't support placeholders!!!

There are a number of polyfills available.  See http://stackoverflow.com/questions/5522164/input-placeholders-for-internet-explorer

[2012-10-30 16:02] ghing commented on #413
This is the expected behavior, when a layout is changed, all assets are removed and added to the asset drawer.

It works this way as I remember a conversation a long time ago where we decided that we didn't want to make any assumptions about how assets would be mapped across different layouts.

This could change (post-launch).  Off the top of my head, it would involve defining a weight for the dif

[2012-10-30 16:14] ghing opened #417 "Cannot load a previously saved story in builder when accessing through a hash-based URL"
It looks like this is just when the URL like this is re-loaded: /build/#59ed4b76be55442283809a24d95fd976/

When visiting /build/59ed4b76be55442283809a24d95fd976/ (which is what you get when you follow the link from the "My Stories" page), it looks like things load correctly.

The scenario where the problem would happen is if the user reloads their browser while building their story initially, or i

[2012-10-30 16:20] bpawlak commented on #413
Ah, yep.  I think that _is_ what we decided - at least for initial launch.  Closed for now.

[2012-10-30 16:20] #413 closed, assigned to ghing

[2012-10-30 16:23] ghing commented on #411
I think this might just be a filesystem permission issue on the development server.  I'll investigate further and see if I can replicate on staging.

Here's the traceback:

[code]

[2012-10-30 16:28] ghing commented on #411
Confirmed that it's just a permissions issue on the development server.  It's fixed now.  I also tested uploading the image mentioned in this issue on staging and didn't have any problems.

[2012-10-30 16:28] #411 closed, assigned to ghing

[2012-10-30 16:44] ghing commented on #412
I wasn't able to replicate this on dev.  Can you re-try and see if you're still getting the issue?

[2012-10-30 16:58] bpawlak commented on #412
Still getting the same behavior on the story that has the broken image asset (ref in #441), but works on other stories...

[2012-10-30 17:14] jwirfs-brock opened #418 "On homepage, need to change names of links in bottom of "Featured Stories" and "Featured Projects" sliders"
The link at the bottom of the "Featured Projects" slider, "View Projects," should be changed to "View All Projects."

The link at the bottom of the "Featured Stories" slider, "View Stories," should be changed to "View All Stories."

[2012-10-30 17:16] jwirfs-brock commented on #410
I like the accordion widget idea. Let's return to this after launch.

[2012-10-30 17:38] jwirfs-brock commented on #409
Here are the images for the second two items (still waiting on the first):

Stories of the Children's Corridor - http://dl.dropbox.com/u/4667118/Childrens_Corridor_FL_homepage.jpg

Colorado Data Engine - http://dl.dropbox.com/u/4667118/Childrens_Corridor_FL_homepage.jpg

Both are 335x200 px.

[2012-10-30 17:45] jwirfs-brock opened #419 "On Organizations page, images are overlapping with organization descriptions"
See http://staging.floodlightproject.org/en/organizations/

It looks like we don't have any resizing implemented for the organization page, so images that are wide are overlapping with the text for the organization descriptions. The same thing is happening with the project page.

For now, because we need to upload the images manually through Django admin, we can just make sure that every featured

[2012-10-30 17:54] ghing commented on #419
It looks like the images that are overflowing are ones that are just linked to from an external site (with no oEmbed).  We'll never be able to resize the actual image unless we make a local copy of all those images and manipulate them, which I think is a bad idea.  I think I can keep these images from overflowing their containers by scaling them with CSS via a `max-width` style.

Images uploaded w

[2012-10-30 17:56] ghing commented on #419
Confirmed that max-width fix works.  Fix coming shortly.

[2012-10-30 18:21] #419 closed, assigned to ghing

[2012-10-30 18:34] #418 closed, assigned to nobody

[2012-10-30 19:10] ghing commented on #393
I'll look to ie6-upgrade-warning as a reference for the language to use.  Rather than using that code, however, I'd like to a) present the warning in a manner more consistent with our UI practices and b) check for supported browser features rather than specific browser versions.  That way we can give a friendly message for unsupported browsers we don't know about.

For detecting the file API, see

[2012-10-30 20:09] ghing commented on #393
The builder now shows a message in the alerts bar for browsers that lack support for required features.  These changes are live on dev.

Should I do something similar for the explorer?  It might be a little harder because I'm not sure what's missing that breaks things in the Explorer on IE, but I can try to figure it out.

Should we provide a 'read-more' link to a page that describes this problem

[2012-10-30 20:14] jwirfs-brock commented on #393
We should definitely include information about supported browsers. That
should probably go on our "Help" page.

On Tue, Oct 30, 2012 at 2:09 PM, Geoffrey Hing notifications@github.comwrote:

[2012-10-30 20:24] bpawlak commented on #393
I would put the message on the sign-up page of the site itself, not just the builder...

[2012-10-30 22:32] jwirfs-brock opened #420 "On "Sign Up" page, horizontal line is bisecting header text"
On http://staging.floodlightproject.org/en/accounts/register/, in both Firefox and Chrome, the horizontal line at the top is appearing to cut through the text.

It should wrap around the text, like it does on the "Sign In" page.

[2012-10-30 22:39] jwirfs-brock commented on #393
Ok, here's some text we can display at the bottom of the signup page"

"Floodlight works best in Firefox, Chrome or Internet Explorer 9. If you are using an older browser, we recommend updating to the latest version. You can find more information here."

The last sentence will link to the browser support section within the Help (which I'll create shortly).

Do we want to provide recommended versio

[2012-10-30 23:55] bpawlak commented on #393
I would just say the latest version.  If they don't have it, any link to download it (mozilla.org or www.google.com/intl/en/chrome/browser/) is going to be the most recent version

[2012-10-31 00:16] patternleaf commented on #409
hey @jwirfs-brock - those look to be the same links! :)

[2012-10-31 00:25] patternleaf commented on #339
ok, i'mma close this.

[2012-10-31 00:25] #339 closed, assigned to nobody

[2012-10-31 00:29] patternleaf commented on #390
this is now staged on dev, but it looks like the about page is missing those sections below the fold. :/

[2012-10-31 00:42] jwirfs-brock commented on #409
Oops, I'll get the correct ones up there soon.
On Oct 30, 2012 6:16 PM, "Eric Miller" notifications@github.com wrote:

[2012-10-31 00:43] jwirfs-brock commented on #390
All right, I'll make sure I update the About page. Thanks!
On Oct 30, 2012 6:29 PM, "Eric Miller" notifications@github.com wrote:

[2012-10-31 13:59] ghing commented on #393
I'm going to leave off Internet Explorer 9 from the supported browser list for now because that browser lacks support for some of the features that we currently require (the History and File APIs).  As we discussed before I think IE 9 is a good target for IE support, but I'll need to just do more testing and workarounds for some of these things.

I'm going to go test this on IE right now.

Also, I

[2012-10-31 14:21] wendynorris opened #421 "Twitter URL link shortening works intermittently"
Check auto-shorten link function in tweets sent from stories. Works intermittently.

Sometimes appears as long URL but doesn't display message that URL will be shortened. Viewing the tweet on Twitter.com in Firefox, the URL is not shortened.)

Other times, it affects character count.

@Jordan what browser were you using last night when we encountered this problem during the demo?

See: http://weba

[2012-10-31 14:30] ghing commented on #420
Looks like this is fixed. Closing.

[2012-10-31 14:30] #420 closed, assigned to nobody

[2012-10-31 14:34] jwirfs-brock commented on #421
It was Firefox.

On Wed, Oct 31, 2012 at 8:21 AM, tekhneCO notifications@github.com wrote:

[2012-10-31 15:09] tekhneco opened #422 "Mega nav in admin view"
In the admin view, the mega nav is pushed down into the front page body. White mega nav text links are unreadable on white background.

![MegaNav](http://emlis.pair.com/users/emdash/Floodlight/Floodlight_meganav.jpeg)
Format: ![MegaNav](url)

[2012-10-31 15:15] ghing opened #423 "Homepage text looks weird"
This is what I mentioned in my e-mail to you.

It looks like a result of the lines you commented out in misc.less in 2b33d5782bb2fea4d25a8a794082092029c63901

Specifically, this style:

`#main .text p { color:#5a5a5a; .plain-serif-text; }`

Also the "View ..." links are the wrong color and some of the spacing is weird.  I think it's all related to styles commented out around the previously mention

[2012-10-31 15:23] jwirfs-brock opened #424 "HTML tags are appearing in summaries of featured stories on homepage"
The html tags are showing up as markup in the summaries of the stories in the featured stories slider in the homepage. They are rendering properly on the story detail page.

[2012-10-31 15:28] jwirfs-brock opened #425 "Spanish-language menus are too wide and are overflowing onto a second row"
See: http://staging.floodlightproject.org/es/about/

The short-term solution we discussed on the stand-up this morning was coming up with a shorter title for "Grow Your Skills" in Spanish. I'll get the shorter title from Veronica.

[2012-10-31 15:32] jwirfs-brock commented on #409
Ok, here's the Colorado Data Engine image link - http://dl.dropbox.com/u/4667118/Data_Engine_FL_homepage.jpg

The third image will be coming soon...

[2012-10-31 15:55] bpawlak opened #426 "Need to analyze and fix how 2nd & 3rd level navigation works"
I've been trying to make heads or tails of how the content in "Grow Your Skills" and "About" is organized and displayed via navigation (top nav and side-nav) and I'm completely lost...  Soon after launch, I'd like to address site navigation and layout/feedback of the navigation as a high-priority item.

[2012-10-31 16:05] bpawlak opened #427 "Top navigation isn't correctly reflecting where user is in site taxonomy"
Example: http://dev.atlas.terrorware.com/en/projects/  The "Home" link shows as active when in fact it should be "Explore Floodlight"

[2012-10-31 16:07] #424 closed, assigned to ghing

[2012-10-31 16:13] bpawlak opened #428 "“You are here” feedback is needed on secondary navigation in My Account."
To make it more obvious to the user where they are in the navigation, I suggest changing the link color for the current location to increase its visibility:

https://docs.google.com/drawings/d/1EFGpjCvhwRAIQ_6EfGhIZa5INgRm7IsMyxKGczbqUjk/edit

This is also part of a larger effort at evaluating how 2nd & 3rd level navigation should be displayed on the site.

[2012-10-31 16:15] bpawlak opened #429 "Need to add BAB to the “Build a Story” nav dropdown."
We don’t want to have to force people to have to go to the /story-builder page; they should be able to get right to story telling from the drop-down.

https://docs.google.com/drawings/d/1HinF8dSJLa9HcUPz7V9FKFRwHMv4W2yFdx78Wz51SdY/edit

Also added small "Learn more" link in text under the "Create an amazing story in minutes..." lead-in text

[2012-10-31 16:16] bpawlak opened #431 "Make the Big-Ass-Button Bigger and more "Assier”"
Right now, the button looks out of place and isn't prominent enough.  Suggest this layout:

https://docs.google.com/drawings/d/1-nFYKL7niQ1vxQVZc7MPoYFmNN2jZv6XVUwn3lOHf30/edit

[2012-10-31 16:22] patternleaf commented on #350
these are addressed, available for review on dev. the notifications and subscriptions page is still a little rough-looking, but is probably passable. if not, @jwirfs-brock please open a new bug. thanks.

[2012-10-31 16:22] #350 closed, assigned to nobody

[2012-10-31 16:22] patternleaf commented on #390
closing this.

[2012-10-31 16:25] ghing commented on #282
It looks like in general things should be about a 5:3 aspect ratio.

[2012-10-31 17:38] patternleaf commented on #423
staged on dev; closing.

[2012-10-31 17:38] #423 closed, assigned to nobody

[2012-10-31 17:49] ghing opened #432 "Replace the current favicon with a site-specific one"
Currently we're using the default HTML5 Boilerplate favicon.  We should have a site-specific one.  In standup today, we agreed to base it on that speech bubble icon.

[2012-10-31 18:11] bpawlak opened #433 "Update homepage design"

[2012-10-31 18:13] bpawlak opened #434 "Reconsider center-justification of page headings"
Especially in cases where there is left-hand navigation, the centered page headings look out of place and unrefined

[2012-10-31 18:25] bpawlak opened #435 "Need to address body font for readability and consistency of presentation"
Museo serif should probably be paired with a sans-serif font for on-screen readability.  Need to address line-height/rhythm for increased comprehension, as well

Reference: http://typecast.com/blog/4-simple-steps-to-vertical-rhythm/  and http://www.gridlover.net/

See https://docs.google.com/document/d/1fOGsS8O_R3A-OqMLG7zExtHWRyHI5sMAmv2JWAaxFCo/edit for an example of how the typography can be gr

[2012-10-31 18:26] ghing commented on #432
Closed by a7f035cbe43561e0f7c620be62dcdc0a22ce1a41

[2012-10-31 18:28] #432 closed, assigned to ghing

[2012-10-31 19:26] jwirfs-brock opened #436 "Need to change text for a user who tries to login before confirming account through email"
If you create an account and try to sign in before clicking on the confirmation link in your email, you get the following message:

"Your Floodlight account has been deactivated by the Floodlight administrators. If you would like to reactivate your account, please contact us at . "

Today, we had several people trying to log in at a training session, and before I got there, there was a bit of frea

[2012-10-31 19:29] jwirfs-brock opened #437 "Need to add contact email to system-generated messages (help@floodlightproject.org)"
The email people get when they create an account, asking them to click on the confirmation link, needs to have a contact email address.

Currently, the text is:

"Welcome to Floodlight!

To activate your account, please verify your email by clicking this link, or pasting the address into your internet browser:

http://staging.floodlightproject.org/accounts/activate/429b10d405599463bb4f815d9f3a768d

[2012-10-31 19:33] jwirfs-brock opened #438 "Password reset email needs correct contact address (help@floodlightproject.org)"
This is an extension of the closed issue [#350](https://github.com/PitonFoundation/atlas/issues/350). The text of the email that gets sent has the wrong contact information.

Right now, it says:

"Hi Jordan,

You requested to reset the passsword for the Floodlight account associated with this email address.

Please go to the following page to reset your password:

http://staging.floodlightproject.

[2012-10-31 19:45] jwirfs-brock commented on #409
And here's the final image: http://dl.dropbox.com/u/4667118/NearNortheast_800px.jpg

It is larger, but has the same aspect ratio as the smaller images so should scale. @patternleaf  Let me know if you need me to resize it.

[2012-10-31 19:55] jwirfs-brock commented on #390
@patternleaf It actually looks like you removed the containers for the two columns at the bottom on the page template. So now I can't add (non-default) text back into them.

We just wanted to remove the default content that was showing up in those containers,  not the containers themselves.

[2012-10-31 20:08] jwirfs-brock commented on #393
I added in placeholders at the end of the Help section (http://staging.floodlightproject.org/en/help/) for the following questions:

"What web browser should I be using to read and build stories on Floodlight?"
"Can I use Floodlight in Internet Explorer?"

@ghing Editing them from the Django admin, they are at the bottom of the Help page, in the Text plugin in the Twocol-Content element. They have

[2012-10-31 20:24] jwirfs-brock commented on #436
Here is the updated text for a user who tries to login with an unconfirmed account:

[2012-10-31 20:31] jwirfs-brock commented on #436
And here is the text for http://staging.floodlightproject.org/en/accounts/register/complete/:

"Thanks for signing up!" should be h2.

[2012-10-31 21:23] patternleaf commented on #390
sorry for the confusion. there were multiple placeholders there (separate ones for titles and copy, for example) in order to keep editors from having to get the markup/classnames right. if those placeholders are left blank, the markup would still be there, so on pages using that template without any content below the fold, there would be empty markup.

that's not terrible, but not ideal. so my thi

[2012-10-31 21:29] wendynorris opened #439 "Help page styling"
I like how Data Engine resolved the giant block of retina damaging orange links on the Help page with a border line and padding between the links. Perhaps something we can implement post-launch?

![DataEngine help](http://emlis.pair.com/users/emdash//Floodlight/DataEngine_help.jpeg)
Format: ![Data Engine Help page](http://developer.codataengine.com/help)

[2012-10-31 21:47] wendynorris opened #440 "Help page: Markup examples not displaying"
http://staging.floodlightproject.org/en/help/

In the "Building stories" section:

**Does Floodlight accept any form of embedded content, such as markdown?**

[code]

[2012-10-31 21:49] patternleaf commented on #390
@jwirfs-brock, after chatting with Geoff, we'll be putting in a slightly simplified version of the previous incarnation of this.

there will be three content placeholders below the fold: page-pull-1, page-pull-2 and page-pull-3. 1 and 2 will live in two columns; 3 will be in a single column below 1 and 2. there won't be separate placeholders for section headers versus copy text.

i'll update stagi

[2012-10-31 22:07] jwirfs-brock commented on #390
That sounds fine. We don't need this for tomorrow morning. I'll just add
the other About content back in the main container (two-col content) until
the fix is in.

On Wed, Oct 31, 2012 at 3:49 PM, Eric Miller notifications@github.comwrote:

[2012-10-31 22:54] jwirfs-brock opened #441 "In top menu, "In Espanol" needs to be changed to "En Espanol""
In the nav menu at the very top right (In Español / Contact Us / Help / Sign In) it should actually say "En Español"

[2012-11-01 12:45] ghing commented on #438
This is a setting (in settings/INSTANCE_NAME.py) and has been updated on staging and dev.

[2012-11-01 12:45] #438 closed, assigned to ghing

[2012-11-01 13:01] ghing commented on #437
This was the same missing setting as #438.  Fixed.

[2012-11-01 13:01] #437 closed, assigned to ghing

[2012-11-01 13:26] ghing commented on #393
@jwirfs-brock, updated the text in the help page.  Assigning this back to you for review.

[2012-11-01 13:56] ghing commented on #436
@jwirfs-brock, I updated the template with a hybrid error message:

Does this work for you?

[2012-11-01 13:57] jwirfs-brock commented on #393
Looks good. Closing.

[2012-11-01 13:58] jwirfs-brock commented on #436
This looks good.

On Thu, Nov 1, 2012 at 7:56 AM, Geoffrey Hing notifications@github.comwrote:

[2012-11-01 14:00] ghing commented on #436
Ok.  I need to update some styling for these messages and then I'll push.

[2012-11-01 14:06] bpawlak opened #442 "Adjust position and style of layout selector"
To summarize the motivations for this:
1. With padding, the layout chooser takes up a lot of vertical space,  pushing "content" lower and lower
2. Many users were unclear about what this does

@bpawlak proposed the following solutions:

Any of the options that move it are more complicated since it would place the element inside of another element's view and that view may have to be updated to corr

[2012-11-01 14:31] #393 closed, assigned to nobody

[2012-11-01 14:32] #436 closed, assigned to ghing

[2012-11-01 14:48] ghing commented on #409
Closed by bf8025b, deployed on staging.

[2012-11-01 14:48] #409 closed, assigned to nobody

[2012-11-01 14:49] ghing opened #443 "Password protect staging"
So users don't accidentally enter content in the staging instance once we launch

Snippet for Apache config is available at http://forum.webfaction.com/viewtopic.php?id=2996

[2012-11-01 15:00] ghing commented on #441
It looks like the string "In" wasn't translated in Transifex.  I'll take care of this.

[2012-11-01 15:24] #441 closed, assigned to ghing

[2012-11-01 15:28] ghing commented on #425
@jwirfs-brock I'd say this is critical just because it makes the layout look so crazy.  Remove critical label if you don't think this is blocking.

[2012-11-01 15:31] ghing opened #444 "Server error pages lack style"
The error handler doesn't get rendered with `RequestContext`, so `MEDIA_URL` and `STATIC_URL` aren't available to the template, so the stylesheets don't get included.  Fix for this is documented at http://ericholscher.com/blog/2009/sep/23/pretty-django-error-pages/

[2012-11-01 15:32] patternleaf commented on #390
ok, the content is back in place on the about page, and editable via the admin. the only difference in this version is that  the headings must be put in by hand, rather than via placeholder. @jwirfs-brock, if you need something more here, let me know.

[2012-11-01 15:36] patternleaf commented on #342
this is now on staging.

![screenshot](https://www.evernote.com/shard/s9/sh/0dc4c793-1968-4e19-b423-07f653f0ba00/383086ecf60b892cfe04653e6bca616d/res/2fa2d719-928b-4d2d-a783-882067e07666/skitch.png?resizeSmall&width=832)

[2012-11-01 15:36] #342 closed, assigned to nobody

[2012-11-01 15:49] jwirfs-brock commented on #425
Yes, this is critical. I'll get the shortened text from Veronica and update
on Transifex ASAP....

On Thu, Nov 1, 2012 at 9:28 AM, Geoffrey Hing notifications@github.comwrote:

[2012-11-01 15:58] jwirfs-brock commented on #425
@ghing All right, I changed "DESARROLLA TUS HABILIDADES" to "TUS HABILIDADES" in Transifex. Is that short enough to render on a single line?

[2012-11-01 16:01] #444 closed, assigned to ghing

[2012-11-01 16:09] #425 closed, assigned to ghing

[2012-11-01 16:21] jwirfs-brock commented on #390
This looks great. Closing.

[2012-11-01 16:21] #390 closed, assigned to nobody

[2012-11-01 21:18] #443 closed, assigned to ghing

[2012-11-02 03:32] wendynorris opened #445 "Site meta tags still refer to Citizen Atlas"
cc: @ghing

   <meta name="author" content="The Piton Foundation">
   <meta name="title" content="The Citizen Atlas"/>
   <meta name="description" content="The Citizen Atlas is a powerful story-building website that enables community change makers to inspire action and advance their issues through more substantive, engaging and persuasive data-driven storytelling.">

[code]

![Facebook](http://eml

[2012-11-02 04:04] wendynorris commented on #445
Also, should the Github account name change to Floodlight Project for consistency? There's a few instances in the documentation that refers to Citizen Atlas as well that might be confusing.

[2012-11-02 15:32] #445 closed, assigned to nobody

[2012-11-02 21:50] ghing opened #446 "Include user creation and last login dates in CSV export"
This came up in standup today.

[2012-11-02 21:59] #446 closed, assigned to ghing

[2012-11-02 22:03] jwirfs-brock commented on #427
@bpawlak I'm confused ... the bread crumbs seem to be right (Home / Explore Floodlight / Projects). Do you mean the top nav menu should have "EXPLORE FLOODLIGHT" highlighted in orange? I thought we wanted home to always be highlighted in order to give it emphasis.

[2012-11-02 22:06] jwirfs-brock commented on #429
We want the to go to the /story-builder page on their first visit, then be able to directly enter /build on subsequent visits. I like this layout for experienced users, but will it suffice for new first-time users?

[2012-11-02 22:07] jwirfs-brock commented on #431
Totally agree. Bigger and assier for sure.

[2012-11-02 22:16] bpawlak commented on #427
Yep, "EXPLORE FLOODLIGHT" should be highlighted - when the user is in that section of the site.  HOME is only highlighted when the user is on the home page.

[2012-11-02 22:18] bpawlak commented on #429
I think if there's a prominent call to learn more about storytelling (yet still allow experienced users to immediately get to it), we should be able to cover both cases

[2012-11-02 22:19] jwirfs-brock commented on #427
I recall having a conversation where we decided users know where they are because of the breadcrumbs, so we didn't need to highlight the main nav. We decided that "HOME" would always be orange.

I am fine revisiting this, but it's currently working the way that we wanted it to per the design.

[2012-11-02 22:25] bpawlak commented on #427
I must not have been part of that conversation, because I wouldn't have agreed to that.  :)

[2012-11-05 14:39] #414 closed, assigned to nobody

[2012-11-05 15:19] patternleaf opened #447 ""my stories" table aesthetics"
could be improved. particularly when there is a hash for a story title it's pretty bad.

[2012-11-05 15:19] patternleaf opened #448 "link to accounts/notifications is called "Communication Preferences" in My Account menu but "Notifications and Subscriptions" in the accounts sidebar nav"

[2012-11-05 15:22] patternleaf opened #449 ""highlight blue" link color seems a little too lightweight in some contexts"
maybe it's just me, but a couple of examples: body copy text, story headers on explore page when in tile view. the blue is so light it feels like it not opaque, or somehow indicates some special status for that text. it works for me when in, for example, larger headers that are bold.

[2012-11-05 15:22] patternleaf opened #450 "resources page is not filled out (showing default content)"
http://www.floodlightproject.org/en/grow-your-skills/resources/

[2012-11-05 15:24] patternleaf opened #451 "headers in story viewer are sans-serif rather than museo"

[2012-11-05 15:24] patternleaf opened #452 "copy font size in viewer is smaller than in rest of site"
though cf #435—font work underway.

[2012-11-05 15:26] patternleaf opened #453 "two-col template pages without a sidebar: content is fixed-width grid_10 rather than full-width"
particularly odd-looking when paired with full-width center-aligned header and grid_10-width center-aligned content, eg http://www.floodlightproject.org/en/story-builder/

[2012-11-05 15:36] patternleaf opened #454 "logo subheader hard to read"
"Tell a Story. Transform Your Community" ... just on the edge of legibility. maybe make whole logo a tad larger, or just that line.

[2012-11-05 16:49] ghing commented on #442
Note to self: discussion about this is in an email thread with the subject "thoughts on placement of layout chooser?"

[2012-11-05 18:09] ghing commented on #447
There are general table styles suggested in the "Everything" PSD.  If we implement those styles globally, it could clean this up a lot.

[2012-11-05 20:55] jwirfs-brock opened #455 "Optimize Explore page loading performance"
We need to improve the loading speed of the explore page in the initial state and the infinite scroll. Note: Filters are nice and speedy.

[2012-11-05 20:59] jwirfs-brock commented on #421
Note that this is also User Story 16

[2012-11-05 23:07] jwirfs-brock opened #456 ""X" in top right of Story Builder tour doesn't actually close -- should either close or remove"
The "x" in the top right corner of the tour messages doesn't do anything when  you click on it right now.

We should either:
1) Let users close out of the tour by clicking the "x"
2) If we want to force users to view the entire tour, remove the "x"

[2012-11-06 00:22] ghing commented on #421
I wonder if the Twitter popup doesn't support the auto URL shortening as you type.  We'll have to experiment a little bit, but if it is the case that auto URL shortening doesn't work in the share popup, our only option would be to always shorten before we send it to Twitter.

[2012-11-06 15:09] ghing opened #457 "Users can visit stories through a shortened URL for use when sharing with social media (user story #16)"
User Story #16

[2012-11-06 15:09] ghing opened #458 "A logged in user can make a request to create a new organization (user story #52)"
User Story #52

[2012-11-06 15:09] ghing opened #459 "Anonymous user can get embed code from story pages and embed stories (or story excerpts) on their blogs, websites, etc (user story #40)"
User Story 40

Analysis is at https://docs.google.com/document/d/1E70xygbfMKMDQ0mqExwScG-_LIzIvoXYDCt7qcgQE-0/edit

[2012-11-06 15:09] ghing opened #460 "Contributor can change publish status of stories from "My Stories" section within "My Account" page (user story #294)"
User Story 294

If you're smart about this, you can probably knock off #374 at the same time.

I would do this as a generic view in `storybase_story.views` that takes a keyword argument (from the URL conf) to update the story publication status.

So, /stories/SLUG/unpublish/ would unpublish the story /stories/SLUG/publish/ would publish the story, /stories/SLUG/delete/ would "delete" the story (I

[2012-11-06 15:09] ghing opened #461 "contributors have a public profile page that includes a listing of stories they have created (user story #98)"
User Story #98

[2012-11-06 15:09] ghing opened #462 "Contributor's public profile page includes link to organization pages of organizations they are a part of (user story #103)"
User Story #103

[2012-11-06 15:09] ghing opened #463 "A logged in user can make a request to create a new project (user story #53)"
User Story #53

[2012-11-06 15:09] ghing opened #464 "Anonymous users can use a text-based search to find stories (searches story content, keywords, meta data) (user story #295)"
User Story number 295

[2012-11-06 15:20] ghing commented on #314
@patternleaf I'm going to take a look at this this morning, but might send it your way once I have a better idea of what's going on.

[2012-11-06 17:29] patternleaf commented on #456
that's strange. pretty sure they were working on staging.

[2012-11-06 17:41] jwirfs-brock commented on #456
I was using Chrome when looked at it, and had switched to the
Spanish-language version of the builder (although I don't think that should
matter).

On Tue, Nov 6, 2012 at 10:29 AM, Eric Miller notifications@github.comwrote:

[2012-11-06 17:43] patternleaf opened #465 "section scroll arrows overlap scroll viewport on the right"
also the scroll area should probably be 100px wide to match header width.

[2012-11-06 17:44] patternleaf commented on #456
oh, yeah: i was able to reproduce it myself. just have no idea what might've happened. :)

[2012-11-06 17:46] patternleaf opened #466 "section scroller should respond to scroll wheel/trackpad gestures"

[2012-11-06 20:52] jwirfs-brock opened #468 "Need to add link to release form to Publish/Share page in Story Builder"
On the Publish/Share page, we have the following text:

"If this story has any photos or videos of children (under 18), I have obtained the proper parent or guardian release forms (a sample release form is available here)."

However, we forgot to link to a sample release form.

I have a sample form ready (as a Word doc, so people can download and edit the file). What is the best way to upload it a

[2012-11-06 23:50] ghing commented on #314
@patternleaf, I've taken a pass at this and assigned it to you in case you want to improve the styling and interactions.  Take a look at 0aca735 to see where the relevant code is in explorer/views.js.

[2012-11-07 16:30] ghing commented on #460
Assigning to @patternleaf.  Let me know if you have any questions.

[2012-11-07 16:50] patternleaf commented on #439
@tekhneco , this can be reviewed on deploy: http://deploy.atlas.terrorware.com/en/help/ . may your retinas be ever unscathed.

[2012-11-07 16:53] jwirfs-brock commented on #439
This looks great. Should we still make the subject-headings grey instead of
orange? (Both to save our retinas, and because, unlike the questions, they
are unclickable.)

On Wed, Nov 7, 2012 at 9:50 AM, Eric Miller notifications@github.comwrote:

[2012-11-07 16:53] patternleaf commented on #196
@bpawlak this should be reviewable on deploy: http://deploy.atlas.terrorware.com/en/explore/

[2012-11-07 16:58] wendynorris commented on #439
Nice work! Agree with Jordan that grey subject headings might help cool the page down a bit.

[2012-11-07 18:35] jwirfs-brock commented on #452
This includes both the size of the text assets, and the size of the asset captions.

[2012-11-07 18:35] patternleaf commented on #439
ok, done: http://deploy.atlas.terrorware.com/en/help/

[2012-11-07 18:37] jwirfs-brock opened #469 "Image captions should be constrained to width of image"
Take a look at this story: http://floodlightproject.org/stories/officer-hollis-peace-memorial/

Having the captions run to the full width of the viewer looks a bit strange. The captions should only be as wide as the photo they appear under.

[2012-11-07 18:38] jwirfs-brock commented on #439
Fantastic! I say go ahead and close.

On Wed, Nov 7, 2012 at 11:35 AM, Eric Miller notifications@github.comwrote:

[2012-11-07 18:40] #439 closed, assigned to nobody

[2012-11-07 19:03] jwirfs-brock commented on #468
@ghing I've updated the "Resources" page to include some guidance about using a photo release, as well as the sample photo release form.

Here's how I suggest updating the text on the publish/share page:

"If this story has any photos or videos of children (under 18), I have obtained the proper parent or guardian release forms.

Note: You can download a sample release form as a <a href="https://do

[2012-11-07 19:39] patternleaf commented on #314
ok, i did _something_ to it. not particularly attached to the result, but you can check it out on deploy: http://deploy.atlas.terrorware.com/explore/

thoughts for improvement in interaction:
- transparent + fixed position in window (on the bottom half probably)
- keep it where it is, but have it slide down on show and slide up on hide ...

seems ok the way it is now, however.

[2012-11-07 19:51] wendynorris commented on #314
I like it.

[2012-11-08 03:19] #468 closed, assigned to ghing

[2012-11-08 13:48] ghing commented on #314
I like it too.  I saw we ship this.  Can you send me a pull request to the weekly-0.1.5 branch?

[2012-11-08 14:08] ghing opened #470 "On publish step, the sharing widgets should float to the right of the other content"
On the publish step of the builder, the sharing widgets should float to the right of the other content.  Instead, they're pushed to the bottom.  I think something just got broken when we applied the theme to the builder.

[2012-11-08 14:12] ghing commented on #470
It looks like this got broken when we replaced the 1140 grid system CSS with our own.

[2012-11-08 14:38] ghing opened #471 "Featured asset option list shows bullets"
[Imgur](http://i.imgur.com/ZSuS3.png)

[2012-11-08 14:56] #471 closed, assigned to ghing

[2012-11-08 14:56] #470 closed, assigned to ghing

[2012-11-12 16:49] ghing commented on #429
Deployed

[2012-11-12 16:49] #429 closed, assigned to nobody

[2012-11-12 16:49] ghing commented on #314
Deployed

[2012-11-12 16:49] #314 closed, assigned to nobody

[2012-11-12 16:52] ghing commented on #469
(Quickly) tested under IE8.  I think that the captions could use some better styling in general, but this update definitely fixes the specific issue with caption width. Deployed and closing.

[2012-11-12 16:52] #469 closed, assigned to nobody

[2012-11-12 17:01] ghing commented on #431
Fix deployed, markup updated on production.

[2012-11-12 17:01] #431 closed, assigned to nobody

[2012-11-13 22:10] ghing commented on #455
I'm going to close this as of commit 2ef8a5020a5410e659f64dbff85e9ac486d3d48e

Through caching (using the memcached cache backend), I was able to reduce the number of queries from ~1200 (in about 1200MS) to ~300 (in about 300MS).  On the development server this took page (data) load times from around 30s to 6s (once the caches are warmed up).  On staging (the production server), page (data) load t

[2012-11-13 22:10] #455 closed, assigned to ghing

[2012-11-13 22:16] ghing commented on #236
Deployed on staging.

[2012-11-14 20:27] patternleaf commented on #374
68bae65 includes a delete button (see #460), however deleted stories just wind up at the bottom of the list. @ghing, i figured the best place to filter them was at the query site (rather than say in the view), but wanted to check in with you on that first.

[2012-11-15 16:30] ghing commented on #374
You have two choices for this.
1. Alter the view context

In `AcountStoriesView` define a `get context data` method that looks something like this:

[code]

Then in the template, you'll do `{% for story in stories %}` instead of `{% for story in user.stories.all %}`

Check out the [docs for `TemplateView`](https://docs.djangoproject.com/en/dev/ref/class-based-views/base/#django.views.generic.base.

[2012-11-15 16:34] ghing opened #475 "Users can click a "Share" button to get the embed code for the story widget"
The social sharing widgets (currently AddThis) should be moved into the popup as well.

The analysis for this is at https://docs.google.com/document/d/1E70xygbfMKMDQ0mqExwScG-_LIzIvoXYDCt7qcgQE-0/edit

This task helps implement #459

[2012-11-16 23:44] ghing commented on #459
I'm conflicted about the best way to do this and whether to use an IFRAME or Javascript to load the widget.
1. IFRAME

Advantages: Simple for users, more likely to be allowed to be embedded in a variety of contexts.  Works better with Javascript off
Disadvantages: Harder to style to match embedding site, [hard to get it to automatically grow with content](http://stackoverflow.com/questions/2872967

[2012-11-17 22:36] ghing commented on #459
I ended up looking at how Twitter, Foursquare and AddThis did this, and universally, they use a Javascript snippet to add another Javascript script, which eventually adds an IFRAME, so I decided this was how I would do it.  This method has the advantage of not blocking onload, degrading to a simple link to the story if Javascript is disabled.

A AHAH solution that writes to the embedding page's DO

[2012-11-18 22:07] ghing commented on #459
Another advantage of using the script embedding method is that it lets us modify the IFRAME code, say if we want to add launching the viewer in Fullscreen mode.

[2012-11-19 21:28] ghing commented on #475
I pushed the sharing widget generating code to the embed_widget branch on my (ghing) fork the endpoint is /stories/SLUG_OR_ID/share-widget/

Relevant AddThis docs are at http://support.addthis.com/customer/portal/articles/381263-addthis-client-api

Hypothetically, dynamically adding a script tag in the success callback for your AHAH request should cause the special AddThis markup to be turned into

[2012-11-19 23:00] tekhneco opened #476 "Source code appearing in Story Builder"
Issue discovered by Jon Denzler when editing a previously published story in Chrome.

![Dog Food Story](http://emlis.pair.com/users/emdash/Floodlight/floodlight%20issues.jon.jpg)
Story: ![Eating Your Own Dog Food](http://www.floodlightproject.org/stories/eating-your-own-dog-food/)

The code does not appear in the Story Viewer.

[2012-11-19 23:01] jwirfs-brock opened #477 "Problem with "Save" for published stories"
I was editing the Call to Action section in the story http://floodlightproject.org/stories/workshop-11-why-do-we-tell-stories/. I used the hard save, but the changes I made in the Call to Action were not reflected on the site. We have to do some further analysis to get to the bottom of this. This isn't the first time I've noticed editing and saving weirdness for published stories.

[2012-11-20 00:54] ghing commented on #477
@jwirfs-brock, without yet doing doing a deep dive into this, I'd say this is because the change event on the call to action (and maybe other) forms isn't getting triggered.  So, the save button is saving the story model to the server without reflecting the changed form field.  As a temporary, internal work-around, I would try updating the field by triggering the auto-save (clicking somewhere outs

[2012-11-20 15:52] jwirfs-brock opened #478 "Homepage rendering funny on an Android tablet"
This screen shot is from a Samsung 10.1 tablet using Android 4.0.4 standard browser:

https://docs.google.com/file/d/0B82exFJJWyJqbENsNDlPR3JTNE0/edit (portrait view)

https://docs.google.com/file/d/0B82exFJJWyJqZHRMRUcydVY1QlU/edit (landscape view)

[2012-11-20 15:57] jwirfs-brock opened #479 "Featured stories/featured projects widgets not showing up on Floodlight homepage on Android tablet"
This screenshot is from when you scroll over from issue #478 (also on a Samsung 10.1 tablet, using Android 4.0.4):

https://docs.google.com/file/d/0B82exFJJWyJqYTBhMGtMWmxST2M/edit

[2012-11-20 19:09] jwirfs-brock opened #480 "Explore page filters should be mutually exclusive (when you open a new one, previously open one should close)"
From @bpawlak's feeback session with David and Gabriela:
"Filters on Browse should be mutually exclusive.  Right now, I can open all 5 of them at once and making a selection keeps all the rest open, covering up the top of the stories.  Speed associated with selecting/deselecting filters"

Screenshot: https://docs.google.com/file/d/0B82exFJJWyJqeUZXejVwUUlxZjQ/edit

[2012-11-20 19:17] jwirfs-brock opened #481 "Connected story prompt -- need to replace "TODO" message"
On the "make this a connected story" area of the Call to Action section in the Story Builder, need to replace "TODO: Add placeholder for connected stories prompt" with actual prompt text.

@ghing I'll write the prompt text and add it as a comment here.

[2012-11-20 20:52] ghing opened #482 "Clicking on examples in template list doesn't work"
It opens the builder rather than a new window with the example.  This is likely a sloppy jQuery selector for the click event handler.

[2012-11-21 17:23] ghing opened #483 "Stories have tags with duplicate names"
This shows up in the search results.  Tags are listed multiple times, even though they have the same name.  This is because there are actually multiple ``storybase_taxonomy.Tag`` objects with the same value in the name field that have been added to ``Story.tags`` for a given story instance.  Need to see if this is just user error or if there's something weird with the UI in the tagging view of the

[2012-11-24 17:15] patternleaf opened #485 "table styling does not match everything template"

[2012-11-24 17:18] patternleaf commented on #485
note to self: need to review all instances of tables in app to make sure nothing is borken before making pull request for this.

[2012-11-25 22:33] wendynorris commented on #456
Having same problem in Firefox just now. Can't close the tour.

Strange, too, that link hover CSS works on the X. Just doesn't do anything.

[2012-11-26 15:52] jwirfs-brock opened #486 "Call to action overlaps with sharing information on story detail page"
This only seems to be happening for this story: http://floodlightproject.org/stories/strengthening-neighborhoods/

The call to action is overlapping with the sharing button on the story detail page (when viewing in Chrome -- happens regardless of browser window width).

![strengthening_neighborhoods_screenshot.png](https://f.cloud.github.com/assets/110420/3728/f0ebd1d6-42e0-11e2-971e-d7ebb3de1bed.

[2012-11-26 16:00] jwirfs-brock opened #487 "Can't use "back" button from story detail page if you've launched the viewer in a modal window and changed sections"
**Update:** with changes to the viewer (namely, getting rid of the scrolling navigation).  I've updated the title to reflect this and I'd like up how to replicate this as it's not entirely clear from the title.
## To replicate
1. Visit the Explore page
2. Click on a story title to navigate to a story's detail page
3. Click on the "View Story" button to launch the story viewer in a modal window
4.

[2012-11-26 16:11] jwirfs-brock opened #488 "Header should have Floodlight "beta" logo"
See the latest design comps from Geoff Thomas: https://docs.google.com/file/d/0B1CQ7Qy70V50anZidU56Snlvbm8/edit

[2012-11-26 16:17] jwirfs-brock opened #489 "When a user switches site language to Spanish, the Floodlight Spanish logo should appear in the header"
Spanish logo from Geoff Thomas' latest design comps:
https://docs.google.com/file/d/0B1CQ7Qy70V50Z1czOEY3eVhrSDQ/edit

(Note: We don't have a Spanish "beta" logo.)

[2012-11-26 21:23] jwirfs-brock opened #490 "Text input on Sign In page should be non-italicized"
Italics are hard to read. Text should be non-italicized when user types in their email address/login.

[2012-11-26 21:24] jwirfs-brock commented on #490
Keep placeholder text italicized.

[2012-11-26 21:40] ghing opened #491 "No save button in Internet Explorer"

[2012-11-28 14:22] ghing opened #492 "Connected stories information overlaps call to action text area"
[Imgur](http://i.imgur.com/GXsJt)

[2012-11-28 14:35] #492 closed, assigned to ghing

[2012-11-29 16:39] patternleaf commented on #435
a few screenshots of variations:

https://docs.google.com/document/d/1GZjXkyG62f5HtB_zW2h5O0eJ9jOKjP5ZgNC6Tn5iqAg/edit

there was talk of using Arial so i included one with Arial and a couple of other vertical spacing tweaks that should probably be made wrt headings. comments, @all?

[2012-11-29 16:52] bpawlak commented on #435
Headings in serif fonts is fine by me but I recommend a sans-serif body font for readability's sake. Line-height adjustments will also help that regard as well (in addition to just looking nicer, it actually makes it easier to read).  Have a play with http://www.gridlover.net/  Try "body font size" of 1em and "body line height" of 1.4em.  So much easier on the eyes!

[2012-11-29 17:14] jwirfs-brock commented on #435
I prefer Arial for body text (and like the version with more line spacing better), and agree with @bpawlak that serif fonts are ok for the headings. My recommendation is that we use Museo for headers and Arial for body text.

[2012-11-29 23:34] ghing opened #493 "IndexError when trying to add a project or organization"
This is when trying to load (GET not POST) /admin/storybase_user/organization/add/ and /admin/storybase_user/project/add/

I wasn't able to replicate this on the development instance.

Traceback (most recent call last):

[code]

[2012-11-29 23:34] ghing commented on #493
@jwirfs-brock This is the issue you reported to me via email

[2012-11-29 23:43] ghing commented on #493
This appears to be a data-related issue.  I wasn't able to replicate this on the development server or on the staging instance of the production server with the same software version as the production instance.  When I synced the staging instance data with the production database, I was able to replicate the issue.

[2012-11-30 00:24] ghing commented on #493
@jwirfs-brock I've fixed this at the data level.  I still need to deploy code changes that log a helpful error message in the event that this happens again to be able to fix it faster.  We should talk tomorrow to figure out what caused the issue. It looks like the "broken" asset was one that you created somehow.

[2012-11-30 14:35] #493 closed, assigned to ghing

[2012-11-30 15:56] patternleaf opened #494 "my stories list: confirmation of status change operation should be via modal dialog"
rather than via full page reload.

i actually started a quick and dirty implementation but it is not ready for prime time.

[2012-11-30 16:58] ghing commented on #493
This is the scenario from @jwirfs-brock that may have caused creating the translationless assets in the builder:

[2012-11-30 17:00] ghing opened #495 "Errors when adding a story to a project or organization in the Django admin"

[2012-11-30 17:47] patternleaf commented on #374
closed via 3a42627.

[2012-11-30 17:47] #374 closed, assigned to nobody

[2012-11-30 17:49] patternleaf commented on #460
closed via commits pul request 460 (head at 3a42627).

[2012-11-30 17:55] patternleaf commented on #475
closed via commits in pull request 475, head for branch at 64d4a98

[2012-11-30 17:55] #475 closed, assigned to nobody

[2012-11-30 18:45] ghing opened #496 "Internal Server Error on POST to /api/0.1/locations/stories/STORY_ID/"
Seeing a lot of error messages for this.

Traceback (most recent call last):

[code]

[2012-11-30 20:13] jwirfs-brock commented on #495
I created a new project (http://www.floodlightproject.org/en/projects/near-northeast-denver-story-raising/). Then I tried to add a story to it (http://floodlightproject.org/stories/story/) in the Django admin from the story edit page. Because the story had a section without a name, when I clicked "Save" I got an error saying that the name of the section was a required field. (Section: Title: with

[2012-11-30 20:17] jwirfs-brock opened #497 "Users are not editing section titles (leaving them as "Image and Text" or "New Section", etc.)"
(I started this discussion in issue #495 but realize it should probably be a separate issue.)

As I'm been observing people create stories, the concept of a section name is a bit counter-intuitive. Some of this is because people just may not be seeing/noticing the section titles, so they leave them as the default (there are a lot of "New Section" or "Image and Text"s in stories). Some of this is b

[2012-11-30 20:22] jwirfs-brock commented on #495
I may be able to add stories with nameless sections to a project in the Story Builder, but to do that my account would have to be a member of that specific project. (This is why we need the concept open projects...)

[2012-11-30 23:10] ghing commented on #462
Closed by 52a2596

[2012-11-30 23:10] #462 closed, assigned to nobody

[2012-11-30 23:11] #236 closed, assigned to nobody

[2012-11-30 23:11] #464 closed, assigned to nobody

[2012-12-03 16:23] jwirfs-brock opened #498 "On project page, "Sponsoring Organizations" should say, "Contributing Organizations""
On Project pages (example: http://floodlightproject.org/en/projects/near-northeast-denver-story-raising/), "Sponsoring Organizations" should be changed to "Contributing Organizations."

[2012-12-03 18:45] patternleaf commented on #435
@PitonFoundation/developers the site-wide font change to Arial and a few adjustments to viewer font rendering can be seen on deploy, at http://deploy.atlas.terrorware.com/

note that in some places—most noticeably on the About page—there are extraneous &lt;br> tags in the CMS content causing particularly horrible spacing issues.

[2012-12-03 18:47] jwirfs-brock commented on #435
Great. I'll clean up the About page -- I probably added those breaks to
make the small Times New Roman text more readable.

On Mon, Dec 3, 2012 at 11:45 AM, Eric Miller notifications@github.comwrote:

[2012-12-03 19:15] jwirfs-brock commented on #454
Can we combine this with Issue #488 (Floodlight beta logo), and just have one issue for an updated logo?

[2012-12-03 19:27] jwirfs-brock commented on #286
This issue can be closed, right?

[2012-12-03 19:27] #310 closed, assigned to nobody

[2012-12-03 19:28] jwirfs-brock commented on #315
As we discussed when we addressed the blue color for general links, we're going with what is currently the viewed link blue (slightly darker shade) for both viewed and unviewed links. Closing this one...

[2012-12-03 19:28] #315 closed, assigned to nobody

[2012-12-03 19:33] jwirfs-brock commented on #322
We decided to go with the "help drawer" concept, so I'm closing this.

[2012-12-03 19:33] #322 closed, assigned to nobody

[2012-12-03 19:39] jwirfs-brock commented on #346
We have a default featured image. Closing.

[2012-12-03 19:39] #346 closed, assigned to nobody

[2012-12-03 19:43] jwirfs-brock commented on #381
We have some updated feedback based on Bill's user sessions:
- the different states (can select any asset type, can only select one asset type, can select a limited set of asset types) don't look graphically consistent, which is confusing.

I'm putting this in Iteration 10.

[2012-12-03 20:39] #237 closed, assigned to ghing

[2012-12-03 20:39] #491 closed, assigned to ghing

[2012-12-03 20:47] ghing commented on #286
Yes, closing.

[2012-12-03 20:47] #286 closed, assigned to ghing

[2012-12-03 21:53] #498 closed, assigned to ghing

[2012-12-03 22:17] ghing opened #499 "Share button should be able to share projects and organizations"
On project and organization detail pages, users should be able to get the hyperlink and addthis widgets via the same share button widget as on the story detail page.

[2012-12-03 22:32] jwirfs-brock commented on #383
Updating this issue to align with our user feeback conversations (see: https://docs.google.com/document/d/1eBYGQJJ9G0sWBQS2QNPYD1bP6fC3LxTQGIODfSYT-qw/edit).

Here's the relevant notes from that discussion:

Decision:
- put text description of templates into collapsible div (like on Help page)
- “Find out more” with chevron
- Show icon, template name, tagline, examples

[2012-12-03 22:36] #440 closed, assigned to nobody

[2012-12-03 22:49] jwirfs-brock opened #500 ""Home" in footer menu isn't an active link, is in smaller font than other items"
"Home" should work the way other items in the footer menu work. It should link to floodlightproject.org.

[2012-12-03 22:53] #450 closed, assigned to nobody

[2012-12-03 23:17] patternleaf commented on #369
@jwirfs-brock, @ghing, @bpawlak this is viewable on deploy at the moment, eg http://deploy.atlas.terrorware.com/stories/-14/. it's a pretty subtle difference at the moment. wondering if maybe a slightly different font treatment might help, too. slightly lighter color? something else?

also might be good to work out how to take out the empty white space above the summary and below the fixed-positio

[2012-12-03 23:29] patternleaf commented on #452
closing. fd98aad removes different viewer font family declarations.

[2012-12-03 23:29] #452 closed, assigned to nobody

[2012-12-03 23:30] jwirfs-brock commented on #369
I like the grey background, but I'd prefer it to be slightly darker. I'm
going to forward this on to Brigid, Piton's in-house graphic designer, to
see if she has any other suggestions.

On Mon, Dec 3, 2012 at 4:17 PM, Eric Miller notifications@github.comwrote:

[2012-12-03 23:30] patternleaf commented on #451
fd98aad: headers in viewer story content are now Museo.

[2012-12-03 23:30] #451 closed, assigned to nobody

[2012-12-03 23:32] jwirfs-brock commented on #369
Oh, and the new font is so much easier to read!

[2012-12-03 23:37] patternleaf opened #501 "issues with explore page view mode buttons in IE8"
- Tile button does not have a background—just shows up as Tile, and not clickable. (i suspect bad markup)
- top of explore masonry overlaps bottom of mode buttons

[2012-12-03 23:39] patternleaf commented on #196
just double-checked this is fixed in IE8 on production. going to close. @bpawlak , if you find this isn't fixed, please re-open.

[2012-12-03 23:39] #196 closed, assigned to nobody

[2012-12-03 23:41] patternleaf opened #502 "no border around megamenu in IE8"
rendered with box-shadow alone, which is unsupported. we should put in a border of some sort for browsers that don't support box-shadow.

[2012-12-04 00:13] patternleaf opened #503 "builder does not load in IE8, Win XP"
JS errors:

Identifier expected: views.js line 750
Object expected: build line 689

[2012-12-04 00:14] patternleaf commented on #415
i can take this, but i may have to upgrade to Windows 7 and IE9 and/or fix #503 first.

[2012-12-04 00:33] ghing commented on #415
I'll take this since I have IE9/Win7 already

[2012-12-04 00:35] ghing commented on #503
After you finish up whatever you're in the middle of, can you dig into this a little bit more to figure out what's causing this?

[2012-12-04 01:19] bpawlak commented on #369
I think the white space is actually where the breadcrumbs are supposed to go...

Also, wondering if we shouldn't move the "share this story" button up so that it's at the same level as the "View Story" button?  We also might want to use font-awesome and add the share icon to the button?

[2012-12-04 14:55] ghing opened #504 "Featured assets not loading in recent stories list for some projects"
http://floodlightproject.org/projects/soccer-in-the-corridor/

The default asset is not loading either.

The source of the featured asset appears as

```<img src="0" />```

[2012-12-04 15:21] ghing commented on #457
@jwirfs-brock I'm assigning this to you for clarification, assign it back to me when you've clarified this.

I can't remember what this means.  Do you mean that we want to use a custom short domain name so URLs will be like http://fldl.it/asASx, or do you mean that URLs should just be shortened when using AddThis to share stories on Twitter and Facebook (in which case, this is essentially a duplic

[2012-12-04 15:31] patternleaf commented on #433
@PitonFoundation/developers any specific suggestions here? my initial thought:
- the first slideshow (with links/short headers) becomes automatic, no sliding—fading from one to the next—without links. Can we add images to each slide? I feel like the bare headlines are very wordy things to be dealing with at the top of the page.
- combine the three featured slideshows—Projects, Stories and "Feature

[2012-12-04 15:32] jwirfs-brock commented on #457
Yes, this is just a duplicate of #421. We just need a short url, it doesn't
have to be customized.

On Tue, Dec 4, 2012 at 8:21 AM, Geoffrey Hing notifications@github.comwrote:

[2012-12-04 15:38] bpawlak commented on #433
I'd still suggest we discuss my initial designs for the home page... I think I've addressed most of the issues and we can get rid of all of the superfluous sliders (https://docs.google.com/file/d/0B7ipktENBWzTY0RNYW5oWmN1aFU/edit)

[2012-12-04 15:46] patternleaf commented on #433
hey @bpawlak — i wasn't on the discussion for the general homepage redesign so didn't realize there was a larger effort afoot. just saw this issue assigned to me. on the standup call we're discussing folding this issue into the larger effort.

[2012-12-04 16:03] jwirfs-brock commented on #433
Here's an updated [homepage sketch](http://i.imgur.com/vOgb5.png). It basically has the same elements as Bill's design:
- Simplify homepage according to layout above (1. featured stories slider 2. a real brief "create your story/want to contribute" section)
- move the “featured on Floodlight” section below these
- Keep footer with foundation information
- Add banner (in Iteration 10) -- can build

[2012-12-04 16:08] jwirfs-brock commented on #463
Full analysis is here: https://docs.google.com/document/d/1S9AnEoHeeh65ZOvJV-FYrWxKZo1BeP8eH5DcoNcvaFQ/edit

[2012-12-04 16:09] jwirfs-brock commented on #458
Full analysis is here: https://docs.google.com/document/d/1S9AnEoHeeh65ZOvJV-FYrWxKZo1BeP8eH5DcoNcvaFQ/edit

[2012-12-04 16:12] jwirfs-brock commented on #458
Essentially, we want to automate the request process, so instead of a user sending an email with the information that is on the ["Create a Project or Organization" page](http://www.floodlightproject.org/en/project-organization/), they would fill out a form that automatically creates a project or organization.

[2012-12-04 17:10] patternleaf commented on #503
so this is on account of the use of the word "class" as a key in various hashes. class is "reserved for future use" in ECMAScript/Javascript though in most reasonable implementations, it's reserved as an "identifier" and not an "identifier name". so for those implementations, "item.class" is legal (the kind of thing done in builder/views.js) but "function class() { ... }" is not legal.

but then,

[2012-12-04 20:02] jwirfs-brock opened #506 "Add section symbol (+) is really hard to see -- should be a darker color"
This is based on feedback from a user (Maisha). The "+" symbol for adding a section in the Story Builder should be darker, perhaps a dark grey.

[2012-12-04 20:04] jwirfs-brock opened #507 "Need to add a search feature to the "Help" page"
This is based on feedback from a user who tried to find out how to do something by going to the Help page, but then couldn't search for that specific problem.

Ctrl + F doesn't work (at least not in Firefox) because it doesn't search the collapsed/hidden text.

[2012-12-04 20:13] jwirfs-brock opened #508 "Help drawer in Story Builder needs "View the tour again" button"
This came out of our recent discussion on user feedback (https://docs.google.com/document/d/1eBYGQJJ9G0sWBQS2QNPYD1bP6fC3LxTQGIODfSYT-qw/edit). It's also User Story 297.

[2012-12-04 21:18] ghing commented on #503
Good catch.  I think I might have run into the reservedness of `class` (see the cssClass variable declaration), but didn't realize the full extent of it.  I think that replacing class with className is a fine fix.  There are a few caveats:
- You may also have to adjust the Handlebars templates in story_builder_handlebars.html to reflect the renamed hash key
- One place where I intentionally used c

[2012-12-04 22:13] patternleaf commented on #369
i need to switch branches on the deploy server so i'll post a screenshot here for reference:

![screenshot](https://www.evernote.com/shard/s9/sh/92e8f65a-bd60-49f9-9943-31adcc85d312/6da0bafd6e2eae864e174c039db53d26/res/af45c900-e481-406a-a55c-f8d7264e552b/skitch.png?resizeSmall&width=832)

[2012-12-04 23:15] patternleaf opened #509 "new copy for homepage"
Note to self: when Jordan supplies new content, make a branch off of master, update homepage, pull request to master.

[2012-12-04 23:36] patternleaf opened #510 "IE8 XP: JS error when uploading image in PhotoVoice builder"
1. begin photovoice story builder
2. create a summary, etc
3. in Image and Text stage, upload an image

result: "detachEvent is null or not an object", views.js#2206

While the image is uploaded successfully and appears in the story, the script is halted so nothing appears to happen in the builder.

[2012-12-04 23:40] patternleaf commented on #502
ditto above for share button popup.

[2012-12-04 23:46] patternleaf opened #511 "IE8 XP: d3 JS error when loading story detail page"
Observed at other times, too.

error: Object doesn't support this property or method. d3.v2.min.js. line 2, character 8771

Does not appear to affect functionality.

[2012-12-05 14:22] ghing opened #513 "Homepage has banner that loads images from stories (using caching developed for Explore page) (user story #302)"
User Story #302

[2012-12-05 14:22] ghing opened #514 "Site should have a coherent link styling hierarchy (when we use orange v. when we use blue) (user story #307)"
User Story #307

[2012-12-05 14:23] ghing opened #515 "Clean up Publish/Share page by removing orange buttons, adding numeric headings (user story #298)"
User Story #298

[2012-12-05 14:23] ghing opened #516 "On Publish/Share page, Publish button is inactive until user has selected legal agreements (user story #299)"
User Story #299

[2012-12-05 14:23] ghing opened #517 "On Publish/Share page, creative commons license image automatically updates as user changes selection values via radio buttons (user story #300)"
User Story #300

[2012-12-05 14:23] ghing opened #518 "When a user opens a story in the Story Viewer, one section is displayed per view. Reader can navigate between sections using horizontal arrows. (user story #305)"
User Story #305

[2012-12-05 14:50] ghing commented on #415
_Update_:

So it looks like I had also run into this problem in FF/Chrome and had to hack the Guiders Javascript to correct it (see dfd9873f61626bc30941bc5eef40dad5aa1c85fa).  However, my tweak doesn't seem to take in IE.

I added some debugging messages to `guiders.show`, and it looks like the style attribute of the guider element has the correct left: 0px when it needs to be nudged to the right

[2012-12-05 15:40] ghing commented on #456
Closed by 85110427d07f58dc0039ab1d77b8cb7727cfedfd

[2012-12-05 15:40] #456 closed, assigned to ghing

[2012-12-05 15:54] patternleaf commented on #415
in my testing in IE8, winXP, there was some indeterminacy in whether the first guider showed half-offscreen or not. i'd clear the cache and reload and probably 8 out of 10 times, it was half offscreen, but 2 out of 10 times it wasn't. yay IE!

a hack that _seemed_ to eliminate this was to invoke your nudge method on a timer with a delay of 1 millisecond. i recall having to use such hacks before wi

[2012-12-05 16:14] ghing commented on #499
Closed by 4d28c8098faa9ed74c87103cd77aa65f663ea64f

[2012-12-05 16:14] #499 closed, assigned to ghing

[2012-12-05 16:19] ghing commented on #457
Closing as duplicate of #421.

[2012-12-05 16:19] #457 closed, assigned to nobody

[2012-12-05 16:22] ghing commented on #421
Assigning to @patternleaf.  I suspect that this might just be because the shortening javascript doesn't get loaded in the twitter popup that's fired by AddThis.  You might want to  mock up a static HTML page sharing a floodlight URL using using Twitter's native Tweet This button to see if the behavior persists.

If it seems like this issue is on Twitter's side, we could add logic to shorten before

[2012-12-05 16:23] jwirfs-brock opened #519 "Background behind story viewer modal should be greyed/blurred, unscrollable"
When you launch the story viewer from the story detail page, the area behind the modal window should look unclickable (greyed or blurred out). Also when you should only be able to scroll within the story viewer window. Right now,  you can actually scroll the area behind it, which is a bit awkward.

Brigid will be providing a mock-up of this.

[2012-12-05 16:27] jwirfs-brock opened #520 "Non-text assets (image, video, audio, chart, table) should have border in story viewer"
Non-text assets appear as if they are floating/haphazardly placed in the story viewer. A subtle border  around the asset and its caption (light grey, maybe? and reminiscent of how they appear in the builder) should help.

Brigid will be providing a sketch.

[2012-12-05 16:35] patternleaf commented on #369
@jwirfs-brock, is a mockup forthcoming on this? assigning to you; please assign back as necessary.

[2012-12-05 16:48] jwirfs-brock commented on #369
@patternleaf Is the link still the same as above? Right now, I can only view via the screen shot.

I think for now the awkward space is ok (we can deal with that later), but bump up the grey to a slightly darker shade. We don't have a mockup, but I know #BFBFBF is in our color palette.

[2012-12-05 16:48] ghing commented on #519
Update: SimpleModal creates an overlay element to blur the background.  We just need to style it.  It might be enough to adjust the `opacity` option when creating the modal.  See the SimpleModal docs at http://www.ericmmartin.com/projects/simplemodal/

I think to adjust the scrolling we'll have to do this ourselves in  the appropriate JS event handler.

[2012-12-05 17:13] bpawlak commented on #369
Sorry, my comment yesterday (above) is in regards to the story detail page, not the story viewer...

[2012-12-05 18:42] jwirfs-brock opened #521 "Need to add "How-to" to canonical topics list"
@ghing Is this something I can do through the admin?

[2012-12-05 19:33] ghing commented on #521
@jwirfs-brock It's under Categories in the Django admin

[2012-12-05 20:56] ghing commented on #415
@patternleaf, I had good luck with using the `onShow` callback to bind my nudge functions to the `guiders.show` jQuery event that the `guiders.show` function triggers on the guider element at the function's execution.  I think this fixes the IE issue as well. I need to clean this up a little and I'll probably have you take a look because I'm unsure about where I've declared my functions.

[2012-12-05 20:59] #521 closed, assigned to nobody

[2012-12-06 16:50] patternleaf commented on #369
hey @jwirfs-brock - yeah, i had to switch branches on the server to do some work on it. i can do a temporary merge back in of that code if you need to see it live. let me know.

[2012-12-06 19:23] patternleaf commented on #435
i've gone through and made some additional corrections and tweaks to spacing and general issues in the viewer, CMS-powered content, and the megamenu. if new issues arise, let's make new bugs for them. i'm going to close this one now.

[2012-12-06 19:23] #435 closed, assigned to nobody

[2012-12-07 16:21] bpawlak commented on #506
I sent out an email a while back describing how this could look/operate.  I redid it and posted it to https://docs.google.com/drawings/d/1FIMPgmV38LDZtA0pSPyosCChtFyiTkkWb6-oPrKYq1k/edit

[2012-12-07 16:30] jwirfs-brock commented on #506
@bpawlak I like that solution because it addresses both the visibility of the "add section" feature and the clickability of it.

[2012-12-07 17:19] ghing commented on #459
@jwirfs-brock , @bpawlak I haven't heard any negative feedback about this yet so I'm closing.  Open a new issue if there are specific issues with the embeddable widget.

[2012-12-07 17:19] #459 closed, assigned to ghing

[2012-12-07 17:32] ghing commented on #458
Assigning this to @jwirfs-brock as I'll need copy for the notification e-mail that an Organization/Project owner gets once their Organization/Project has been approved.  Assign it back to me when this has been done.

[2012-12-07 18:21] jwirfs-brock commented on #458
@ghing the emails are below. In this version of the project and organization request form, we don't have a featured image, right? There's a line in the emails about adding a featured image that I wasn't sure whether to include or not.  Let me know if you have questions about it.

New organization email

SUBJECT: [Organization name] has been added on Floodlight

[User’s first name],

Hello from the

[2012-12-10 15:52] ghing commented on #448
Assigning to @jwirfs-brock to get the preferred language.

[2012-12-10 15:55] ghing commented on #519
Edited original issue to clarify.

[2012-12-10 15:57] jwirfs-brock commented on #448
@ghing Let's have them both say "Notifications and Subscriptions."

[2012-12-10 16:15] ghing commented on #433
Updated title from "Need to address home page sliders (too many, inconsistent layout and interaction)" to reflect larger home page redesign needs, moved to Iteration 9.

[2012-12-10 16:25] ghing commented on #417
Moving to Iteration 9, we should just do the redirect fix.  For bonus points we can add a Google Event to detect how many users run into this.

[2012-12-10 16:42] patternleaf commented on #447
this was addressed along with issues #460. closing.

[2012-12-10 16:42] #447 closed, assigned to nobody

[2012-12-10 17:05] jwirfs-brock opened #525 "User can upload a featured photo while creating a project or organization"
This is related to #463 and #458. Ideally, during the project or organization creation request, a user can also submit an image that will be used as the featured photo for that project/organization.

Users should be able to upload an image from their computer or enter a URL for the image.

[2012-12-10 17:25] jwirfs-brock commented on #513
This is essentially the same as issue #198. Should we merge?

[2012-12-10 17:50] jwirfs-brock commented on #416
@patternleaf Can you send me the link so I can view this on the dev site and test if necessary? Thanks.

[2012-12-10 17:50] ghing commented on #513
I agree that this is a duplicate of #198.  There's more analysis there, so I'm going to close this one.

[2012-12-10 17:50] #513 closed, assigned to nobody

[2012-12-10 17:52] jwirfs-brock commented on #408
Also see issue #506 for some related styling updates.

[2012-12-10 18:48] ghing opened #526 "Homepage layout broken for logged-in admin users"
I'm guessing this is related to the toolbar ("+" icon in the upper-right-hand corner) that Django CMS adds to the layout.

I'm not seeing this in my local development instance, so this might have been introduced in #523.

![broken_homepage_layout.png](https://f.cloud.github.com/assets/110420/4140/2ca9342a-42fa-11e2-8fd4-89a2c269bcbb.png)

[2012-12-10 19:17] jwirfs-brock commented on #416
@ghing @patternleaf I tested http://dev.atlas.terrorware.com/ on IE9. The Story Builder seems to be having a lot of problems. See below for the full list.
- After signing in, before getting redirected to the “My Account” page, I got a pop-up message/error that said “undefined.”
- Template selection page is formatting strangely ![IE9_templateselection.png](https://f.cloud.github.com/assets/1020518/

[2012-12-10 21:06] wendynorris commented on #198
Revisiting a question @ghing asked earlier in this thread:

Should the banner be automated or curated? What are the technical implications? What are the marketing implications? Is it all or nothing? Does the admin have the ability to turn off/reactivate automation for other needs?

[2012-12-11 18:40] jwirfs-brock commented on #459
@ghing I tested this again in Wordpress (Corridor website) and Blogger, and it looks like it's working beautifully.

[2012-12-11 18:47] jwirfs-brock commented on #459
@ghing It also works nicely on Tumblr. I think we are good to deploy.

[2012-12-11 19:00] jwirfs-brock commented on #463
@ghing Copy for submitted project (after submitting, user stays on "Create a Project or Organization Page" with this message):

**Thanks for creating a project.**
We’ll do a quick review to make sure everything looks good and send you a confirmation email when your project page is live in Floodlight.

[2012-12-11 19:01] jwirfs-brock commented on #458
@ghing Copy for submitted organization (after submitting, user stays on "Create a Project or Organization Page" with this message):

**Thanks for creating an organization.**
We’ll do a quick review to make sure everything looks good and send you a confirmation email when your organization page is live in Floodlight.

[2012-12-11 19:38] patternleaf commented on #506
i have bill's suggestion implemented (with a css transition, even!), but i was wondering what you @PitonFoundation/developers think about some subtle affordance for the spacers. the fact that there's no visual cue that you hover in order to create a new section has always bothered me a little. here's an implementation of it (sorry for pixely-ness of it; snapped in firefox which doesn't support ret

[2012-12-11 20:32] jwirfs-brock commented on #506
Did @bpawlak's initial mock-up have a non-hover state? What if the non-hover state included a subtle "+" that gets darker (or the background gets darker) when you hover (Bill, that might have been your original suggestion)?

[2012-12-11 20:42] patternleaf commented on #506
sounds good to me. sorry if that was a part of the suggestion and i didn't see it.

[2012-12-11 20:49] patternleaf commented on #416
just an update: i have so far not been able to get a working copy of Win7/IE9 :( so haven't had a chance to look at this personally yet.

[2012-12-11 22:29] bpawlak commented on #506
No, I didn't actually include a non-hover state; thought it was covered by the tour/help info.  I think it works, however.  So, when you actually hover between the two sections, the container (as shown above) expands to be darker in color and has a visible + sign w/ tooltip (with the idea being that you can click anywhere in the darker area?

[2012-12-12 17:19] wendynorris opened #529 "Story embed widget height"
Is it possible to responsively resize embeds rather than the display the blue scroll bar?

![Floodlight test embed-WP3 4 2](https://f.cloud.github.com/assets/2329239/8648/5b5a2bb0-447d-11e2-8a19-80b5ec5853de.jpeg)

I imagine most users will either want to embed Floodlight stories into posts or into sidebars of varying widths too.

The scroll bar is not attractive and I fear it will limit use.

Tes

[2012-12-12 17:23] patternleaf commented on #506
@bpawlak @jwirfs-brock @tekhneco @ghing: this is currently staged on [http://deploy.atlas.terrorware.com/en/build/](http://deploy.atlas.terrorware.com/en/build/). one note: the tooltip behavior, when attached to the whole widget, interferes with the CSS transition. so currently the tooltip is only attached to the "+" in the widget. however the whole button will respond to a click. i'm only _slight

[2012-12-12 17:29] wendynorris commented on #529
After a couple more tests with different stories, it looks like the scroll bar issue is definitely related to the copy length of the summary and/or the length-wide ratio of the featured image.

One potentially easier fix, which also addresses an unrelated Explorer page layout issue, is to force a character limit on summary copy.

Is it possible to force proportional sizing of featured images conta

[2012-12-12 17:33] ghing commented on #529
@tekhneco It's not possible to do auto-heigh resising in a really good way. I did a lot of reading and it seems like that's a non-trivial problem, mostly because of security restrictions and cross domain issues.  We could probably get this working, but it might take a lot of time.

The scroll-bars aren't awesome, so the way to get rid of them is to change the height explicitly.  If you add a `data

[2012-12-12 17:39] patternleaf commented on #490
@jwirfs-brock Are we using placeholder text anywhere except in the builder at the moment? If so could you direct me to it? thanks.

[2012-12-12 17:45] jwirfs-brock commented on #506
Huh, yeah I did find it odd that the tool tip only shows up when you are over the "+" icon. Otherwise, I think it looks really slick. Eric, would it be possible for you to show us what it would look like without the transition, and with the tool tip displaying over the entire widget?

[2012-12-12 17:50] wendynorris commented on #529
Yep, completely agree on the copy length issue.

As for auto-sizing, spending a lot time on modifying the code doesn't seem wise. I'm with you on that. But I wouldn't advise simply using adoption (or lack thereof) as the metric for determining priority.

Web/Blog publishers are a picky bunch and embedding something unattractive or uncontrollable on their sites is almost always a deal breaker.

It'

[2012-12-12 17:58] bpawlak commented on #506
I'm not seeing it on deploy... tried it on Chrome and Firefox.  No tooltip, no transition.  However, I would think that just having the tooltip on the + sign isn't a big enough target area for the tooltip.

[2012-12-12 18:07] patternleaf commented on #506
@bpawlak hmm. hard refresh? also i believe the story must be saved for the add new section widgets to be visible.

@jwirfs-brock, sure; will update when the version without the transition is up.

[2012-12-12 18:14] bpawlak commented on #506
Looks like I had to save the story before the add/delete sections functionality shows up (is this by design or just the test instance)?  In any case, I do like the transition.  That said, if we're going to add those niceties, then we should probably add them to scrolling (each click of scroll should slide everything over by a whole section), deletion of a section (should fade or transition out), e

[2012-12-12 18:16] jwirfs-brock commented on #529
I like adding the data-height attribute. Savvy users will be able to control it, and we can include a note for people who may not be familiar with it.

Another thing I noticed is that on some sites, when you click inside the box for the embed code, it automatically selects it all so you can just copy it (without first having to do a select all). Can we do that, or is it non-trivial?

I agree that

[2012-12-12 18:18] jwirfs-brock opened #530 "Summaries should have a word-count limit"
Any suggestions on length?

We could go 140 characters, to align with Twitter. I feel like for our purposes, that's a bit brief. I typically tell people "two sentences," which you can pretty safely cover with 75 words. Not sure how that translates into character count, though...

[2012-12-12 18:21] jwirfs-brock commented on #530
The Whittier story is a good example for summary length:

The Whittier Neighborhood took control when gang issues threatened the neighborhood. Residents worked with property owners to clean up an overgrown and neglected garden where gang members had been hiding guns and drugs and start the seeds of change while creating a community garden.

It's 44 words, 240 characters (excluding spaces), 283 cha

[2012-12-12 18:31] jwirfs-brock opened #531 ""View all stories" button on project and organization pages is hidden below the fold (at bottom)"
@tekhneco pointed out that people are missing the "view all stories" button on projects and organizations because it's at the bottom of the page. Also, the spacing of the page (with the summary and featured image layout on top) can push the stories below the fold on smaller screens.

Easiest fix: Move the "view all stories" button to just below the project/organization summary.

More complicated/l

[2012-12-12 18:35] jwirfs-brock commented on #529
I've opened an issue, #530, for summary length-limit discussions.

[2012-12-12 19:20] jwirfs-brock commented on #506
@bpawlak You aren't the only one who forgets to add a story title before trying to dive into the builder. I do that all the time, too. This will hopefully be addressed with our updates to the Story Builder work flow, based on our discussion when Geoff was in town.

[2012-12-12 20:20] jwirfs-brock commented on #433
Here's a wire frame that synthesizes the mock-ups that @bpawlak and I did earlier:

![FL_homepage_redesign](https://f.cloud.github.com/assets/1020518/9137/73d8feee-4498-11e2-8733-d487e7cc28cc.png)

Some notes:
- "Floodlight News" is the slider formerly known as "Featured on Floodlight".
- I didn't include the footer, but we can keep it the same (for now), including the "Supporting Foundations" wid

[2012-12-12 22:42] patternleaf commented on #506
@jwirfs-brock @bpawlak the version without transitions but with full-frontal tooltip action is now up on deploy.

i agree that adding niceties would be better done in many places rather than seemingly randomly in one.

[2012-12-13 11:29] bpawlak commented on #531
I agree.  Earlier prototypes of the Project or Organization page showed a more condensed version of the story list that could work (esp. when combined with a bright blue button - http://clients.inovdesigns.com/floodlight/explore_organizations_piton.php), but moving it up will make it that much more salient.

[2012-12-13 16:06] jwirfs-brock opened #533 "Confirmation message on "Contact Us" page is unreadable"
The message that appears after you submit a message via the contact form is displayed in a very light shade of grey that is unreadable.

See screenshot:
![contact_us](https://f.cloud.github.com/assets/1020518/11027/f3e727e0-453e-11e2-9a49-8d79ac939c91.png)

[2012-12-13 16:57] jwirfs-brock commented on #460
Sorry I wasn't more explicit about this before, but there is a loophole/problem with this feature. On staging, you can publish a story for the first time from the "My Stories" page. This allows users to publish a story without agreeing to the legal permissions or choosing a Creative Commons license.

Suggestions for stories that have not yet been published:
- The "Publish" button could link to the

[2012-12-13 17:00] ghing commented on #460
@patternleaf I think the second option (The "Publish" button could be deactivated (only "Build" and "Delete" are selectable) is cleaner to implement.  The way you check for this is if the story's 'published' datestamp is None.  Stories that have never been published will have this null datetimestamp.  Stories that are 'draft' but were once published will have a non-null datetimestamp.

[2012-12-13 17:00] jwirfs-brock commented on #460
We don't need to make this update for Iteration 8 because it's a minor change, but at some point in the future, I would suggest having the confirmation step ("Are you sure you want to delete/publish/unpublish '[Story Name]'?" as a pop-up notification rather than a separate page.

[2012-12-13 17:01] ghing commented on #460
@jwirfs-brock Eric and I talked about the popup option and have brainstormed some approaches to this.  We wanted to keep it simple for this iteration, but it's something we've been thinking about.

[2012-12-13 17:03] jwirfs-brock commented on #460
I'm also now getting an "Unexpected Error" message for a story that I unpublished then republished through the "My Stories" page:

http://staging.floodlightproject.org/en/stories/dataviz-how-to-make-a-bar-chart-in-fusion-tables/viewer/

This story shows up on the Explore page, and you can view its Story Detail page, but when you try to launch the viewer it returns an "Unexpected Error."

[2012-12-13 17:03] jwirfs-brock commented on #460
@ghing @patternleaf Agree that for this iteration it's fine to keep it simple and not have the pop-up notification. I'll create an issue for that we can address in a future iteration.

[2012-12-13 17:12] jwirfs-brock commented on #461
I have a few thoughts about the format of the user profile page:
- The profile image is a bit large, which pushes the story list below the fold. Can we make it smaller?
- As far as I can tell, the only way to set a profile image is to connect to a social media account. I think that's probably because we didn't explicitly include the user stories for that in Iteration 8 (although we have done analy

[2012-12-13 17:21] jwirfs-brock commented on #490
Nope, it's only in the Story Builder.

On Wed, Dec 12, 2012 at 10:39 AM, Eric Miller notifications@github.comwrote:

[2012-12-13 17:28] jwirfs-brock commented on #415
I'm still seeing the first window of the tour cut off on the left side of the screen if I have a window that isn't extremely wide (but is still wide enough for all the elements of the Story Builder to fit). When I increase the width, the tour fits.

Screen shot:
![IE_tour_issue](https://f.cloud.github.com/assets/1020518/11291/71ca4362-454a-11e2-9390-aa531a79505b.png)

[2012-12-13 17:30] jwirfs-brock commented on #415
Oh, I was using IE9 on Windows 7.

[2012-12-13 17:31] ghing commented on #460
@jwirfs-brock Re: "Unexpected Error" - this is an unrelated issue.  Can you open a separate issue?

[2012-12-13 17:35] jwirfs-brock opened #534 "Getting "Unexpected Error" after unpublishing then republishing story"
I'm getting an "Unexpected Error" message for a story that I unpublished then republished through the "My Stories" page:

http://staging.floodlightproject.org/en/stories/dataviz-how-to-make-a-bar-chart-in-fusion-tables/viewer/

This story shows up on the Explore page, and you can view its Story Detail page, but when you try to launch the viewer it returns an "Unexpected Error."

[2012-12-13 17:54] ghing commented on #534
This is the stack trace:

[code]

[2012-12-13 17:58] ghing opened #535 "A user can add two assets to the same section and container"
This is likely to occur if the user is editing the same story in multiple tabs.

The easiest way to fix this would be to fire an error when the user tries to add an asset to a place that already has one.

It would be cool to poll for (or use websockets) changes and update all open builders with the changes.

For now, I'm going to implement error handling with a warning for users to check if the bu

[2012-12-13 17:59] ghing commented on #534
@jwirfs-brock I'm not seeing the error any more.  Did you fix something?  The error had to do with having multiple assets assigned to the same container in the same section, but this no longer seems to be the case. I'd say this is likely caused by editing the same story in 2 separate tabs.  I've created an issue for that as #535.

[2012-12-13 18:03] jwirfs-brock commented on #534
I didn't change anything, but I did sign out of my account and closed all
windows (none of which had the Story Builder open).

On Thu, Dec 13, 2012 at 10:59 AM, Geoffrey Hing notifications@github.comwrote:

[2012-12-13 19:32] patternleaf commented on #506
i need to switch the server over to another branch. attaching a screenshot for reference. the widget just pops open and closed without fuss and the whole thing is clickable and triggers the tooltip. let me know if you need to see it in action or if we're good to go with this.

![add-section](https://f.cloud.github.com/assets/73439/11627/c4c4df62-455b-11e2-8ab7-5dd8137be2aa.png)

[2012-12-13 19:39] patternleaf commented on #488
i assume the storybuilder logo should also have beta. do we have an original for this? bitmap or vector?

[2012-12-13 19:41] patternleaf commented on #488
ok, found the psd for the everything comp in dropbox. that might have what i need.

[2012-12-13 23:20] patternleaf opened #536 "IE9: occasional "undefined" alert box after logging in or exiting builder"
Based on the report in #416.

and later:

This was reproducible in my tests, but not reliably.

[2012-12-13 23:23] patternleaf opened #537 "IE9: slider plugin printing logs to alert box in certain circumstance"
From comments in issue #416:

This was following a series of steps during which a known bug existed. It's possible this behavior was caused by this. I wasn't able to reproduce this either before or after fixing the main bug in #416.

[2012-12-13 23:23] patternleaf commented on #416
So there are a few issues here. In my tests, the bugs showed up without clearly deterministic reproduction steps (yay IE!).

I was able to reproduce this a couple of times (thought not 100%), but am not sure of what is causing it. I'll file a separate issue for it.  (#536)

I think this is unrelated to the placeholder changes and is just something happening in IE. I'll make a separate issue for it

[2012-12-13 23:24] patternleaf opened #538 "IE9: builder Template Selection page formatting is wonky"
Looks like a float/width/flow issue. cf #416 for screenshot.

[2012-12-14 16:01] wendynorris commented on #433
Couple questions about the banner:

• Do we have a mockup/sketch of the presentation and the link behavior?
• Are these static story tiles or another slider?
• Are they story tiles only thumbnail featured images or do they also include titles? bylines? dates?
• How many story tiles will appear inside the banner container?
• Do the story tiles auto-populate by most recent post date or can they be c

[2012-12-14 16:42] patternleaf commented on #408
so with the styling changes in #506 (add-section widgets are horizontally more compact), this is now less egregious. the little pointer doesn't render way outside of the section box, just a little off-center. i think to avoid this _might_ require changing the markup, or some javascript, and i'm not sure that it's worth it. a css-only fix is possible, but would require some investigation. would any

[2012-12-14 17:04] wendynorris opened #539 "Add Google Analytics Events script to specific pages"
Wendy is developing a list of GA events to track user paths, UX stalls, help drawer visits and conversions. Some events will need script added to the page code.

Will turn over assignment to @ghing after reviewing GA events list with @jwirfs-brock on Monday.

[2012-12-14 17:23] patternleaf opened #540 "unsightly gap between megamenu and header"
Somewhere recently (probably with font changes), an unsightly gap has crept in between the megamenu and the header. See screenshot:

![gap](https://f.cloud.github.com/assets/73439/13716/e71d4146-4612-11e2-9b93-cb1c96841438.png)

[2012-12-14 17:25] jwirfs-brock commented on #408
I'm actually not seeing the weird spacing of the pointer/arrow. I'm fine with closing.

[2012-12-14 17:25] #408 closed, assigned to nobody

[2012-12-14 17:32] jwirfs-brock commented on #433
In Iteration 9, we won't have the banner. But we talked about implementing
the banner in our user feedback discussion:
https://docs.google.com/document/d/1eBYGQJJ9G0sWBQS2QNPYD1bP6fC3LxTQGIODfSYT-qw/edit
- Essentially, Geoff can use the optimization he did to make the Explore
  page load faster to ensure the banner will also load quickly.
- We have the mockup from Geoff Thomas's original comps. I

[2012-12-14 19:04] patternleaf commented on #347
added buttons using css and FontAwesome:

![social-login](https://f.cloud.github.com/assets/73439/13943/1c50bb50-4621-11e2-8a75-d6ec5e3c7f8c.png)

[2012-12-14 19:18] wendynorris commented on #433
Thanks Jordan!

I wouldn't recommend any new presentation element that requires the user to
discover its purpose. While Easter eggs or other "delights" may be a
UX benefit for people like us, i don't think that's wise to attempt
increasing engagement with our current user group. They seem confused
enough about Floodlight's purpose and navigation.

On that, too, I'd reconsider the lack of titles wi

[2012-12-14 23:49] #460 closed, assigned to nobody

[2012-12-15 22:23] wendynorris commented on #529
Confirmed the embed script works in WP 3.5.

[2012-12-16 21:49] wendynorris opened #542 "Missing front page banner slider link"
The "build your storytelling skills" link in the second "Build a breakthrough story" slide is linked to http://www.floodlightproject.org/# and not http://www.floodlightproject.org/en/grow-your-skills/ as expected.

[2012-12-17 15:59] ghing commented on #539
@tekhneco had some questions about detecting different workflow steps in the builder (e.g. "Add Data", "Publish/Share").

They all have unique URLs and Google Analytics will track them if the user visits the URL directly (i.e. from a bookmark).  However, as the builder app uses the History API to navigate within the builder, when the user clicks on a menu item to switch between workflow steps, thi

[2012-12-17 17:04] patternleaf commented on #486
this is currently staged at http://dev.atlas.terrorware.com/stories/strengthening-neighborhoods/. closing.

[2012-12-17 17:04] #486 closed, assigned to nobody

[2012-12-17 18:05] bpawlak commented on #461
I wouldn't put the "View my public profile" link in the side-nav (the side nav is reserved for moving between the My Account sections (communications, profile, my stories, etc.).  Perhaps a button like on the admin pages to launch the public profile page?  Or, are we displaying what the url to the user's profile page is?  If so, then that link can open the public-facing profile page.

Q: Will the

[2012-12-17 18:10] ghing opened #543 "Reusable styles for alert messages"
I'd like to see something like [Bootstrap's alert styles](http://twitter.github.com/bootstrap/components.html#alerts) in our LESS/CSS.  One place where I've been missing these right away is for the message describing how a user profile image is set.  This could also be used for form-level error or success messages when submitting forms.

[2012-12-17 18:14] ghing commented on #461
@bpawlak I had a similar thought about the "View my public profile link" needing to be different.

Right now, there's no editing view for the public profile since it just has a list of a users stories and affiliated projects/organizations and the profile image is automatically sucked in.

[2012-12-17 18:17] jwirfs-brock commented on #461
You're right, the sidebar isn't the right place for it. But I do think if
users have a public-facing profile, even if right now it's uneditable, they
should have an easy way to view it. (Right now, the only way to see it is
to click on the author from the story detail page.)
On Dec 17, 2012 11:14 AM, "Geoffrey Hing" notifications@github.com wrote:

[2012-12-17 18:26] bpawlak commented on #461
Ah.  Yes, forgot about the programmatic generation of it.  Still, we should probably reflect what the public URL is to the user and clicking on that link should open the profile page.  I would put the link at the top of the Account Information editing page (http://floodlightproject.org/en/accounts/)

[2012-12-17 18:30] bpawlak opened #544 "Ordering of "My Account" links in top nav don't match ordering as shown with the My Account section"
Minor, but the top-to-bottom vertical ordering should be the same.

Should be:
- My Stories
- Account Information (should we merge communication preferences with this page?)
- Communication Preferences
- Change My Password

Also the page that I'm on (e.g., "My Stories" or "Account Information" isn't reflected - visually- in the left nav

[2012-12-17 19:43] ghing commented on #461
@jwirfs-brock, as of commit 6dce6c9712b957b67a6b7fa0b84482de3f77cfbc, fixes addressing your 3 concerns have been pushed to the development and staging instances.

I adopted @bpawlak's suggestion of putting the public URL at the top of the "Account Information" page and put information about how the profile image is set there.

As a note, the current logic for selecting the profile image uses the u

[2012-12-17 19:44] ghing commented on #461
@jwirfs-brock, I'm assigning this to you for review.  Please close it if this looks good, or assign it back to me if it needs another pass.

[2012-12-17 19:57] jwirfs-brock commented on #461
@ghing  Great, reviewing now...

[2012-12-17 20:03] jwirfs-brock commented on #461
@ghing This looks good. Just one comment before we are ready to close. On stating, the link for "Your public profile page is viewable at" is displaying staging.floodlightproject.org/ETC... but on dev it's just using floodlightproject.org/ETC.... (so you can't test out the profile link there).

Just want to  make sure that when we deploy, we are displaying the correct link.

Other than that, it's g

[2012-12-17 20:05] jwirfs-brock commented on #542
Eric can you fix this? Thanks!

[2012-12-17 20:05] ghing commented on #461
@jwirfs-brock The issue with the link URL has to do with a setting that I just didn't bother to change on the Development instance, so it's using the one from the production instance that came over when I synced the databases.  It will be correct in production.

[2012-12-17 20:08] jwirfs-brock commented on #529
@tekneco @ghing Are we ok to close this issue for now, now that the summary length limit has been opened as a separate ticket?

[2012-12-17 20:08] jwirfs-brock commented on #461
Great. Closing...

[2012-12-17 20:08] #461 closed, assigned to nobody

[2012-12-17 20:13] ghing commented on #529
@jwirfs-brock, it depends if you want some kind of help message describing how to set the height of the share widget.  If that's the case, I'd leave this open and decide where the message should be and what the text should be.  Note that if you want to have a message below the embed code in the sharing widget, I think it should be very, very short.  We could also link to a longer description of th

[2012-12-17 20:18] jwirfs-brock commented on #416
@patternleaf

I just looked at this again.

The containers are now showing up on the Story Information section, but I'm still not seeing placeholder text in the Title or Byline.

I also still got the "undefined" message after logging in, and the "[cycle] terminating: zero elements found by selector," message when I exited the Builder.

I was viewing on deploy.atlas.terrorware.com in IE9 -- is that

[2012-12-17 20:22] jwirfs-brock commented on #529
@ghing  I also noticed that when you try to resize the container with the embed code,  you make it bigger than the sharing pop-up (see below). This looks kind of strange to me, but isn't something that should keep us from deploying the embed feature.

![embed_screenshot](https://f.cloud.github.com/assets/1020518/17788/62962808-4887-11e2-9b35-c1650dabbc3d.png)

[2012-12-17 20:25] jwirfs-brock commented on #529
@ghing Also, did you add the data-height attribute? I'm not seeing it on dev or staging.

I like your suggestion about having a link below the embed code to a longer explanation on the help page. I'll work on the copy for that.

[2012-12-17 20:27] patternleaf commented on #416
@jwirfs-brock, sorry, no—the branch with that fix was not checked out on deploy just now.

i just checked it out. could you try again? thanks.

[2012-12-17 20:38] ghing commented on #415
Update: I was able to replicate this, more consistently on the staging instance, but not every time, and only with a completely clear cache.  After loading the page once and re-loading it, I was unable to replicate this issue.

I was not able to replicate this consistently on the development instance.

[2012-12-17 20:55] jwirfs-brock commented on #416
@patternleaf  When I just tried opening the Builder in deploy, I got the following error:

Environment:

Request Method: GET
Request URL: http://deploy.atlas.terrorware.com/build/

Django Version: 1.3.1
Python Version: 2.7.2
Installed Applications:
['django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.sites',
 'django.contrib.messages',
 'django.contr

[2012-12-17 21:03] wendynorris commented on #529
I think this needs to remain open until we deploy the help copy on the
data-height attribute section.

Wendy

**
_wendy norris http://about.me/wendynorris_
ceo + founder :: tekhne media, inc
a digital information and media collective
720 281 9378 :: mobile

*\* http://about.me/wendynorris
*
*

On Mon, Dec 17, 2012 at 1:08 PM, Jordan Wirfs-Brock <
notifications@github.com> wrote:

[2012-12-17 21:05] patternleaf commented on #416
shoot, that's right. the database and code had gone out of sync on that branch. it should be fixed now. thanks.

[2012-12-17 21:17] ghing commented on #529
Decision:
- show the default value of the `data-height` attribute in the embed code (for now)
- Add a link (that opens in a new window) to a view that lets the user specify the height of the widget (in a form) and preview the form with these attributes.  In the future this view could be used to further customize the embed widget.

[2012-12-17 21:30] #369 closed, assigned to nobody

[2012-12-17 21:35] ghing opened #545 "Sharing widget should resize as the embed widget textarea is resized"
Originally reported by @jwirfs-brock in #529

![embed_screenshot](https://f.cloud.github.com/assets/1020518/17788/62962808-4887-11e2-9b35-c1650dabbc3d.png)

[2012-12-17 21:37] wendynorris opened #546 "Incorrect Open Graph meta tags for Project and Organization detail pages and filtered Explore page"
Two errors encountered when manually adding project page links to a Facebook status update.

1) When pasting the project page link, the summary is copy pulled from the Build a Story navigation mega menu.

![FB-Project summary](https://f.cloud.github.com/assets/2329239/17966/a4690778-4891-11e2-9fcf-d4d732fda331.png)

2) When pasting the View all Stories page from a project, the summary is copy pull

[2012-12-17 21:44] wendynorris commented on #546
View via Add This share button to Facebook for Projects:

![FB share direct from Project page](https://f.cloud.github.com/assets/2329239/17995/e2f206b0-4892-11e2-8f51-faa4f7dbe1a2.png)

[2012-12-17 21:48] wendynorris commented on #546
Same summary bug for Add This share button to Facebook for Organizations:

![FB share direct from Org page](https://f.cloud.github.com/assets/2329239/18007/80554dc2-4893-11e2-90cf-5d866c64e34f.png)

[2012-12-17 22:17] ghing commented on #546
I updated the issue title to more accurately reflect the issue.  The original title was "Project/Org page summary text errors in Facebook"

[2012-12-17 22:20] ghing commented on #546
Note that the issue with no summary showing up when sharing using the AddThis widget described in @tekhneco's [comment](https://github.com/PitonFoundation/atlas/issues/546#issuecomment-11462999) is probably due to the fact that she tried to share a link on staging.  Since staging.floodlightproject.org is protected by the basic authentication password, Facebook can't retrieve any of the metadata fo

[2012-12-17 22:51] ghing commented on #463
Per a chat with @jwirfs-brock, we should make the following revisions:
-  remove "They can be open to contributions from any Floodlight user, or constrained to a group of authors." from the intro copy
- Make description a required field

[2012-12-17 22:52] ghing commented on #458
Per a chat with @jwirfs-brock, we should make the following revisions:
- Make description a required field

[2012-12-17 22:54] jwirfs-brock commented on #416
@patternleaf Ok, I can confirm that the containers are showing up, but the placeholders are still empty.

[2012-12-17 23:31] ghing commented on #463
@jwirfs-brock In 076b9344df3f8f949485058ec4e146cda55c0573 I removed "They can be open to contributions from any Floodlight user, or constrained to a group of authors." from the intro copy and in c2c6ca938e25181ced51f5d610d1ba80cc3f34d8, I made `description` a required field.  I'm assigning this issue to you for final review.  Please close it if it's ok, or assign it back to me if there are issues.

[2012-12-17 23:32] ghing commented on #458
@jwirfs-brock, in c2c6ca938e25181ced51f5d610d1ba80cc3f34d8, I made `description` a required field.  I'm assigning this to you for final review.  If it's okay, please close the issue, otherwise assign it back to me and add a comment about any outstanding issues.

[2012-12-17 23:33] patternleaf commented on #454
ok: closing this one; will be merged with #488.

[2012-12-17 23:33] #454 closed, assigned to nobody

[2012-12-17 23:35] patternleaf commented on #488
note: merged issue #454 (logo subheader hard to read) into this one. commit 85aee8e addresses both.

[2012-12-17 23:56] patternleaf commented on #416
@jwirfs-brock errgh. just double-checked in Win 7, IE9 (build 9.0.8112), and it seems to be working for me. my repro steps were:
1. http://deploy.atlas.terrorware.com
2. log out if logged in
3. log in
4. click the big "Create Your Story" button in the BUILD menu
5. pick PhotoVoice template
6. app loads; placeholders in place

could you post your repro steps, in case there's something specific you'

[2012-12-18 00:18] #458 closed, assigned to nobody

[2012-12-18 00:18] #463 closed, assigned to nobody

[2012-12-18 06:59] #546 closed, assigned to ghing

[2012-12-18 13:58] ghing commented on #442
@patternleaf Let me know if you weren't CCed on the email thread about this and I'll add the analysis here.

[2012-12-18 15:03] ghing commented on #415
@jwirfs-brock, I increased the timeout on this and have not been able to replicate this on staging.  I tested with a clear cache and with different window widths.  Can you see if you're still able to replicate this?

[2012-12-18 16:53] patternleaf commented on #442
@ghing it is not showing up in my mailbox. please do include it or a link to it here. thanks.

[2012-12-18 17:12] patternleaf commented on #416
@jwirfs-brock assigning to you for comments. please assign back if needed.

[2012-12-18 17:14] patternleaf commented on #506
@jwirfs-brock assigning to you for comment. please assign back to me if needed. note that this fix is _not_ currently staged. if you need it staged to review, let me know.

[2012-12-18 17:17] patternleaf commented on #347
note to self: these also need to be implemented on the register page.

[2012-12-18 17:19] ghing commented on #508
Assigning to @jwirfs-brock for feedback on button placement and styling.  Would also love to hear from @bpawlak on this.

[2012-12-18 17:36] #448 closed, assigned to ghing

[2012-12-18 18:04] jwirfs-brock commented on #506
@patternleaf This is good to go. Assigning back to you...

[2012-12-18 18:08] jwirfs-brock commented on #416
@patternleaf Ok, I went through it again after clearing my browser cache and now the placeholders are there. Hoorah!

Note that I am still getting the error messages, but I believe you opened those as separate issues, so I'm closing this one.

[2012-12-18 18:08] #416 closed, assigned to nobody

[2012-12-18 20:47] ghing commented on #508
Did some basic wiring up of this feature in ef2363672d49235ee91fb9f46a298e6e8b47b66a, deployed on dev

[2012-12-18 20:57] ghing commented on #508
@jwirfs-brock Should this be visible during all workflow steps, or only during the build step?

[2012-12-18 21:04] patternleaf commented on #416
yay! thanks @jwirfs-brock .

[2012-12-18 21:08] patternleaf commented on #506
great. thanks, @jwirfs-brock . i'm going to make a pull request for this and close it.

[2012-12-18 21:45] bpawlak commented on #508
If we show it during all steps, we'd need different content as the "tour" of the tagging page is different enough (no section browser, for example) from the rest if the builder.

[2012-12-18 21:48] patternleaf commented on #347
closing this.

[2012-12-18 21:57] ghing commented on #508
@bpawlak, I was thinking more that if it was on a different workflow step, it would take the user back to the build step before showing the tour, but that might be a confusing side-effect and probably not desirable. The more I think about this, I'm leaning toward only showing it in the builder.

[2012-12-18 22:01] bpawlak commented on #508
No, I don't think it should take them back to the builder, especially if they're done building... So it should just be on the builder section....

[2012-12-18 22:44] jwirfs-brock commented on #508
Agree that it only makes sense during the build step. Does that add coding
complexity?
On Dec 18, 2012 3:01 PM, "bpawlak" notifications@github.com wrote:

[2012-12-18 23:00] #271 closed, assigned to ghing

[2012-12-18 23:50] bpawlak commented on #508
I think the button styling is fine (it's consistent with the rest of the app), but I wonder if it calls _too_ much attention to itself at the top like that?  It kind of takes precedence over the rest of the help text which, arguably, is more important, especially if someone _has_ viewed the tour before...

[2012-12-19 14:30] ghing commented on #508
@bpawlak, I'll try making the button the gray style and making it a little smaller

[2012-12-19 15:24] ghing commented on #508
@bpawlak, I made the button gray, smaller and right-aligned it.  Check it out in the attached screenshot or on http://dev.atlas.terrorware.com/ Does this address your concerns?

![less_prominent_tour_button](https://f.cloud.github.com/assets/110420/22201/21bb8156-49f0-11e2-8acf-a303b6298571.png)

[2012-12-19 15:46] bpawlak opened #548 "Save message and presentation needs addressing"
Using the tool for an extended amount of time in one builder visit, I must have seen the "The story has been saved" green banner about 40 times...  I think it's good that we're saving so often, but I suggest we revisit the use of the green banner as the messaging mechanism for saving as it could quickly get annoying, I suspect

[2012-12-19 16:06] jwirfs-brock commented on #538
@patternleaf I'm now seeing this in Chrome and Firefox, too.

[2012-12-19 16:09] jwirfs-brock commented on #548
@bpawlak If we got rid of the green bar, would the "Last Saved DATE/TIME"
message be sufficient, if we made it persistent (instead of fading away)?

On Wed, Dec 19, 2012 at 8:47 AM, bpawlak notifications@github.com wrote:

[2012-12-19 16:11] jwirfs-brock opened #549 "On "My Stories" page, stories should be listed with newest stories at the top"
We could do a quick pull of some users (Brigid, Jon, etc.), but for me -- and my dozens of stories -- it's annoying to have the most recently edited ones at the bottom of the list.

Should we order it so the newest/most recently edited stories are at the top?

[2012-12-19 16:12] jwirfs-brock commented on #544
Agreed. I'm moving this into Iteration 10 and assigning it to @patternleaf.

[2012-12-19 16:14] bpawlak commented on #548
What if we changed the color of the saved message briefly (to green) and then had it fade back to normal?

[2012-12-19 16:15] ghing commented on #506
@bpawlak Reports that sections are getting added to the end of the section list instead of in the position where the "+" button is clicked.  I was able to replicate this.

![image003](https://f.cloud.github.com/assets/110420/22320/57fd2f6a-49f7-11e2-8f8b-7ff72af27c55.jpg)

[2012-12-19 16:33] ghing commented on #506
I added [comments to the pull request](https://github.com/PitonFoundation/atlas/commit/617432a02ad05aec666c68697bd19a7efffbb36f#L4L2547) that identify the changes that cause the problem. It's an easy fix, but I wanted to confer with @patternleaf rather than just fixing it myself.

[2012-12-19 17:18] ghing opened #551 "Tour popup falls outside of window when resizing window"
@jwirfs-brock discovered this when doing QA for #415.

So far I've seen this in IE9 and Chrome, but I suspect it affects all browsers.

To replicate:

1. Remove cookies for floodlightproject.org and dev.atlas.terrorware.com so that tour will be forced to show again.
2. Open a browser window to a width narrow enough that the tour popup nudge effect occurs.
3. Load the builder page and create a new

[2012-12-19 17:26] jwirfs-brock opened #552 "In IE9, Explore page "tiles" are overlaping with tile/list/map view icons"
I observed this on both staging and production. It doesn't appear to be happening on other browsers.

See screenshot:

![Explore_page_IE9](https://f.cloud.github.com/assets/1020518/22502/21f593bc-4a01-11e2-92ad-23069854f7c2.png)

[2012-12-19 17:39] #415 closed, assigned to nobody

[2012-12-19 17:45] jwirfs-brock commented on #548
@bpawlak So, just to clarify, are you suggesting the "Last Saved" message turns briefly green?

Also, the current green bar/message takes a very long time to fade away. So we if we don't get rid of it completely, we should at least make it fade more quickly.

[2012-12-19 18:06] bpawlak commented on #548
Yep, that's what I'm considering...  And I think I submitted an issue about the slow fade out time being a problem ...

[2012-12-19 20:35] jwirfs-brock commented on #508
One suggestion I had was that the tour is blue (very bright blue!), so if the button were similarly styled it might be a visual cue reminding the user that it's about the tour. @bpawlak and @ghing if you think that would look too loud, we can keep it grey.

By the way, I also showed this to Brigid to get some quick feedback. Her general sense was that she doesn't really notice the Help or Asset dr

[2012-12-19 20:35] ghing commented on #488
The builder header image should probably get the "beta" in the logo too.

[2012-12-19 20:48] ghing commented on #508
@bpawlak and @jwirfs-brock,

Check out the latest pass, now up on dev.

As Bill suggested, I changed the button to an icon, but kept the blue as a reminder.  It's noticeable, but less competitive with the help text.  In order to make this more noticeable, I added a step to the tour that pointed out that the tour could be shown again using the icon (how meta).

![show_tour_again_icon](https://f.clo

[2012-12-19 21:18] bpawlak commented on #508
I suggested to Geoff that perhaps a small, light blue (same color as tour) icon (maybe that looks like a speech bubble since that's what we're using for the tour) either as part of (or instead of) the button, with a tooltip?

[2012-12-19 21:21] jwirfs-brock commented on #508
I like the icon! Looks good.

Without the tool tip (which I'm not seeing now on dev), it's too subtle. I like @bpawlak's suggestion of a tool tip, and maybe also small text underneath the chat bubble that says "Tour."

[2012-12-19 21:25] jwirfs-brock commented on #508
Oops, I am seeing the tool tip. It's just not styled the way the others are, so I missed it at first.

[2012-12-19 22:10] ghing commented on #508
@jwirfs-brock, I did another pass, visible on dev, where I added the text "Tour" and the fancy tooltips.

[2012-12-19 22:15] patternleaf opened #553 "IE9: cascade of bizarre JS errors when launching viewer"
examples:

- 'Function' is undefined.
- 'Object' is undefined.

... that is, javascript built-ins are not being found. Sources are Modernizr, jQuery, underscore, etc. All well-tested cross-browser libraries.

No functionality *appears* to be affected by these errors.

[2012-12-19 22:16] jwirfs-brock commented on #508
@ghing I think this looks great. It's good on my end.

[2012-12-19 22:27] patternleaf commented on #500
@jwirfs-brock this probably doesn't need actual review, but you can review it on staging. :)

[2012-12-19 22:28] patternleaf commented on #490
@jwirfs-brock available for review on staging.

[2012-12-19 22:28] jwirfs-brock commented on #500
Yup -- looks good!

[2012-12-19 22:28] #500 closed, assigned to nobody

[2012-12-19 22:30] jwirfs-brock commented on #490
Looks good.

[2012-12-19 22:30] #490 closed, assigned to nobody

[2012-12-20 02:45] patternleaf commented on #383
@jwirfs-brock i'm finding that this might work better if the details which aren't shown initially are shown in a popup bubble rather than inline.

when shown inline, the layout must shift to accommodate the new content, and i think it can be confusing.

thoughts on that?

(note: this can be seen on deploy at the moment (8pm weds night), though no guarantees about how long it will be there in curre

[2012-12-20 13:52] ghing opened #556 "Table of contents section elements show up on multiple rows"
@bpawlak and Brigid reported seeing this.  I'm marking this as critical since Brigid reported seeing this on production.

Screenshot:

![image001](https://f.cloud.github.com/assets/110420/24485/57c486e6-4aac-11e2-8632-19a4eb13b6e5.jpg)
## To replicate
1. Create a new stories
2. Add sections until there are 11 sections (not counting "Story Information" and "Call to Action")
## Expected result

The

[2012-12-20 15:49] jwirfs-brock commented on #383
@patternleaf I just had a chance to take a look. I agree that with the inline approach, the layout is a bit odd. Go ahead and try the pop-up.

[2012-12-20 15:51] jwirfs-brock commented on #433
@bpawlak would you feel better about it if "Featured News" and "Featured Projects" were just one item, instead of sliders?

[2012-12-20 15:52] jwirfs-brock commented on #433
One small suggested update to the wireframes: Below the "Create Your Story" BAB, let's have a text link that says, "New to Floodlight? Create a free account to get started."

[2012-12-20 16:32] bpawlak commented on #433
I think they're ok as being separate sections (news is very different from projects), but I don't necessarily think they need to be in sliders... why not just simply list the 3 latest news stories (with a link to view more) and 3 featured projects (again, with a link to explore more projects)?  Putting them in sliders just makes extra work for users that I don't think is always justified.  They're

[2012-12-20 17:02] jwirfs-brock commented on #433
@bpawlak How would you suggest we show the top 3 items without a slider? Just in a list format?

[2012-12-20 17:29] bpawlak commented on #433
Yep.  See the "What others are saying" or the "latest contributions" list in the footer on our earlier wireframes (https://docs.google.com/file/d/0B7ipktENBWzTY0RNYW5oWmN1aFU/edit).  Just a suggestion...

[2012-12-20 17:52] #508 closed, assigned to nobody

[2012-12-20 17:58] ghing opened #557 "Build step help is shown for other steps"
Eventually, we should have step-specific help for the other steps, but the quick fix is to show a default message when there is no help.

[2012-12-20 18:09] ghing commented on #508
@jwirfs-brock This is done and staged.  The only changes I made since yesterday are back-end stuff to ensure it doesn't show up in other workflow steps.  Feel free to take another pass and reopen if you find anything weird.

[2012-12-20 20:31] #557 closed, assigned to ghing

[2012-12-20 22:56] ghing commented on #231
I'd say this is closed as of 38a71daa4b3ba3331faf910cc9dfc9ac63c67e4b.  It has been staged.  I'm assigning to @jwirfs-brock for review.

[2012-12-21 15:45] #488 closed, assigned to nobody

[2012-12-21 15:46] ghing commented on #519
Assigning to @jwirfs-brock  for final review.

[2012-12-21 15:48] ghing commented on #506
Assigning to @jwirfs-brock for final review.

[2012-12-21 15:50] ghing commented on #347
Assigning to @jwirfs-brock for final review

[2012-12-21 23:23] ghing opened #558 ""Unable to get value of the property 'placeholders': object is null or undefined" error in connected story builder"
To replicate:

1. Load the connected story builder (e.g. /stories/born-into-poverty-1400-in-the-childrens-corridor-e/build-connected/) using Internet Explorer (I was using IE 9)

Expected result:

Simplified version of the builder loads.

What happens:

The header loads, but the content area is blank.

The JavaScript console shows the following error:

    SCRIPT5007: Unable to get value of the pr

[2012-12-22 00:45] jwirfs-brock commented on #506
Looks good.

[2012-12-22 00:45] #506 closed, assigned to nobody

[2012-12-22 00:54] jwirfs-brock commented on #231
In Chrome, I'm noticing some strange behavior with the link button in the Summary. The button isn't clickable (I don't get the hand icon when I hover over it, and when I click I'm not seeing the box to add the text for the link).

The link button is working fine in text assets. This seems to be only happening in the Summary. I was not able to reproduce it in Firefox.

[2012-12-30 00:07] ghing commented on #231
I changed the way that the markup for the icons to address the [issue](https://github.com/PitonFoundation/atlas/issues/231#issuecomment-11631797) that @jwirfs-brock ran into in commit 6baafa2 and tested the updated editor icons and the add link "dialog" buttons in Internet Explorer as well.

[2012-12-30 00:07] #231 closed, assigned to nobody

[2012-12-30 00:17] ghing commented on #347
I tested this in Internet Explorer 9 and it looks like `border-radius` and the gradient aren't compatible so that the gradient spills over the button edges.

![social_signup_buttons_ie9](https://f.cloud.github.com/assets/110420/35535/0bebd9ec-5216-11e2-9d18-bcfde48736f6.png)

As far as I can tell, the options appear to be:
- Don't show a gradient in IE
- Don't show rounded corners in IE
- Use an i

[2013-01-02 15:58] jwirfs-brock commented on #519
This looks good (tested in Firefox, Chrome, and IE9).

[2013-01-02 15:58] #519 closed, assigned to nobody

[2013-01-02 16:00] jwirfs-brock commented on #347
Yup, I'm also seeing the buttons rendering correctly in Chrome and Firefox but not IE. I think that's fine for now, and we should deploy with:
- no gradient in IE
- no rounded corners in IE

[2013-01-02 17:20] ghing commented on #347
To make this work in IE, should we go with rounded corners and no gradient,
gradient and no rounded corners, or rounded corners and an image-based
gradient? The first 2 options are equally easy, the third is a bit more
complex, but provides the most consistent option between browsers. My
personal preference is option 2, no gradient and rounded corners.
On Jan 2, 2013 11:00 AM, "Jordan Wirfs-Brock"

[2013-01-02 17:25] jwirfs-brock commented on #347
Oops, I don't think the rest of my comment went through after I updated it. I suggested no gradient and no rounded corners, but I didn't realize we could do one of gradient or rounded corners, so you can disregard that.

I agree that option 2, no gradient and rounded corners, sounds good for IE.

[2013-01-03 16:10] jwirfs-brock opened #559 "Search by address (on map view of Explore page) is hard to see"
The search field is below the map, which makes it really easy to miss (especially when viewing the map on a small screen). We should move it above the map, so that users see it.

[2013-01-03 16:22] jwirfs-brock opened #560 "In Chrome, map on Explore page has weird "swooping" behavior while zooming"
When using Chrome, I'm seeing weird behavior on the map view of the Explore page while zooming. The map appears to swoop/wobble, so that the center moves briefly and then returns back to its original location during the zoom.

I was able to reproduce this in Chrome on Windows and MacOS, but didn't see it in Firefox or IE.

[2013-01-04 16:46] ghing opened #561 "User should be able to hide recommended browser message"
Now that we have better support for Internet Explorer, we should allow users to hide the "Floodlight works best in a recent version of Firefox or Chrome. If you are using an older browser, we recommend updating to the latest version. You can find more information here." message with a "x" close icon.

[2013-01-04 17:03] ghing commented on #558
I looked into this a little bit and it seems like this is likely a timing issue.

The polyfill is loaded in the Django template for the story builder (`story_builder.html`) not a Backbone view.  Because there's less to initialize for the connected story builder, I bet that Modernizer.load() just hasn't finished by the time that `SectionEditView.applyPolyfills` is called.

I don't know if it's poss

[2013-01-04 23:32] #347 closed, assigned to nobody

[2013-01-07 13:38] ghing commented on #417
Closed as of a749946

[2013-01-07 13:38] #417 closed, assigned to ghing

[2013-01-07 13:46] ghing commented on #320
Re-closed by 78fc211, change is live on staging

[2013-01-07 13:46] #320 closed, assigned to nobody

[2013-01-07 13:48] ghing commented on #320
Assigning to @jwirfs-brock for final review.

[2013-01-07 17:26] ghing commented on #245
Closed as of ae739e6, live on staging, assigning to @jwirfs-brock for final review.

[2013-01-07 17:26] #245 closed, assigned to nobody

[2013-01-07 17:34] jwirfs-brock commented on #245
This looks good in both Chrome and Firefox.

[2013-01-07 17:42] ghing commented on #465
This was incorrectly closed by 8511042 (which should have been attributed to another issue), reopening.

[2013-01-07 17:50] #465 closed, assigned to nobody

[2013-01-07 19:06] jwirfs-brock commented on #433
Here is a synthesized and updated homepage redesign wireframe, based on the comments in this thread:
- Below the second horizontal line, we will have "Supporting Foundations" as it is on the current homepage
- The top slider will contain all featured items (stories, news, projects, etc.) in one slider. This cleans up the design and some of the confusion, too.
- @patternleaf suggested that the slid

[2013-01-07 21:24] bpawlak commented on #433
Even if we simply had a small bit of text that said "Story" or "Project" or whatever above the link:

![carousel](https://f.cloud.github.com/assets/2250519/48491/39c7bca4-5910-11e2-923b-760b59fbebb9.png)

And as to the Latest Stories... I think a small thumbnail image from the story reinforces the fact that we're encouraging visual storytelling and adds "life" to the page.  I agree that blurbs/exc

[2013-01-07 21:41] jwirfs-brock commented on #433
@bpawlak I like both of those suggestions. The only problem with the thumbnail is that the featured images for stories don't have standard dimensions. @ghing Any ideas about how to solve that?

[2013-01-07 22:33] ghing commented on #146
Closed as of b0cdc47, deployed to staging, assigning to @jwirfs-brock for final review.

[2013-01-07 22:33] #146 closed, assigned to nobody

[2013-01-08 15:23] ghing commented on #539
I'm going to close this as I didn't get any specific feedback for which events need to be tracked.  The builder code now supports tracking events through Google Analytics and there are a few instances where this is used like tracking the "Show Tour Again" button clicks and detecting if users access the builder via URL with a hashed story ID in the URL.

[2013-01-08 15:23] #539 closed, assigned to nobody

[2013-01-08 15:49] ghing commented on #520
@jwirfs-brock, did you ever get the sketch for this from Brigid?

[2013-01-08 17:48] ghing commented on #421
To replicate:
- Log into Twitter in your browser
- Visit a story detail page, e.g.: http://floodlightproject.org/stories/open-door-youth-gang-alternative-a-mile-high-unite/
- Click on the "Share This Story" icon
- Click on the Twitter icon

Desired result:

A popup window should be shown with the story title and either:
- A shortened version of the URL
- A message that the URL will be shortened

W

[2013-01-08 18:51] ghing commented on #421
"Floodlight" appears in the tweet text twice because it is in the actual HTML TITLE element twice.  It is prepended by the `story_detail.html` template and appended by the `base.html` template.  I think it's better to append, so the story title starts showing up in spaces where space is limited, so I'm going to remove it at the beginning. @jwirfs-brock, @tekhneco let me know if you have strong fee

[2013-01-08 19:24] ghing commented on #421
After removing the redundant "Floodlight | " from the beginning of the story detail page title, we now have approximately 106 characters to work with (140 - 20 for shortened URL - 13 for " | Floodlight" - 1 for space between title and URL) when Tweeting the story.

I took a quick look at the story title lengths and only 1 story has a title that is too long to fit in a Tweet: "Taking Action for the

[2013-01-08 19:24] #421 closed, assigned to ghing

[2013-01-08 19:26] jwirfs-brock commented on #421
I agree that the notification about the title length is important, but beyond the scope of this issue. I'll open an issue for it and it can be a "rainy day" item.

[2013-01-08 19:30] ghing commented on #449
@patternleaf, is there a style guide somewhere that lists all the colors used in the site, or do I just need to dig through the LESS?

[2013-01-08 19:41] jwirfs-brock opened #562 "Story Builder should issue a notification for long titles"
Anything over 106 characters will show up truncated in the auto-text that is generated when the story is shared via Twitter/AddThis.

We should issue a notification that alerts a user of this, and suggests that he/she write a title that is under this limit.

This is something that came out of the analysis of Issue #421.

[2013-01-08 20:04] ghing commented on #520
It looks like all non-text assets get wrapped in a `<figure>` tag that could be used to apply a border style.  We might want to add a class to this to make the CSS selectors a little more flexible.  If we wanted to add an additional wrapper element, the place to do it would either be in the `storybase_story.templatetags.story.container` function or in any of the `storybase_asset.models.Asset.rende

[2013-01-08 20:09] jwirfs-brock commented on #520
@ghing Here is the design treatment Brigid did for non-text elements (it's a downloadable PDF):

https://www.box.com/s/f7c5dp3hy7dzkxrpo79s

But I don't think the colors and drop-shadows fit with the site aesthetic, so we should go a different route (either asking Brigid to redo it, or using elements from the existing style guide and comps from Geoff Thomas).

[2013-01-08 20:21] patternleaf commented on #449
color definitions are all in variables.less.

[2013-01-08 20:24] ghing commented on #433
@jwirfs-brock - I was looking at how Cowbird handles images and it gave me two ideas for handling images in our layouts:
1. Accept that our images won't be fixed height and design layouts accordingly.  We decide that giving users more flexibility in which images they want to use and minimizing the amount of image editing required is more important than having a clean layout.  The fact that we're t

[2013-01-08 21:01] ghing commented on #520
Brigid's treatment inline:

I agree it's a bit too "heavy":

![Screenshot from 2013-01-08 14:52:14](https://f.cloud.github.com/assets/110420/51579/65bf692c-59d5-11e2-9671-9594aa35b6e8.png)

This is the closest thing I could find from the "everything" page that Geoff T. provided:

![Screenshot from 2013-01-08 14:49:08](https://f.cloud.github.com/assets/110420/51582/88001400-59d5-11e2-8af2-78b949c9f

[2013-01-08 21:02] ghing commented on #520
@jwirfs-brock, can you point me at examples of stories that really suffer from the assets not being visually identified somehow?

[2013-01-08 21:05] jwirfs-brock commented on #433
1. I like this idea a lot, especially for the explore page.

How hard would it be to mock this up for the explore page? (We could have a fixed image width, and then let the height be dictated by the aspect ratio, and the tiles would still fit, right?)

For the homepage, the horizontal alignment doesn't have any meaning (at least not as it is designed now). The information is stored in the vertical

[2013-01-08 21:07] jwirfs-brock commented on #520
I also like the minimalist aesthetic. Originally, I was just thinking a thin grey line or a light grey box.

[2013-01-08 21:08] jwirfs-brock commented on #487
I know we haven't assigned this to an iteration yet, but @ghing I was wondering if you'd looked at this at all. It's one of those seems that seemed minor at first, but the more I use the site the more annoying it gets.

[2013-01-08 21:13] jwirfs-brock commented on #520
This was a design critique that Brigid originally brought up. Here are some stories where I think the lack of a border makes the layout feel a bit off:

http://floodlightproject.org/stories/-14/
http://floodlightproject.org/stories/charting-a-new-course-in-sheridan/
http://floodlightproject.org/stories/officer-hollis-peace-memorial/

[2013-01-08 21:15] jwirfs-brock commented on #520
Here's one where Brigid added her own borders and created her own layers (a good example of a user hacking the template -- which I think is great):
http://floodlightproject.org/en/stories/building-peace-one-pole-at-a-time/

[2013-01-09 00:19] ghing opened #563 "Cache-related unit tests fail"
The following tests fail:  test_invalidate_points_cache_add, test_invalidate_points_cache_clear, test_invalidate_points_cache_remove (all in storybase_story.tests.StorySignalsTest).

They are failing both on my development system and in the Travis CI environment.

In both cases, the `django.core.cache.backends.locmem.LocMemCache` cache backend is being used.

This all worked ok on my development s

[2013-01-09 00:55] bpawlak commented on #433
Are we talking about the Explore page or just the 3 small thumbnails on the "latest stories" container on the home page?  Because if it's the latter, then the thumbnail is already going to be kind of small (which is ok)... I don't think it's worth the effort to expand/grow the thumbnail - it's just a visual reference.

[2013-01-09 13:52] ghing opened #564 "Tests fail on Travis CI due to Solr issues"
It looks like Solr isn't being upgraded to version 3.6 because the download link is failing:

From the Travis logs:

[code]

[2013-01-09 14:05] ghing commented on #563
The tests also fail on my Ubuntu 12.10 system when using the `django.core.cache.backends.memcached.MemcachedCache` cache backend.

[2013-01-09 14:55] #563 closed, assigned to nobody

[2013-01-09 15:10] ghing commented on #487
@jwirfs-brock I haven't looked at this yet.  From reading the description, I think it might be related to the IFRAMEd viewer's use of the History API (so that each section in the viewer has a unique URL) and this clobbering the state of the parent window's history.  I'll have to do some testing to see if this is actually what's going on.

[2013-01-09 15:23] ghing commented on #433
@bpawlak, the mouse-over scroll effect was just an idea for a way to make images fixed height but still making it possible for users to see the entire image in a way that is subtle.  The image wouldn't expand and grow (that would be visually noisy).  Instead, it would slowly scroll within the fixed-height frame.

I think before I mess around with that idea, I want to do some experiments with auto-

[2013-01-09 15:37] bpawlak commented on #433
Yeah, I saw that after I posted to github... I meant to go back and edit my comment but forgot!  FWIW, I think the auto-cropping is probably all that's really needed (esp. on the home page)

[2013-01-09 16:32] ghing commented on #433
I'm going to investigate automatic cropping strategies as a way of making the images for the featured items (upper right hand corner of proposed design) and thumbnails (lists in lower row of new design) can have a more consistent height.  I don't think this is blocking at all for you, @patternleaf.

I also think we should take this opportunity to make news items a content type that can be edited i

[2013-01-09 16:33] jwirfs-brock opened #565 "Pull-quotes should have styling as shown in design comps"
Pull-quotes in stories (created as Quotation assets in the Story Builder) should be styled as they are in the design comps: https://docs.google.com/file/d/0B1CQ7Qy70V50anZidU56Snlvbm8/edit
- Grey background
- Italicized text

[2013-01-09 16:36] jwirfs-brock opened #566 "When returning to edit a published story, tags (topic, place, organization, project) are cleared"
Here's what I've observed:
1. Create a story and add topic, place, organization or project tags
2. Publish story
3. Return to edit story
4. Observe that all of the tag fields are blank (and if I make other edits and save the story, it is no longer tagged as it was before)

[2013-01-09 22:21] patternleaf commented on #383
hey @jwirfs-brock , circling back around to this. i couldn't get the popup thing to work well. instead have implemented a  slide-down container a la iOS folders. please let me know if/when you want to check this out—i'll make sure it's deployed on deploy so you can take a look.

![Screenshot 1:9:13 3:19 PM](https://f.cloud.github.com/assets/73439/54928/db9b1b98-5aaa-11e2-9c6b-dfafe6b9ef91.png)

[2013-01-09 22:59] ghing commented on #520
Example of a subtle border around assets:

![asset_border_in_viewer](https://f.cloud.github.com/assets/110420/55038/48678aae-5ab0-11e2-87a9-d79efa75e9fd.png)

[2013-01-09 23:01] patternleaf commented on #433
@jwirfs-brock, for now i think the single issue is good. as the nature of the task becomes clearer, we can break things out if it seems appropriate.

when i get to this part, i'll check in to make sure i'm on the right page.

[2013-01-09 23:38] jwirfs-brock commented on #383
@patternleaf I have some time today to look at it. Is it at http://deploy.atlas.terrorware.com/en/build/? I'm not seeing it at the moment...

[2013-01-10 00:09] patternleaf commented on #383
@jwirfs-brock i just switched the instance back over and will leave it for a while tonight.

[2013-01-10 00:15] jwirfs-brock commented on #383
Can we have a symbol to the left of the the "find out more" link (a blue version of the chevron on the help age: http://floodlightproject.org/en/help/), so that it's clear to a user that it's a drop down, not a link that will take them away from this page?

Should we have the example links open in a new tab?

Other than that, I think it looks good.

[2013-01-10 00:35] ghing commented on #276
It looks like passing thumbnail options like this to `get_thumbail` produces the desired effect:

This crops from the center

[code]

This crops from the upper left hand corner

[code]

This crops from the center horizontally and from the top vertically (I think this is probably the best, but should do more testing)

[code]

The docs for this are at:

http://easy-thumbnails.readthedocs.org/en/late

[2013-01-10 00:48] ghing commented on #276
Examples of cropping strategies in the Explore page:

Keep original aspect ratio:

![scaled_width_original_height](https://f.cloud.github.com/assets/110420/55274/3afa9046-5abf-11e2-93ab-f01094587222.png)

Crop height to fixed value (note how "short" images don't have a different aspect ratio - they aren't cropped)

![scaled_width_cropped_height_240x240](https://f.cloud.github.com/assets/110420/552

[2013-01-10 14:50] ghing opened #567 "Admins should be able to update featured news items on the home page through the Django admin"
Currently, news items are manually added through the template.  Admins should be able to enter them manually through the Django admin.  This implements part of #433.

Based on the existing items, these are the fields that are probably needed:
- Title
- Body
- Image
- Author
- Creation date
- Last edited date

Should these be translatable?

[2013-01-10 16:00] jwirfs-brock commented on #567
Yes, the news items should be translatable. Would the translation be through the Django admin, or through Transifex?

[2013-01-10 16:03] ghing commented on #567
@jwirfs-brock

The translation would be through the Django admin.  Transifex is for things that are more permanently translated, like text in UI elements.  The Django admin is for things that are dynamic content.

Would only the title and body need to be translated or would you also want to specify different images for different languages?

[2013-01-10 16:06] jwirfs-brock commented on #567
Well, the past few news items have had text in the associated image. Based on that, we will want to have a translatable image.

[2013-01-10 16:53] ghing commented on #276
I did a quick experiment and had good results with CSS cropping using an absolutely positioned image, a fixed width and height on the container element (in this case an `A` element that was already in the markup) with `overflow:hidden`.  Note that the first story has a Flickr-hosted image that we can't crop on the server-side but that the CSS makes it appear cropped. @patternleaf, we could probabl

[2013-01-10 17:02] patternleaf commented on #383
ok, @jwirfs-brock i've implemented those two things and did a little cleanup in the code. going to close this.

[2013-01-10 17:02] #383 closed, assigned to nobody

[2013-01-10 17:13] ghing commented on #383
@patternleaf, I tried to take a look at this, but I think you had already reverted the deploy instance.  Did you test this in IE?  How would this work with more than 2 templates?

[2013-01-10 17:22] patternleaf commented on #383
@ghing ah, yeah, i'd switched the instance over to a different branch. it's now back on the 383 branch and i'll leave it up for a bit. seems to work fine in IE9. let me know when you've checked it out and if you have any suggestions/additions.

[2013-01-10 17:24] patternleaf commented on #383
also @ghing i was testing with 4 templates. should be good to go on any number so long as there are two templates per row.

[2013-01-10 17:29] ghing commented on #383
@patternleaf, Can you try testing with an odd number of templates?

Also, one issue I noticed is that if the user scrolls down to the last row of templates and clicks the "Find Out More" link, the info area slides down, but it's hidden "below the fold".  One solution would be to scroll down to the middle or bottom of the now-revealed element, but I don't know if that adds too much complexity.

[2013-01-10 17:52] ghing commented on #383
I would also recommend putting some kind of separator (a comma perhaps) between the example stories.

[2013-01-10 18:10] ghing commented on #567
@jwirfs-brock, for past news items, have you pulled in an image via a URL from another source (Flickr, Instagram, etc) or uploaded it.  I'm trying to decide how to implement the image.

The two options are:
1. Use the Asset abstraction used elsewhere.  This is useful in terms of having a consistent interface and letting you use arbitrary image sources (either uploads or URLs).  However, it would m

[2013-01-10 20:10] jwirfs-brock commented on #567
I think it's fine to just use an uploadable image field. In reality,
anything we are putting in a news item we'd be uploading anyway.

On Thu, Jan 10, 2013 at 11:10 AM, Geoffrey Hing notifications@github.comwrote:

[2013-01-11 15:41] ghing commented on #520
@jwirfs-brock Any update on whether the border is a keeper?

[2013-01-11 16:18] ghing commented on #276
Going with just CSS cropping for now.  Left a comment describing how to do cropping with easy_thumbnails if we need it.

[2013-01-11 16:18] #276 closed, assigned to ghing

[2013-01-11 17:37] jwirfs-brock commented on #520
Haven't heard back from Brigid yet... I'll give you an update later today.
On Jan 11, 2013 8:41 AM, "Geoffrey Hing" notifications@github.com wrote:

[2013-01-11 19:22] ghing opened #569 "Travis CI build fails because of slow requirements installation"
Error is:

[code]

It gets through the REQUIREMENTS install, and I don't know if the REQUIREMENTS-dev ones are needed, so I'm going to try just removing that from the build.

[2013-01-11 19:22] ghing commented on #564
I'm closing this because I think it's fixed.  I can't tell because the Travis build is currently failing for other response (see #569)

[2013-01-11 19:22] #564 closed, assigned to nobody

[2013-01-11 20:10] ghing commented on #433
@patternleaf, FYI, I'm removing the hard-coded news items from the homepage template as part of #567 just to think about any considerations I'm missing to show news.

[2013-01-11 20:32] #567 closed, assigned to ghing

[2013-01-12 16:48] ghing commented on #569
This is fixed, but still having problems with Solr.  Need to reopen #564.

[2013-01-12 16:48] #569 closed, assigned to ghing

[2013-01-12 16:51] ghing commented on #564
This is still an issue. Solr is getting installed now, but can't start due to a missing JDK.  The relevant error message is:

[code]

Also, some tests are failing because lxml's requirement of cssselect is not met.  At some point cssselect was broken out as a separate package.

[2013-01-13 15:43] ghing commented on #449
Here's  a quick list of the blues used in the contexts @patternleaf mentioned:
-  Titles in explore page tiles: `#03CCFE`, defined in explorer.less
- Links in body: `#20C6FD`, (`highlight-blue`), defined in variables.less
- Visited links in body: `#19A3D1` (`visited-blue`), defined in variables.less

FWIW, GitHub uses a pretty light blue for its links, which is (`#4183C4`) as does Twitter's Bootst

[2013-01-13 16:50] ghing commented on #449
Comparison of link colors: http://dabblet.com/gist/4525005

[2013-01-13 23:49] ghing commented on #449
It also appears that, in Chrome, the front-page links are matching the `a:visited` selector, even though I cleared my history/cache:

![Screenshot from 2013-01-13 17:47:37](https://f.cloud.github.com/assets/110420/63425/b7f1f5de-5ddb-11e2-98d7-4533a72a8439.png)

I'm not sure if this exacerbates the problem or not.

[2013-01-14 15:13] ghing commented on #449
I ran the different colors through the [Colour Contrast Check tool](http://www.snook.ca/technical/colour_contrast/colour.html) with these results (note that for AA compliance, text should have a ratio of at least 4.5:1. For AAA compliance, text should have a ratio of at least 7:1):
- Titles in explore page tiles: `#03CCFE`, defined in explorer.less:
  *\* Contrast ratio: 1.9:1
  *\* Fails WCAG 2 A

[2013-01-14 15:37] ghing commented on #449
I noticed that the blue colors in our styles differ somewhat from those in the original PSDs, though the original colors don't fare any better in terms of contrast.

Colors in the original PSD:
- Front-page blue headers: `#33ccff`, contrast ratio of 1.87:1
- Links, headers on explore page:  `#00ccff`, contrast ratio of 1.9:1

The blue in our styles also differs from that in the [style guide](https

[2013-01-14 16:13] ghing commented on #449
Here are how other colors in the style guide work out in terms of contrast ratio:
- Orange (`#F7931D`): 2.3:1
- Dark Gray (`#6B6B6B`): 5.33:1
- Brownish Orange from secondary pallet (`#D27027`): 3.45:1
- Redish Orange from secondary pallet (`#F26821`): 3.1:1

[2013-01-14 22:40] #520 closed, assigned to ghing

[2013-01-14 23:45] ghing commented on #449
@patternleaf, @jwirfs-brock, I made a quick-and-dirty demo of using the brownish orange and redish orange from the secondary pallet of the [style guide](https://docs.google.com/file/d/0B1CQ7Qy70V50NjktMExMamtXYWc/edit).

Brownish Orange (`#D27027`):
- [Homepage](http://dev.atlas.terrorware.com/?trystyle=brownish-orange)
- [Grow Your Skills](http://dev.atlas.terrorware.com/en/grow-your-skills/?trys

[2013-01-14 23:55] jwirfs-brock commented on #449
I think the reddish orange looks nicer. But it is pretty close to the other
orange we use for main links. Would it make sense to scrap the two
different link colors trope, and use the reddish orange for everything?

On Mon, Jan 14, 2013 at 4:45 PM, Geoffrey Hing notifications@github.comwrote:

[2013-01-15 02:49] ghing opened #570 "Travis CI tests fail because of Haystack API Changes."
As of [tonight](https://github.com/toastdriven/django-haystack/commit/041c480c8260dbe54feeeba52182f0788541d6b7), Haystack has dropped support for `RealTimeSearchIndex`, which we use.

Info about failing tests: https://travis-ci.org/PitonFoundation/atlas/builds/4153624

See http://django-haystack.readthedocs.org/en/latest/migration_from_1_to_2.html#removal-of-realtimesearchindex for migration instr

[2013-01-15 03:05] ghing commented on #570
Actually, this looks like it's also failing because of toastdriven/django-haystack#716

[2013-01-15 04:05] #570 closed, assigned to ghing

[2013-01-15 04:17] #171 closed, assigned to nobody

[2013-01-15 14:11] ghing opened #571 "Wiring of messages changes with django-notification 1.0"
Tests on Travis CI are failing because django-notification-1.0 (which must have recently been pushed to PyPi) has changed the way notifications are wired up.

Traceback:

[code]

[2013-01-15 15:18] ghing opened #572 "Geocoding tests failing"
Traceback:

[code]

[2013-01-15 15:36] ghing commented on #449
@jwirfs-brock, I think the problem with the colors is that they don't seem to have any kind of consistent semantic value. Currently, how is the function of an orange link different than a blue link?  How is the function of an orange button different than a blue button?  I think we need to resolve that before deciding to go with one color for all links.

I also agree that the redish-brown looks odd

[2013-01-15 15:47] ghing commented on #35
Right now I'm getting this error message when running the unit tests.  I still need to track down which tests are causing this, but it does not cause any tests to fail.

[code]

It does not cause any unit tests to break.  It's a result of the fixture expecting an admin user to exist to set ownership of the template stories and probably relatively easy to create the user prior to running the tests.

[2013-01-15 15:55] jwirfs-brock commented on #449
Yes, I agree that we need to figure out the semantic purpose of the colors. When we originally talked about this issue, that was the longer term solution, and we had decided to change the blue to the darker shade as a short-term fix until we figured it out.

If you think now is a good time to address the semantics of the color scheme, we can do that. This would be a good time to involve @bpawlak.

[2013-01-15 15:56] jwirfs-brock commented on #449
Personally, I'd rather have all the links be the same color. The one exception I can think of is story titles.

[2013-01-15 16:06] ghing commented on #35
After switching from PIL to Pillow, it appears that all unit tests pass.

[2013-01-15 16:09] patternleaf commented on #449
@ghing @jwirfs-brock i feel like having blue on the page provides a certain harmony of warm/cool that is lost when everything is warm. also, blue is pretty conventional visual language for "this is a link".

regarding semantic value, i could envision having the chrome/megamenu links, buttons, and widgets generally all be orange (referring to the orange in the logo), while any links in copy/content

[2013-01-15 16:09] bpawlak commented on #449
Consistency of link colors is always a good idea; and even if the titles are different, they should be consistently different.  I had referenced the WCAG link colors and contrast issues back when GT was creating the .psd files; it doesn't look like he made any changes...

[2013-01-15 16:17] jwirfs-brock commented on #449
I like the simplicity of @patternleaf's suggestion about having application-type links be orange and content-type links be blue.

@ghing were you able to find a blue that meets the contrast recommendations?

[2013-01-15 16:48] ghing commented on #449
@jwirfs-brock, I haven't yet found a blue that meets the contrast recommendations. I'll try to work on this today.

[2013-01-15 17:13] ghing commented on #35
I was able to get the development server up and running.

Note that with this upgrade, you have to run:

[code]

after upgrading the django-cms package.

[2013-01-15 18:47] patternleaf commented on #442
@PitonFoundation/developers, any objection to something along these lines?

![layout-chooser-1](https://f.cloud.github.com/assets/73439/68819/f9904536-5f43-11e2-9ac3-840c2ae5c13c.png)

[2013-01-15 19:12] jwirfs-brock commented on #442
@bpawlak My only concern is that it might get lost if it's on the right hand side. Other than that, I like it.

[2013-01-15 19:42] bpawlak commented on #442
Does it have any implications for the implied size limits of the title?

[2013-01-15 20:47] ghing commented on #449
Ok, here's a summary and links to preview some of the options, including 3 new blues:

| Color Value | Description | Example | Contrast Ratio | Meets WCAG 2 AA | Meets WCAG 2 AAA |
| --- | --- | --- | --- | --- | --- |
| `#D27027` | Brownish orange from style guide | [Homepage](http://dev.atlas.terrorware.com/?trystyle=brownish-orange), [Grow Your Skills](http://dev.atlas.terrorware.com/en/grow-yo

[2013-01-15 20:49] patternleaf commented on #442
@bpawlak A user might assume that the title must fit within the text box, but of course this is only a cosmetic change. When the user types past the end, the input will scroll to accommodate.

@jwirfs-brock By lost you mean that folks are likely not to notice it? Any suggestions? We could put layout on the left of the title input. Or, I could imagine that labeling both the title and the layout mig

[2013-01-15 20:59] jwirfs-brock commented on #442
@patternleaf Yes, I was concerned that people wouldn't see the layout selector. I can show it to a few people around Piton and see if they have any feedback.

I also agree that the title field, as it is now, is problematic. That should definitely be addressed in our Builder redesign at some point.

[2013-01-15 21:17] jwirfs-brock commented on #442
Would it make sense to have the drop-down menu itself a little narrower? I guess it's hard to tell until you see the items inside what the width needs to be.

No one yet has said that they would miss it, but then again, I've been showing it to people who are already familiar with Floodlight.

[2013-01-15 21:22] bpawlak commented on #442
Do the example layouts need to be so large?  Can't they be smaller icons?

[2013-01-15 21:31] patternleaf commented on #442
the icons could be smaller. also the width of the menu widget doesn't need to match the width of the drop-drown. however if it's too small i'd be more concerned that people would not realize it's there.

another thought below. use current icon instead of text, move it to the left. we could adorn the icon with a tooltip that says "Change Layout".

![layout-chooser-2](https://f.cloud.github.com/asse

[2013-01-16 00:17] jwirfs-brock commented on #449
I like #2F99F6 ("Close to the style guide blue but with better contrast"). Any other votes?

[2013-01-16 00:43] bpawlak commented on #449
That one is nice, but I also tried it with #2a88db (slightly darker than 2f99f6, but still same hue and saturation) and it's a little better.

[2013-01-16 14:01] ghing commented on #449
I added @bpawlak's suggestion (#2a88db) to the "decision matrix" above and I like it.  A good balance between the original color and being significantly higher contrast.