[2013-08-05 22:43] ghing opened #821 "Templates/CSS for widget layouts"

[2013-08-05 22:44] ghing opened #822 "Django view for updated widget"
This basically just populates the context for the template. I need to think about whether this should be one view or a separate one for each layout.

[2013-08-05 22:45] ghing opened #823 "Update embed widget JavaScript"

[2013-08-05 22:47] ghing opened #824 "Embed button"
Should be on story detail, project detail and organization detail pages

Also need to remove the embed code from the popup in the "Share" button

[2013-08-05 22:48] ghing opened #825 ""Cookbook" of different embed widget configurations"

[2013-08-06 14:24] ghing opened #826 "Horizontal line intersects page title during social registration flow"
![screenshot from 2013-08-06 09 21 51](https://f.cloud.github.com/assets/110420/917411/d6227c36-fea3-11e2-9762-962ff5d09dbc.png)

[2013-08-06 14:27] ghing opened #827 "Caught in a loop during Facebook signup"
@jwirfs-brock reports:

[2013-08-06 14:29] ghing commented on #827
I wasn't able to replicate this when creating a new Floodlight account and was able to register for Floodlight using Facebook. I was also able to log in to the account using Facebook.  I'll test and and see if the issue is with associating an existing account with Facebook via the "Sign up with Facebook" registration flow.

[2013-08-06 14:37] jwirfs-brock commented on #827
Note that I didn't have problems when I tried to associate my existing Floodlight account with my Facebook account. I only had problems when I tried to create a new Floodlight account with that Facebook account.

At that point, I had dissociated my existing Floodlight account with my Facebook account, but maybe it was still causing the problem?

[2013-08-06 14:42] ghing commented on #827
I confirmed that I was able to create an account through the non-social registration flow using the email address associated with my Facebook account. I was then able to log in using Facebook without problems.

Finally, I was even able to log out of my account and log in with Facebook by clicking the "Sign up with Facebook" button instead of the correct "Sign in with Facebook" button.

@jwirfs-bro

[2013-08-06 14:48] jwirfs-brock commented on #827
@ghing I was just doing this to try to get some screenshots from the Facebook sign up process.

No, the Facebook account actually has a different email address associated with it than the Floodlight account. My Floodlight account was created with jbrock@piton.org. The Facebook account is associated with jordanwb@gmail.com.

I'll try it with clearing my browser data.

[2013-08-06 15:02] #826 closed, assigned to ghing

[2013-08-06 15:24] jwirfs-brock commented on #827
@ghing Oops, I think I got that wrong. My Floodlight account is associated with the same email address as the Facebook account. Perhaps I'm running into a problem because of that.

Any ideas on how I can get some screenshots of the sign up via Facebook process, because I can't do it with my account?

[2013-08-06 15:37] ghing commented on #827
@jwirfs-brock, let me know what you need and I can take them for you

[2013-08-06 22:22] ghing opened #828 "Stuff breaks with django-uuidfield 0.4"
For now, keep the dependency at 0.2

It looks like when using Postgres, the field returns a UUID object instead of a string. I don't know if we have to worry about migrating from 0.2 to 0.4.

For us, it seems like the big issue is that a lot of our tests and serialization break.  Others also report having issues with serialization (see https://github.com/dcramer/django-uuidfield/issues/11)

[2013-08-06 22:43] ghing commented on #820
After chatting with @patternleaf, I think the best path for dealing with existing embeds is to automatically upgrade them to the new embed content.  We should keep the old view and styles somewhere and allow users to revert to it by specifying a `data-version` attribute, e.g.:

[code]

For specifying the different formats, we decided on the following:

Single story (stays the same):

[code]

List:

[2013-08-07 13:35] jwirfs-brock commented on #827
@ghing Thanks! Basically, I need a screen shot of every discrete step within the Facebook sign up process. For Twitter, there were two potential views you could see after clicking the "Sign up with Twitter" button (if you were already logged in to Twitter, and if you weren't), so I made sure to get both. Here's the sequence I got from the Twitter sign up process:

[1 - Not logged in screen]
![scre

[2013-08-07 15:40] patternleaf commented on #767
Hey @ghing—a case i ran into which we might want to fold in here is when i put in a valid URL to a non-existent file. that is, if we get a 404 or other bad response on a URL, it would be helpful to notify the user somehow. Right now, there's just a blank screen. What do you think?

[2013-08-07 16:09] ghing commented on #767
@patternleaf Yeah, I've thought of that before but couldn't figure out the best way to handle it that didn't feel overly expensive.  Do we send a separate request for each URL asset to check if the URL is reachable?  Do we do this client or server side?  I'd open this as a separate issue.

[2013-08-07 21:18] ghing commented on #827
I sent @jwirfs-brock the needed screenshots and haven't been able to replicate her issues. I'm going to close this.

[2013-08-07 21:51] ghing opened #829 "Can't replace dataset file in IE8, IE9"
To replicate:

Follow the test scenario "Replace a dataset file and update title" at https://raw.github.com/PitonFoundation/atlas/develop/apps/storybase_asset/features/asset_datasets.feature

[code]

Expected behavior:

See scenario above.

Observed behavior:

The edit dataset form remains visible.
No error message is shown.
The dataset file is not replaced.

JavaScript console shows:

[code]

Ass

[2013-08-07 22:00] ghing opened #830 "Can't switch to Publish workflow step in Internet Explorer 8"
To replicate:
1. Create a new story using the sandbox template
2. Enter a title, initiating auto save
3. Click on the "Publish/Share" workflow tab

Expected behavior:

Publish/share workflow step is shown

Observed behavior:

Blank content area is shown

JavaScript console shows:

[code]

though it seems like this error might be being shown on page load.

[2013-08-07 22:03] ghing commented on #830
Assigning to @jwirfs-brock for triage.

[2013-08-07 22:49] ghing opened #831 "Move old widget out of the way"
The old widget should be available by specifying a `data-version="0.1"` attribute.

[2013-08-08 12:43] jwirfs-brock commented on #830
@ghing What exactly do you mean by triage? This seems like a pretty major issue (users can't publish from IE8), so we should probably handle it quickly. I'll take a peek at our Google Analytics and see how many users are on IE8.

[2013-08-08 12:48] jwirfs-brock commented on #830
Looks like, since January 1, Internet Explorer has been the 4th most popular browser, accounting for 16% of all site visits. Of those, IE8 is the most popular, followed closely by IE9.

![screen shot 2013-08-08 at 8 46 39 am](https://f.cloud.github.com/assets/1020518/931262/cad6a5ec-0028-11e3-925b-9c359b8509bd.png)

![screen shot 2013-08-08 at 8 46 51 am](https://f.cloud.github.com/assets/1020518/

[2013-08-08 14:15] jwirfs-brock commented on #773
@ghing I just encountered this problem in a story that I'm building: http://floodlightproject.org/en/build/8d85eb573eaa4148a41f595fac4f84a1/

I can try doing a video screen capture to show you, if you think that will help. There were a lot of things that I did prior to encountering this bug (I've been working on the story off and on for the past few days), though, so it will be impossible to repli

[2013-08-08 14:18] jwirfs-brock commented on #773
I was using Firefox version 22.0 on a Mac when I encountered the bug. Then I logged in using Chrome and everything seems to be working fine.

[2013-08-08 15:04] jwirfs-brock commented on #773
JavaScript console when I launched the story in the builder:

[11:00:18.093] Error in parsing value for 'filter'.  Declaration dropped. @ http://floodlightproject.org/static/css/flexslider.css:48
[11:00:18.093] Unknown property 'zoom'.  Declaration dropped. @ http://floodlightproject.org/static/css/flexslider.css:48
[11:00:18.093] Error in parsing value for 'filter'.  Declaration dropped. @ http:/

[2013-08-08 15:07] jwirfs-brock opened #832 "Error uploading gif image in Story Builder"
When I tried to upload the attached gif images, I received an error message:

{"error_message": "Sorry, this request could not be processed. Please try again later."}

Here are the images that caused the error:

![fl_login9](https://f.cloud.github.com/assets/1020518/932206/21cfd00e-003c-11e3-9c6e-538e4c4d5c73.gif)
![fl_login13](https://f.cloud.github.com/assets/1020518/932208/252ac556-003c-11e3-8d

[2013-08-08 17:40] patternleaf commented on #767
@ghing Which is another thing: if there is server-side validation for a form input it would be nice to present it in the same way as client-side validation.

Anyway, in the case of URL-based images, it seems like we should be able to check for bad response codes client side without too much effort. I'll make a new issue.

[2013-08-08 17:44] patternleaf opened #833 "Improve user experience around URL-based assets"
We currently don't show an error if a user mistypes a URL for an image asset. If the URL is syntactically valid but does not resolve to a resource, the user is presented with a blank asset container and no explanation for what's going on.

Since the browser is requesting the image, we should be able to catch the case of a bad image load—for example with the [imagesloaded fail event](https://github

[2013-08-08 18:41] jwirfs-brock commented on #767
@ghing @patternleaf So far, I haven't noticed any errors in the testing. However, I did spot a few non-critical things:
- A user can upload any type of file as a data source file. I tried it with a jpeg and pdf, and both were "allowed." We don't have any instructional copy about the file types we support. Should we? Or should we just leave it completely open? If we do leave it open, I think we sho

[2013-08-08 19:41] ghing commented on #833
Note that the more likely, or at least intended case for URL-based assets is to link to an oEmbedable resource as opposed to a remote image file, though the latter is supported as well.

[2013-08-08 19:50] ghing opened #834 "Clarify supported/recommended dataset file types"
@jwirfs-brock says:

You're correct to observe that we don't do any filtering on file types for data sets.  I think you're right that we could use some clarifying help text, but I'd say we should leave the file type open for now until we get more of a sense of what users are uploading to decide which file types to formally support.

[2013-08-08 19:51] ghing opened #835 "Attribution and source url fields are redundant"
@jwirfs-brock reports:

[2013-08-08 19:52] ghing commented on #767
@jwirfs-brock, I opened these as separate issues:
- #835 - Attribution and source url fields are redundant
- #834 - Clarify supported/recommended dataset file types

[2013-08-08 19:55] ghing commented on #832
I believe the traceback for this looks something like this:

[code]

[2013-08-08 20:03] ghing commented on #832
This report sounds really similar to #726.  I don't understand why the fix for that doesn't work here.

[2013-08-08 21:13] ghing commented on #773
Looking at @jwirfs-brock's console log, there doesn't appear to be anything that points to a specific issue. Most of the messages relate to CSS declarations rather than JavaScript errors.

[2013-08-08 21:17] ghing commented on #773
@jwirfs-brock, I couldn't replicate the issue when I opened the story builder URL you mentioned earlier when using Firefox 22 on Ubuntu Linux 12.10.  Can you be more specific about when you can't scroll?  Can you not scroll when you initially open the story, or does the scrolling stop after clicking on a specific section or some other action?

[2013-08-08 21:39] jwirfs-brock commented on #773
@ghing Once the problem started happening, it persisted all the time. That is, I can't scroll to the later sections when I re-open the story. Upon opening the story, the scroll-bar looks normal, but once I start scrolling to the right, it stops before reaching the end (it cuts off at the second-to-last section and doesn't display the "Call to Action").
It doesn't seem to matter what section I'm on

[2013-08-08 21:46] jwirfs-brock commented on #832
When I re-saved the image file as a PNG, I was able to upload it successfully.

[2013-08-09 15:33] jwirfs-brock opened #836 "Users see "problem with activation" message when creating new account, even though activation is successful"
This is a user-reported bug that has happened several times, but does not happen persistently.
- User created a new account with an email address
- User got email with activation link
- User clicked on link in email and saw the following message in the browser:

- At this point, the user sent us an email
- I looked at the admin, and the user's account had been successfully activated
- User was suc

[2013-08-09 15:38] jwirfs-brock commented on #836
@ghing said:

[2013-08-09 15:38] jwirfs-brock commented on #836
Sure, I'll see what I can find out.

If it is a matter of opening the link multiple times, then shouldn't we have it just redirect to the login page on subsequent visits, instead of displaying an error message?

[2013-08-09 15:41] jwirfs-brock commented on #836
@ghing I confirmed that if you click on the activation link multiple times, you see the error message after the first time.

[2013-08-09 15:44] jwirfs-brock commented on #836
So, the solution seems to be that we need to change the text for that page/the error message. Do we still need to keep that error message at all? Have we observed instances where the activation hasn't worked?

Maybe we can just change the copy to say something like,

[2013-08-09 17:12] ghing commented on #836
I'll need to take a look at the code to see what other scenarios trigger the warning message. We could also add logging to try to collect more information about how often users are hitting this.

I think it's a good idea to have two separate error messages, one for a general, unexpected activation error and one for the case where the user has already activated their account.  I'll have to look at

[2013-08-09 17:26] jwirfs-brock commented on #836
Totally agree that having two separate messages would be ideal, if that's doable.

[2013-08-09 18:20] ghing commented on #773
Today I did some screen sharing with @jwirfs-brock and found some weirdness.

We confirmed that her issue persists with Firefox 23.

I copied the story over to both the development and staging environments. Scrolling worked on development and staging but not on production, even after confirming that Jordan's cache was cleared. All instances were running the same version of the software (3d7dcec6ad

[2013-08-09 20:58] ghing opened #837 "Featured image pills broken in IE8"
The pills just show up as text instead of links.

Screenshot:

![screenshot from 2013-08-09 15 48 33](https://f.cloud.github.com/assets/110420/940840/55c4c7ca-0136-11e3-9289-311182e4f5b9.png)

Markup:

![screenshot from 2013-08-09 15 58 17](https://f.cloud.github.com/assets/110420/940845/72365b94-0136-11e3-9846-a98d9310d1e3.png)

[2013-08-09 21:03] #830 closed, assigned to nobody

[2013-08-09 21:21] ghing commented on #832
The images @jwirfs-brock provided that caused this issue were using the indexed color mode.  I tried converting to RGB and confirmed that the problem persisted.

I tried to replicate the issue on my notebook and the image upload (using the original image) worked fine.  I thought it might be because my laptop is using Pillow (1.7.8) while dev is using PIL (1.1.7), but production is using Pillow (1.

[2013-08-09 22:51] ghing commented on #832
I found a discrepancy between the different environments. The local version has django-filer==0.9.4a1.dev1, dev has django-filer==0.9.3, production has django-filer==0.9.2a1.dev1. Upgrading the version on dev to django-filer==0.9.4 seemed to fix the issue.

[2013-08-10 02:34] ghing commented on #832
~~I tried upgrading django-filer to 0.9.4 on staging and the issue persisted.~~

**Update:** I thought I had upgraded, django-filer to 0.9.4, but this wasn't the case because of the existence of the django-filer 0.9.2 build directory and the behavior [described here](http://stackoverflow.com/questions/14617136/why-is-pip-installing-an-old-version-of-my-package).

I had to remove the build director

[2013-08-10 03:14] ghing commented on #832
I think the relevant upstream issue is stefanfoulis/django-filer/#280

[2013-08-10 18:28] ghing commented on #832
Upgraded django-filer to 0.9.4 on production and confirmed that I could upload the GIF file provided by @jwirfs-brock

[2013-08-10 18:28] #832 closed, assigned to ghing

[2013-08-11 23:38] #580 closed, assigned to nobody

[2013-08-11 23:38] #811 closed, assigned to nobody

[2013-08-11 23:59] #507 closed, assigned to ghing

[2013-08-12 14:33] ghing commented on #786
Adding to "Critical Bugs" milestone as we should support django-registration 1.0 before updating our customizations to close #836.

[2013-08-12 14:33] #827 closed, assigned to nobody

[2013-08-12 15:06] #837 closed, assigned to ghing

[2013-08-12 16:09] ghing commented on #829
This one is a little bit weird.  It looks like the "Access is denied" error is actually due to the [IFRAME content being replaced with a local file due to an error being returned by the server](http://stackoverflow.com/a/151404/386210).  Looking at the Django Development Server request logs, I see an error like this:

[code]

So it looks like the issue is server-side rather than client side.  I be

[2013-08-12 16:46] tekhneco opened #838 "Storify embed lacks auto-size dimensions for story viewer"
The Storify-generated script embed does not indicate height or width dimensions.

[code]

When the script initially loads in the story viewer as a *modal window*, the embedded widget momentarily sizes correctly but then suddenly adjusts to a very narrow and not so-readable width.

Same behavior occurs when story is viewed in its *own browser tab* too.

See example: http://floodlightproject.org/en/

[2013-08-12 16:47] patternleaf commented on #773
@ghing Is there a way to copy the story exhibiting the problem over to the dev2 instance?

[2013-08-12 16:55] ghing commented on #773
@patternleaf, yup.  I can try to do that later today, or tomorrow morning.  Note that the weird thing is that the issue appears and doesn't appear with the same codebases (and very similar environments).

[2013-08-12 17:03] patternleaf commented on #773
@ghing Yeah. I tried to repro by hand (just doing story-building-type things) on that commit on dev2 and couldn't. I should say that I _have_ occasionally seen weirdness of one sort or another with the section scroller.

Re: strategies for debugging. If I can't repro on dev2, and it persists on production, some surgical instrumenting of the scrolling code _on production_ would be my next impulse.

[2013-08-12 17:05] patternleaf commented on #773
This, for example:

![screenshot 8 12 13 11 04 am-2](https://f.cloud.github.com/assets/73439/948851/481fd0d2-0371-11e3-9812-ecf81ca02694.jpeg)

Is there a bug logged for this already?

[2013-08-12 18:12] #829 closed, assigned to nobody

[2013-08-12 23:07] ghing commented on #773
@patternleaf, Re: the [weirdness you took a screen shot of](https://github.com/pitonfoundation/atlas/issues/773#issuecomment-22508554), I've seen this momentarily, when the section list re-renders, but never permanently.  As far as I know there's not an issue open for it.

[2013-08-13 01:12] patternleaf commented on #562
If anyone would like to review and provide feedback, 51c6095 should do what we want here. It's currently up on http://dev2.floodlightproject.org

/cc @ghing @bpawlak @jwirfs-brock

[2013-08-13 01:49] bpawlak commented on #562
Some notes:

1) I noticed that there are 3 different weights/colors of font used for the prompts:

![image](https://f.cloud.github.com/assets/2250519/951978/9e6324d4-03b8-11e3-9959-3223581df32d.png)

2) Is there a way to apply a negative top margin on the character counters so that when a user puts focus on the Title container, the elements don't slide down?

3) I see where we're going with the "S

[2013-08-13 02:49] ghing commented on #562
+1 for @bpawlak's suggestion 3.

I wonder if we take this approach, if it would also help to  have a color change to a "warning" color at 80% or 90% (or some other configurable percentage) of the character limit.

[2013-08-13 03:06] bpawlak commented on #562
Minor concern there is that the color change seems more gradual and therefore not as noticeable when it fires...

[2013-08-13 13:48] ghing commented on #562
@bpawlak That makes sense. The character count alter is a common enough idiom that users should "get it" even with a one step color change.

[2013-08-13 14:30] wendynorris commented on #838
Came across this post which seems to point to creating custom CSS for Storify to control size and other style issues.

http://jeffsonderman.com/2011/01/how-to-customize-the-appearance-of-storify-on-your-site/

[2013-08-13 20:30] patternleaf commented on #562
@bpawlak

The different weight of the title makes sense to me. Yes/no? I'll try to reconcile color difference. Which browser were you using? The difference doesn't seem so stark in Chrome for Mac.

OK.

OK.

Re: colors. My only thought is that red is generally "error, stop, people are dying!" whereas this is "you might want to reconsider". I might expect the red to correspond with my having broken

[2013-08-13 20:35] bpawlak commented on #562
I get that the placeholder text matches the resulting font style of the actual text, but I guess I'm questioning a bit why we are using different weights/sizes in the first place...

As for colors, I agree.  Red usually means error.  Common conventions that I've seen have been red = error, yellow = warning, green = success, blue = informational

[2013-08-13 20:41] patternleaf commented on #562
Yeah. We don't have a lot of consistency around this stuff. I'm happy to lose the weight.

OK.

[2013-08-13 20:49] patternleaf commented on #562
@ghing @bpawlak @jwirfs-brock @tekhneco

In order to use some newer API on our tooltip library [tooltipster](http://calebjacob.com/tooltipster), I updated to the latest version and its default theme is slightly different. I think it's actually a little more legible. Is everyone on board with this new theme, or @ghing is there another reason not to upgrade?

Note that the tooltip is actually opaque

[2013-08-13 20:53] wendynorris commented on #562
Looks good to me.

**
_wendy norris http://about.me/wendynorris_
 ceo + founder :: tekhne media, inc
a digital information and media collective
720 281 9378 :: mobile

*\* http://about.me/wendynorris
*
*

On Tue, Aug 13, 2013 at 2:49 PM, Eric Miller notifications@github.comwrote:

[2013-08-13 21:05] ghing commented on #562
@patternleaf, if I recall, I had tried to upgrade tooltipster in the past and ran into some errors, so I scrapped it. We use tooltipster a lot, so I'm a little reluctant to upgrade the version without having a plan to measure its potential impact.  As for the asthetics, I'm ok with the new ones.

What are your thoughts on the impact of upgrading the tooltipster version? At the very least we should

[2013-08-13 21:05] jwirfs-brock commented on #562
I like it, too.

[2013-08-13 21:19] patternleaf commented on #562
@ghing Hm, bummer. So far this version (2.1.4) is working in IE8 though I haven't done much testing. On the doc page, there's a mention of behavior in IE9 and IE8, which implies some compatibility.

There were three pages that included tooltipster: builder, explorer, and account. Do recall the nature of the failures? Was it obvious or subtle?

[2013-08-13 21:34] ghing commented on #562
@patternleaf I don't remember the nature of the failures. All I found was [this comment](https://github.com/PitonFoundation/atlas/issues/548#issuecomment-16141509) that says:

I'm all for trying to stay up-to-date with recent stable library versions, especially when the APIs let us do things we want to do.  We could do an audit of how we use the JavaScript-generated tooltips and write some tests (

[2013-08-13 22:56] ghing commented on #836
@jwirfs-brock I took a look at the registration code and it would take a major reworking of the registration code to be able to differentiate between the case where a user enters an invalid activation code and where the user has simply clicked on the link more than once.  I suggest just updating the message to suggest to users that they may have already completed the activation.  We use similar co

[2013-08-13 23:29] jwirfs-brock commented on #836
@ghing Ok, here's new copy, as code (I think I formatted it correctly...) and as text. Does this seem to cover our bases? Any suggestions on the copy?

[code]

**Oops, something unexpected happened with your account activation.**

Either you clicked on the activation link more than once, or there's an error with the link.

First, try [logging in here](http://floodlightproject.org/en/accounts/login

[2013-08-14 21:07] patternleaf commented on #562
OK, so 1d13177 has the above refinements and is running on dev2 at the moment.

@ghing, this has the upgraded tooltipster in it. In my testing it seems ok in Chrome, Safari, Firefox, and IE8. However if you think it's premature to upgrade, I can take it out.

@bpawlak, the colors in the rich text editor are still slightly different—going to require a little more investigation to match that.

[2013-08-15 20:12] ghing commented on #836
@jwirfs-brock, I updated the copy again by adding a shorter top-level header, more comprehensively describing the likely causes of the problem, and making them a bulleted list for clarity. You can see the result in the screenshot below:

![screenshot from 2013-08-15 15 35 51](https://f.cloud.github.com/assets/110420/971593/651eb5ce-05ea-11e3-9ae8-04d6d9a3046a.png)

[2013-08-16 15:53] jwirfs-brock commented on #786
On the test "User provides passwords that don't match," the invalid password message appears above each password field. It only needs to show up once, above the first password field.

Screen shot:
![screen shot 2013-08-16 at 11 52 08 am](https://f.cloud.github.com/assets/1020518/976385/f7adaaa2-068b-11e3-9f4c-86b758e1013a.png)

[2013-08-16 16:03] jwirfs-brock commented on #786
For the test, "User provides passwords that don't match" the error message appears above the email address field. This is inconsistent with the password length message, which appeared above the password field.

I suggest displaying this message above the password field, too.

Screenshot of what it looks like now:
![screen shot 2013-08-16 at 12 01 28 pm](https://f.cloud.github.com/assets/1020518/97

[2013-08-16 16:14] jwirfs-brock commented on #836
@ghing I think the copy still needs a bit of work.

I don't like the "Account activation failed" header, because in every case I've heard reported from a user, the activation _didn't_ fail -- their account _has_ been activated. They just aren't getting directed to the log in page. Saying, "Account activation failed" immediately sends them a message that Floodlight is broken/not working. Or, they f

[2013-08-16 16:47] ghing commented on #836
@jwirfs-brock, I agree that the word "failed" is problematic, let's try to think of something a little less scary. What about this copy that puts actions to take first and explanations second.

# Account Activation

## Oops, something unexpected happened with your account activation

Try these steps:
- Try logging in with your email address and password. You may have already activated your account

[2013-08-16 18:05] jwirfs-brock opened #840 "Update copy on "My Stories" page for empty story list"
Right now, when users who haven't created any stories yet go to the "My Stories" list, they see the message:

Let's update the copy to:

[2013-08-16 18:17] ghing commented on #836
Chatted with @jwirfs-brock and we decided on this solution:

[2013-08-16 20:09] #840 closed, assigned to ghing

[2013-08-16 21:34] ghing opened #841 "Save button tooltip message doesn't update on save"
To replicate:

Open a story in the builder
Click the "Save" button
Move your mouse off of the save button
Hover over "Save" button

Expected behavior

Tooltipster tooltip reads "Last saved just now"
Browser tooltip does not appear

Observed behavior:

Tooltipster tooltip reads "Click to save your story"
Browser tooltip reads "Last saved just now"

This behavior started appearing after the upgrade

[2013-08-16 22:22] #841 closed, assigned to ghing

[2013-08-18 21:34] patternleaf commented on #773
I ran into a _possibly_ related problem. I'll try to find precisely reproducible steps but there is an actual JS error which may point to a common issue.

In  FF 23.0 I created a new story, added enough sections to fill the section slider area, then started moving sections around. Eventually scrolling stopped working altogether with the following JS error showing up:

[code]

This was on be4e584b,

[2013-08-18 22:18] patternleaf opened #842 "Improve user experience around editing/syncing sections and section collections."
While editing builder sections, it can take a while for server-client sync to settle down. Particularly when moving sections around, it looks like there's an http request sent for every section. In a story with several sections and following a few moves, this can add up to quite a bit—as much as 10 seconds or so. Additional edits during that time can be temporarily reverted as earlier states are s

[2013-08-18 22:38] patternleaf opened #843 "Possible for section title in section list and "real" section title to get out of synch"
Seen this while generally trying to break synchronization in section bar. Seems to be minimally reproducible in this way:

1. Start a new Sandbox story in builder.
2. Give it a title so that you can create a new movable section.
3. Create a section. Name the first section "section 1" and the second one "section 2".
4. Make sure section 2 is "active" so its inspector is visible.
5. Drag section 2 t

[2013-08-19 15:13] ghing commented on #773
@patternleaf, good catch, but I don't think this is the cause of this particular issue. I looked at the console dump of the user who originally reported the issue and watched Jordan's console in real-time when she replicated the issue and didn't see the error message you found, or any other error for that matter.

At least what I observed with Jordan is that scrolling is broken right away, without

[2013-08-19 15:25] ghing commented on #842
@patternleaf, I think that I wrote a lot of the views to be overly pessimistic.  That is, they update when the model syncs (i.e. gets a response from the server) rather than when the user updates the model. This is definitely something that we should clean up, maybe after we finish with the widget stuff.  I feel like the UI should trust the local state and just inform the user when the changes can

[2013-08-20 15:15] patternleaf commented on #842
@ghing Understood. I think it makes a lot of sense to slave view state to server state—that's probably how I would do it initially, too. The more I think about it, the more it seems to me like a cache hierarchy-like scheme might give us the best of all worlds: in-memory model, fine-grained local storage saves for recovery in case of error (could also allow for using builder while offline?), and pe

[2013-08-20 19:47] jwirfs-brock opened #844 "Only a few lines of text is visible at a time in editor making text editing difficult within the Story Builder"
Here's some feedback from user Matt Gray:

I have also had similar frustrations while editing text. Notice that this is an issue even in stories that aren't text heavy, because the text box is so small.

[2013-08-20 19:50] jwirfs-brock opened #845 "Users want to put multiple images in a single container, are using a "grid" layout that they edit offsite"
Here's feedback from user Matt Gray:

Examples of stories that use this method are at: http://floodlightproject.org/en/explore/?organizations=b0c203d150f54a369c6c17b8887843c7

[2013-08-20 19:50] jwirfs-brock commented on #845
@bpawlak said:

[2013-08-20 22:14] #831 closed, assigned to ghing

[2013-08-20 23:57] bpawlak commented on #844
This is probably related to the fact that while we _appear_ to have a WYSIWYG editor, we don't _really_ have one.  Wonder if there's some way to make the editor both WYSIWYG and responsive (in terms of font size) so that if a user resizes the text container (the future version of the builder) or types in so much text, it doesn't all fit (the current version of the builder), we can dynamically size

[2013-08-21 02:01] ghing commented on #844
With text, do we want to scale/constrain text to fit a container, or grow the container (and editor) to the text content?

To me, the solution seems to be to allow the editor area and the container to grow as the user adds text.  At the very least this could be an easy fix we could incorporate right now.

[2013-08-21 02:45] bpawlak commented on #844
Probably really depends on final presentation. If we're going for more of a slideshow presentation of the story, then scale the text to fit the container (might want to set a minimum font size). If we're allowing vertical scrolling on each page, then perhaps scaling the container might be better.

[2013-08-21 13:37] ghing commented on #844
The average length of all published text assets is 916 characters.  That might be useful for optimizing our experience for the most common case.

[2013-08-21 13:44] ghing commented on #844
I updated the title from "Text editing within Story Builder is difficult" to make it easier to revisit and prioritize this issue in the future.  Please update further if anyone has ideas for summarizing the issue more clearly.

Also, the user mentioned copying from word docs.  Were they making Floodlight stories out of existing content or just writing text in Word for some other reason? I'd be int

[2013-08-21 14:45] jwirfs-brock commented on #844
@ghing They were writing original text content for Floodlight. I think this is pretty common behavior. I do this as well (whether I am writing content for Floodlight or for any other blogging platform, actually). I tend to write and edit my text in Word first (or sometimes Google Docs), because that's an easier environment to work in, I can work offline, and I can save drafts locally. A lot of peo

[2013-08-21 14:55] jwirfs-brock commented on #844
Another thought is that our text asset has a lot of unnecessary space/information at the top. Here's the screenshot:
![screen shot 2013-08-21 at 7 52 15 am](https://f.cloud.github.com/assets/1020518/1001761/6a2672c4-0a71-11e3-8d45-fc68b98713d7.png)
Do we really need the "Add text" and "body" labels at the top? This makes it less WYSIWIG-ish and takes up space. I think, once the user clicks on the

[2013-08-21 14:55] jwirfs-brock commented on #844
As for scaling the text versus expanding the text box as a user adds more text, I prefer the latter.

[2013-08-21 15:06] ghing commented on #844
Also note that the comment form right here in GitHub exhibits an auto-growing behavior that I think works well.  I also use GitHub all the time, so I might just be used to it.

[2013-08-21 15:07] ghing commented on #844
@jwirfs-brock, do we need the "Add <asset-type>" label for any of the assets anymore?

[2013-08-21 15:08] #823 closed, assigned to nobody

[2013-08-21 15:09] #822 closed, assigned to ghing

[2013-08-21 15:17] ghing commented on #820
As of 5327f5ede9930edfbe0ab8817946e4f7b857504a, the syntax looks like this:

**Single story**

[code]

**Story + Project List**

[code]

**Project Story List**

[code]

[2013-08-21 15:18] #820 closed, assigned to ghing

[2013-08-21 15:19] jwirfs-brock commented on #844
@ghing Probably not. Once you've clicked on a particular asset, you don't need to be reminded of what it is.

We may be able to do something cool like using the icons for the assets as a watermark or something, but that's probably not necessary.

[2013-08-21 15:19] #786 closed, assigned to ghing

[2013-08-21 15:19] #836 closed, assigned to nobody

[2013-08-21 15:20] #562 closed, assigned to nobody

[2013-08-21 15:20] #767 closed, assigned to nobody

[2013-08-21 15:22] jwirfs-brock opened #846 "reclaim vertical space in asset create/edit views"
Here's what the current text asset looks on the edit screen:
![screen shot 2013-08-21 at 7 52 15 am](https://f.cloud.github.com/assets/1020518/1002008/5d30abf8-0a75-11e3-870a-42ae08cf5cc2.png)
We don't need the "Add Text" or "Body" labels anymore. Similar, for the other assets, we don't need, "Add Chart," "Add Image," etc. at the top.

[2013-08-21 15:23] jwirfs-brock commented on #844
@ghing I just opened this as a separate issue: https://github.com/PitonFoundation/atlas/issues/846

[2013-08-21 15:34] ghing commented on #641
@jwirfs-brock, my impression is that this issue is completed, so I'm closing.  Please let me know if you find otherwise.

[2013-08-21 15:34] #641 closed, assigned to nobody

[2013-08-21 15:40] patternleaf commented on #844
FWIW, I think the Add/Edit labels are useful and appropriate—I think maintaining context is good in this case. Context could be maintained in some other, less space-intensive way. Also, they're new (or rather their content is new) as of #767.

[2013-08-21 15:41] jwirfs-brock opened #847 "Unsaved asset data lost when asset view is re-rendered"
Here's the workflow:
1. In a side-by-side layout, I added a text asset on the left container.
2. I typed in some text, but didn't hit save.
3. On the right container, I also added a text asset.
4. I typed in some text and _did_ hit save.
5. When I did, I first see this in the left container:
![screen shot 2013-08-21 at 8 27 18 am](https://f.cloud.github.com/assets/1020518/1002096/fbf134e6-0a76-11e

[2013-08-21 15:43] patternleaf commented on #846
As [I noted in the other issue](https://github.com/PitonFoundation/atlas/issues/844#issuecomment-23026494), these are new as of #767. And I think that having floating form fields without some context, label, breadcrumbs, or indication of what will happen when you submit the form is bad UI. If I have to stop what I'm doing and come back, I shouldn't have to cancel out to figure out where I was.

[2013-08-21 15:44] patternleaf commented on #846
(That said, I'm not sure what the "body" label is for here.)

[2013-08-21 15:45] jwirfs-brock commented on #846
@patternleaf That's a good point. Do you have ideas about other less space intensive ways to indicate the asset type?

The idea I had was a watermark. What else might we do?

[2013-08-21 15:51] patternleaf commented on #846
@jwirfs-brock Yeah—do you mean the icons you click on to select an asset type? With that plus a smaller font we should be able to reclaim a lot of that space.

[2013-08-21 16:08] jwirfs-brock commented on #846
@patternleaf Yup, that's exactly what I was thinking.

[2013-08-21 16:13] ghing commented on #847
@jwirfs-brock I think we can actually do auto-save of text assets. It wasn't implemented in the first place because, to me, it doesn't make sense for other asset types and the asset creation/editing was made to standardize across the asset types. I do feel like having auto save for text assets makes sense.  If you'd like this, can you open the request as a separate issue since the issues you're de

[2013-08-21 16:17] ghing commented on #846
@patternleaf, the "Body" label is just the name of the field on the Django/Backbone models.  It's shown by the default form/view implementation.  In the case of the text asset, we should just hide it.

[2013-08-21 16:24] ghing commented on #846
Perhaps we should retitle this issue something like "reclaim vertical space in asset create/edit views"

[2013-08-21 16:29] jwirfs-brock opened #848 "Text assets should have auto-save feature"
This is related to issue #847.

[2013-08-21 16:40] jwirfs-brock commented on #846
@ghing I like that. Title has been updated...

[2013-08-21 16:42] patternleaf commented on #838
Got some CSS from Wendy for this—assigning to myself.

[2013-08-21 17:51] patternleaf commented on #838
@tekhneco This is going to take a bit more work than just adding CSS to our stylesheets. Perhaps storify widgets were implemented differently before but I don't think the solution on the link you posted will work with the current implementation. Currently storify embeds are iframed documents. Parent document CSS won't apply to the contents of an child iframe document, and also CSS is subject to th

[2013-08-21 18:04] wendynorris commented on #838
Well ... rats. Was hoping this would be easier.

Let's go with the ugly fix until we can devote the time to a longer term,
broader widget behavior solution. There are some publishing projects that
are on hold until the Storify width embed is resolved, even temporarily.

How much time will this take to implement?

**
_wendy norris http://about.me/wendynorris_
ceo + founder :: tekhne media, inc
a di

[2013-08-21 19:30] ghing commented on #838
@patternleaf I'd like to see your quick and dirty fix and then see if there's a way we can standardize the way we detect certain types of embeds and apply workarounds.  That seems like a middle ground between reworking the embed rendering to cover all cases and haphazardly injecting workarounds.

[2013-08-21 19:58] ghing commented on #847
Updated title from "Unsaved text in text asset gets lost when user creates a new asset, saves" to "Unsaved asset data lost when asset view is re-rendered" to better reflect the root cause of this issue.

[2013-08-21 21:11] ghing commented on #847
The underlying cause of this issue is due to the behavior of `SectionEditView`.  When a section's `assets` collection syncs, the view's `renderAssetViews()` method is called and the asset edit view's `render()` method is called.

Inside `SectionAssetEditView.render()`, the rich text editor is reinitialized, which is likely what causes the editor to disappear.

I believe the solution is to track wh

[2013-08-21 22:09] patternleaf commented on #838
@ghing Simple fix is to include style rules targeting the embed in the asset content view—asset_content.html. That's the view that is found at /assets/&lt;id>/content and is loaded as the src in our sandbox iframes. For this—the quick and dirty version—it's just a style that happens to match the embed container:

asset_content.html:

[code]

This works because the storify embed comes wrapped in a

[2013-08-21 22:35] ghing commented on #838
@patternleaf Can you test your approach and if it works, we can figure out a way to generalize it?

Off the top of my head, I'd say the solution might be to add embed type detection to the HtmlAsset model class and then add methods that dynamically add CSS/JavaScript (either inline or through a link) to the view context.  Maybe the way to do this would be through template tags that have a signatur

[2013-08-22 14:32] ghing commented on #847
Also, we could just not have `SectionEditView` re-render all its sub-views when the `assets` collection syncs and instead only have the changed subview re-render.  I need to figure out the reason for doing that in the first place.

[2013-08-22 14:35] patternleaf commented on #838
@ghing That would be fine, though at least for style-based fixups I kind of feel like it's semantically nicer to have a single stylesheet with all known fixes and then render an extra class on the body of the content view to select the right fixes. So in the view we'd have:

[code]

For a storify embed this would render to, say:

[code]

and in the fixup stylesheet:

[code]

Also we wouldn't have

[2013-08-22 15:05] ghing commented on #838
@patternleaf, I'm definitely on-board for assigning a class name for each embed.  Let's make sure it has a clear namespace, e.g. `storybase-embed-storify` as assigning body classes often makes it confusing as to which piece of code is creating the classes.

As for monolithic fix stylesheets and JavaScript, I think that's fine, but we should just try to make the files really cleanly organized and d

[2013-08-22 15:18] patternleaf commented on #838
Ah, I see. I usually just err on the side of monolithic files since they can be downloaded once and cached client-side.

OK, well as a short-term/half-way measure, to close this issue quickly, how about this:
1. Add link to {{ STATIC_URL }}css/foreign-embeds.css in asset_content.html
2. Put the storify fix in foreign-embeds.css.
3. Open a new issue for implementing the rest.

Open to other names f

[2013-08-22 15:33] bpawlak commented on #844
Another plug-in that might come into play at some point: http://simplefocus.com/flowtype/

[2013-08-22 23:32] ghing commented on #821
As of ab1ffdc5a842f93c6ebca8f1d41a040704a75569, there's also a custom error template for broken widgets, `storybase_story/widget_404.html` that should be implemented.  This gets displayed if someone puts a broken slug in the widget, e.g. "http://floodlightproject.org/stories/BAD_SLUG/" in the embed code.  There's not a whole lot we can do about totally mangled URLs, e.g. "http://fudlitprkc.org/wtf

[2013-08-26 13:34] ghing commented on #838
That strategy sounds fine. Just be sure to document the stylesheet file abundantly and include TODO: comments describing the path to a more robust solution.

For naming the file, `foreign-embeds.css` is fine. I also like `foreign-embed-fix.css`

We should definitely use LESS for this.

In this case, I think it's fine to include it in the main stylesheet (but via a LESS include) since they're loadi

[2013-08-26 22:03] ghing commented on #741
@jwirfs-brock, I noticed that in [the wireframe](https://github.com/pitonfoundation/atlas/issues/741#issuecomment-21648192) for the single story view, there is a link at the bottom to the project or organization for the story.  For a list of stories, the behavior of this link is clear. It should just link to the item's page.  However, for a single story, the desired behavior is less clear.  The li

[2013-08-26 22:26] jwirfs-brock commented on #741
@ghing I think it makes sense to list all organizations and projects the story is in (if there are any), similar to how a story's affiliations are listed on the story detail page.

[2013-08-26 22:49] ghing commented on #741
@jwirfs-brock, Ok.  What would the microcopy for that look like?

Were you thinking something like this?

_View all stories for Project1, Project2, Organization1_

[2013-08-26 22:56] jwirfs-brock commented on #741
@ghing Yeah, I like that. We might want to test it with some of the stories affiliated with longer project and organization names (like the [DPS ones](http://floodlightproject.org/en/stories/americorps-attendance/)) to make sure the formatting looks ok.

[2013-08-27 01:03] bpawlak commented on #741
I thought that the embed widget would only have stories from a single project or a single organization?  When would we have "View all stories for Project1, Project2, Organization1, etc.?"

[2013-08-27 01:16] jwirfs-brock commented on #741
@bpawlak It's not that common, but some stories are in multiple projects, or associated with multiple organizations.

[2013-08-27 01:27] bpawlak commented on #741
Ok.  Thanks for the clarification.

[2013-08-27 16:05] ghing commented on #741
From @jwirfs-brock, suggested example stories for testing:

[2013-08-27 16:08] ghing commented on #741
@jwirfs-brock for the multiple story widgets:
- what's a good default number of stories to show?
- should the user be able to configure how many stories show up in the widget?

For the story + list widget, how many stories should we show (the wireframes show 3)?

What are good test examples for the story + list widget?

[2013-08-27 16:36] jwirfs-brock commented on #741
@ghing Here are some answers to your questions

I like the way Bill set it up in the wireframes with a main story plus three smaller stories

To avoid adding additional complexity, let's just standardize it for now.

Yeah, I was just going on the wireframes for this. Let's stick with it.

The first two example projects I gave are good ones to use for this. How about use the most recent story in th

[2013-08-27 18:32] ghing commented on #741
@jwirfs-brock the way we had been talking about it, we talked about having 3 widgets types:
1. Primary Story only (pictured in wireframes)
2. Primary Story + List (pictured in wireframes)
3. List (not pictured in wireframes. I imagined this would look like the right hand side of the story + list wireframe)

Do you still want to have a list-only widget, or if the widget should always show a Primary

[2013-08-27 18:37] jwirfs-brock commented on #741
@ghing Yes, let's still have a list only widget.

For the primary story + list widget, will we still  be able to set up this by choosing a project/organization/user as the source of the stories? If so, then I would say let the user specify the featured story in the widget markup, then if no featured story is specified, default to the most recent story.

[2013-08-27 20:08] patternleaf commented on #741
@bpawlak @jwirfs-brock @ghing Do we have some expected/known dimensions or ratios to work with? Currently I'm shooting for reasonably responsive but some ratios are definitely more natural than others given the above wireframes.

[2013-08-27 21:16] bpawlak commented on #741
There was a an email thread where I took a look at our most likely candidates for using the embed widget (and where on their sites it'd be used) and trying to determine a general "best fit" for width.  The end result was that the candidate sites all have (predictively) different horizontal layouts in terms of room available for a widget.

Approx sizes:
- i-News (either 600 or 935px)
- CLiC (500, 7

[2013-08-28 16:35] patternleaf commented on #741
I put together a little testing page for the widget:

http://dev2.floodlightproject.org/static/widget-test.html

You can modify dimensions, story and list sources. Only tested in Chrome.

As currently implemented, the widget really needs a certain ratio of vertical space to horizontal space to begin to look decent. Even then, lots of stuff tends to get truncated: bylines, images, and so on. There

[2013-08-28 17:42] bpawlak commented on #741
I think we can reasonably assume we have as much vertical space as necessary to show the content.  I know it's not truly unlimited, but I think it could be greater than the 300px you have as default ... if I put in 500px on the test instance you created, then at least I can see all of the story titles.

[2013-08-28 17:48] jwirfs-brock commented on #741
Would it be possible to standardize the dimensions of the images, especially for the stories on the right? When I set the height to something large (600 px or greater) the top image (for "Eating Your Own Dog Food") expands to its full dimensions, which means its vertical height appears larger than its width. This looks funny, given the fact that the other images are roughly square.

[2013-08-28 17:49] jwirfs-brock commented on #741
Also, a question for the whole team -- any thoughts on whether the story links should go to the detail page or launch the story in the viewer (as it is now)? I know we had reasons for launching stories in the viewer, but looking at it now I think linking to the story detail page might make more sense. Thoughts?

[2013-08-28 18:04] bpawlak commented on #741
So _none_ of the links would open the story in the viewer - they would simply take the user to the Story Detail page on Floodlight?

[2013-08-28 18:26] jwirfs-brock commented on #741
@bpawlak Yeah, just putting that out there to see what people think. If most of the team likes launching directly into the story viewer, I am ok with it.

I mainly suggested it because when you open a story directly into the viewer (and not the viewer launched from the story detail page), it can feel a little bit disorienting or like being dropped on an island. For example, there's no link back to

[2013-08-28 18:39] bpawlak commented on #741
I see the concern. Can't we edit the embedded story viewer (or perhaps simply add it to all viewer instances) so that there's a link to the story detail page (on Floodlight)?

[2013-08-28 18:48] jwirfs-brock commented on #741
@bpawlak I think your suggestion would work.

[2013-08-29 16:11] patternleaf commented on #741
@jwirfs-brock We should be able to scale/crop images to maintain consistency, though again it all gets wonky if the vertical dimension of the whole widget is unknown.

If we could standardize on a height for the widget, or a couple of heights, that would be awesome.

(I want [flexboxes](https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes)!)

This makes sense to me—there's no bran

[2013-08-29 19:41] jwirfs-brock opened #849 "Typo on reset password page"
At http://floodlightproject.org/en/accounts/password/reset/ there's a minor typo:

Should be...

[2013-08-29 19:52] jwirfs-brock opened #850 "Multiple users/authors can edit the same story"
This is a use case that I encountered while speaking with several different groups and organizations. Sometimes, the person who had created the organization's Floodlight account leaves for a different job. Or, they may simply want multiple members within an organization to be able to edit the story. DPS did this successfully by using a single account, but for various reasons, people are not always

[2013-08-30 12:46] ghing commented on #850
+1 for this. @jwirfs-brock, can you sketch out/describe how you'd like the user facing behavior around this feature to eventually work?  I think it's wise to not build out UI for this as a first step, but having an idea of how you'd like it to work eventually will help decide on the back-end data modeling.

[2013-08-30 12:55] ghing opened #851 "Story viewer should link back to story detail page and Floodlight"
This is motivated by a discussion of the link targets for stories in the embed widget (#741) started by @jwirfs-brock with [this comment](https://github.com/PitonFoundation/atlas/issues/741#issuecomment-23433937)

The story viewer should have a link back to the Floodlight homepage and to the story's story detail page.

One potential gotcha is determining whether the viewer is opened in a modal pop

[2013-08-30 12:56] ghing commented on #741
@jwirfs-brock, @bpawlak, @patternleaf I opened #851 as a separate issue for linking back to the homepage and to the story detail page in the viewer.

[2013-08-30 12:57] ghing commented on #851
Assigned to @bpawlak for wireframing.

[2013-08-30 13:37] #849 closed, assigned to ghing

[2013-08-30 16:05] bpawlak commented on #851
Initial thoughts:

I think it's best to put the logo in the footer.  In doing so I think we should also reduce the vertical height of the footer.  (it's kind of tall right now).  That means:

a) moving page indicator "(1/3)" between the prev and next buttons
b) removing share button (it's on the story detail page as a button, in the viewer it can be an icon in upper-right)
c) using a different ico

[2013-08-30 16:15] ghing commented on #851
@bpawlak makes sense to me.  What about the link to the story detail page?

[2013-08-30 16:26] ghing commented on #851
Re link to story detail page, this came up in a chat today with @patternleaf:

[2013-08-30 16:44] bpawlak commented on #851
That makes sense to me.   I mean, "yeah"       :)

[2013-08-30 17:03] jwirfs-brock commented on #851
+1 to Eric's comment about the summary page. I've had several people
mention this as an aesthetic thing they'd like to change.

[2013-08-30 18:08] ghing commented on #851
Assigning to @patternleaf for wireframing/sketching better "Summary" display

[2013-08-30 18:23] jwirfs-brock commented on #851
One thought for @patternleaf  on tge Summary page is maybe we could expose
the table of contents on the summary page.

It's valuable info, but not really being used as-is.

[2013-08-30 18:24] jwirfs-brock commented on #851
Oops, sorry for typos and incoherence on that comment :p I'm on my mobile.
I'll try to send over some sketches once I'm back at my laptop.

[2013-08-30 18:30] ghing commented on #741
Did a code review today of the widget template and widget-generating JavaScript.  Tasks:

@patternleaf:
- [x] Support list-only widget in storybase_story/story_widget.html or implement storybase_story/story_list_widget.html
- [x] Implement storybase_story/widget_404.html
- [x] Make all story links go to viewer
- [x] Click handler instead of inline call to window.open()
- [x] Click handler will try

[2013-08-30 21:59] jwirfs-brock commented on #851
So, some things to potentially include on the "Summary" view:
- table of contest/list of story's sections
- featured image _yes?/no?_ (It look really nice on the story detail page, but I am not sure if we want it here or not -- especially if the featured image is coming from elsewhere in the story.)
- associated projects and organizations

It doesn't really make sense to have topics and tags, beca

[2013-08-30 22:01] jwirfs-brock commented on #850
@ghing Sure, I will put together some notes on how a user might interact with this feature. I agree that thinking about the user-facing side, even if we end up implementing it later on, will help us with the design.

I'll reach out to Matt and Matt at DPS for some ideas, because they are the group that most actively used collaboration in the stories they posted. Who knows, their feedback may be th

[2013-08-30 22:14] bpawlak commented on #851
We've talked about including the TOC a number of times... I think that makes the most sense to add.  I included the featured image (below) but it's huge.  We might want to scale things a bit.

![toc](https://f.cloud.github.com/assets/2250519/1061027/75df5fac-11c1-11e3-91bc-700a1e42ba22.png)

[2013-08-30 22:18] jwirfs-brock opened #852 "In story viewer, when you scroll down on a section then advance to the next section, you remain scrolled"
This is probably most easily observable in this story: http://www.floodlightproject.org/en/stories/the-floodlight-pipeline-creating-stories-within-a/

When I scroll to see all of the text on a given section, then go to the next section, I am still scrolled. I should, instead, be taken to the _top_ of the next section.

Here's what happens:
1. I scroll to the bottom of section 2.
   ![screen shot 2

[2013-08-30 22:22] jwirfs-brock commented on #851
@bpawlak Hmm, I do this like the two-column layout. It looks nice, especially given that the majority of sections are side-by-side.

But we'll still have the problem of not being able to fit all of the text, even if we scale down the image. (Which is, I suppose, our own fault for not making the summary character-limit a hard limit ;P) Any other ideas?

[2013-08-30 22:30] bpawlak commented on #851
I think we'll always have the potential problem of not being able to fit all of the text (throughout the rest of the story), if an author is really adept at verbosity, won't we?

[2013-08-30 22:31] bpawlak commented on #851
Page 4 of that story already scrolls...

[2013-08-30 22:33] jwirfs-brock commented on #851
True, and maybe we should be designing for the average summary length, not
the longest.

@ghing I know you've pulled some data on summary length for us in the past.
Any chance we could get an updated version?

[2013-08-30 22:34] jwirfs-brock commented on #851
@bpawlak Agree that scrolling is unavoidable. But I still think we should
do our best to minimize it.

[2013-08-31 16:00] ghing commented on #851
As of 2013-08-31, here's the averages for Story fields:

Average title length: 45
Average summary length: 428
Average summary words: 66

[2013-08-31 18:26] jwirfs-brock commented on #851
Thanks, Geoff. Yeah, the example I shared to show what a long summary looks
like is definitely an outlier:

Its summary length is 356 words, 1975 characters.

Let's design for the average length, but make sure that you can still read
the longer ones via scrolling.

[2013-09-02 15:37] patternleaf commented on #741
Going to add to my task list:
- [ ] Widget styling in IE8

Currently pretty gnarly.

[2013-09-04 17:36] jwirfs-brock commented on #850
Here are some comments from Matt Gray (story wrangler for the DPS/AmeriCorps project) on multiple people editing the same story:

[2013-09-04 18:11] ghing opened #853 "Activity grid content"
@jwirfs-brock says:

[2013-09-04 19:05] jwirfs-brock commented on #850
@ghing Here are some initial thoughts as to how this might work as a user-facing feature.

To clarify some of the details, I'm going to refer to a **story owner** as the user who created a story and a **story editor** as an additional user that can also edit/build the story.

The bare minimum actions we would want to have are:
- a story owner can add a user to a story as an editor
- a story owner

[2013-09-04 20:38] ghing commented on #853
So it looks like there is a way to do this using Django CMS placeholders and template tags.  In the template for an activity page, we could define placeholders for the description, required supplies, time it takes to do, etc. and then include them in a landing page using the [show_placeholder](http://docs.django-cms.org/en/2.3.7/advanced/templatetags.html#show-placeholder) template tag.

Roughly:

[2013-09-05 14:53] wendynorris opened #854 "Title and summary character limit alert"
Alert is not displaying when user exceeds character limits in title and summary text box in the Storybuilder.

[2013-09-05 16:36] ghing commented on #854
I believe this is now fixed. I had forgotten to recompress the updated JavaScript the last time I did a deploy. @tekhneco, can you confirm that you're seeing this now?

[2013-09-05 16:48] wendynorris commented on #854
Confirmed. The alert is working for both the title and summary text field.

[2013-09-05 16:51] ghing commented on #853
After chatting with @jwirfs-brock, I decided on an approach that creates a new `Activity` model.  It will have a schema something like this:

[code]

A few notes about the model:
- `links` is a text field rather than being some kind of structured list of links because the number of links and their titles is pretty variable.  For instance, we could have multiple handouts, hosted over a variety of s

[2013-09-05 16:54] #854 closed, assigned to ghing

[2013-09-05 17:07] jwirfs-brock opened #855 "Browsers don't rotate images based on EXIF orientation"
This is a bug reported from Rebecca Arno:

Here's the link to her connected story: http://floodlightproject.org/en/stories/whats-the-last-photo-on-your-phone/viewer/#sections/connected-stories ("My Guys")

Note that in the thumbnail it appears right-side-up, but in the story itself it appears upside-down. Weird.

[2013-09-05 17:14] jwirfs-brock opened #856 "Links for connected story broken on Publish/Share page, in published story email"
This is a user-reported bug from Rebecca Arno. In the email she got telling her the story had been published, the link to the story did not work. Instead, it sent her to a page that said, "Requested page not found."

As far as I can tell, the story link is the only one that is broken.

The link path: http://floodlightproject.org/stories/my-guys-the-last-photo-on-my-phone/?utm_campaign=published+st

[2013-09-05 17:19] jwirfs-brock opened #857 "Difficult/impossible to add a connected story from an iPhone"
This is a user-reported bug from Rebecca Arno. She was trying to add a connected story to http://floodlightproject.org/en/stories/whats-the-last-photo-on-your-phone/.

Rebecca was, I believe, using an iPhone.

I'll try it out with my Android to see if I encounter similar problems.

While it doesn't make sense for people to build full stories from scratch on their mobiles, it does make sense for th

[2013-09-05 17:26] jwirfs-brock commented on #855
@tekhneco manually fixed the image so that it appears correctly now. We should still try to figure out what caused this problem in the first place, though.

[2013-09-05 17:29] jwirfs-brock commented on #855
@tekhneco says:

[2013-09-05 17:30] ghing commented on #857
The connected builder uses the same code base as the regular builder.  Mobile support was explicitly not part of the builder requirements.  Patching the existing builder for mobile support is going to be a big task and I recommend that we just include this as a requirement for a future version of the builder.  It seems resource intensive to make an all new temporary connected builder just for mobi

[2013-09-05 17:32] wendynorris commented on #856
FYI: URLs to other users' stories in the publish confirmation email render to their correct pages.

[2013-09-05 17:33] ghing commented on #857
Also, the best workaround is to just upload an image from a phone to Instagram, Flickr, or imgur,  Then add the image _by the URL from that service_ once you have access to a computer.

[2013-09-05 17:38] jwirfs-brock commented on #857
@ghing Don't worry, I'm not suggesting that we create a new, mobile-friendly version! I just wanted to make sure this is documented for future versions of the story-builder. Let's just keep an eye on this. The whole point of pushing out this connected story was so we could observe what user-behavior we get and what problems we encounter along the way.

One temporary solution is, given that it take

[2013-09-05 17:38] ghing commented on #857
It would be possible, and relatively easy, to create a simple form that would work ok on mobile for creating a photovoice connected story.  For this to be easy, we'd have to really limit functionality.  It would basically let people get an item into Floodlight from their phone and publish it.  Once we add in any re-editing/advanced manipulation features, it stops being an _easy_ workaround.

[2013-09-05 17:41] jwirfs-brock opened #858 "Update default copy for the Summary field in the Story Builder"
I'll provide the updated copy, which will point out the suggested character limit.

@ghing once I have the copy I'll assign this issue to you to update.

[2013-09-05 17:42] #857 closed, assigned to ghing

[2013-09-05 17:47] jwirfs-brock commented on #858
Ok, here's the updated summary default text, which comes in under the 250-character limit:

Assigning to @ghing to update.

[2013-09-05 17:49] ghing commented on #855
I don't know if this is actually an issue as, based on Wendy's comment the image's data says its supposed to be flipped.

[2013-09-05 17:51] jwirfs-brock commented on #855
Well, it was showing up in different orientations in different browsers,
and in different orientations in different places on the site (i.e.,
correctly in the builder, not correctly once it was published).

But if you don't think this is something we can address, we can close it.

[2013-09-05 17:52] jwirfs-brock commented on #855
It could just be a wacky iPhone thing that will just cause more headaches and is an edge case anyway.

[2013-09-05 17:55] ghing commented on #855
Is there any way you can get me a copy of the original image?

[2013-09-05 18:00] wendynorris commented on #855
Original image:
![photo_23_](https://f.cloud.github.com/assets/2329239/1090314/ae6938ce-1654-11e3-937b-efd163849885.jpg)

I downloaded the original image and then rotated it left twice to reset it as:

![photo_23_ll](https://f.cloud.github.com/assets/2329239/1090333/097fce58-1655-11e3-8023-ce14d774d443.jpg)

[2013-09-05 18:09] wendynorris opened #859 "Admin panel: Export user information button returns error"
Path from admin panel user page -- http://floodlightproject.org/en/admin/auth/user/csv/ -- returns error message:

Unexpected Error

The server encountered an unexpected error. We're working on it!

[2013-09-05 22:51] ghing commented on #859
Here's the traceback:

[code]

[2013-09-05 23:05] jwirfs-brock commented on #853
Here are a few sketches of what the activity grid page might look like.
One column layout with a collapsible/expandable design. The collapsed view just has the thumbnail and the title; the expanded view has the full meta-data:
![activitygrid1](https://f.cloud.github.com/assets/1020518/1092433/f3c08156-167d-11e3-98a9-14b03fa82400.png)

Two column layout with activities always expanded/full meta-dat

[2013-09-05 23:10] ghing commented on #853
@jwirfs-brock It looks like the third sketch didn't finish uploading!

[2013-09-05 23:16] jwirfs-brock commented on #853
Yeah...for some reason the third image isn't working. I'll send it via email.

[2013-09-05 23:20] ghing commented on #858
@jwirfs-brock, I'm in the process of fixing this, but note that if there's a summary in the template story, that's what will be used.  If you want to update the text in a case where a summary has been specified in a template, you can do that in the Django admin.

[2013-09-05 23:23] #858 closed, assigned to ghing

[2013-09-05 23:23] #859 closed, assigned to ghing

[2013-09-05 23:26] jwirfs-brock commented on #858
@ghing Good call. I will go through the templates in the admin and make
sure they are updated.

[2013-09-05 23:58] ghing commented on #855
It seems like [we're in good company](http://www.daveperrett.com/articles/2012/07/28/exif-orientation-handling-is-a-ghetto/)

[2013-09-06 00:19] ghing commented on #855
Ok, so here's what I think the deal is: The photo was taken with the phone upside down, so the actual pixels of the image are really upside down. The iPhone detects this and compensates by setting an orientation (in this case "Rotate 180") in the EXIF data for the image.  When displaying the image, the iPhone applies the EXIF orientation, so it appears right side up.  In my testing, Chrome and Fir

[2013-09-06 00:21] ghing commented on #855
Changed title from "Pictures uploaded from iPhone appearing upside-down in story viewer" to "Browsers don't rotate images based on EXIF orientation"

[2013-09-06 00:26] ghing commented on #855
@jwirfs-brock My recommendation is that we don't fix this right now since it only affects images that were taken upside down in an environment that automatically shows them right-side-up (like the iPhone).  We're letting the browser show the image as it sees fit, and most don't do the rotation.  If we really want to address this now, we might as well think through a good automated setting for scal

[2013-09-06 00:29] jwirfs-brock commented on #853
![activitygrid3](https://f.cloud.github.com/assets/1020518/1092664/482d559a-1686-11e3-9c13-024ef4d2fd9b.png)

[2013-09-06 00:29] wendynorris commented on #855
Nice sleuthing, Geoff.

Might also help to add a how-to piece for users to avoid this problem by
orienting the phone with the shutter button on bottom (profile) or button
to the right (landscape) since it's a common issue.

**
_wendy norris http://about.me/wendynorris_
 ceo + founder :: tekhne media, inc
a digital information and media collective
720 281 9378 :: mobile

*\* http://about.me/wendyno

[2013-09-06 00:32] jwirfs-brock commented on #855
Yeah, @ghing I'm impressed you got to the root of this problem so quickly. I recommend we not try to fix this issue, since it's something that is such as edge case. I do like @tekhneco's idea about having a how-to piece for orienting the shutter.

Closing.

[2013-09-06 00:34] #855 closed, assigned to nobody

[2013-09-06 00:39] wendynorris commented on #855
I'm not nearly as artistic as you, Jordan, but I'm happy to take a crack at
a How-To on the "Heartbreak of Photo Rotation."

**
_wendy norris http://about.me/wendynorris_
ceo + founder :: tekhne media, inc
a digital information and media collective
720 281 9378 :: mobile

*\* http://about.me/wendynorris
*
*

On Thu, Sep 5, 2013 at 6:32 PM, Jordan Wirfs-Brock <notifications@github.com

[2013-09-06 00:42] jwirfs-brock commented on #855
Awesome. And I'll put together a how-to on uploading an image from your
phone to a third-party service for easy embedding (related to issue #857).

[2013-09-06 02:48] ghing opened #860 "Instagram.com URLs don't resolve for oEmbed"
It looks like the regex matches http://instagr.am URLs but not http://instagram.com ones.

[2013-09-06 02:57] #860 closed, assigned to ghing

[2013-09-06 18:00] jwirfs-brock opened #861 "Add IDs that correspond to slugs on help items"
I said:

And @ghing said:

[2013-09-09 16:53] #861 closed, assigned to ghing

[2013-09-09 18:33] bpawlak commented on #850
I definitely agree that this is something that belongs in the My Account section, but I wonder if it belongs on the main My Stories screen or if the links on the left shouldn't be taking the user to a story configuration/report page as we previously discussed.  Right now, clicking on "CLIC web test story" (in screenshot above) takes the user to the story detail page on the main floodlightproject.o

[2013-09-09 19:01] ghing commented on #850
I like the idea of sharing settings being in a separate page as suggested by @bpawlak, mostly because I feel like the story list is already pretty crowded.  However, I think it's still important to have a link to the story's detail page. I could either see adding a "settings" link, or adding a "view" link and swapping the link behavior as Bill suggests.

[2013-09-09 19:22] jwirfs-brock commented on #850
I also like @bpawlak's suggestion of having a story settings page, and agree with @ghing that we should still have a link to view the story ("view" would certainly be an appropriate label).

It sounds like this conversation might lead us into a deeper discussion about updating the "My Account" features. For reference, here is how Blogger handles post management. Obviously, it's a lot more robust t

[2013-09-09 19:30] jwirfs-brock commented on #773
I don't know if this will help you figure out what's causing this bug, but I found another story where I'm seeing the same problem (and it happens as soon as I open the story in the Builder in Firefox):

http://floodlightproject.org/en/build/6e7fec72fa3143a99b1ee6401e669ca4/

[2013-09-09 19:42] jwirfs-brock opened #862 "Google Fusion Tables embed rendering strangely in Firefox"
I was trying to update the story http://floodlightproject.org/en/stories/dataviz-how-to-make-a-bar-chart-in-fusion-tables/, which has embedded Google Fusion Tables charts on sections 11, 12, 17, and 18.

Here's the link to the story in the builder: http://floodlightproject.org/en/build/6e7fec72fa3143a99b1ee6401e669ca4/

The charts are rendering correctly in Chrome:
![screen shot 2013-09-09 at 1 36

[2013-09-11 13:18] #856 closed, assigned to ghing

[2013-09-11 19:06] ghing commented on #773
I wasn't able to replicate the issue as [reported most recently](https://github.com/pitonfoundation/atlas/issues/773#issuecomment-24107652) by @jwirfs-brock on Firefox 23.  I suspect that this is either because it's somehow specific to Macs, or because it's an issue specific to latency and the order that certain requests happen.

I will try to check it out on a friend's Mac. @jwirfs-brock, we shou

[2013-09-11 19:59] ghing commented on #853
For my first pass at this, I decided to go with the "Two column layout with activities always expanded/full meta-data always visible" version since there doesn't seem to be enough content to warrant a full-width space for each item and there aren't so many items that it makes sense to collapse some of the info.  I mucked around with Firebug to try out a 3-column vs. a 2-column display and this is

[2013-09-11 20:13] jwirfs-brock commented on #853
@ghing If we go with the two-column view, is there a way we can clean up the white space on the right side by evening out the spacing?

We don't necessarily need to have long descriptions -- part of the reason that I included the long one here is to see what it would look like. They will have relatively uniform description lengths (probably about half as long as the "Mini-StoryCorps Interviews" de

[2013-09-11 20:20] ghing commented on #853
@jwirfs-brock, do you mean like this (with `text-align: justify`):

![activity_2col_justified](https://f.cloud.github.com/assets/110420/1126172/a0c0675e-1b1f-11e3-89be-11df6af448af.png)

[2013-09-11 20:25] jwirfs-brock commented on #853
I actually meant the space where the horizontal line next to the page title
extends beyond the content. (Which was filled by the right-most activity in
the three column layout.)

[2013-09-11 20:26] ghing commented on #853
@jwirfs-brock, can you add more items so I can get a better idea of how this will look with the actual amount of content?

[2013-09-11 20:27] jwirfs-brock commented on #853
Sure, but I'm getting on a plane right now so I won't get to it until later
this afternoon.

[2013-09-11 21:01] ghing opened #863 "render_thumbnail() should handle InvalidImageFormatError more gracefully"
I originally noticed this when a user uploaded an EPS file for the featured image of an organization.  We should catch ``InvalidImageFormatError``, log the error and just cause the default image to be shown.

Example traceback:

[code]

[2013-09-11 21:14] ghing commented on #862
I was able to replicate this in Firefox 23.0 and also confirm that it doesn't seem to be a problem in Chrome.

Here's the embed code for one of the Fusion Tables-based graphics that wasn't working right:

[code]

I tried embedding the above code in a simple static HTML page and it worked correctly in Firefox. The next step is to try to replicate Floodlight's rendering process to see why this cause

[2013-09-11 22:30] jwirfs-brock commented on #853
@ghing I added two more activities, and then added them as plug-ins to the Activity Grid page. I didn't know which section of the page to add the plug-in to (because none of the other activities showed up in the plug-ins list), so I put them in "two-col content." When I did that, the other items seemed to have disappeared.

[2013-09-12 02:15] ghing commented on #773
I tried to replicate this in Firefox 23.0.1 on Mac OS X 10.6.8 and was not able to replicate the issue.

[2013-09-12 16:09] ghing commented on #853
I deployed the models, admin and first pass at the CMS plugin template and styles into production.  I'm going to close this issue. Refinements to styling should be opened as a separate issue.

[2013-09-12 16:09] #853 closed, assigned to nobody

[2013-09-12 16:45] #221 closed, assigned to nobody

[2013-09-12 16:51] jwirfs-brock commented on #410
You can now close the Help tab and re-open it to see the section-specific help. Closing.

[2013-09-12 16:51] #410 closed, assigned to ghing

[2013-09-12 16:52] jwirfs-brock commented on #363
No longer need to do this. Closing.

[2013-09-12 16:52] #363 closed, assigned to nobody

[2013-09-12 16:53] #284 closed, assigned to ghing

[2013-09-12 16:59] jwirfs-brock commented on #657
This is working, right? Closing.

[2013-09-12 16:59] #657 closed, assigned to ghing

[2013-09-12 17:04] jwirfs-brock commented on #790
This issue is addressed in the more recent #850. I'm closing this one and we can continue the discussion over on the other issue.

[2013-09-12 17:04] #790 closed, assigned to ghing

[2013-09-12 17:18] jwirfs-brock commented on #808
This has been implemented. Closing.

[2013-09-12 17:18] #808 closed, assigned to ghing

[2013-09-13 01:37] patternleaf opened #864 "Activity Grid should be grid-like"
(See #853 and http://dev.floodlightproject.org/en/skills/activities/?preview for context.)

My initial hit is that this should be more grid-like. Currently the description is shown in full, the image height varies, etc. I think it would be useful to constrain each item to a set, fixed-size layout, and provide a "more" link for complete description text.

We might start with the builder template se

[2013-09-13 12:39] bpawlak commented on #864
Is that the same concept as the grid for choosing a story template? (http://floodlightproject.org/en/build/)

BTW, I keep getting a 404 when trying to view http://dev.floodlightproject.org/en/skills/activities/?preview :

Page not found (404)
Request Method:     GET
Request URL:    http://dev.floodlightproject.org/skills/activities/?preview

CMS: Page not found for "skills/activities"

You're seei

[2013-09-13 13:09] ghing commented on #864
@bpawlak The activity grid is a new type of content that @jwirfs-brock needs to reflect different activities used in story raisings.

You're seeing the 404 error because the page hasn't been published and you need to be logged in to see that page.  I'll just go ahead and publish the page since it's on the dev server anyway.

[2013-09-13 13:18] ghing commented on #864
@patternleaf, I hear what you're saying about being more grid-like, self-contained, and fixed-size.  @jwirfs-brock, would it be ok to show only the titles and a thumbnail and then expand the item to show more details when it's clicked?  Or, to show the information on a separate page that the user has to click through to see, as is the case for the [Hacktivities](http://hivenyc.org/hacktivityGrid.h

[2013-09-13 14:44] jwirfs-brock commented on #864
@patternleaf @bpawlak @ghing I like the concept of having it be a button/grid-item that has more info you can see when you expand it. In the original sketches I proposed posted at #853, that is one of the design ideas (and it was indeed inspired by our template selection grid).

I'll put some more real content in there this morning. @ghing, just to clarify, yesterday you said I should do this on p

[2013-09-13 14:49] ghing commented on #864
@jwirfs-brock, yes, production.  I can then sync the dev instance to play with the design.

[2013-09-13 15:49] jwirfs-brock commented on #864
@ghing I added the four activities that are ready to go onto production. They have everything but the thumbnails (I'm still working on those -- should have them later this morning).

Which page should I add them to? There's the Activity Guide page I created earlier (http://floodlightproject.org/en/admin/cms/page/29/), but I don't know which page template to set it to. Or I could create a new page

[2013-09-13 16:02] ghing commented on #864
Jordan, feel free to add them to whatever page you think makes the most sense.  The template/placeholder is up to you.  In my demo, I added them to the `Twocol-Content` placeholder using the "Two Column" template.

[2013-09-13 16:06] jwirfs-brock commented on #864
@ghing I added them to the "Activity Guides" page (http://floodlightproject.org/en/admin/cms/page/29/) using the "Two Column" template and putting the plug-ins in the "Twocol-Content" area, and here's what it looks like:
http://floodlightproject.org/en/activity-guides/?preview

[2013-09-13 16:28] jwirfs-brock commented on #864
@patternleaf There's some real content in there no, so I'm assigning back to you.

[2013-09-13 16:32] ghing commented on #864
@jwirfs-brock, I'll take this since @patternleaf will be out next week.

[2013-09-13 17:02] ghing commented on #824
I took a look at the codebase as of dd19b09 and took some notes:

## Components

### Django Views
- storybase_story.views.StoryEmbedWidgetView
- storybase_story.views.StoryShareWidgetView
- storybase_user.views.OrganizationEmbedWidgetView
- storybase_user.views.OrganizationShareWidgetView
- storybase_user.views.ProjectEmbedWidgetView
- storybase_user.views.ProjectShareWidgetView

### Django Templa

[2013-09-13 17:14] bpawlak commented on #846
That "Add Text" label has a .6em top & bottom margin... definitely doesn't need to be that large.  Thinking we might also lighten it a bit so it doesn't draw as much focus?

![image](https://f.cloud.github.com/assets/2250519/1140055/e562c464-1c97-11e3-98b7-3e6b1976761a.png)

[2013-09-13 19:54] ghing commented on #848
Assigning to @jwirfs-brock to specify desired behavior.

[2013-09-13 21:52] ghing commented on #844
@jwirfs-brock, there's a bunch of different ideas thrown around here.  Am I correct in interpreting that the desired fix to the immediate issue reported by the user is to grow the editor as the user types?

[2013-09-16 13:20] #816 closed, assigned to ghing

[2013-09-16 14:20] jwirfs-brock commented on #848
This is also related to issue #711 (summary save behavior is different than text asset save behavior).

[2013-09-16 15:41] jwirfs-brock commented on #848
To clarify, there is a suite of issues that are related:
- #711, which points out that to save the Summary and Call to Action text, users don't use a save button. Text is automatically saved.
- As a result of this, users often forget to click "Save" when typing a text asset, resulting in #847, where unsaved text gets lost when a user navigates to a different section.

I think these three issues ca

[2013-09-16 19:25] ghing commented on #862
Here's a jsFiddle that demonstrates the issue outside of the builder: http://jsfiddle.net/geoffhing/V8k5T/

It appears that the problem is with the container element being hidden initially.

[2013-09-16 20:00] ghing commented on #862
And here's a jsFiddle that shows a possible fix: http://jsfiddle.net/geoffhing/bSPHQ/

When the DOM is ready, the iframe element is removed from the DOM.  When it's container element is shown, the iframe is re-added to the DOM.

This seems like a fairly viable fix, but the question is whether we do this for all iframe elements, or detect certain ones.

I'm assigning this to @patternleaf to look at

[2013-09-16 20:16] ghing commented on #862
In terms of exposure to this issue, there are 15 published assets that use fusion tables embeds. They appear in these stories:
- Dataviz How-To: Make a bar chart in Fusion Tables
- Federal Issues, Local Problems: SNAP and Denver's Food Security
- The Legacy of 1963: The Reality of Modern Day Segregation
- In the Shadow of the Highway: Schools and Pollution (2/5)

We'd have to look at Google Analyt

[2013-09-19 23:27] patternleaf opened #868 "Upgrade Font Awesome to 3.2.1"
The branch with fixes for #824 contains only the glyphs for Font Awesome 3.2.1. Once it's merged into develop (or before), the entire package should be upgraded.

[2013-09-23 14:55] ghing commented on #864
Deployed to production as [0.15.1](https://github.com/PitonFoundation/atlas/releases/tag/0.15.1)

[2013-09-23 14:55] #864 closed, assigned to ghing

[2013-09-24 16:35] jwirfs-brock commented on #812
This issue is redundant and is being solved in #851. Closing.

[2013-09-24 16:35] #812 closed, assigned to nobody

[2013-09-24 16:52] jwirfs-brock commented on #834
Here's some new copy:

[2013-09-24 17:08] #768 closed, assigned to ghing

[2013-09-24 17:10] jwirfs-brock commented on #656
One interesting thing to note about this is that users are sharing previews. That is, they want to show unpublished stories to peers (who may not necessarily be Floodlight users) to get feedback so they can do another round of editing before publishing.

So, while they may not need the share button, we should make it clear that the preview link will work/be visible if they send it to someone.

[2013-09-24 17:12] jwirfs-brock commented on #603
No longer seeing this error. Closing.

[2013-09-24 17:12] #603 closed, assigned to ghing

[2013-09-24 17:33] jwirfs-brock commented on #813
I also like stash asset.

[2013-09-24 17:38] jwirfs-brock opened #870 "Alert message when an asset is removed should fade out more quickly"
Feedback from @bpawlak:

[2013-09-24 17:47] jwirfs-brock commented on #717
I like @ghing's suggestion about a caption/title text. This is similar to what happens when you are viewing a photoset on Flickr. Where would the best placement be? I think putting it in the center of the image covers up too much of the content -- maybe putting it at the top left would work.

[2013-09-24 17:48] jwirfs-brock commented on #717
Example: http://www.flickr.com/search/?q=boulder+trails

[2013-09-24 17:55] jwirfs-brock opened #871 "Template Improvements - Placeholder content in asset containers?"
It might be interesting to try putting actual placeholder content in the templates. For example, the PhotoVoice template could have a sample image a sample caption so users could see what it looks like. For more complex templates, this could be a way of demoing the structure of the story.

[2013-09-24 17:56] jwirfs-brock opened #872 "Adding new template types -- Grant Report? Idea/Challenge?"
We should look into what other types of templates people might like. What templates specific to what the Denver Foundation is doing would improve the Floodlight story creation experience for their target users?

[2013-09-24 18:17] bpawlak commented on #717
Top left probably makes the most sense because of the scrolling issue (if we place it near bottom, you might not be able to see it.

[2013-09-25 20:37] jwirfs-brock commented on #851
Note that this issue was originally opened with the intention of providing a way to get back to the story detail page. In the current version, it still doesn't have that link, right? Or am I just missing it...

This is important because with the widget stories open in the viewer in a new tab or window, so there is no way to see the story detail page.

[2013-09-25 21:23] ghing commented on #851
@jwirfs-brock, good catch. What microcopy would you recommend for this link, and is there any icon at http://fortawesome.github.io/Font-Awesome/icons/ that seems appropriate?

[2013-09-25 21:39] jwirfs-brock commented on #851
How about "About this story"? I like the th-list icon:
http://fortawesome.github.io/Font-Awesome/icon/th-list/

[2013-09-25 22:14] ghing commented on #851
@jwirfs-brock, how does this look to you?  The "About this story" link is in the upper-right-hand corner of the viewer next to "Share this story".

![screenshot from 2013-09-25 17 12 26](https://f.cloud.github.com/assets/110420/1213745/9ec372b4-262f-11e3-851f-a9dbfd13ba79.png)

[2013-09-25 22:27] jwirfs-brock commented on #851
This looks good!

[2013-09-26 17:28] ghing commented on #851
@jwirfs-brock, I noticed that on my displays, the summary text was being pushed below the fold:

![story_viewer-summary_text_hidden](https://f.cloud.github.com/assets/110420/1219755/e608d974-26d0-11e3-8dd4-7919e7136849.png)

To me, the summary text is more important than the table of contents. It now looks like:

![viewer-summary_text_moved_up](https://f.cloud.github.com/assets/110420/1219756/e610

[2013-09-26 17:36] jwirfs-brock commented on #851
@ghing I like these changes -- they definitely improve the readability.
Nice work.

If it would be useful, I can browse some more stories on dev to see if
everything looks presentable. Stories with super long summaries might still
look funky ... but as we discussed before, that is something we are trying
to discourage so it doesn't make a lot of sense to design around it.

[2013-09-26 20:14] ghing opened #873 "Spider story structure broken in viewer"
This is probably because this structure was neglected through multiple iterations of viewer tweaks.

Issues include:
- Table of contents doesn't work
- Clicking on nodes in visualization doesn't work
- Next/previous buttons don't work

[2013-09-26 22:03] jwirfs-brock opened #874 "Activity plug-in behavior on pages other than the Activity Guide"
@jwirfsbrock wrote:

And @ghing replied:

I think it would be useful to be able to put activity plug-ins on other pages (the Story-Raising guides, possible on the skills pages, too). But enable the expand/collapse behavior on other pages isn't a priority if it's difficult to do. Here are some possible alternative ideas:
1. When you add an activity plug-in to a page other than the Activity Guide pa

[2013-09-27 21:01] ghing commented on #874
Note to self: Think about adding js for each plugin with Sekizae and using `Modernizr.load()` to conditionally load Javascript.

[2013-09-27 22:28] ghing commented on #874
@jwirfs-brock, you should let me know what the ideal behavior would be.

Of the options you mentioned above:

is the most straightforward, least time-consuming way to go.

[2013-09-27 22:30] jwirfs-brock commented on #874
@ghing Cool. If we go with that option, how many story points do you think
it would be?

[2013-09-27 22:33] ghing commented on #874
If we don't have the expanding/collapsing behavior on other pages, it would only be like 1 or 2 points.

[2013-09-30 15:50] jwirfs-brock commented on #874
Ok, let's go with solution 1, activity plug-ins can go on other pages, and will appear expanded all of the time.

I like that, because I can also use them on the activity landing pages.

I suggest keeping this in Iteration 17 -- @ghing does that work for you?

[2013-10-02 13:41] #873 closed, assigned to ghing

[2013-10-02 13:42] #741 closed, assigned to nobody

[2013-10-02 13:42] #744 closed, assigned to nobody

[2013-10-02 13:42] #821 closed, assigned to nobody

[2013-10-02 13:42] #824 closed, assigned to ghing

[2013-10-02 13:42] #825 closed, assigned to nobody

[2013-10-02 13:42] #851 closed, assigned to nobody

[2013-10-02 13:43] ghing commented on #819
@patternleaf wrote this cool testbed for testing the different breakpoints for the embed widget.  I posted it as a gist at https://gist.github.com/ghing/b8313ce372573661b6e2

[2013-10-02 13:43] #819 closed, assigned to nobody

[2013-10-02 17:09] #874 closed, assigned to ghing

[2013-10-03 15:35] ghing opened #875 "CMS page teasers broken"
**To replicate**

Navigate to /en/news/

**Expected behavior**

Page teasers for current page and sub-pages are shown:

![working_page_teaser](https://f.cloud.github.com/assets/110420/1262611/528450cc-2c41-11e3-854a-3926c39b66ed.png)

**Observed behavior**

Page teasers are not shown:

![broken_page_teaser](https://f.cloud.github.com/assets/110420/1262596/2678c4ae-2c41-11e3-92bb-1efcb42ea5ef.png)

[2013-10-07 16:17] jwirfs-brock commented on #844
@ghing That is correct. And the "Body" label above the text box needs to be removed.

[2013-10-07 16:17] jwirfs-brock commented on #844
@ghing What happens once the text box expands to be the full size of the asset container? Would it then scroll, or would it grow the asset container?

[2013-10-07 16:20] jwirfs-brock commented on #844
@ghing Also, what are your thoughts on the behavior of the scroll bar. Right now it "disappears" and stays hidden until you are actively typing beyond the extent of the box, or if you are scrolling (i.e., with your trackpad). When you mouse over it, should the scroll bar also appear?

[2013-10-07 16:37] ghing commented on #844
@jwirfs-brock, I think that the asset container should expand along with the text box.  This will give the user more of an idea of the presentation of their text in the viewer.  Similarly, an auto-expanding textbox should eliminate the need for the scrollbar.

[2013-10-07 17:03] jwirfs-brock commented on #844
@ghing That sounds perfect!

[2013-10-07 21:31] #875 closed, assigned to ghing

[2013-10-07 22:56] #784 closed, assigned to nobody

[2013-10-07 22:56] #870 closed, assigned to ghing

[2013-10-08 16:50] jwirfs-brock commented on #660
@ghing Should I repeat the tests I did in Firefox for Chrome and Safari?

[2013-10-08 16:51] ghing commented on #660
@jwirfs-brock Don't worry about that as there's not much client-side stuff.

[2013-10-08 16:56] jwirfs-brock commented on #660
@ghing Ok. Are there any admin tests you can think of that I missed?

[2013-10-08 17:34] ghing commented on #660
@jwirfs-brock I'll try and think of other testing tasks and get the instances in a state where you can test in parallel to my development after I get a little farther on the text editor auto-resize issue.

[2013-10-08 22:22] ghing commented on #844
@jwirfs-brock I finished a rough first pass at this. Since it's really rough, it's probably better if we walk through it together some time tomorrow.

[2013-10-08 22:26] jwirfs-brock commented on #844
@ghing Sure. Can you do 10:30 central/8:30 pacific?
On Oct 8, 2013 3:22 PM, "Geoffrey Hing" notifications@github.com wrote:

[2013-10-09 15:36] jwirfs-brock opened #876 "In Chrome, embed and share buttons on story detail page are opening up on new page"
Here's what it looks like in Chrome when I navigate to a story detail page and click on the "embed" button (same behavior happens with the "share" button):

![screen shot 2013-10-09 at 9 32 33 am](https://f.cloud.github.com/assets/1020518/1298799/2c6dc5f6-30f8-11e3-92de-799575f87514.png)

Instead of popping up a window where I can grab the embed code, it takes me to a new page. The url of this new

[2013-10-09 15:49] #876 closed, assigned to ghing

[2013-10-09 18:52] ghing commented on #844
- [ ] In demoing the feature this morning, we found that in side by side layout the border/box next to the text asset seems to grow somewhat along with the text asset.

[2013-10-09 22:15] ghing commented on #844
- [ ] Fix styles so that editor border doesn't fall outside of view in side-by-side layout:

![screenshot from 2013-10-09 17 14 25](https://f.cloud.github.com/assets/110420/1302227/66add0c0-3130-11e3-8980-438c23a0be94.png)

[2013-10-11 12:39] #868 closed, assigned to nobody

[2013-10-11 12:42] ghing opened #877 "oEmbed doesn't work with shortened soundcloud URLs"
@jwirfs-brock reports:

[2013-10-11 15:40] #877 closed, assigned to ghing

[2013-10-11 18:03] ghing opened #878 "jQuery "Interface not supported" error in builder in IE8."
Originally, I thought the error was in builder/views.js, around line 185:

[code]

and a regression from adding the "My Stories" link to the builder (1da1e781bb68a67afe35bf976cbb47d6558a6c6d).

But, I couldn't replicate this.  However, I repeatedly got the same error in builder/views.js, in `getLicenseHtml()` when trying to parse the license HTML out of the XML response.

The issue is present in t

[2013-10-14 13:15] ghing commented on #878
Originally, I thought this bug was totally breaking layout, but it turns out that it's just because the newer version of less.js (used in development to avoid having to recompile the LESS files) doesn't seem to support IE8 and the LESS stylesheets weren't getting parsed.

[2013-10-14 16:13] ghing commented on #878
Updated issue title from "IE8 breaks when adding a link to toolsview"

[2013-10-14 16:57] #878 closed, assigned to ghing

[2013-10-14 20:03] ghing commented on #848
@jwirfs-brock:

I'm really not sure about 1 (keeping the Save/Cancel) buttons or 2 (behavior of the cancel button).  I think I'll have to get a bit deeper into the implementation to decide, though I'm pretty sure some changes to the buttons (for text assets) will have to happen.

As for 3 (save button for summary), I don't think we need this, especially if we're going to reconfigure some of the me

[2013-10-14 20:03] ghing commented on #848
Note to self:

The saving flow is submit form -> processForm() -> saveModel()

Gotchas:
- saveModel() defines a success callback that changes the view state to 'render' and then re-renders the view.

Questions:
- Should I update saveModel() to make the re-rendering optional, or make a specific method for saving Text?
- What should trigger the autosave?  I don't think we want it to happen on every

[2013-10-15 14:29] ghing commented on #848
Triggering the auto-save is a little tricky.

The wysihtml5 editor has a number of [events](https://github.com/xing/wysihtml5/wiki/Events) but I'm not sure which one is the best one for our case.

We could trigger autosave on:
- When the editor loses focus, i.e. "blur" (the `change` event on the wysihtml5.Editor object)
- When a new word is entered, essentially when the space bar is pressed within

[2013-10-15 15:48] ghing commented on #848
Brainstormed test cases:
- typing in the text asset editor, then clicking on the change section layout button [desired behavior would be to autosave the text asset, and then put it into the asset drawer]
- Add new text asset, trigger autosave
- Edit text asset, add new section (should trigger autosave)
- Edit text asset, move section
- Add a new text asset, edit text, click cancel (asset is remove

[2013-10-15 16:08] ghing commented on #844
It looks like the editor element's height is jumping around when it loses focus.  This causes the position of the buttons to shift, making it easy to miss when clicking on the save/cancel buttons and making it seem like it takes two clicks to make the action take effect.

Update: I confirmed that the initial click event isn't firing.
- [ ] Figure out why editor is shifting in size on the composer'

[2013-10-16 13:40] jwirfs-brock opened #879 "Story Builder tour needs to be updated to reflect changes in workflow"
Currently, the first screen of the tour is:

This is already out of date. I suggest we update it according to the other changes in Iteration 19 (#579).

[2013-10-16 14:26] jwirfs-brock commented on #579
A summary of the various workflow update options are here:
https://docs.google.com/spreadsheet/ccc?key=0As2exFJJWyJqdG42OVM3aUhFTTJ5RzFRbDV5NDUwbVE&usp=sharing

[2013-10-16 15:06] jwirfs-brock commented on #579
The preferred workflow is number 6 from the document above.

But both @ghing and I agree that we need to present the title earlier, but don't like having the title in its own view.

The preferred way to do this would be to have a ubiquitous title (as we do in the story viewer), but there isn't room in the story builder UI to do that.

We still need to figure out where/how users will edit the title

[2013-10-16 15:09] jwirfs-brock commented on #579
One potential solution to the title would be to put it where "Floodlight Story Builder" is in the current builder.

[2013-10-16 15:17] jwirfs-brock commented on #579
The preferred solution is to have the title and byline in the same spot (at the top of the Story Builder). But the height of the bar may not be large enough.

[2013-10-16 15:26] jwirfs-brock commented on #579
We will remove the "Review" step from the workflow, and document the items that we might potentially want to include in an auto-check as a future feature.

[2013-10-16 15:47] ghing commented on #579
so, to summarize what we'll do:
- we'll go with workflow 6 (as it is in the google doc)
- which means removing the "Review" step
- We'll put the title and byline (if it fits) at the top bar
- We'll move the Tag step to the end (after Publish/Share)

| BUILD | STORY INFO | PUBLISH/SHARE | TAG |
| --- | --- | --- | --- |
| Story content | Summary | CC license | Topics/Keywords |
| Title * | Featured

[2013-10-21 21:00] ghing opened #880 "Editor jumps back to wysiwyg display when editing HTML"
This is a regression introduced by either #848 ~~or #844~~

To replicate:
- Add a new text asset to a section
- Start editing the text.
- Click the "Toggle HTML editing" icon ("</>") in the wysihmtl5 editor toolbar
- Start typing text

Expected result:
- HTML code should be visible

Observed result:
- Editor switches back to wysihtml5 mode

Note that this issue isn't present when editing the summa

[2013-10-21 21:26] ghing commented on #880
I commented out the binding of the callback for the `body:change` event in `EditState.render()` around line 4770 of builder/views.js and this issue stopped.  So, this is definitely related to the implementation for #848.

[2013-10-21 22:28] ghing commented on #880
When in HTML editing mode, the "change:body" event fires a lot more often, invoking autosave.  I need to squash some of these, and only autosave once, after things stop changing.

The other part of this behavior is a result of the `SectionAssetEditView` instance re-rendering when the model is auto-saved.  This is because of `SectionView.renderAssetViews()` and is a similar problem to the one [desc

[2013-10-21 22:50] jwirfs-brock opened #881 "New section changes title from "Untitled Section" to "Section 1" upon refresh"
I noticed this while going through the test script for the text asset autosave (https://raw.github.com/PitonFoundation/atlas/develop/apps/storybase_asset/features/edit_text_asset.feature).

Here is what I did (all on dev.floodlightproject.org):
1) Logged
2) Launched a new Sandbox story in the builder
3) Completed the first test, autosave a new text asset
4) Added a new section to the story to do t

[2013-10-22 17:47] jwirfs-brock opened #882 "In embed widget, byline text size should be smaller than story title/link text"
Here's a screenshot of the current embed widget (as seen in Firefox):
![screen shot 2013-10-22 at 1 43 02 pm](https://f.cloud.github.com/assets/1020518/1383681/7f3047a2-3b41-11e3-802e-29368c1e558e.png)

It looks a bit odd that the byline text is so large -- and appears to be larger than the story title text. For reference, the font-sizes/ratios we have on the homepage slider look a lot nicer:
![sc

[2013-10-22 18:19] jwirfs-brock opened #883 "Strange formatting in embed widgets where the story has a long summary"
Check out a few examples where I was playing around with the embed widget:
http://www.wirfs-brock.com/jordan/dataviz/embed_examples.html

In the second and third examples (all are story+list format), the featured story has a somewhat long summary. This is causing the featured image to be cropped in a strange way in the second example. And in the third example, it's causing the title to appear to b

[2013-10-24 17:12] ghing commented on #848
@jwirfs-brock Reported that the text wasn't being autosaved when switching sections.  I did some debugging and this is what I found:
- The current implementation listens to the wysihtml5 editor's 'change' event
- The change event is fired on the editor element's blur event.
- The blur event is only fired when another element gains focus
- Clicking on another section doesn't cause a new element to

[2013-10-24 19:14] ghing commented on #848
I tried listening to mouseout events like this:

[code]

but it didn't work great, largely due to the toolbar being outside the element itself.  Next idea is to trigger autosave on keyup, but debounce the functions.

[2013-10-28 13:48] ghing commented on #717
@jwirfs-brock, is a tooltip ok (which pops up wherever the user first mouses over the image), or do you want something else that's styled to enhance visibility, and something that's consistently positioned in the same place. What should trigger the caption being shown? If you're not sure, that's fine and I can try to prototype a few different things.

[2013-10-28 14:02] jwirfs-brock commented on #717
@ghing So, is the distinction that a tooltip would appear wherever the mouse is, whereas another solution (i.e., a caption that appears in the top left) would always be in the same place?

My initial reaction is that:
- the caption should appear in a consistent location,
- and that location should be the top left.
- It should appear whenever a user mouses over the image.

But, I might have a diffe

[2013-10-28 14:21] ghing commented on #717
@jwirfs-brock,

Yeah, that's the main UI difference.  There are some implementation differences in terms of complexity, but my feeling is that a consistently positioned caption is helpful.  I'll work on a prototype in the next couple of days.  The first step I'm going to take is to look at existing captions to get a few test cases that cover the minimum, maximum and typical cases of caption length

[2013-10-28 14:23] jwirfs-brock commented on #717
@ghing Yeah, that's a good point about not wanting the caption to obscure the image itself. Let's just keep an eye on that and see if it's an issue once we have the prototype.

[2013-10-28 14:56] ghing commented on #852
@jwirfs-brock: Does the test scenario at https://github.com/ghing/atlas/blob/852-viewer_scrolling/apps/storybase_story/features/story_viewer.feature capture the desired behavior?

[2013-10-28 14:59] jwirfs-brock commented on #852
@ghing Yes, that's perfect.

[2013-10-28 15:55] ghing commented on #717
I wrote [a simple program](https://gist.github.com/ghing/0adb86e2477638ccce71) to find example captions that represent the min, max and average caption lengths and this is what I found as good samples for prototyping:

Min: 20 ('The Holly Fair (ULC)') in story /stories/the-holly-gets-a-face-lift/

Max: 429 ('In the past two decades, the number of births per year in the Children's Corridor increase

[2013-10-29 03:29] ghing opened #884 "Use of reserved word "class" breaks viewer in IE8"
This is a regression introduced in a9ee7303d2b061d8b48d592028db2762c627d53a

The `class` attribute of a Backbone view's element is accessed like this:

[code]

This needs to be changed to:

[code]

and everything's ok.

[2013-10-29 03:51] #884 closed, assigned to ghing

[2013-10-29 23:07] ghing commented on #578
@jwirfs-brock and I talked about this as a possible solution, that's part of the implementation of #579 described in [this comment](https://github.com/PitonFoundation/atlas/issues/579):
- Make title omnipresent at top of the builder (we'll make the space by replacing the big logo with something smaller)
- Make a separate "Story Information" step of the builder that will contain the summary and fea

[2013-10-30 17:17] ghing commented on #578
Sample title lengths for moving the story title:

Min: 8 ('En Route') in story /stories/en-route/

Max: 134 ('Taking Action for the Social and Emotional Health of Young Children: A Report to the Community from the Denver Early Childhood Council') in story /stories/taking-action-for-the-social-and-emotional-health/

Avg: 45 ('Near Northeast Profile: Interactive Slideshow') in story /stories/near-no

[2013-10-30 17:40] ghing commented on #578
As a reference, this is how Google Drive handles long titles.  They truncate using an elipses via a `text-overflow: elipses` style:

![screenshot from 2013-10-30 12 30 35](https://f.cloud.github.com/assets/110420/1439291/21bfd5a8-4189-11e3-8333-2cb88ed632e1.png)

[2013-10-30 17:52] ghing commented on #717
Feedback on CSS only solution from @jwirfs-brock:
- Caption should  always be visible at bottom. This will prevent "jumping" around
- Should test on very dark and very light images and a variety of images in general

[2013-10-30 18:13] jwirfs-brock commented on #862
To add another chapter to the Google embed saga...

I'm not sure if it's a Fusion Tables or  Google Charts embed, but one one in http://dev.floodlightproject.org/en/stories/why-stories-matter-a-reflection-on-the-denver-ca-2/ on section 5/8 is rendering fine in Chrome and Firefox, but not showing up in Safari.

[2013-10-31 15:30] jwirfs-brock commented on #717
@ghing In data assets (maps, charts, tables) that have associated data, right now the entire caption (including the link to the associated data) is showing up in the pop-up. Here's an example:

http://dev.floodlightproject.org/en/stories/why-stories-matter-a-reflection-on-the-denver-ca-2/
(see section 5)

What are your thoughts on this? I'm not sure if it makes sense to include the links in the po

[2013-10-31 15:33] jwirfs-brock commented on #717
@ghing For YouTube videos, having the pop-up caption is a bit odd.

Take a look at http://dev.floodlightproject.org/en/stories/anyone-can-be-a-hans-rosling/ on section 2. The YouTube caption appears at the exact same spot as our pop-up caption.

Also see http://dev.floodlightproject.org/en/stories/americorps-attendance/ on section 2.

I would recommend that for YouTube embeds, we drop the pop-up c

[2013-10-31 15:36] jwirfs-brock commented on #717
@ghing I found an example of a small image with a long caption. It's in http://dev.floodlightproject.org/en/stories/americorps-attendance/ on section 10.

Here's a screen shot:
![screen shot 2013-10-31 at 11 34 36 am](https://f.cloud.github.com/assets/1020518/1447094/fd09857e-4241-11e3-870a-7126044c7c57.png)

Yes, it does look a little funny. But I didn't feel like I _had_ to mouse over the image.

[2013-10-31 16:03] jwirfs-brock opened #885 "Auto-sizing of video asset embeds from YouTube and Vimeo should adapt to section layouts"
Right now, YouTube and Vimeo embeds have slightly different behavior. YouTube appears small, whether it's in a side-by-side or one-up layout. Vimeo, on the other hand, always appears large.

Ideally, for both YouTube and Vimeo embeds, we would want them to be large (essentially fill up the entire container) for a one-up layout. For a side-by-side layout, we would want them autosized to the width o

[2013-10-31 20:41] ghing commented on #885
FYI, it looks like YouTube's oEmbed endpoint sets a specific size on the oembed in the response:

That is the request to http://www.youtube.com/oembed?url=http://youtu.be/9ymSnvQM5PE&format=json returns:

[code]

You can override this a bit by passing a `maxWidth` parameter to the oEmbed endpoint.

The request to http://www.youtube.com/oembed?url=http://youtu.be/9ymSnvQM5PE&format=json&maxwidth=10

[2013-11-01 16:06] ghing opened #886 "Sending site contact message with user's email causes admin's SMTP server to reject the message"
I think this is because `send_message_to_admins()` calls `send_admin_mail()` with the person who submitted the form's email as the from address. Gmail rejects this message because it's coming from a Gmail user, but not from Google's SMTP server (it's coming from our webhost's mail server).

This used to work, but I think at some point Google tightened up their security restrictions.

The fix is ju

[2013-11-01 16:33] #886 closed, assigned to ghing

[2013-11-01 19:05] ghing opened #887 "ImportError: cannot import name signals"
After upgrading staging instance for testing deployment of #660 changes:

[code]

This [Stack Overflow answer](http://stackoverflow.com/a/17364366/386210) suggests a circular import is the problem.

[2013-11-01 21:44] ghing commented on #887
I removed the circular imports in cc0abcb, but the error persisted. Creating a fresh virtualenv ended up solving the problem.

[2013-11-01 21:44] #887 closed, assigned to ghing

[2013-11-04 19:16] ghing opened #888 "User trying to save section that isn't associated with the story"
Traceback:

[code]

[2013-11-04 20:16] ghing opened #889 "Multiple assets created with same asset_id"
A user was somehow able to create multiple assets with the same asset_id which caused an error when associating the asset with the section.  Here's the traceback for the error:

[code]

This also set off a number of "Attempted duplicate assignment of asset ASSET_ID to section SECTION_ID in container CONTAINER" errors.

[2013-11-07 16:06] #660 closed, assigned to ghing

[2013-11-07 16:06] #844 closed, assigned to ghing

[2013-11-07 16:06] #846 closed, assigned to nobody

[2013-11-07 16:06] #847 closed, assigned to ghing

[2013-11-07 16:06] #848 closed, assigned to nobody

[2013-11-07 16:06] #880 closed, assigned to ghing

[2013-11-07 16:06] #717 closed, assigned to ghing

[2013-11-07 16:06] #852 closed, assigned to nobody

[2013-11-12 15:02] jwirfs-brock opened #890 "Admin view for Stories - can't see publish/draft status in Chrome"
This is a very minor, yet potentially annoying thing I noticed.

When I am looking at the list of stories in the admin view (http://floodlightproject.org/admin/storybase_story/story/), I can see the full info about each story in Firefox. But in Chrome, the filter on the right overlaps with the story list, so I can't see the publish/draft status of the stories. There doesn't appear to be any way to

[2013-11-13 15:00] ghing opened #891 "Builder trying to create section translation for section that doesn't exist"
Traceback:

[code]

Request path is /api/0.1/stories/484acee6d2bf4b1cb117e14040743407/sections/180e3c6fe31c45f9acf803b65d013fcb/

Browser was Chrome 30 on Windows 8.1, though I don't think this is browser related.

This error occurred on November 11. On November 13, I checked for the section with the section ID from the URL and it didn't exist. However, I'm not sure if this is because the section

[2013-11-13 15:29] ghing opened #892 "AuthCancelled exception not caught when user cancels Facebook signup"
I've only seen this once and it doesn't seem  like a huge deal as it seems to be triggered when the user requests to cancel the account:

Traceback:

[code]

The path is:

/en/accounts/complete/facebook/?redirect_state=GOkFllFPDvw42obELJmvUadmSTPbaiwE&error=access_denied&error_code=200&error_description=Permissions+error&error_reason=user_denied&state=GOkFllFPDvw42obELJmvUadmSTPbaiwE

[2013-11-13 17:14] jwirfs-brock opened #893 "Summary character counter not displaying correctly in Chrome"
Here's a screenshot of what I saw while editing a summary in Chrome (Version 31.0.1650.48) on Mac OSX. Note that the "characters" text is visible, but there is no counter. Neither the as-you-type count nor the over-the-limit alert were visible.:
![screen shot 2013-11-13 at 11 46 02 am](https://f.cloud.github.com/assets/1020518/1533506/6b3c85ca-4c86-11e3-8e34-e65e8e4d2b40.png)

When I reopened the

[2013-11-13 17:18] jwirfs-brock opened #894 "HTML not enabled in connected story prompt"
In [this story](http://floodlightproject.org/en/stories/successes-and-obstacles-a-story-in-images-and-word/) I put a link in the connected story prompt using HTML (because there was no WYSIWYG editor). The HTML was not rendered on the story detail page or in the story viewer. Here's a screenshot:
![screen shot 2013-11-13 at 12 16 02 pm](https://f.cloud.github.com/assets/1020518/1533580/75d1f168-4c

[2013-11-13 19:44] ghing commented on #890
@jwirfs-brock, the issue you were seeing was because I created a test story with a title that had a really long, uninterrupoted "word" (actually something like "asdasdasdsadasdasd...") in the title.  The columns have CSS styles (which are Django's defaults) that specify `white-space: nowrap;` which cause the browser to display my really long "word" in the title on one line and push all the other c

[2013-11-13 19:44] #890 closed, assigned to ghing

[2013-11-14 14:36] jwirfs-brock opened #895 "Change icon for story templates"
I created a new story template. By default, it has the icon for "Data Story."

In the story term, the icon needs to be switched (I'll create a new icon and post it here).

In the long term, it would be nice to be able to add a new icon via the admin view. A logical place for this would be in the story template edit view (http://floodlightproject.org/admin/storybase_story/storytemplate/6/).

[2013-11-14 14:44] jwirfs-brock opened #896 "Creating a copy of a story in the admin"
An admin should be able to select a story and make a duplicate of it.

This could be useful for the purposes of creating story templates and leading workshops that focus on specific, story-driven activities.

Potential mechanics of this:
1. Could happen in the story list view (http://floodlightproject.org/admin/storybase_story/story/)
2. Could be an option from the pull down menu of actions at the

[2013-11-14 17:32] jwirfs-brock commented on #895
Here's the updated icon:
![successes_obstacles_icon](https://f.cloud.github.com/assets/1020518/1543174/4e7dddfe-4d52-11e3-9905-06b9d4b4722a.jpg)

I made this by modifying the original PSD comps we got from Geoff Thomas, so the image should be the same dimensions as the ones we are using in the builder. I didn't have anything to go on in terms of how much white space to add as a border, though. @gh

[2013-11-14 20:12] jwirfs-brock commented on #896
Some additional details about how this should work:
1. The owner of the story copy should be the admin who created the copy
2. When a story is copied, all of the assets should also be copied (so that a user can edit the assets in the copy without changing the originals)

[2013-11-14 20:16] jwirfs-brock opened #897 "Admin should be able to save story templates as drafts and/or stage them"
Currently, story templates don't have draft/published/staged settings -- they are either created (and published by default) or deleted.

Story templates should have a workflow that allows that admin to set them as a draft, as staged, or as published.

See the news item workflow for a model (http://floodlightproject.org/admin/cmsplugin_storybase/newsitem/10/). It has a status drop-down tab with the

[2013-11-15 22:50] ghing commented on #895
@jwirfs-brock This will ultimately need to be a PNG and be merged into the `story-template-icons.png` sprite.  It's probably just easiest if you email me the Illustrator file (or share it via Google Drive).

[2013-11-15 22:55] jwirfs-brock commented on #895
@ghing As it so happens, I already put the .ai file on Google Drive:
https://drive.google.com/file/d/0B82exFJJWyJqdmhJdTZNaGIzRlU/edit?usp=sharing

Let me know if you need anything else.

[2013-11-16 00:00] ghing commented on #895
@jwirfs-brock This is done and pushed to production.  You might have to do a hard refresh to see it.

[2013-11-16 00:00] #895 closed, assigned to ghing

[2013-11-18 16:45] ghing commented on #894
This is a good point to add some sanitization into the process.

I wanted to see what HTML people were actually throwing in their calls to action, and summaries, so I used [this snippet](https://github.com/PitonFoundation/atlas/wiki/Django-Snippets#find-all-html-tags-used-in-published-stories-calls-to-action) to look for tags in published stories and these are the tags that are being used:
- a
- b

[2013-11-18 16:49] jwirfs-brock commented on #894
Yeah, I have a feeling a lot of those are coming from text pasted in from
another source that brought some html tags along with it.

[2013-11-18 17:59] ghing commented on #894
Fixed this in 8e8a78a and deployed to production.

[2013-11-18 17:59] #894 closed, assigned to ghing

[2013-11-19 15:16] jwirfs-brock commented on #879
I took a look at the tour text, and the first step (listed above) is the only one that needs to be updated.

I'll work on the new copy and post it here.

[2013-11-19 15:20] jwirfs-brock commented on #578
@ghing Generally, I like the layout on the new Story Information section. My only suggestion would be to try flipping the position of the summary and the featured image, so the summary is on the left and the featured image is on the right. Right now, with the featured image on the left and the summary on the right, this matches the layout of the story detail page, which makes sense. But I feel lik

[2013-11-19 15:21] jwirfs-brock commented on #893
@ghing When I was looking at the new Story Info workflow step on dev (from #578 and #579), I observed that the character counter wasn't working.

[2013-11-19 15:24] ghing commented on #893
@jwirfs-brock Yeah, that's a known issue.  I'm going to clean up details like that once I get the broad strokes figured out.

[2013-11-19 15:27] jwirfs-brock commented on #879
@ghing Should we add a step in the tour that mentions the title and the byline?

[2013-11-19 15:32] jwirfs-brock commented on #579
@ghing Should we change the text for editing the title and byline from “This is my title” and “By Jordan Wirfs-Brock” to “Click to edit title” and “Click to edit byline”?

[2013-11-19 15:41] ghing commented on #579
@jwirfs-brock Where are you seeing "This is my title"?  I'm seeing it default to "Untitled Story" and "Unknown Author" when the user hasn't entered anything.  I'd say this is something we should test on friends and family.

[2013-11-19 15:43] jwirfs-brock commented on #579
D'oh. I edited them and forgot that I did that...

[2013-11-19 15:45] jwirfs-brock commented on #579
Well, I still suggest, "Click to edit title" and "Click to edit byline" -- something that tells the user they need to click there.

Looking at the title again, it seems less obvious than it did before that you can just click to change the title and byline.

[2013-11-19 15:48] jwirfs-brock commented on #579
@ghing Another solution to make it more apparent that the title and byline are editable would be to have the text change in some way on a hover. For example, in Google Drive, the title of a document has a subtle grey highlight when you mouse over it.

[2013-11-19 15:51] jwirfs-brock commented on #879
Here's the text for the first tour item:

**Building a story takes four simple steps.**
Clicking on these tabs lets you switch between the different steps in the story building process. You can always move freely between the steps.
1. **Build** - Construct your story using text, photos, videos, data visualizations, and other materials.
2. **Story Info** - Write a summary and select a featured imag

[2013-11-19 16:01] ghing commented on #579
Let's test whether users can figure out how to edit the title and byline of the story.  Can you take a stab at writing a usability testing task for editing the title and byline?   Then we can ask friends/family and adapt the interactions accordingly.  I think we can take a similar approach with making sure people fill out the featured image and summary as well, and deciding what, if any microcopy

[2013-11-19 16:25] jwirfs-brock commented on #578
@ghing These might be known issues, but I noticed while doing some testing that:
- The "Publish" button didn't appear to be working in the updated builder.
- That featured image I selected on the Story Info step did not appear in the preview.

[2013-11-19 16:29] ghing commented on #578
@jwirfs-brock, what's up on dev isn't  ready for testing.  I just wanted to show it to you to give you an idea of UI layout.

[2013-11-19 16:32] jwirfs-brock commented on #579
@ghing That makes sense. I'm really eager to get some user feedback.

Do these usability tasks make sense?

**Usability tasks**
1. Show readers a sample story and ask them to recreate it.
2. Ask readers to create a new story with very little guidance (i.e., with only a photo as a starting point).

They seem similar, but there's an important distinction between these two tasks.

The goal of task (1

[2013-11-19 17:14] ghing commented on #579
I think these tasks actually have too much going on to get feedback for the questions that we have.  I think the task is something more like just setting a title and byline for the story.

However, I think you're on to something with the goal of your second task, "see if the story builder UI encourages users to include those elements without additional prompting".  I wonder, however, if there are

[2013-11-19 22:17] ghing commented on #579
@jwirfs-brock, should the user be able to jump ahead to the "Story Info" section when they first select a template, or should they have to at least make some kind of edit that saves the story?

[2013-11-19 22:28] jwirfs-brock commented on #579
@ghing I think they should be able to jump to the "Story Info" section at
any time, without first editing the story body.

On Tue, Nov 19, 2013 at 5:17 PM, Geoffrey Hing notifications@github.comwrote:

[2013-11-21 15:15] ghing commented on #756
Assigning to @jwirfs-brock so she can start fleshing out how this feature will work.

[2013-11-21 17:21] jwirfs-brock opened #898 "Need to create list of user stories for mobile reading"
@ghing Suggested in our Iteration 20 planning discussion that we should first: "write user stories to help define goals for using Floodlight on mobile platforms."

[2013-11-21 17:26] jwirfs-brock commented on #898
(Note this isn't an issue, it's more of a task -- I just wanted to record it as one of the things that needs to be done in this iteration.)

[2013-11-22 14:31] ghing commented on #898
@jwirfs-brock I added a "task" label for these kinds of things in the future.  I think for our purposes it's totally fine to use the GitHub issue tracker for project-related, non-coding todos as well.

[2013-11-22 15:02] jwirfs-brock commented on #579
The goal of these tasks is to understand the user’s ability to edit the important non-body elements of a story. They do not test whether the user can identify what those elements are in the first place.

Story elements we are testing:
1. Title
2. Byline
3. Summary
4. Featured image

**These tasks should be done while sitting with the user or while having a screen-sharing session with the user so y

[2013-11-22 16:04] ghing commented on #579
@jwirfs-brock, these look pretty good. I'm up in the air about whether the sub-tasks should be first-level tasks themselves, just to make it easier for the tests to be more atomic/faster for testing with people with limited time.  Maybe we should go with what you have and see how it goes and adapt as needed.  We're trying to get insight, not scientific data, so I think its ok to change things up m

[2013-11-22 16:06] ghing opened #899 "Microcopy for "Story Information" workflow step"
Write copy, if needed, for top of "Story Information" workflow step or under the heading for the summary and featured image tasks.

If you don't think anything is needed, or you want to test this out with limited textual guidance, just close this issue.

This is related to the fix for #579 and #578.

[2013-11-26 14:59] jwirfs-brock commented on #579
@ghing I think splitting up the sub-tasks into individual tasks should be fine.

As for synonyms, is the intention here that they are simply non-jargony, or that they are markedly different from the terminology that we use on the site in microcopy (to test whether users are identifying with the underlying concept behind the term)?

Here's a brief intro script:

[2013-11-26 15:00] jwirfs-brock commented on #579
@ghing Oh, and I think it makes sense to test whether users can identify key storytelling elements in a separate test. It's still really important, but for the sake of simplifying these tests so we can finalize the fixes to the workflow, I think we should keep them distinct.

[2013-11-26 15:11] jwirfs-brock commented on #899
@ghing I think, for the sake of consistency while we test, we should keep the micro-copy as-is in the current summary. This each, each summary has dummy text inherited from its template.

In our current story builder, there's additional micro-copy in the "help" section. For now, let's keep this micro-copy in the blue help tab for the new story information step. If we find, through testing, that pe

[2013-11-26 15:45] ghing commented on #579
@jwirfs-brock, re: avoiding synonyms in text:

The language should definitely be non-jargony, but the intention of avoiding synonyms is the second factor that you described, making sure users are understanding the app and finding the UI elements that let them achieve the tasks in an intuitive way rather than just searching for a particular string.

[2013-11-26 16:08] ghing commented on #579
@jwirfs-brock, taking another look at the test tasks and the builder UI, the only thing that feels like we should use different language is "Featured image", since that text appears in the UI and it seems easy enough to describe that in different language.  We shouldn't worry about phrases like Title or Summary, because I can't think of alternate language for those things that isn't artificially o

[2013-11-26 16:36] ghing commented on #899
@jwirfs-brock, duh. I forgot that there was already help for the story information section in the existing builder.  I wired this up to the new workflow step.  When this is deployed, you can just edit the help item with slug `story-information` in the Django admin to reflect [what you wrote above](https://github.com/PitonFoundation/atlas/issues/899#issuecomment-29299618)  I'll open a new "task" is

[2013-11-26 16:38] jwirfs-brock commented on #579
@ghing Here are the notes from my first user test:
https://docs.google.com/document/d/1SBOml6LgbEF96FdQq1q0XvL2Gb1bI-KKh-1-f2vu1Gc/edit?usp=sharing

[2013-11-26 16:51] ghing opened #900 "Clean up story autosave handling"
As surfaced in a [usability test](https://docs.google.com/document/d/1SBOml6LgbEF96FdQq1q0XvL2Gb1bI-KKh-1-f2vu1Gc/edit) that @jwirfs-brock did with her mom, the way saving happens can be kind of confusing.

We should write user stories to describe the desired functionality, but I wanted to capture the current behavior and some things that might be desireable

Right now the strategy could be summar

[2013-11-26 16:54] ghing commented on #579
@jwirfs-brock, those test results are really informative.  I've opened another issue, #900 to capture some of the info about confusion around autosave.  Please update the issue if you have anything to add.

It seems like there was some confusion around the term "byline".  Am I interpretting that right?  Perhaps this is too jargony and we should change it to something like "fill in your name as the

[2013-11-26 16:56] jwirfs-brock commented on #579
Yeah, "byline" was definitely too jargony. In the test, I said "change the author information" which was an easy enough to follow direction. My mom said she never would have thought of that as a "byline."

[2013-11-26 17:00] ghing opened #901 "Update Story Information help text"
When the iteration 19 changes are deployed, update the help text for the Story Info workflow step in the Django admin (it has a slug of `story-information`) to reflect the addition of the featured image to this step.

@jwirfs-brock proposed some text for this in [this comment](https://github.com/PitonFoundation/atlas/issues/899#issuecomment-29299618) in #899.

[2013-11-26 17:00] #899 closed, assigned to nobody

[2013-11-26 17:57] ghing commented on #898
@jwirfs-brock and I started writing user stories for this in the "Mobile" worksheet of https://docs.google.com/spreadsheet/ccc?key=0AripktENBWzTdFpOaDBJa0JUdGFqaWs3UV9US3pLRUE&usp=sharing

Here are some questions and observations to help us to decide on implementation:
- the google analytics data for recent weeks show that all mobile visits are less than 10% of our traffic
- within mobile, it's 2/

[2013-11-26 18:52] ghing opened #902 "Write test scenarios for mobile features"
Based on the user stories for mobile (#898) in "Mobile" worksheet of https://docs.google.com/spreadsheet/ccc?key=0AripktENBWzTdFpOaDBJa0JUdGFqaWs3UV9US3pLRUE&usp=drive_web#gid=18 write test scenarios.  These should try to follow the conventions of the Gherkin language as much as possible.

http://docs.behat.org/guides/1.gherkin.html is a decent Gherkin reference.

The goal of these tests is to eva

[2013-11-26 22:40] jwirfs-brock commented on #579
@ghing And here's another user test, this time with my dad. I asked him to create and edit a story from scratch. Again, lots of valuable insight!

https://docs.google.com/document/d/19ZwGt5MEmnFTbQwT9ZX3G5R_YFWDtaNyWya1luHMVn0/edit?usp=sharing

[2013-11-27 04:07] jwirfs-brock commented on #579
@ghing While going through the test script, I noticed that in Firefox, the "Publish" button was not working initially (nothing happened when I clicked it). After a refresh, the button worked properly.

Up until I tried to publish, I had been following the [test script](https://raw.github.com/PitonFoundation/atlas/develop/apps/storybase_story/features/story_builder_full_process.feature) pretty much

[2013-11-27 14:51] ghing commented on #579
@jwirfs-brock I consolidated your usability test notes into a single doc (https://docs.google.com/document/d/1urNXtsbEw49yLFmWdlwHifvRWCuwmbJYGhuYhJ0opFA/edit#) as I'm going to be doing a couple of tests today and I think it will get unwieldy to have a doc for each tester.

[2013-11-27 20:17] ghing commented on #579
@jwirfs-brock I did 3 usability tests today and recorded the observations in the consolidated google doc at https://docs.google.com/document/d/1urNXtsbEw49yLFmWdlwHifvRWCuwmbJYGhuYhJ0opFA/edit

All the testers mistook the section title for the story title and didn't immediately grasp that the story was comprised of sections.  I want to tweak the title editing widget before we do any more tests as

[2013-11-28 03:17] jwirfs-brock commented on #579
@ghing Yup, that's five out of five testers who mistook the section title
for the story title. Do you think adjusting the styling will fix it, or are
you thinking we'll need to change placement?

One thought that came up in my tests was moving the title next to the
content, instead of having the workflow menu squished in between.
On Nov 27, 2013 3:17 PM, "Geoffrey Hing" notifications@github.com wr

[2013-11-28 17:25] ghing commented on #579
@jwirfs-brock I want to try starting out with the title field being an input and popping a little tooltip. My test subjects said the title made sense there, but it was just hard to find initially and confusing because they didn't come into using the app understanding that a story was divided into sections (the tour would help with this somewhat). I feel like having a "Section title" label or addin

[2013-12-02 15:38] jwirfs-brock commented on #579
@ghing During testing, I noticed some strange behavior in Chrome while reordering sections. When I clicked on a section and dragged it to a new position, the section I was dragging disappeared. It reappeared (in the correct, new spot) once I let go of the section.

Here's a screen shot:
![screen shot 2013-12-02 at 10 36 06 am](https://f.cloud.github.com/assets/1020518/1655741/c0ee8d98-5b67-11e3-9f

[2013-12-02 16:09] jwirfs-brock commented on #579
@ghing In response to the title behavior, I have a few suggestions:
1. We should definitely add the title to the tour. (But I doubt that will solve the entire problem).
2. We should also doing something to highlight the story title...a big "start here by editing your title!" flag or something. I'm not sure how to make it helpful yet not annoying.
3. Another thought I had was to toggle off the sect

[2013-12-02 16:31] jwirfs-brock commented on #579
@ghing When I tested the entire workflow in Chrome, almost everything worked smoothly. However, I did notice some strangeness with the asset drawer when I went back to edit the story after publishing.

After I deleted a section, then added a new section, I observed that the asset drawer appeared at the bottom of the window:
![screen shot 2013-12-02 at 11 27 12 am](https://f.cloud.github.com/assets

[2013-12-02 16:52] ghing opened #903 "Section icon disappears when dragging"
Originally [reported](https://github.com/PitonFoundation/atlas/issues/579#issuecomment-29627425) by @jwirfs-brock in #579:

![](https://f.cloud.github.com/assets/1020518/1655741/c0ee8d98-5b67-11e3-9f86-1148918b9a09.png)

[2013-12-02 17:00] ghing commented on #579
@jwirfs-brock, re: ]your ideas for disambiguating the story title and section title](https://github.com/PitonFoundation/atlas/issues/579#issuecomment-29630424).  I made the following changes at the end of last week to address these issues:
- For new stories, show the story title input (rather than the default title, "Untitled Story") to make it more apparent that text can be input there
- Highligh

[2013-12-02 17:05] ghing opened #904 "Drawer tabs and border are not rendered at the top of the page"
Originally [reported](https://github.com/PitonFoundation/atlas/issues/579#issuecomment-29632630) by @jwirfs-brock in #579

![](https://f.cloud.github.com/assets/1020518/1656193/099618ca-5b6f-11e3-877e-c49b0846f002.png)

![](https://f.cloud.github.com/assets/1020518/1656196/15929eaa-5b6f-11e3-8e44-597e938946cb.png)

![](https://f.cloud.github.com/assets/1020518/1656200/2411d018-5b6f-11e3-8b0c-f65f2

[2013-12-02 17:52] ghing opened #905 "Section addition icons are shown when dragging a section"
When dragging a section to reorder the section, the "+" icons to the left or right of the section are moved along with the dragged element.

This doesn't really make sense, and it should be pretty easy to hide them with CSS.

Here's a screenshot:

![screenshot from 2013-12-02 11 52 09](https://f.cloud.github.com/assets/110420/1656917/83dca42c-5b7a-11e3-85af-9a1403d1743a.png)

[2013-12-02 18:27] jwirfs-brock opened #906 "Publish button not working in Firefox after some story edits"
I observed this on dev (but  not production) while testing the updated story workflow (issue #579).

Here is what happened:
* During normal story edits (adding a title, adding new section, adding content to sections), when I navigated to the Publish/Share workflow step, the Publish button worked properly
* When I created a new story and did many complex edits (i.e., reordering sections, editing se

[2013-12-03 14:04] #905 closed, assigned to nobody

[2013-12-03 14:16] ghing commented on #906
I suspect that the issue isn't actually with editing any particular content (reordering section, changing section title, etc.) but with switching between workflow steps, which then re-renders the view for the publish button, `PublishButtonView`.  I was able to replicate the issue like this:
1. Load an existing story in the builder.
2. Click on the Publish/Share tab
3. Click on the Build tab
4. Cli

[2013-12-03 14:18] ghing commented on #906
The quick fix is to just call `this.delegateEvents()` in `PublishButtonView.render()`, but I'm going to see if we can avoid re-rendering altogether.

[2013-12-03 14:35] ghing commented on #906
@jwirfs-brock, I believe this is now fixed.  Assigning to you to confirm.

[2013-12-03 15:31] ghing commented on #904
I found a way to consistently reproduce this:
1. Create or edit a story.
2. Make sure you're on the "Build" workflow step
3. Resize the browser or select a layout that requires scrolling
4. Scroll down to the bottom of the window
5. Click on the "Story Info" tab

Expected behavior: Drawer tabs and border should be rendered just below the workflow step bar

Observed behavior: Drawer tabs and border

[2013-12-03 15:42] jwirfs-brock opened #907 "If a user doesn't enter a byline, the story should display the user's first name, last initial by default when published"
The default byline, if a user doesn't enter in a custom byline, should be:

[User first name] [User last initial]

Example: Jordan W.

So, the same basic format as the user name that is listed on the story detail page.

Note that we may want to delay doing this until after we've tested the validation, and whether that alerts users to the fact that they can enter author information.

[2013-12-03 15:43] ghing commented on #903
Here's a way to consistently replicate this issue:
1. Create or edit a story with at least two sections
2. Resize the browser window or change the section layout so you have to scroll to reach the bottom of the section
3. Scroll to the bottom of the browser window
4. Try to reorder sections

Expected behavior: The icon for the section that is being moved is visible as it is being dragged

Observed

[2013-12-03 15:53] ghing opened #908 "Featured image not being automatically set"
To reproduce:
1. Create a new story using the "Photovoice" template
2. Enter a title to save the story
3. Upload an image in the left-hand container
4. Click on the "Story Info" tab

Expected behavior: Image uploaded in step 3 should be displayed as the current featured image

Observed behavior: Default featured image is shown

[2013-12-03 15:56] ghing opened #909 "Clicking "Publish My Story" should invoke basic validation of story"
Clicking on "Publish My Story" should invoke basic validation of story, confirming that the story has these elements:
- Title
- Summary
- Byline
- Featured image

[2013-12-03 16:02] ghing opened #910 "Builder should scroll to top of window when changing story sections or workflow steps"

[2013-12-03 16:23] ghing commented on #909
Quick sketches of tests for pre-publish validation:

[code]

[2013-12-04 15:02] jwirfs-brock commented on #579
@ghing Here's the new usability test for observing the entire story building process and testing the validation:
https://docs.google.com/document/d/11URv4KeWoev0L5nUJQ4HrLonfo3G8UkROQidqjUBz14/edit

Feel free to edit it. This was just a first stab at it. If you have suggestions for how we might structure the test differently, I am open to those, too.

My idea was to ask users to create a PhotoVoic

[2013-12-04 15:31] jwirfs-brock commented on #579
@ghing I just had another idea for how to do this. We could seed the same images as removed assets, so they would be in the asset drawer. That would mean the user would have to open an existing story instead of creating on from scratch, but since we are not trying to test that part of the process, I think it would be ok. They would be harder to preview (smaller, because just the thumbnails would b

[2013-12-04 15:43] jwirfs-brock commented on #579
And here are the test images: https://docs.google.com/document/d/1MQwpBLTVMxYZi585IYMJoZi7a_33R8WJG4gwrCk2wO0/edit

[2013-12-04 15:46] ghing commented on #579
@jwirfs-brock, I'll take a look at these and comment this afternoon.

I also had a thought when doing one of my usability tests yesterday, which was to see how viewing a story on Floodlight before going through the building process would affect the way the users interacted with the builder.  I don't know how to turn that into anything actionable, but it strikes me that some of the things that are

[2013-12-04 15:55] jwirfs-brock opened #911 "Images showing up in asset drawer once removed, but not showing up in Story Builder or Preview"
Here is the story I was working on where I observed this bug: http://floodlightproject.org/en/build/d7a56f9c0566471aae26e8180ffb9847/

If you open the asset drawer, you'll see a bunch of image assets. All of them are embedded via Flickr using a link.

Two of the images (the black and white image of the roller coaster and the color image of the tiered wooden building) did not render originally when

[2013-12-04 15:57] jwirfs-brock commented on #579
@ghing I was actually thinking the same thing about starting by showing users a Floodlight story before they build. I almost wrote that into the test, but figured we should start by keeping it simple. I'd be open to trying that here, although we could hold off on it and then do some A/B testing with that being the key variable later.

[2013-12-05 13:53] ghing commented on #579
@jwirfs-brock The tasks and documentation of the test seem right on.  I made some comments.  Feel free to resolve them or reply in the document.  Regarding setting the story up with pre-seeding assets in the story, I think this is fine to try, but might be a moot point depending on what you think of my idea of users creating a simple photovoice story from one of their own photos.

[2013-12-05 14:34] jwirfs-brock commented on #898
@ghing Here's a draft of the test script for the user stories we came up with:
https://docs.google.com/document/d/1oCgv5fmMyDHdYSPlXfKGIT2eS_3xgr-s622kokbJGps/edit

[2013-12-05 14:39] jwirfs-brock commented on #898
@ghing I've also updated our test matrix to include a tab for the mobile readability tests:
https://docs.google.com/spreadsheet/ccc?key=0AvaXS4x_XvJmdG5hbzZuT04ydm1Ra0piZHBOZV9abWc&usp=drive_web#gid=15

[2013-12-09 16:58] jwirfs-brock commented on #898
@ghing I completed the tests for iPad and iPhone. Take a look at my notes on our test spreadsheet (https://docs.google.com/spreadsheet/ccc?key=0AvaXS4x_XvJmdG5hbzZuT04ydm1Ra0piZHBOZV9abWc&usp=drive_web#gid=15) and let me know if you have any questions.

I have complete notes on each scenario in the spreadsheet, but the biggest problems were:
1. When you launch a story from the story detail page, t

[2013-12-09 17:44] ghing commented on #898
@jwirfs-brock, I'll try to take a look at these but might not get to it until tomorrow.

Make sense.  Did you also test the viewer on iPhone/iPad  when accessed directly via /stories/SLUG/viewer/?

I've always disliked the popup viewer, and feel like it's even more inappropriate now that we have a more-clear idea of the content inside the story (and that it's needlessly constricted by the size con

[2013-12-09 17:52] jwirfs-brock commented on #898
@ghing Yes, I did test using /viewer, and noted what worked in those cases
in the test matrix.

[2013-12-09 18:26] ghing commented on #908
This is how things are supposed to work:
- `FeaturedAssetView` listens to the `add` event of it's `assets` collection of its `model` property
- When a new asset is added, `FeaturedAssetView.handleAddAsset()` is called
- If the asset is an image asset, the handler waits for the `change:content` event to be triggered on the asset
- And then sets the asset as the featured image.

I need to use the de

[2013-12-09 22:00] ghing commented on #908
It looks like the problem is that the `change:content` event doesn't seem to be triggered on the asset, and `this.model.setFeaturedAsset(asset);` never gets called.  Perhaps this is due to a difference in how Backbone triggers `change` events between the version used when this feature was implemnented and more recent versions.

It's interesting to note that the featured image gets set correctly on

[2013-12-09 22:24] ghing commented on #908
Actually, the `change:content` event is triggered, but it's triggered before the event listener is bound.

[2013-12-09 22:49] ghing commented on #908
@jwirfs-brock, I believe I've fixed this issue.  Can you confirm that it's fixed on your end?

[2013-12-09 22:49] #908 closed, assigned to nobody

[2013-12-10 15:46] jwirfs-brock commented on #908
@ghing I'm observing that it's fixed on dev, but not on production yet. Is that right?

[2013-12-10 15:49] ghing commented on #908
Correct. Fixed on dev but not in production.

On Tue, Dec 10, 2013 at 9:46 AM, Jordan Wirfs-Brock <
notifications@github.com> wrote:

##

Geoffrey Hing
geoffhing@gmail.com
773.969.6436
http://geoff.terrorware.com/
Twitter: @geoffhing

[2013-12-10 17:25] ghing commented on #879
I updated the tour.  I mentioned the title and byline editing in a single tour step.  It looks like this:

![screenshot from 2013-12-10 11 15 39](https://f.cloud.github.com/assets/110420/1716378/120dc7da-61c0-11e3-9d49-a06e6f1acfb9.png)

[2013-12-10 17:26] ghing commented on #879
Assigning to @jwirfs-brock for review.

[2013-12-10 20:06] ghing commented on #904
The drawer's position is set in `AppView.render()` with a call to `AppView.pushDown()`. This is a good place to start to figure out what's going wrong.

[2013-12-10 20:32] #910 closed, assigned to ghing

[2013-12-12 14:47] #904 closed, assigned to nobody

[2013-12-12 16:03] jwirfs-brock commented on #579
Based on a comment in one of the usability tests that the grey text on the workflow steps in the builder made them seem unclickable, I suggest that we make the following change:
- all workflow steps are white text on a black background
- active workflow text is either orange text on a black background (matches the rest of the site navigation), or white text on an orange background

[2013-12-16 18:21] ghing commented on #579
I did a quick and dirty pass at:
- Removing the logo bar
- Moving the story title below the workflow step bar
- Moving the "tools" menu into a collapsible menu

It looks like this:

Template selection:

![screenshot from 2013-12-16 12 15 33](https://f.cloud.github.com/assets/110420/1757319/d0c78f2c-667e-11e3-9524-3d2bef047eb2.png)

Build step:

![screenshot from 2013-12-16 12 17 51](https://f.clou

[2013-12-17 21:05] jwirfs-brock commented on #579
@ghing These screen shots look good. I like the direction this is going.

[2013-12-17 22:48] ghing commented on #579
@jwirfs-brock, I updated the workflow step link colors as you requested at https://github.com/pitonfoundation/atlas/issues/579#issuecomment-30435243 with the additional semantics of making disabled steps dark gray.  (For instance, you can't access the "Publish" step if you haven't first saved your story).

Note that I couldn't make the icons orange when they're selected because they're part of a s

[2013-12-17 22:50] ghing commented on #579
@jwirfs-brock, I updated the dev server with the builder with the moved title element. You'll likely have to do a hard refresh to see the changes.

[2013-12-18 14:18] jwirfs-brock commented on #579
@ghing I like it a _lot_.  It feels a lot cleaner and more intuitive.

Should we do some user tests with this new layout? Let me know when you
think it's ready.

[2013-12-18 14:30] ghing commented on #579
@jwirfs-brock Glad you like it.  It should be ready for usability testing.

[2013-12-18 14:37] ghing commented on #907
@jwirfs-brock, should I go ahead and implement this?

My feeling is that the first name and last initial shouldn't be set in the byline, but should just be displayed as a default when an explicit byline is not present.

What are the contexts where this should be used for the byline:
- Builder?
  - If so, should this be shown as the default in the builder (currently "Unknown Author"), or only when

[2013-12-18 14:55] jwirfs-brock commented on #907
@ghing I think we are ready to implement. In response to your questions:

I think keeping it "Unknown Author" until the story has been published makes the most sense. If we fill it in, people might not realize they can change it.

Yes, display here.

Yes, display here.

I think currently, it is displaying in the viewer but not on the story detail page.

[2013-12-18 16:20] ghing opened #912 "HTML in summary and call to action is not properly handled"
To replicate:
1. Create a story
2. Fill in the following text for the story's summary: "Test summary!\n\n"
3. Save the story by pressing the "Save" button.
4. Click the "Preview" link in the tools menu.

Expected behavior:

The summary is shown as `Test summary!`

Observed result:

The summary is shown as `Test summary!<br>`, that is, with the `<br>` tag escaped as `&lt;br&gt;`

[2013-12-18 17:44] ghing commented on #912
It looks like the text is actually being stored in the database with the `<br>` tags already escaped. It appears as if the request to the server sends plain text and the response escapes the text.

[2013-12-18 17:59] ghing commented on #912
The problem is that `bleach.clean()` is escaping the `<br>` tag in `storybase_story.models.clean_storytranslation_html()`.

[2013-12-18 19:49] #912 closed, assigned to ghing

[2013-12-18 20:27] ghing commented on #907
@jwirfs-brock, I updated the story detail page template so it falls back to the author's first name and last initial.  Taking a look at the builder code, doing the fallback, and only for published stories, adds complexity that I'm not sure is worth it.  It seems like the only advantage of showing the fallback value in the builder is to mirror what will be shown in the viewer, but it also runs cont

[2013-12-19 15:56] ghing commented on #579
Noticed a bit of layout weirdness in IE8.  The textarea for the summary overlaps the featured image selection widget.

![screenshot from 2013-12-19 09 00 54](https://f.cloud.github.com/assets/110420/1783624/174112c2-68c6-11e3-868d-65363da414aa.png)

[2013-12-22 04:39] ghing opened #913 "Pressing "Enter" key opens tools menu in IE8/IE9"
I discovered this when testing #578 and #579 changes in Internet Explorer 8 and 9.

To replicate:
1. Create new Sandbox story
2. Press the "Enter" key

Expected result:

Nothing

Observed result:

Tools drop down menu opens.

[2013-12-22 04:52] #913 closed, assigned to ghing

[2013-12-22 05:49] ghing commented on #903
I can no longer replicate this.  It looks like it was fixed by other recent changes.  Closing.

[2013-12-23 00:37] ghing commented on #879
@jwirfs-brock, since the UI will change significantly a result of our recent changes, do you think it makes sense to re-show the tour for all users?

[2013-12-23 17:10] jwirfs-brock commented on #879
@ghing I think that's a good idea.

[2013-12-28 17:34] ghing opened #914 "Reassign assets to containers when a section layout changes instead of removing them"

[2014-01-04 18:26] thedore17 commented on #700
So this is still broken?

[2014-01-13 14:32] ghing commented on #774
Changed issue title from "Pages looks bad on iPhone" so we can use this issue as the starting point for mobile support/responsive design.

[2014-01-13 15:35] ghing commented on #903
In my testing today, I saw this issue again. Reopening.

[2014-01-13 15:46] ghing commented on #903
I realized that the reason I wasn't seeing the issue anymore was because the issue doesn't exhibit itself when the builder is first loaded.  The issue can only be seen after the user switches back to the "Build" step from another workflow step.

[2014-01-13 16:05] ghing commented on #903
I thought the issue might be that the jQuery UI sortable widget wasn't getting reinitialized after switching between workflow states, but I found the issue persisted, even after reinitializing the sortable widget in an `onShow()` method.

[2014-01-13 17:20] ghing commented on #903
I believe db31ce1 fixed this.

[2014-01-13 17:20] #903 closed, assigned to nobody

[2014-01-15 17:32] #367 closed, assigned to ghing

[2014-01-16 17:22] jwirfs-brock opened #915 "Can't change featured image by uploading a file from your computer"
When I walked through the full story feature test script (https://raw.github.com/pitonfoundation/atlas/develop/apps/storybase_story/features/story_builder_full_process.feature), in both Chrome and Firefox I ran into trouble when I tried to upload a new featured image.

In both browsers, I got an error message: "Error saving featured image"

In Chrome, the progress bar filled up, then got stuck the

[2014-01-16 17:26] ghing commented on #915
This is almost certainly due to filesystem permissions issues on the dev server and not the code.  Looking into this now.

[2014-01-16 17:28] jwirfs-brock opened #916 "Tags reverting back to old values when trying to edit metadata for a published story in Firefox"
I observed this in Firefox but not Chrome was I was walking through the full story feature test script (https://raw.github.com/pitonfoundation/atlas/develop/apps/storybase_story/features/story_builder_full_process.feature).

In Firefox, when I published the story, then added tags (as indicated in the script), then went back to try to remove some of the tags.

I removed the tags and hit "Save." But

[2014-01-16 17:33] ghing commented on #915
It was filesystem permissions.  I fixed this.  Can you re-test this part of the script?

[2014-01-16 17:42] jwirfs-brock commented on #915
Ok, I am able to add new images now.

The only strange behavior I noticed was on the tap that lets you view all of the possible images. In Chrome, the new images I uploaded are appearing all black:

![screen shot 2014-01-16 at 10 39 02 am](https://f.cloud.github.com/assets/1020518/1933080/6d06bbec-7ed5-11e3-8edf-43851ee64da5.png)

Whereas, here's what you see when you click on the "Current Image"

[2014-01-16 17:45] ghing commented on #915
I'm not able to replicate the most recent issue.  Can you attach the images you're using to this issue?

[2014-01-16 17:49] jwirfs-brock commented on #915
Sure. Here you go:

![seesaw](https://f.cloud.github.com/assets/1020518/1933126/66cdd674-7ed6-11e3-98b7-c0b98e6330d7.gif)

[2014-01-16 17:59] ghing opened #917 "Generated thumbnails of (some?) transparent GIFs show up as black"
Thumbnails for transparent GIFs like this one:

![](https://f.cloud.github.com/assets/1020518/1933126/66cdd674-7ed6-11e3-98b7-c0b98e6330d7.gif)

Have generated thumbnails that look like this:

![](https://f.cloud.github.com/assets/1020518/1933080/6d06bbec-7ed5-11e3-8edf-43851ee64da5.png)

Possibly related to the easy_thumbnails colorspace processor: http://easy-thumbnails.readthedocs.org/en/latest

[2014-01-16 18:09] ghing commented on #915
This is an issue with generating thumbnails of transparent GIFs (or your particular transparnet GIF).  I'm going to log this as a separate issue. Can you re-test and confirm that this isn't a problem when adding a JPG, PNG or non-transparent GIF?

[2014-01-16 18:09] ghing commented on #915
Logged the transparent GIF issue as #917.

[2014-01-16 18:17] jwirfs-brock commented on #915
Oh, good catch. I tried uploading a .png and it worked fine.

Then, I tried uploading this non-transparent .gif and I got an error:

Environment:

Request Method: GET
Request URL: http://dev.floodlightproject.org/en/accounts/stories/

Django Version: 1.5.4
Python Version: 2.7.3
Installed Applications:
('django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.cont

[2014-01-16 18:17] jwirfs-brock commented on #915
Oops, I think that second one I tried to test it with actually was a transparent .gif.

[2014-01-16 18:25] ghing commented on #915
That last error you got was due to general server memory issues.

Closing this issue.

[2014-01-16 18:25] #915 closed, assigned to ghing

[2014-01-16 18:28] ghing commented on #916
I tried (quickly) to replicate this and wasn't able to. I'll try to spend some more time trying to replicate this a little bit later.

[2014-01-17 19:17] #909 closed, assigned to ghing

[2014-01-17 19:18] #879 closed, assigned to nobody

[2014-01-17 19:25] #578 closed, assigned to nobody

[2014-01-17 19:25] #579 closed, assigned to ghing

[2014-01-17 19:33] #914 closed, assigned to ghing

[2014-01-17 19:34] #907 closed, assigned to ghing

[2014-01-21 15:54] ghing commented on #901
@jwirfs-brock, the rest of the changes are deployed, so you can update the help text via the Django Admin.  I'm moving this out of the Iteration 19 milestone and into Critical Issues so I can close Iteration 19.

[2014-01-21 22:54] jwirfs-brock commented on #901
@ghing I've updated the help text. Closing.

[2014-01-21 22:54] #901 closed, assigned to nobody

[2014-01-23 14:54] ghing commented on #774
What to do with the search box? It looks weird as a little icon. One thought that I had was to move it into the dropdown like this:

![header_mockup](https://f.cloud.github.com/assets/110420/1985450/51d6ff8a-843e-11e3-8ef6-0664c8bcd43b.png)

[2014-01-23 15:11] bpawlak commented on #774
Might as well make it stretch the whole width, as well.

[2014-01-23 15:17] ghing commented on #774
Another thought is sticking with the search icon but making it smaller and pulling it over to the right next to the menu icon:

![header_mockup-search-icon](https://f.cloud.github.com/assets/110420/1985641/819ca1ae-8441-11e3-952a-4fda0c47648b.png)

[2014-01-23 15:19] ghing commented on #774
@bpawlak Yeah, I was thinking that, if we put the search box in drop-down it would look better at full-width. The image is mostly due to my lazy photoshopping.

Note this is for a responsive menu on narrower displays.  If you're curious, the work-in-progress is on dev.

[2014-01-23 15:39] jwirfs-brock commented on #774
@ghing @bpawlak Having it small and over to the right matches what I was originally thinking. What would it look like when you click on it, though?

[2014-01-23 15:43] ghing commented on #774
And here's an example with the "Explore" link broken out of the menu (imagine that it's not replicated in the dropdown).

![header_mockup-search-icon_and_explore_menu_item](https://f.cloud.github.com/assets/110420/1985885/1a54a60a-8445-11e3-8d38-3df3693f331d.png)

This looks a little weird to me, but I can't quite figure out why I don't like it.

[2014-01-23 15:44] ghing commented on #774
@jwirfs-brock The search icon would just act as a link to the search page.

[2014-01-23 15:45] jwirfs-brock commented on #774
@ghing I agree that it looks weird with Explore broken out. It fits better in the dropdown.

[2014-01-23 15:48] bpawlak commented on #774
I'd suggest leaving Explore in the dropdown and having the search be in the dropdown as well...

[2014-01-23 15:53] jwirfs-brock opened #918 "On responsive design, nav menu converts to two rows with intermediate widths"
See screen shot:

![screen shot 2014-01-23 at 8 51 32 am](https://f.cloud.github.com/assets/1020518/1985986/493d1b4a-8446-11e3-99bb-4528fdd3f605.png)

This effect is a bit awkward.

I'm not sure what the best solution is. We could activate the drop-down earlier, or have a hybrid (some elements visible, some in the dropdown).

@ghing what are your thoughts?

[2014-01-23 16:02] ghing commented on #774
Another idea: small icon and search box in header.

![header_mockup-search_box_in_header](https://f.cloud.github.com/assets/110420/1986080/b704b006-8447-11e3-8b54-d61ba74f19a6.png)

[2014-01-23 16:19] bpawlak commented on #774
Really depends on how much people invoke search now (can we pull some data?) and how well the browse filters work in a mobile context

[2014-01-23 16:19] ghing opened #919 "Sticky filters take up too much space on"
On the Explore page, the sticky filters behavior covers up a lot of the content on smaller displays:

![screenshot from 2014-01-23 10 16 18](https://f.cloud.github.com/assets/110420/1986225/11f341ba-844a-11e3-8abb-49d4c38285a8.png)

Simple fix is to disable this behavior on narrower displays.

Fancier fix is to do some kind of toggling behavior on smaller displays.

[2014-01-23 17:47] jwirfs-brock opened #920 "Title text on story detail page is large, pushed rest of content down when viewed on mobile (phone-sized device)"
So far, I've looked at this on the iPhone 5 emulator in Chrome and on my Android phone (Galaxy Nexus with Android 4.2.2), and have observed the same problem. (I have yet to test it on tablet-sized screens.)

The title is sized so that it takes up the width of the screen, which looks very nice. But the text is so large that it pushes the rest of the content completely below the fold.

Here's a scre

[2014-01-23 17:58] jwirfs-brock opened #921 "Idea: Move "View Story" button on story detail page to more prominent location for mobile viewing"
The "View Story" link gets buried in the current layout, especially with stories that have that have long titles ad on phone-sized screens.

Here's a screen shot of our test story in the iPhone emulator (to get the full effect of how far you have to scroll, it's probably easiest to just try it yourself):

![screen shot 2014-01-23 at 10 56 37 am](https://f.cloud.github.com/assets/1020518/1987304/be

[2014-01-23 17:59] #898 closed, assigned to nobody

[2014-01-23 18:05] jwirfs-brock opened #922 "In story viewer, title bar at top is persistent, obscures story content"
Right now, the bar at the top of the viewer (which has the title) is persistent when you scroll. It makes sense for the bottom bar to be persistent, because it has the navigation, but I think that you should be able to scroll past the top bar. If it's always visible, the area for content is super tiny.

Here's an example of a YouTube video embed which is cut off, thus impossible to view, with the

[2014-01-23 18:20] jwirfs-brock commented on #920
And here's what an "ideal" story (short title, short summary) looks like in both the horizontal and vertical orientations (vertical is good):
![screen shot 2014-01-23 at 11 15 30 am](https://f.cloud.github.com/assets/1020518/1987520/00e6d600-845b-11e3-98f2-828681ea558a.png)
![screen shot 2014-01-23 at 11 15 21 am](https://f.cloud.github.com/assets/1020518/1987522/00f82022-845b-11e3-82ca-88122f0024

[2014-01-23 18:50] ghing commented on #479
I'm going to close this because the homepage layout has changed significantly since this issue was opened.  I looked at the homepage in an emulated samsung galaxy tablet in Chrome and it seemed fine.  We can open new issues for device-based quirks when testing the responsive design.

[2014-01-23 18:50] #479 closed, assigned to ghing

[2014-01-23 18:51] ghing commented on #478
Closing this for same reasons for closing #479.

[2014-01-23 18:51] #478 closed, assigned to ghing

[2014-01-23 19:26] ghing commented on #921
I think this is a good idea.  I made some changes to move the button higher on mobile.  Let me know what you think.

[2014-01-23 19:28] ghing commented on #920
Yeah. This is ugly.  I'm going to start with a smaller line-height and get rid of the background line on narrow displays.

[2014-01-23 19:40] ghing opened #923 "Search results need responsive styles."

[2014-01-23 19:53] ghing commented on #920
Also bumped down font size to 24px on narrowest displays.

[2014-01-23 19:54] ghing commented on #918
Note that this is an issue with the current site as well.

[2014-01-23 21:09] jwirfs-brock commented on #920
This looks much better! Closing.

[2014-01-23 21:09] #920 closed, assigned to ghing

[2014-01-23 21:11] jwirfs-brock commented on #921
This looks great. Closing.

[2014-01-23 21:11] #921 closed, assigned to ghing

[2014-01-23 21:25] jwirfs-brock commented on #922
When testing on my phone (Android 4.2.2, Samsung Galaxy Nexus), I'm also seeing the title bar float down to the middle of the story viewer. It keeps "jumping" around when I scroll. Very odd.

@ghing I'm having trouble testing this with the emulator in Chrome (for some reason, it just shrinks everything to fit, and looks very different than what I'm seeing on my phone). Do you have a phone you coul

[2014-01-23 21:34] ghing commented on #922
I updated the viewer code so it only makes the header sticky on wider displays.  I think that's the best behavior given the variable nature of header lengths.

@jwirfs-brock, does this workaround make sense for you?  This should also address the weirdness you're seeing on your phone since it no longer adjusts the header automatically.  I'm guessing maybe the JavaScript calculations used to dynamic

[2014-01-23 21:34] ghing commented on #922
Oh yeah, you'll have to do a hard refresh or empty your cache to see this change.

[2014-01-23 21:35] jwirfs-brock opened #924 "Strange text-wrapping on iPad/tablet sized screen for call to action on story detail page"
I observed this both on the iPad 1/2/iPad mini and the Google Nexus 7 in the Chrome emulator. The Call to Action is very narrow. Here's a screen shot:

![screen shot 2014-01-23 at 2 32 18 pm](https://f.cloud.github.com/assets/1020518/1989379/3f9a50e6-8476-11e3-88ab-6d72457b02dd.png)

[2014-01-23 21:51] jwirfs-brock commented on #924
Upon further exploration, it seems that on iPads, it looks good in a horizontal orientation, bad in a vertical orientation; on Android tablets it's the opposite...weird.

[2014-01-23 21:53] ghing commented on #924
This actually didn't look great in browsers either.  I had to update the column classes to work with the new responsive grid.  Try it now and let me know if its fixed on those devices.

[2014-01-23 22:37] #923 closed, assigned to ghing

[2014-01-23 23:29] jwirfs-brock opened #925 "Error uploading image in new story builder"
Here's the error message I'm getting:

"Oops, couldn't add your asset here. This is probably because you already did so in another tab or window. Hold tight while we refresh this section's assets."

It's in this story: http://floodlightproject.org/en/build/654b9af156794e3caa30edcf5a8789d8/

I only have one Floodlight window open at the moment. I did a save and refresh, and am still getting the err

[2014-01-23 23:30] jwirfs-brock commented on #925
I did another refresh and it looks like the image upload actually worked, I just couldn't see it until the refresh. Weird!

[2014-01-24 15:07] ghing opened #926 "Make megamenu dropdown fluid width"
It's still set at 1000px.

[2014-01-24 15:22] ghing commented on #925
@jwirfs-brock, were you able to continue authoring your story after the refresh, or do you need me to go in and fix things at the database level? If you aren't stalled, I'll wait until I've finished the responsive stuff to look into this.

[2014-01-24 15:28] jwirfs-brock commented on #925
@ghing I was able to finish the story. Yes, you should finish up the responsive stuff and then come back to this. Thanks!

[2014-01-24 15:42] #926 closed, assigned to ghing

[2014-01-24 15:42] jwirfs-brock commented on #924
@ghing This looks good now. Thanks!

[2014-01-24 15:47] #924 closed, assigned to ghing

[2014-01-24 18:32] ghing commented on #918
I made some fixes that at least makes things look not broken in terms of the dropdown position.  There are still problems where items aren't easily clickable in some of the dropdowns.  I'm going to try to incorporate a little JavaScript to work around these issues.

[2014-01-24 20:32] ghing commented on #918
Ok. It's considerably better now in terms of usability.  I still don't like the way the menu items look when they wrap, but at the moment, I can't think of a great way to deal with that visually.  Let me know if my changes work for addressing the original issue you reported.

[2014-01-25 16:18] #919 closed, assigned to ghing

[2014-01-25 16:20] ghing opened #927 "Responsive styles for explorer"
A few ideas about desired behavior:
- Make filters full-width on narrow displays
- Make tiles 100% on narrow displays
- Make tiles 50% on small displays
- Hide map?

[2014-01-25 16:45] ghing commented on #927
Making filter select widgets 100% width is a bit hard because their styling is tied to the background image, `filter-link.png`, which is fixed width.  I could come up with a solution that breaks the filters into two (or more?) images that allow it to be variable-width, but I'm going to deal with this later.

[2014-01-27 16:39] ghing opened #928 "Support responsive styles in IE8"
IE8 doesn't have media queries. Use respond.js.

[2014-01-27 17:46] jwirfs-brock commented on #922
Weird -- I thought I commented on this on Friday but some reason my comment didn't show up (slow internet connection thing probably).

I'm still seeing the top bar persist/float down, even after emptying my cache, both on my phone and tablet.

[2014-01-27 17:50] jwirfs-brock commented on #918
@ghing I think this is good for now. I agree that it isn't the prettiest thing, but at least you can see all of the elements and they work.

Closing.

[2014-01-27 17:50] #918 closed, assigned to ghing

[2014-01-27 17:51] jwirfs-brock commented on #922
Oh, and I'm seeing it in the emulator as well (for Android devices).

[2014-01-27 17:56] jwirfs-brock commented on #922
@ghing An additional detail I noticed: On my phone and in the emulator, I'm only seeing the title persist when the screen is in the horizontal orientation. In the vertical orientation, it behaves the way we want it to.

Additionally, if you have it in the vertical orientation, then flip it horizontal and scroll, then flip it back to vertical, then the title persists when you scroll.

[2014-01-27 18:29] ghing commented on #922
That's a good clue.  I was triggering on browser width (because that's how media queries work), rather than height, which is more appropriate in this case. I'll fix this later today.

[2014-01-27 22:45] ghing commented on #927
Also, making tiles wider isn't trivial because of the fixed-width sizing of the images and overlays.  We can probably change this, but holding off on this for now.

[2014-01-28 00:06] ghing commented on #927
For now, I punted on making the map work better on smaller displays (and especially handling resizing).

[2014-01-28 00:06] #927 closed, assigned to ghing

[2014-01-28 00:47] ghing commented on #922
I updated the viewer code so it sets the stickiness of the header based on window height rather than width.  Is this working better for you now @jwirfs-brock.  Again you'll have to do a hard refresh/clear cache to see the changes.

[2014-01-28 21:00] ghing commented on #928
Took a quick look at this and it seems to just work.  There's a flash of the mobile styles, but that can't really be avoided.

[2014-01-28 21:00] #928 closed, assigned to ghing

[2014-01-28 21:06] ghing opened #929 "Columns get cut off in "My Stories" table on smaller displays"
![screenshot from 2014-01-28 15 03 36](https://f.cloud.github.com/assets/110420/2023725/d9fcf98a-885f-11e3-9013-495146cc48cc.png)

This is only with the responsive design because in the existing design, the center container is fixed and just scrolls off-screen.

[2014-01-29 16:23] ghing commented on #929
There's a responsive tables roundup at http://css-tricks.com/responsive-data-table-roundup/.

So far I like the approach at http://zurb.com/playground/responsive-tables the best, which is pretty similar to [Bootstrap's](http://getbootstrap.com/css/#tables-responsive).

[2014-01-29 17:45] #929 closed, assigned to ghing

[2014-01-29 19:46] jwirfs-brock commented on #922
@ghing I'm still seeing the title/header float down in the viewer on my phone (in both horizontal and vertical orientations). I cleared my browser cache.

At what window height is the behavior supposed to switch?

[2014-01-29 20:06] ghing commented on #922
The header should not be sticky if the header is taller than 30% of the window height.  I'll see if I can emulate your phone to get a better sense of what's going on.

[2014-01-29 20:13] jwirfs-brock commented on #922
@ghing Ok. I asked because I wanted to check and make sure it wasn't just that my phone was the wrong dimensions.

I took at look in Chrome's emulator as well, and am still seeing a sticky header for most of the Android devices. Do you have a recommended device to emulate for testing? They all have slightly different screen sizes and resolutions, which I'm sure makes it really fun as a developer!

[2014-01-29 20:41] ghing commented on #922
@jwirfs-brock. I tested it using a Galaxy Nexus profile in the android emulator (the actual device emulator, not Chrome) and the default android browser, and the header wasn't sticky.  I'll try to look at the analytics to see if there's a most common android device.

[2014-01-29 22:07] ghing commented on #922
@jwirfs-brock, here's this month's top 10 mobile devices from Google Analytics:
1. Apple iPad
2. Apple iPhone
3. (not set)
4. Toshiba AT300 Regza AT300
5. Apple iPod
6. Samsung GT-I9300 Galaxy S III
7. LG Nexus 5
8. Samsung GT-I9500 Galaxy S IV
9. Amazon KFTHWI Kindle Fire HDX 7 3rd Gen
10. Google Nexus 7

I was also looking for data about the most popular devices worldwide or in the U.S. and a qu

[2014-01-29 22:45] ghing commented on #922
@jwirfs-brock, I took a look at this in the Chrome emulator set to emulate Galaxy SIII/Galaxy Nexus and the header wasn't sticky in either portrait or landscape mode.

[2014-01-29 22:55] jwirfs-brock commented on #922
@ghing Ok, that's really weird. I have it on the same settings and the title is sticky. And I just cleared the browser cache and then cleared a refresh. Here are the screenshots, including the emulator settings (so maybe you can find what I'm missing):

Summary section scrolled down, title still persists at the top:
![screen shot 2014-01-29 at 3 51 23 pm](https://f.cloud.github.com/assets/1020518/

[2014-01-29 23:07] ghing commented on #922
@jwirfs-brock.  Ok.  We were looking at different stories.   I was looking at the "Boy Meets World" story (/stories/boy-meets-world-how-college-view-elementary-prepar/) which is the one in the original screenshot for this issue.  The "Why Libraries are Relevant" story has a shorter title bar, so the sticky behavior stays.

Do you find the sticky header behavior problematic for the "Why Libraries a

[2014-01-29 23:11] jwirfs-brock commented on #922
@ghing Hmmm, I didn't actually consider whether we should let the length of the title influence the behavior? I think that, regardless of whether the title fits onto one line or takes up more, it's hard to read content in the horizontal configuration when the title is sticky. Even with a one-line title, there's not much space for content. So, to me it makes sense to not have it be sticky, even if

[2014-01-29 23:24] ghing commented on #922
I think it makes sense to not be sticky for short displays.  I'll update the code to do this tomorrow.  It might just be a matter of making the header height/screen height ratio threshold smaller.

[2014-01-30 17:04] ghing commented on #922
Ok.  I updated the code and deployed to dev.  It doesn't scroll when the device is in landscape mode either in the ADT emulator (emulating Galaxy Nexus) or on my real phone (HTC One V).

As always, be sure to clear your cache to get the latest code.

[2014-01-30 17:30] ghing commented on #925
Ok. I just saw this in my local development instance, but then wasn't able to replicate it.

This seems like an AJAX race condition somewhere in the code.  When I get to a good stopping point, I'll do a code audit and maybe write some unit tests to try to track it down.

Note that after refreshing the browser, I was able to recover from the issue.

[2014-01-30 22:49] ghing opened #930 "Front page slider chevron arrows are too big on small screens"

[2014-01-30 22:54] ghing opened #931 "Remove explorer filter tooltips on small screens"

[2014-01-31 04:37] ghing opened #932 ""Loading more stories" message looks bad on small screens"
![screenshot_2014-01-30-18-02-16](https://f.cloud.github.com/assets/110420/2047901/585bb3c0-8a31-11e3-9844-e750e6e5fc3b.png)

[2014-01-31 04:38] ghing opened #933 "No space between stacked filter drop-downs"
![screenshot_2014-01-30-18-01-05](https://f.cloud.github.com/assets/110420/2047903/6ea3780c-8a31-11e3-8b94-80d8bf511bcc.png)

[2014-01-31 04:42] ghing opened #934 "No space between buttons on story detail page on narrow screens"
![screenshot from 2014-01-30 22 41 06](https://f.cloud.github.com/assets/110420/2047923/07b47f1e-8a32-11e3-939b-b3a0961e3a65.png)

[2014-01-31 05:36] jwirfs-brock commented on #930
Additionally, you can't scroll up/down on a touch screen my touching the space in the vertical gutter of the chevrons, which makes the scrollable area really small (only the middle third of the screen). This makes it easy to miss the fact that you can scroll down to see recent stories.

[2014-01-31 05:43] jwirfs-brock opened #935 "On search results, text at top displays as overlapped"
When I was going through the tests, I noticed that on the search result page (Scenario: A visitor can navigate to a story’s content by a topic search) "13 search results for 'near northeast'" and "Page 1 of 2" overlap, making text hard to read.

I saw this on:
- Android tablet, vertical orientation
- Android phone, horizontal orientation

[2014-01-31 05:46] jwirfs-brock opened #936 "On explore page, map view icon gets cut off"
When testing on an Android tablet in the vertical orientation, on the explore page, I could see the "list view" and "tile view" icons, but the "map view" icon wasn't visible. When I switched to the horizontal view, it was visible. Initially, I thought it was there, just off the screen. But in the vertical view, I couldn't scroll side to side.

This is a minor issue/low priority, because the map vi

[2014-01-31 05:50] jwirfs-brock opened #937 ""Floating" filters on top of Explore page"
On the explore page, I'm a bit ambivalent about the sticky filters that appear to float above the rest of the page when you scroll down. There's limited real estate already, so giving so much space to the filters seems like it might not be the best idea.

@ghing What are your thoughts?

[2014-01-31 05:54] jwirfs-brock opened #938 "Highlight color should be reversed on "Tile View" and "List View" icons"
This is really minor, and unrelated to mobile readability, but it's something I noticed during testing:

Right now, the active view icon is grey and the others are orange. It seems like it should be the other way around (i.e., if you are in tile view, the "Tile View" icon should be orange and "List View" and "Map View" should be grey). That would seem to match the rest of the site's visual taxonom

[2014-01-31 14:09] ghing commented on #937
The stickiness should be triggered based on the filter height as a
percentage of  the total height. On which device/resolution did you see the
filters stick.
On Jan 30, 2014 11:50 PM, "Jordan Wirfs-Brock" notifications@github.com
wrote:

[2014-01-31 22:33] ghing commented on #930
I made the chevrons smaller and the content wider.  Can you confirm that this fixes things for you, @jwirfs-brock?

[2014-01-31 22:49] #933 closed, assigned to ghing

[2014-01-31 23:39] #931 closed, assigned to ghing

[2014-02-03 16:23] #932 closed, assigned to ghing

[2014-02-03 16:43] #934 closed, assigned to ghing

[2014-02-03 16:59] #935 closed, assigned to ghing

[2014-02-03 17:00] ghing commented on #936
The map view icon is actually hidden on narrow displays, not cut off.  I did this because the map didn't work great on narrow displays.  Since it seems like I still have some hours in the development contract, I might spend part of them making the map work better on narrow screens.

[2014-02-03 17:10] ghing commented on #937
@jwirfs-brock, I'm not seeing the filters stick on my phone, either in landscape or portrait orientation.  On what resolutions are you seeing the sticky filters and finding them annoying?

[2014-02-03 17:11] ghing commented on #922
Both @jwirfs-brock and I think this is fixed now.

[2014-02-03 17:11] ghing commented on #930
Both @jwirfs-brock and I think this is fixed now.

[2014-02-03 17:11] #930 closed, assigned to ghing

[2014-02-03 17:15] #938 closed, assigned to ghing

[2014-02-03 17:17] jwirfs-brock commented on #936
Oh, that makes sense! Ok, it's something to look into if there's time, but
not a high priority.

[2014-02-03 17:21] jwirfs-brock commented on #937
I observed this on my Nexus 7 tablet. It's not a huge annoyance, so it
that's the only device where it's an issue I say we skip it.

[2014-02-03 17:22] ghing commented on #937
What's the resolution on your tablet, and was it in landscape or portrait mode?

[2014-02-03 21:03] jwirfs-brock commented on #937
I observed it in portrait mode (vertical). Resolution is 1200x800, I
believe.

[2014-02-03 21:04] jwirfs-brock commented on #937
Oops, 1280x800.
On Feb 3, 2014 3:03 PM, "Jordan Wirfs-Brock" jordanwb@gmail.com wrote:

[2014-02-04 14:05] ghing commented on #774
Deployed responsive changes into production.  Closing this issue.  We can track individual mobile/responsive issues as they come up in their own issues.

[2014-02-04 14:05] #774 closed, assigned to ghing

[2014-02-04 14:07] ghing opened #939 "Better small display support for explorer map"
It just doesn't look great and the map doesn't resize with the screen.

[2014-02-04 14:07] ghing commented on #936
Closing this in favor of #939.

[2014-02-04 14:07] #936 closed, assigned to ghing

[2014-02-04 20:02] ghing commented on #937
In my testing, the filters were only sticky in landscape orientation (1200x800) display and not in portrait (800x1200).  The filters didn't really bother me as I could still see one full row of stories.

@jwirfs-brock, if you feel strongly about getting rid of the sticky filters on all displays, or you're seeing them stick on the 800px wide display (portrait mode), please reopen this issue.

[2014-02-04 20:02] #937 closed, assigned to nobody

[2014-02-05 16:49] ghing commented on #925
This is just a brain dump of thoughts as I try to replicate or find root causes of this issue:

Here's a list of scenarios that could cause the "Oops, couldn't add your asset here. This is probably because you already did so in another tab or window. Hold tight while we refresh this section's assets." error:
- Builder open in multiple windows/tabs.  This was the assumed cause, but as @jwirfs-brock

[2014-02-06 03:13] ghing opened #940 "Error when creating dataset with URL longer than 200 characters"
Traceback:

[code]

[2014-02-06 03:26] ghing commented on #940
URL fields are implemented as varchar(200) at the database level in Postgres (but apparently they don't have a limit in SQLite!).  There's no equivalent to a `max_length` option for Tastypie fields.  I bet we can just add a check in `DataSetValidation.is_valid()`

[2014-02-06 17:18] jwirfs-brock commented on #922
@ghing On production, I'm observing this on my Galaxy Nexus, screen resolution 1280 x 720, running Android 4.2.2, in the vertical (portrait) orientation.

I was looking at the story, "HVAC Visualization." On the summary section, the title ended up in the middle of the screen after scrolling. On the next section, the title ended up at the bottom of the screen after scrolling.

[2014-02-06 21:45] ghing opened #941 "Check for missing assets"
Add methods to the Section and Story models to see if every section has all its assets filled in.

@jwirfs-brock had a question about this for a particular story, and this might be useful as part of a validation flow in the future.

[2014-02-06 22:45] #941 closed, assigned to ghing

[2014-02-07 14:11] #940 closed, assigned to ghing

[2014-02-07 14:14] ghing opened #942 "Viewer header "hops" when scrolling, sticks to middle of viewport"
Originally reported in #922 by @jwirfs-brock:

I'm also seeing this on my HTC One V.

![screenshot_2014-02-07-08-21-50](https://f.cloud.github.com/assets/110420/2110469/8f671cb0-9003-11e3-898c-ae399e421750.png)

[2014-02-07 14:16] ghing commented on #922
I opened the "hopping" header as a new issue, #942, to avoid confusion as this issue originally had to do with the height of the sticky header on small screens rather than the header being incorrectly positioned during scrolling.

[2014-02-07 14:16] #922 closed, assigned to ghing

[2014-02-07 14:22] ghing commented on #942
This issue doesn't happen when a desktop browser window is resized to match the mobile browser.  It's specific to the Android mobile browser.  I haven't tried testing on iOS Safari.

[2014-02-07 20:33] ghing commented on #942
I'm also able to replicate this in the Android Emulator.

[2014-02-07 20:35] ghing commented on #942
It seems like fixed positioning (which is what we're using here) can be a little weird on some mobile browsers.  http://bradfrostweb.com/blog/mobile/fixed-position/ has a breakdown.  Still, it seems like this should work for Android 4 which is running on my phone and the emulator.

A few other mentions of fixed positioning weirdness:
- http://stackoverflow.com/questions/19997621/android-browser-2-

[2014-02-07 20:52] ghing commented on #942
@jwirfs-brock, my experience is that this seems to happen the faster I scroll (or the longer I swipe more accurately).  If I scroll slowly, I don't see the issue, or the header is only a few pixels from the top of the screen (rather than in the middle). Is this also what you're seeing, or do you get this even when you scroll slowly?

[2014-02-07 21:03] jwirfs-brock commented on #942
@ghing Yes, I am observing that, too. When I scroll slowly, the title stays near the top, but always seems to have a small gap (that is, I can't seem to scroll enough to have no gap).

[2014-02-12 17:43] ghing commented on #942
I changed up when the header stickiness is toggled, and this feels a lot better to me.  @jwirfs-brock, can you test this out on your phone and let me know what you think?

[2014-02-15 14:08] ghing commented on #942
Confirmed as fixed and deployed into production.

[2014-02-15 14:08] #942 closed, assigned to ghing

[2014-02-20 21:06] jwirfs-brock opened #943 "Default author information not displaying for published stories"
There are two new stories on Floodlight (published today) where it looks like the author did not enter in any author information.

Instead of defaulting to the user's firstname + last initial, it is showing the dummy text ("Your Name and/or Organization. Examples: Jon Denzler; Laura Frank, I-News").

Here are the story links:
http://floodlightproject.org/en/stories/when-everything-changed/
http://

[2014-02-20 21:12] ghing commented on #943
The default text is an [HTML5 placeholder attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input).  So, it should never populate the value of the field (even though that's what it appears to do in the browser.

My only thought is that we use a polyfill for [browsers that don't support the placeholder attribute](http://caniuse.com/input-placeholder), in our case this is probably

[2014-02-20 21:16] jwirfs-brock commented on #943
I was considering reaching out to the users and recommending that they add author information (and a summary, while they are at it). If I do that, do you want me to ask what browser they were using?

[2014-02-20 21:17] ghing commented on #943
Yeah, please ask what browser they're using.

[2014-02-20 21:21] ghing commented on #943
The [placeholder polyfill](https://github.com/PitonFoundation/atlas/blob/develop/static/js/libs/polyfill.placeholder.js) does indeed work by setting the value of the input.  In most cases, the placeholder will be removed when the user leaves away the input, but there might be a scenario where the a particular sequence of clicks and keystroes with our inline editor causes the value to get saved.

[2014-04-09 17:34] ghing opened #944 "Deal with heartbleed"

[2014-05-12 16:21] #944 closed, assigned to ghing

[2014-05-12 16:35] ghing opened #945 "Explore page loads slowly"
/explore loads slowly.  I think this is probably related to the use of Solr and the joins required for translations.

[2014-05-12 17:01] ghing opened #946 ""SSLError: The read operation timed out" error when loading oembeded assets"
Throughout April 2014, I got a number of "Internal Server Message" reports that seemed to originate from an SSLError when fetching an oembeded reasource using the micawber library.

Unfortunately, the traceback doesn't provide insight into what asset URLs that were causing  the error.  I'm wondering if someone like Flickr or another service that we use oembed with had a problem with their oembed e

[2014-05-27 13:50] ghing commented on #945
One issue is that memcached on the server had stopped.  I restarted it, following the instructions at http://docs.webfaction.com/software/memcached.html.  I need to do some digging to make sure that values are actually getting added.

[2014-06-10 14:13] ghing commented on #946
I'm still seeing this occasionally.  Reopening.

[2014-06-17 14:57] ghing commented on #946
I looked up the assets from stories that were known to produce this error and tried to render the content using this snippet:

[code]

On one run, I did replicate the SSLError in my local development environment, but on subsequent runs, it didn't seem to cause a problem.

I noticed that all the oEmbeded assets appear to be from Flickr, so the issue seems like Flickr's oEmbed endpoint is timing out

[2014-06-17 16:01] ghing commented on #946
This is fixed in 5d81afd.  I'll deploy this evening.

[2014-06-18 05:33] ghing commented on #946
Deployed fix.  Closing.

[2014-06-18 05:33] #946 closed, assigned to nobody

[2014-12-04 21:57] wilbertom opened #947 "Clean up old project name"
Some references to the project's old name "atlas" are made throughout the source code. These could be cleaned up.

[code]

[code]

[2015-01-27 05:52] mgrayinnovation opened #948 "As a user I don't want to pick from a template so that I can start writing my story faster"
Keep Sandbox, but hide other story builder templates ... we may want the functionality of these templates later on ... for now, Sandbox is our focus, and should be the only one available to readers, storytellers and other audience.

[2015-01-27 06:08] mgrayinnovation opened #949 "As a reader I should immediately be taken to a story's first page when I click a link to it so that I have a better reading experience"
___ As an audience/viewer of a story, the first page should be the first page of the story viewer: http://www.floodlightproject.org/en/stories/strengthening-communities-preserving-the-land-inno/viewer/ so that when, as a reader, I click on a story from the explorer (http://www.floodlightproject.org/en/explore/) I am jumping right into the viewer and not a "pre-page" ...

The components available o

[2015-01-27 06:11] mgrayinnovation opened #950 "As a system I should have a new list of tags so that users can tag their stories"
Writers in Storybuilder should not have the option to write their own tags, but to instead select from a small list of pre-populated tags which will coincide with TDF Mission and Giving Circle areas.  Pre-populated list of tags to come soon.

[2015-01-27 06:15] mgrayinnovation opened #951 "Story Builder: Storytelling Checklist"
When a writer is using Sandbox, an early page should be a checklist of things they should consider when attempting to write a strong Floodlight story.  Some of these pieces already exist on Floodlight, but others should also be added to (see A1: Storytelling Checklist).  Writers should be redirected to this page once again, just before publishing their story.

Matt needs to provide checklist.

[2015-01-27 06:17] mgrayinnovation opened #952 "Story Builder: Storytelling Resources"
Similar to issue #951, a writer should be directed to view a list of resources that might help them as they author their Floodlight story, prior to authoring their story.

Matt & Wilberto to create this resource page during design process; create a placeholder so that we can see its placement and add to it as we move forward.

[2015-01-27 06:19] mgrayinnovation opened #953 "Password Protected Badge"
Certain users, identifiable by Rebecca Arno and project team, should have access to a badging system (as simple as the TDF logo and a quick comment).  One badge for TDF employees (such as Rebecca), and one badge for a TDF "thought leader" (a donor leader). Badges are to be discreet and selective.

[2015-01-27 06:21] mgrayinnovation opened #954 "As a user I want to easily share my story with Facebook so that my friends can read it"
Check Floodlight's current optimization with Facebook.  Are there tweaks or necessary additions? Facebook has been identified as the unifying social media site for our intended audience, thus Floodlight stories should be easily shared and read via Facebook.

[2015-01-29 05:33] #947 closed

[2015-01-29 15:25] wilbertom opened #958 "As a user I want the story template to be great so that I can build a better story"

[2015-01-29 15:27] wilbertom commented on #958
@mgrayinnovation after finishing #948 we can work together to edit the default template, which will have "Sandbox" as a starting point.

[2015-01-29 15:35] wilbertom opened #959 "As a TDF employee I want to be able to mark a story with a badge so that other users can see a curated list of stories"

[2015-01-29 15:36] wilbertom opened #960 "As thought leader, I want to be able to mark a story with a badge so that"

[2015-01-29 15:38] wilbertom commented on #960
@mgrayinnovation we should discuss the value this brings to the system.

[2015-01-29 15:50] wilbertom commented on #949
@mgrayinnovation we should discuss how we want to handle other things like the comments of a story, and the layout of this new page.

[2015-01-29 15:55] wilbertom opened #961 "As storybuilder, I should only allow stroytellers to pick from one of the built in topics when tagging their story to better categorize content"

[2015-01-29 15:56] wilbertom opened #962 "Non linear templates"

[2015-01-29 15:59] wilbertom commented on #954
@mgrayinnovation let's talk about how we can make this better.

[2015-01-29 16:01] wilbertom commented on #951
There's also the panes to the right of the story builder with "Assets" and "Help". Maybe we can play off of that.

[2015-02-03 18:28] mgrayinnovation commented on #961
storytellers could be given the opportunity to post a second tag as it might be necessary for some stories.  Let's limit to two tags, not just one?

[2015-02-03 18:32] mgrayinnovation opened #963 "As user, I want an easier "share" button available on the first and last page of the story viewer."

[2015-02-03 18:34] mgrayinnovation opened #964 "As a system, I want to remove the ability of readers to comment on a story"

[2015-02-03 18:35] mgrayinnovation opened #965 "While I can't comment on a story I want to offer feedback, critique, questions and/or edits to the storyteller by clicking on a feedback button on the first and last page of the story"

[2015-02-03 18:35] mgrayinnovation opened #966 "As a system, when a reader submits feedback, that feedback will be submitted to a Floodlight curator, not the storyteller"

[2015-02-03 18:47] mgrayinnovation commented on #961
Here's the document to the tags we need: https://docs.google.com/document/d/1HViQuZiTNPS-YL8BKmNdvVfRifKXnIm3-lMN887vOTo/edit

[2015-02-03 18:47] mgrayinnovation commented on #960
Here's the document to the 6 badges we need: https://docs.google.com/document/d/1HViQuZiTNPS-YL8BKmNdvVfRifKXnIm3-lMN887vOTo/edit

We also want the capability to add badges easily, and for amns to provide permission for users to utilize the badge system. Not password protected badges as in #953